.data-info {
	.title-wrappe {
		width: 100;
		height: 20px;
		margin: 12px 0 12px;
		line-height: 20px;
		.title {
			color: #666666;
			font-weight: 400;
			font-size: 12px;
			font-family: PingFangSC-Regular, PingFang SC, sans-serif;
			line-height: 20px;
		}
		.sumary {
			color: #333333;
			font-weight: 400;
			font-size: 12px;
			font-family: PingFangSC-Regular, PingFang SC, sans-serif;
			line-height: 20px;
		}
		.float-left {
			float: left;
		}
		.float-right {
			float: right;
		}
	}
	.ant-table-tbody > tr > td {
		padding: 0px 8px;
		line-height: 43.9px;
	}
	.ant-table-thead > tr > th {
		padding: 11px 8px 11.2px;
	}
}
