.c-welcome {
    padding: 92px 45px;
}
.c-welcome__section {
    display: flex;
}
.c-welcome__section + .c-welcome__section {
    margin-top: 83px;
}
.c-welcome__menu__logo {
    width: 54px;
    height: 54px;
}
.c-welcome__menu__menu {
    margin-left: 20px;
    line-height: 20px;
    font-size: 14px;
}
.c-welcome__menu__title {
    color: #333;
    font-weight: bold;
}
.c-welcome__menu__nav {
    margin-top: 12px;
    a {
        margin-right: 32px;
    }
}
