.c-formConfig__container {
	flex: 1;
	height: 100%;
	padding: 20px;
	overflow-y: scroll;

	.c-formConfig__group {
		.group__title {
			color: #333;
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
		}
		.group__content {
			margin-top: 12px;
			margin-bottom: 12px;
			padding: 12px 20px;
			background: #fafafa;
			border-radius: 0;
		}
	}
	.c-formConfig__label {
		display: inline-block;
		max-width: 86%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		vertical-align: bottom;
	}

	.formitem-textname {
		color: rgba(1, 1, 1, 0.54);
		font-weight: bold;
		text-align: right;

		.form-text-name {
			display: inline-block;
			width: 86%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			vertical-align: bottom;
		}
	}

	.formitem-textvalue {
		color: rgba(1, 1, 1, 0.84);
		word-break: break-all;
	}

	.zipConfig-item {
		margin-bottom: 10px;
		font-size: 13px;
	}

	&.formConfig__full {
		left: 0;
	}

	.c-formConfig__kubernetsContent {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}
