<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <typeAliases>
        <typeAlias alias="RdosStreamActionLog" type="com.dtstack.rdos.engine.db.dataobject.RdosStreamActionLog"/>
        <typeAlias alias="RdosStreamServerLog" type="com.dtstack.rdos.engine.db.dataobject.RdosStreamServerLog" />
        <typeAlias alias="RdosStreamTask" type="com.dtstack.rdos.engine.db.dataobject.RdosStreamTask"/>
        <typeAlias alias="RdosNodeMachine" type="com.dtstack.rdos.engine.db.dataobject.RdosNodeMachine"/>        
        <typeAlias alias="RdosBatchServerLog" type="com.dtstack.rdos.engine.db.dataobject.RdosBatchServerLog" />
        <typeAlias alias="RdosBatchActionLog" type="com.dtstack.rdos.engine.db.dataobject.RdosBatchActionLog"/>
        <typeAlias alias="RdosBatchJob" type="com.dtstack.rdos.engine.db.dataobject.RdosBatchJob"/>
    </typeAliases>
 
    <environments default="production">
<!--         <environment id="development">
          <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/hmkcode"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
       </environment> -->
       
        <environment id="production">
          <transactionManager type="MANAGED"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://172.16.1.203:3306/spark?useUnicode=true&amp;characterEncoding=utf-8&amp;autoReconnect=true"/>
                <property name="username" value="dtstack_xc"/>
                <property name="password" value="dtstack_xc"/>
            </dataSource>
       </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mapper/RdosStreamActionLogMapping.xml"/>
        <mapper resource="mybatis/mapper/RdosStreamServerLogMapping.xml"/>
        <mapper resource="mybatis/mapper/RdosNodeMachineMapping.xml"/>
        <mapper resource="mybatis/mapper/RdosStreamTaskMapping.xml"/>
        <mapper resource="mybatis/mapper/RdosBatchActionLogMapping.xml"/>
        <mapper resource="mybatis/mapper/RdosBatchServerLogMapping.xml"/>
        <mapper resource="mybatis/mapper/RdosBatchJobMapping.xml"/>
    </mappers>
</configuration>