.dt-datasync {
	min-width: 770px;
	min-height: 200px;
	padding: 50px;

	&-content {
		margin-top: 20px;
		padding: 20px 0 40px 0;
		background: var(--workbenchBackground);
		border: 1px dashed var(--widget-shadow);
		border-radius: 0;
	}

	.steps-action {
		margin-top: 24px;
		text-align: center;
	}
}
