.c-header-dynamicform {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 40px;
    border-bottom: #dedbdf 1px solid;

    > span {
        padding: 0 20px;
    }
}

.o-div--actionDom {
    position: absolute;
    top: -10px;
    right: -95px;
    color: #1890ff;
    font-size: 12px;
    cursor: pointer;

    .o-icon--actionDom {
        margin-right: 3px;
        color: #1890ff;
    }
}

.o-block--dynamic {
    width: 92%;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #fbf8fc;
}
