$divide-color: #e8e8e8;

.relation-view {
  position: relative;
  width: 100%;
  height: 360px;
  background-image: url('/assets/imgs/dataModel/bg-relation-view.png');
  border-radius: 2px;
  border: 1px solid #dddddd;
  overflow: scroll;
  .graph-content {
    position: absolute;
    width: 100%;
    height: 100%;
    .graph-view {
      width: 100%;
      height: calc(100% - 30px);
    }
    .graph-legend {
      height: 30px;
      width: 100%;
      background-image: url('/assets/imgs/dataModel/bg-relation-view.png');
    }
  }
  .graph-toolbar {
    position: sticky;
    left: calc(100% - 20px - 32px);
    top: 44px;
    width: 34px;
    height: 128px;
    .basic-bar {
      background: #ffffff;
      box-shadow: 0px 2px 8px 0px rgba(63, 135, 255, 0.2);
      .tool-item {
        width: 100%;
        height: 32px;
        border-bottom: 1px solid $divide-color;
        line-height: 32px;
        text-align: center;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .nav-bar {
      position: sticky;
      left: calc(100% - 20px - 32px);
      margin-top: 8px;
      width: 34px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background: #ffffff;
      box-shadow: 0px 2px 8px 0px rgba(63, 135, 255, 0.2);
    }
    .nav-content {
      position: sticky;
      margin-top: -32px;
      margin-left: -242px;
      width: 240px;
      height: 168px;
      background: #ffffff;
      box-shadow: 0px 2px 8px 0px rgba(63, 135, 255, 0.2);
      &-header {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid $divide-color;
        padding: 0 12px;
        .title {
          font-size: 12px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #333333;
          line-height: 20px;
        }
      }
      &-body {
        width: 100%;
        height: calc(100% - 40px);
      }
    }
    .icon {
      color: #979797;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &.active {
        color: #3f87ff;
      }
    }
  }
  .margin-left-12 {
    margin-left: 12px;
  }
}
