@import '../const.scss';


.msg-box {
    
    min-height: 170px;

    footer {
        height: 35px;
        line-height: 35px;
        position: absolute;
        bottom: 0;
        width: 100%;

        .anticon {
            font-size: 14px;
            color:$primaryColor;
        }
    }
}
.c-messgae__list {
    >.ant-tabs {
        >.ant-tabs-content{
            height: calc(100% - 80px);
            >.ant-tabs-tabpane{
                height: 100%;
            }
        }
    }
}