@import '../const.scss';


.msg-box {
    
    padding: 0 20px;
    min-height: 170px;

    main {
        h1 {
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: #333333;
            letter-spacing: 0;
            font-weight: normal;
        }
    }

    footer {
        height: 35px;
        line-height: 35px;
        position: absolute;
        bottom: 0;
        width: 100%;

        .anticon {
            font-size: 14px;
            color:$primaryColor;
        }
    }
}