@import '../const.scss';


.msg-box {
    
    min-height: 170px;

    footer {
        height: 35px;
        line-height: 35px;
        position: absolute;
        bottom: 0;
        width: 100%;

        .anticon {
            font-size: 14px;
            color:$primaryColor;
        }
    }
}