.root {
    height: 100%;
}

.portal {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
    .l-content {
        width: 980px;
        margin: auto;
        overflow: hidden;
    }

    .container {
        background: #ffffff;
    }

    .c-banner {
        position: relative;
        height: 280px;
        width: 100%;
        &.default{
            background-image: linear-gradient(-180deg, #003C70 0%, #146375 100%);
            img {
                width: 538px;
                height: 232px;
            }
    
            .c-banner__content__txt {
                margin-left: 30px;
                margin-top: 110px;
                float: left;
                max-width: 370px;
    
                h1 {
                    font-size: 36px;
                    color: #FFFFFF;
                    letter-spacing: 1.17px;
                    font-weight: initial;
                }
                span {
                    opacity: 0.73;
                    font-size: 20px;
                    color: #CEF3FF;
                    letter-spacing: 0.65px;
                }
            }
    
            .c-banner__content__img {
                float: left;
                margin-left: 30px;
                margin-top: 40px;
            }
        }
        &.aliyun{
            .l-content{
                width: 100%;
                height: 100%;
            }
            background-image: linear-gradient(-180deg, #001852 0%, #003078 30%);
    
            .c-banner__content__txt {
                position: absolute;
                top: 47px;
                left:50%;
                transform: translateX(-50%);
                text-align: center;
                h1 {
                    font-size: 32px;
                    color: #FFFFFF;
                    letter-spacing: 1.04px;
                    line-height: 45px;
                    font-weight: normal;
                }
                span {
                    line-height: 20px;
                    opacity: 0.66;
                    font-size: 14px;
                    color: #E3F1FF;
                    letter-spacing: 1.13px;
                    font-weight: lighter;
                }
            }
    
            .c-banner__content__img {
                height: 100%;
                width: 100%;
                overflow: hidden;
                position: relative;
                img {
                    height: 100%;
                    position: relative;
                    left:50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    // .applink {
    //     display: flex;
    //     margin-top: 60px;
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     .app-tag {
    //         flex: 1;
    //         border: 1px solid #DDDDDD;
    //         width: 290px;
    //         height: 139px;
    //         background: #ffffff;
    //         box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
    //         padding: 0 30px;
    //         padding-bottom:40px;
    //         text-align: center;
    //         margin: 0 8px;
    //         margin-bottom:120px;

    //         &:hover, &:active, &:visited, &:focus {
    //             text-decoration: none;
    //             -webkit-appearance: none;
    //         }

    //         &:hover {
    //             background: rgba(158, 158, 158, 0.02);
    //         }

    //         img {
    //             width: 80px;
    //             height: 80px;
    //             // margin-top: 50px;
    //         }

    //         h1 {
    //             font-size: 16px;
    //             color: #333333;
    //             letter-spacing: 1.11px;
    //             // margin-top: 30px;
    //             font-weight: initial;
    //         }

    //         p {
    //             // margin-top: 15px;
    //             font-size: 12px;
    //             color: #999999;
    //             letter-spacing: 0.97px;
    //             line-height: 1.5;
    //         }
    //     }
    // }
    .applink {
        display: flex;
        margin-top: 40px;
        flex-wrap: wrap;
        padding-bottom: 100px;
        .app-tag {
            // flex: 1;
            position: relative;
            width: 290px;
            height: 139px;
            margin: 20px 0px 0 20px;
            background: #ffffff;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
            &:hover, &:active, &:visited, &:focus {
                text-decoration: none;
                -webkit-appearance: none;
            }
            &:hover {
                background: rgba(158, 158, 158, 0.02);
                box-shadow: 0 5px 12px 0 rgba(0,0,0,0.12);
            }
            .app-logo {
                position: absolute;
                width: 70px;
                height: 70px;
                left: 20px;
                top: 34px;
            }
            
            h1 {
                position: absolute;
                left: 100px;
                top: 38px;
                font-size: 16px;
                color: #333333;
                letter-spacing: 1.11px;
                font-weight: initial;
            }
            p {
                position: absolute;
                left: 100px;
                top: 63px;
                width: 163px;
                font-size: 12px;
                color: #999999;
                letter-spacing: 0.97px;
                line-height: 14px;
                font-family: PingFangSC-Regular;
            }
        }
        .app-new-tag {
            width: 252px;
            height: 208px;
            background: #ffffff;
            text-align: center;
            display: block;
            margin: 0 auto;
            padding: 32px;
            &:hover, &:active, &:visited, &:focus {
                text-decoration: none;
                -webkit-appearance: none;
            }
            &:hover {
                box-shadow:  0 10px 20px 0 rgba(124,159,255,0.20);
                border-radius: 2px;
            }
            .app-logo {
                width: 64px;
                height: 64px;
            }
            .app-new-title {
                font-family: PingFangSC-Medium;
                font-size: 16px;
                color: #333333;
                letter-spacing: 0;
                text-align: center;
            }
            p {
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #333333;
                letter-spacing: 0;
                text-align: center;
            }
        }
    }

}

.c-summary{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
    .c-summary__title{
        color: #333333;
        font-size: 22px;
        letter-spacing: 1.78px;
        text-align: center;
        line-height: 30px;
    }
    .c-newsummary__title{
        font-family: PingFangSC-Medium;
        font-size: 24px;
        color: #333333;
        letter-spacing: 1.33px;
    }
    .c-summary__content{
        font-size: 14px;
        color: #999999;
        letter-spacing: 1.13px;
        text-align: center;
        line-height: 20px;
        margin-top: 8px;
        width: 430px;
    }
    .c-newsummary__content{
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #333333;
        letter-spacing: 0.78px;
        text-align: center;
        margin-top: 10px;
        width: 430px;
    }
}