.operation {
    background: #ffffff;
    padding: 18px 20px;

    .title {
        font-size: 16px;
        color: #333333;
        margin-bottom: 10px;
    }

    .info-box {
        border: 1px solid #DDDDDD;
        border-radius: 3px;
        padding: 18px 0 17px 24px;
        display: flex;

        &.blue {
            border-left: 5px solid #2491F7;
        }

        &.purple {
            border-left: 5px solid #7460EF;
        }

        &.yellow {
            border-left: 5px solid #F5BD23;
        }

        &.green {
            border-left: 5px solid #26DAD2;
        }

        .info-box-left {
            width: 45%;
            border-right: 1px dashed #DDDDDD;

            >:nth-child(1) {
                font-size: 13px;
                color: #666666;

                >span {
                    margin-left: 6px;
                }
            }

            .number {
                font-size: 24px;
                color: #333333;
            }
        }

        .info-box-right {
            margin-left: 19px;

            >p {
                font-size: 13px;
                color: #333333;

                &:nth-child(1) {
                    margin-bottom: 16px;
                }
            }
        }
    }

    >.ant-tabs-card {

        >.ant-tabs-bar {
            margin-bottom: 0;

            .ant-tabs-nav-wrap {
                background: transparent;
                color: #666666;
            }

            .ant-tabs-nav-container {
                height: 36px;
            }

            .ant-tabs-ink-bar {
                opacity: 0.8;
                height: 3px;
                top: 0;
                visibility: visible;
                background: #2491F7;
            }

            .ant-tabs-tab {
                border-bottom: 1px solid #DDDDDD;
                margin-right: -1px;
                background: #F5F5F5;
                font-size: 13px;
                width: 106px;
                text-align: center;
                padding: 0;
                line-height: 36px;
                height: 36px;
                color: #666666;
                border-radius: 0;
                transition-property: border-bottom-width;

                &.ant-tabs-tab-active {
                    border-bottom: 0;
                    background: #fff;
                }
            }
        }

        >.ant-tabs-content {
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-top: 0;

            >.ant-tabs-tabpane {
                background: transparent;
            }
        }
    }

    .ant-card-head {
        padding: 3px 20px;
        border-bottom: 0;
        font-size: 13px;

        .ant-input-search {
            margin: 10px 0;
        }
    }
    .ant-card-body {
        padding: 11px 20px;
        .dt-ant-table {
            
            .ant-table-footer {
                border-bottom: 0;
                margin-top: 10px;
                margin-bottom: 2px;
                padding: 0;
                background: transparent;
    
                &:before {
                    background: transparent;
                }
    
                button {
                    width: 94px;
                    height: 30px;
                    font-size: 13px;
                }
    
                .ant-pagination {
                    float: right
                }
            }
        }
    }
}
.c-antd-tabs-sidebar.c-ant-tabs-fixed.ant-tabs-vertical.ant-tabs-left{
    > .ant-tabs-content {
        height: 100%;
        overflow-y: auto;
        background: #ffffff;
    }
}