.taskParams {
	color: var(--foreground);

	.ant-collapse > .ant-collapse-item > .ant-collapse-header {
		color: var(--foreground);
	}

	.ant-form-item-label > label {
		color: var(--foreground);
	}
}
