.dt-taskinfo {
	color: var(--sideBarSectionHeader-foreground);
	background-color: var(--editor-background);

	.dt-taskinfo-key {
		padding-left: 13px;
		font-size: 12px;
		line-height: 40px;
		text-align: left;
		border-right: 1px solid var(--sideBarSectionHeader-border);
		border-bottom: 1px solid var(--sideBarSectionHeader-border);
	}

	.dt-taskinfo-value {
		padding-left: 13px;
		font-size: 12px;
		line-height: 40px;
		text-align: left;
		border-bottom: 1px solid var(--sideBarSectionHeader-border);
	}
}
