$prefix: 'dtc-slide-pane';

.#{$prefix} {
    background: #FFFFFF;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    box-shadow: -2px 0 2px 0 rgba(0,0,0,0.10);
    position: absolute;
    display: inline-block;
    transition: transform .3s ease-in;
    z-index: 99;
    &.l-#{$prefix}--fixed {
        position: fixed;
        top:0px;
        right: 0px;
    }
    .#{$prefix}-conent {
        position: relative;
    }

    .#{$prefix}-toggle {
        background: #EEEEEE;
        border: 1px solid #DDDDDD;
        width: 18px;
        font-size: 12px;
        height: 50px;
        line-height: 50px;
        top: 0;
        bottom: 0;
        z-index: 999;
        left: 0;
        margin: auto;
        cursor: pointer;
        position: absolute;

        > i { 
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 12px;
            position: absolute;
        }
    }
}