.c-multiVersionComp__intail {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 40px;
	left: 0px;
	// padding-top: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	&__row {
		margin-bottom: 20px;
		.ant-col:first-child {
			text-align: right;
		}
		.ant-col:last-child {
			text-align: left;
		}
	}
	&__title {
		color: #333;
		font-size: 12px;
	}
	&__container {
		display: flex;
		justify-content: center;
		margin-top: 20px;

		&__desc:last-child {
			margin-right: 0;
		}

		&__desc {
			display: flex;
			align-items: center;
			justify-content: space-between;
			min-width: 128px;
			height: 48px;
			margin-right: 20px;
			padding: 10px 22px 10px 16px;
			border: 1px solid #ddd;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				border: 1px solid #3f87ff;
			}
			.comp-name {
				line-height: 48px;
				img {
					width: 28px;
					margin-right: 8px;
				}
				span {
					font-weight: 500;
					font-size: 12px;
				}
			}
			.anticon-right-circle {
				margin-left: 30px;
				color: #3f87ff;
				font-size: 8px;
			}
		}
	}
}

.c-multiVersionComp > .c-multiVersionComp__tabs > .ant-tabs-content {
	position: absolute;
	top: 44px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: unset;
	.ant-tabs-tabpane {
		position: relative;
	}
}

.c-multiVersionComp {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	&__tabs {
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		.ant-tabs-bar {
			background-color: #fafafa;
			border: unset;
		}
		.ant-tabs-bar .ant-tabs-nav-container {
			.ant-tabs-nav-wrap > .ant-tabs-nav-scroll > .ant-tabs-nav {
				min-width: 100px;
				height: 44px;
				.ant-tabs-tab {
					// min-width: 112px;
					width: 210px;
					height: 44px;
					margin: 0;
					padding: 0;
					font-size: 14px;
					line-height: 44px;
					text-align: center;
					background: #fafafa;
				}
				.ant-tabs-tab-active {
					background: #fff;
				}
				.ant-tabs-ink-bar {
					visibility: hidden;
				}
			}
		}
	}
}
