.idea/
pluginLibs/
datasource-plugins/
logs/
target/
*.iml
.project
.settings/
.classpath
.vertx/
etc
/tmpHadoopConf/
/conf/node.yml
dependency-reduced-pom.xml
entrance/dependency-reduced-pom.xml
/lib/
.DS_Store
kerberosConfig/
tmpK8sConf/
*.exec
*.zip
*.factorypath
/conf
keytab/
run/
tmp/
tmp1100/
tmpSave/
*jacoco.exec
/javadocs
engine-master/engine-master-server/download/
engine-master/engine-master-server/unzip/
engine-ui/node_modules
engine-ui/.yarn-error.log
engine-ui/out
engine-ui/packages/**/**/dist/
.history
node_modules
conf/application.properties
/dist
/worker-plugins/
taier-data-develop/**/static/**/*.html
taier-data-develop/**/static/**/*.css
taier-data-develop/**/static/**/*.js
taier-data-develop/**/static/**/*.json
taier-data-develop/**/static/**/images/
taier-data-develop/**/static/**/static/
taier-data-develop/**/static/**/assets/