.idea/
pluginLibs/
plugin/
logs/
target/
*.iml
.project
.settings/
.classpath
.vertx/
etc
/tmpHadoopConf/
/conf/node.yml
dependency-reduced-pom.xml
entrance/dependency-reduced-pom.xml
/lib/
.DS_Store
