.home-page{
	min-height: 680px;
	.btn-add {
		margin-bottom: 20px;
	}
	.table {
		background: #fff;
		.icon-button {
			cursor: pointer;
			margin: 3px;
			&:hover {
				color: rgb(247, 0, 2);
			}
		}
	}
	.app-box{
		height:186px;
		display: block;
		background-size: 100% 100%;
		cursor: pointer;
		padding:70px 50px;
		color:#fff;
		:first-child{  
			font-size:18px;
			margin-bottom:10px;
		}
		:last-child{
			font-size:12px;
		}
	}
	.pagination {
		margin-top: 20px;
	}
}