<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.taier.dao.mapper.BatchTaskTemplateDao">

    <sql id="select_content_fragment">
        id,task_type,type,content,gmt_create,gmt_modified,is_deleted
    </sql>

    <sql id="update_fragment">
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="taskType != null">
                task_type = #{taskType},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
        </set>
    </sql>

    <update id="update" parameterType="com.dtstack.taier.dao.domain.BatchTaskTemplate">
        UPDATE
        rdos_batch_task_template
        <include refid="update_fragment"/>
        WHERE
        id = #{id} AND is_deleted = 0
    </update>

    <select id="getContentByType" resultType="java.lang.String">
        SELECT content
        from rdos_batch_task_template
        WHERE task_type = #{taskType} and type = #{type} and is_deleted = 0 limit 1
    </select>

</mapper>
