<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.taier.dao.mapper.ComponentMapper">

    <sql id="select_content_fragment">
        id,cluster_id,component_name,component_type_code,gmt_create,gmt_modified,is_deleted,version_value,upload_file_name,
        kerberos_file_name,store_type,is_metadata,is_default,deploy_type,version_name
    </sql>

    <sql id="update_fragment">
        <set>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="uploadFileName!=null">
                upload_file_name = #{uploadFileName},
            </if>
            <if test="versionName!=null">
                version_name = #{versionName},
            </if>
            <if test="versionValue!=null">
                version_value = #{versionValue},
            </if>
            <if test="kerberosFileName != null">
                kerberos_file_name = #{kerberosFileName},
            </if>
            <if test="storeType != null">
                store_type = #{storeType},
            </if>
            <if test="isDefault != null">
                is_default = #{isDefault},
            </if>
            gmt_modified =now()
        </set>
    </sql>

    <select id="listByClusterId" resultType="com.dtstack.taier.dao.domain.Component">
        select
        <include refid="select_content_fragment"/>
        from console_component
        where is_deleted = 0 and cluster_id = #{clusterId}
        <if test="type!=null">
            and component_type_code = #{type}
        </if>
        <if test="true == isDefault">
            and is_default = 1
        </if>
    </select>

    <update id="updateMetadata">
        update console_component
        set is_metadata = #{isMetadata}
        where cluster_id = #{clusterId}
          and component_type_code = #{type}
    </update>

    <select id="getByClusterIdAndComponentType" resultType="com.dtstack.taier.dao.domain.Component">
        SELECT
        c.id,c.cluster_id,c.component_name,c.component_type_code,c.gmt_create,c.gmt_modified,c.is_deleted,
        c.version_value,c.upload_file_name,c.kerberos_file_name,c.is_metadata,c.deploy_type,c.store_type,c.version_name
        FROM
        console_component c
        WHERE
        c.cluster_id = #{clusterId} and c.component_type_code = #{type}
        <choose>
            <when test="componentVersion == null or componentVersion == ''">
                and c.is_default = 1
            </when>
            <otherwise>
                and c.version_value = #{componentVersion}
            </otherwise>
        </choose>
        <if test="deployType!= null">
            and c.deploy_type = #{deployType}
        </if>
        and c.is_deleted = 0 LIMIT 1
    </select>

    <select id="getByVersionName" resultType="com.dtstack.taier.dao.domain.Component">
        SELECT
        c.id,c.cluster_id,c.component_name,c.component_type_code,c.gmt_create,c.gmt_modified,c.is_deleted,
        c.version_value,c.upload_file_name,c.kerberos_file_name,c.is_metadata,c.deploy_type,c.store_type,
        c.version_name
        FROM
        console_component c
        WHERE
        c.cluster_id = #{clusterId} and c.component_type_code = #{type}
        <choose>
            <when test="versionName == null or versionName == ''">
                and c.is_default = 1
            </when>
            <otherwise>
                and c.version_name = #{versionName}
            </otherwise>
        </choose>
        <if test="deployType!= null">
            and  c.deploy_type = #{deployType}
        </if>
        and c.is_deleted = 0 LIMIT 1
    </select>


    <select id="getClusterIdByComponentId" resultType="java.lang.Long">
        SELECT cluster_id
        FROM console_component
        WHERE id = #{componentId}
          and is_deleted = 0
    </select>


    <select id="getDefaultComponentVersionByClusterAndComponentType" resultType="java.lang.String">
        SELECT cc.version_value
        FROM console_component cc
                 LEFT JOIN console_cluster ccl ON ccl.id = cc.cluster_id
        WHERE cc.component_type_code = #{componentType}
          AND cc.cluster_id = #{clusterId}
          and is_default = 1
          and cc.is_deleted = 0 LIMIT 1
    </select>

    <select id="getComponentVersionByEngineType" resultType="com.dtstack.taier.dao.domain.Component">
        SELECT sd.dict_name as versionName,
               cc.gmt_create,
               cc.is_default
        FROM console_component cc
                 INNER JOIN console_cluster_tenant cct ON cc.cluster_id = cct.cluster_id
                 INNER JOIN dict sd ON sd.dict_value = cc.version_value
        WHERE cc.component_type_code = #{componentTypeCode}
          AND cct.tenant_id = #{tenantId}
          AND cc.is_deleted = 0
    </select>

    <update id="updateDefault">
        update console_component set is_default = #{isDefault}
        where cluster_id = #{clusterId} and is_deleted = 0 and component_type_code = #{componentType}
        <if test="true == isDefault">
            and is_default = 0 order by id desc limit 1
        </if>
    </update>

    <select id="listByTenantId" resultType="com.dtstack.taier.dao.domain.Component">
        select
        cc.id,cc.component_name,cc.component_type_code
        from console_component cc
        INNER JOIN console_cluster_tenant cct
        on cc.cluster_id = cct.cluster_id
        and cct.tenant_id =  #{tenantId}
        where cc.is_deleted = 0
    </select>

</mapper>
