<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.taier.dao.mapper.ComponentConfigMapper">

    <sql id="select_content_fragment">
        id,cluster_id,component_id,component_type_code,type,required,`key`,`value`,`values`,dependencyKey,dependencyValue,`desc`,gmt_create,gmt_modified,is_deleted
    </sql>
    <sql id="select_content_fragment_with_dict">
        ccc.id,ccc.cluster_id,ccc.component_id,ccc.component_type_code,ccc.type,ccc.required,ccc.`key`,ccc.`value`,ccc.`values`,ccc.dependencyKey,ccc.dependencyValue,ccc.`desc`,ccc.gmt_create,ccc.gmt_modified,ccc.is_deleted,dict.dict_value as keyDescribe
    </sql>
    <sql id="query_tip_left_join_dict">
        left join dict on ccc.`key` = dict.dict_name and (ccc.component_type_code = dict.dict_desc) and dict.type = 25
    </sql>

    <insert id="insertBatch">
        insert into
        console_component_config(cluster_id,component_id,component_type_code,`type`,`required`,`key`,`value`,`values`,dependencyKey,dependencyValue,`desc`)
        values
        <foreach collection="componentConfigs" item="config" separator=",">
            (#{config.clusterId},#{config.componentId},#{config.componentTypeCode},#{config.type},#{config.required},
            #{config.key},#{config.value},#{config.values},#{config.dependencyKey},#{config.dependencyValue},#{config.desc})
        </foreach>
    </insert>

    <sql id="update_fragment">
        <set>
            <if test="key!=null">
                `key` = #{key},
            </if>
            <if test="value!=null">
                `value` = #{value},
            </if>
            <if test="values!=null">
                `values` = #{values},
            </if>
            <if test="dependencyKey!=null">
                dependencyKey = #{dependencyKey},
            </if>
            <if test="dependencyValue!=null">
                dependencyValue = #{dependencyValue},
            </if>
            gmt_modified = now()
        </set>
    </sql>

    <select id="listByComponentId" resultType="com.dtstack.taier.dao.domain.ComponentConfig">
        select
        <include refid="select_content_fragment_with_dict"/>
        from console_component_config ccc
          <include refid="query_tip_left_join_dict"/>
        where ccc.component_id = #{componentId} and ccc.is_deleted = 0
        <if test="true == isFilter">
            and ccc.`type` != 'OTHER'
        </if>
    </select>

    <select id="listByClusterId" resultType="com.dtstack.taier.dao.domain.ComponentConfig">
        select
        <include refid="select_content_fragment_with_dict"/>
        from console_component_config ccc
         <include refid="query_tip_left_join_dict"/>
        where ccc.cluster_id = #{clusterId} and ccc.is_deleted = 0
        <if test="true == isFilter">
            and ccc.`type` != 'OTHER'
        </if>
    </select>

    <select id="listByKey" resultType="com.dtstack.taier.dao.domain.ComponentConfig">
        select
        <include refid="select_content_fragment"/>
        from console_component_config
        where is_deleted = 0
        and component_id = #{componentId} and `key` = #{key}
        limit 1
    </select>

    <delete id="deleteByComponentId">
        delete
        from console_component_config
        where component_id = #{componentId}
    </delete>

    <update id="updateValueById">
        update console_component_config
        <include refid="update_fragment"/> where id = #{id}
    </update>
</mapper>
