<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.taier.dao.mapper.DevelopCatalogueDao">

    <sql id="select_content_fragment">
      id,tenant_id,node_name,node_pid,order_val,level,gmt_create,gmt_modified,create_user_id,is_deleted,catalogue_type
    </sql>

    <sql id="update_fragment">
        <set>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="nodeName != null">
                node_name = #{nodeName},
            </if>
            <if test="nodePid != null">
                node_pid = #{nodePid},
            </if>
            <if test="orderVal != null">
                order_val = #{orderVal},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            gmt_modified = now(),
        </set>
    </sql>

    <select id="getOne" resultType="com.dtstack.taier.dao.domain.BatchCatalogue">
        SELECT
        <include refid="select_content_fragment"/>
        FROM develop_catalogue
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="getByPidAndName" resultType="com.dtstack.taier.dao.domain.BatchCatalogue">
        SELECT
        <include refid="select_content_fragment"/>
        FROM develop_catalogue
        WHERE tenant_id = #{tenantId} and node_pid = #{nodePid}
        and node_name = #{name} and is_deleted=0 limit 1
    </select>

    <select id="listByPidAndTenantId" resultType="com.dtstack.taier.dao.domain.BatchCatalogue">
        SELECT
        <include refid="select_content_fragment"/>
        FROM develop_catalogue
        WHERE tenant_id = #{tenantId} and node_pid = #{nodePid} and is_deleted = 0 order by gmt_create desc
    </select>

    <select id="listByLevelAndTenantId" resultType="com.dtstack.taier.dao.domain.BatchCatalogue">
        SELECT
        <include refid="select_content_fragment"/>
        FROM develop_catalogue
        WHERE tenant_id = #{tenantId} and level = #{level} and is_deleted = 0 order by order_val asc
    </select>

    <select id="getByLevelAndTenantIdAndName" resultType="com.dtstack.taier.dao.domain.BatchCatalogue">
        SELECT
        <include refid="select_content_fragment"/>
        FROM develop_catalogue
        WHERE tenant_id = #{tenantId} and level = #{level} and node_name = #{name} and is_deleted = 0
        limit 1
    </select>

    <select id="listByNameFuzzy" resultType="com.dtstack.taier.dao.domain.BatchCatalogue">
        SELECT
        <include refid="select_content_fragment"/>
        FROM develop_catalogue
        WHERE is_deleted = 0 and tenant_id = #{tenantId} and node_name like CONCAT('%',#{name},'%')
    </select>

    <select id="getSystemFunctionCatalogueOne" resultType="com.dtstack.taier.dao.domain.BatchCatalogue">
        SELECT
        <include refid="select_content_fragment"/>
        FROM develop_catalogue
        WHERE node_pid = #{nodePid} and level = 1 and tenant_id = -1 limit 1
    </select>

    <insert id="insert" parameterType="com.dtstack.taier.dao.domain.BatchCatalogue" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO develop_catalogue
          (tenant_id,node_name,node_pid,order_val,level,create_user_id,catalogue_type)
        VALUES
          (#{tenantId},#{nodeName},#{nodePid},#{orderVal},#{level},#{createUserId},#{catalogueType})
    </insert>

    <update id="update" parameterType="com.dtstack.taier.dao.domain.BatchCatalogue">
        UPDATE
        develop_catalogue
        <include refid="update_fragment"/>
        WHERE
        id = #{id} AND is_deleted = 0
    </update>

    <update id="deleteById">
        UPDATE
        develop_catalogue
        set is_deleted = 1,gmt_modified = now()
        WHERE
        id = #{id} AND is_deleted = 0
    </update>

    <!--校验当前目录下直接一层的子目录或者文件的个数总数不可超过2000-->
    <select id="getSubAmountsByNodePid" resultType="java.lang.Integer">
      select count(1)
        from develop_catalogue
        where node_pid = #{nodePid}
        <if test="nodePid != null and nodePid == '0'.toString()">
            and tenant_id = #{tenantId}
        </if>
         and is_deleted = 0
    </select>

    <select id="getTenantRoot" resultType="com.dtstack.taier.dao.domain.BatchCatalogue">
        select
        <include refid="select_content_fragment"/>
        FROM develop_catalogue
        WHERE tenant_id = #{tenantId} and catalogue_type = #{catalogueType} and  node_pid = 0  and is_deleted = 0 limit 1
    </select>

    <select id="getBeanByTenantIdAndNameAndParentId" resultType="com.dtstack.taier.dao.domain.BatchCatalogue">
        select
        <include refid="select_content_fragment"/>
        FROM develop_catalogue
        WHERE tenant_id = #{tenantId} and node_name = #{name} and  node_pid = #{parentId}  and is_deleted = 0 limit 1
    </select>

</mapper>
