<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.taier.dao.mapper.DevelopTaskResourceMapper">

    <sql id="select_content_fragment">
      id,task_id,resource_id,resource_type,tenant_id,gmt_create,gmt_modified,is_deleted
    </sql>

    <sql id="update_fragment">
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="taskId != null">
                task_id = #{taskId},
            </if>
            <if test="resourceId != null">
                resource_id = #{resourceId},
            </if>
            <if test="resourceType != null">
                resource_type = #{resourceType},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
        </set>
    </sql>

    <select id="listByTaskId" resultType="com.dtstack.taier.dao.domain.BatchTaskResource">
        SELECT
        <include refid="select_content_fragment"/>
        FROM develop_task_resource
        WHERE task_id = #{taskId}

        <if test="resourceType != null">
            and resource_type = #{resourceType}
        </if>

        and is_deleted = 0
    </select>

    <select id="getByTaskIdAndResourceId" resultType="com.dtstack.taier.dao.domain.BatchTaskResource">
        SELECT
        <include refid="select_content_fragment"/>
        FROM develop_task_resource
        WHERE task_id = #{taskId} and resource_id = #{resourceId} and resource_type = #{resourceType}
        and is_deleted = 0 limit 1
    </select>

    <delete id="deleteByTaskId">
        DELETE FROM develop_task_resource
        WHERE task_id = #{taskId}
        and is_deleted = 0
        <if test="resourceType != null">
            and resource_type = #{resourceType}
        </if>
    </delete>


    <select id="listByResourceId" resultType="com.dtstack.taier.dao.domain.BatchTaskResource">
        SELECT
        <include refid="select_content_fragment"/>
        FROM develop_task_resource
        WHERE resource_id = #{resourceId} and is_deleted = 0
    </select>

    <insert id="insert" parameterType="com.dtstack.taier.dao.domain.BatchTaskResource" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO develop_task_resource
          (task_id,resource_id,resource_type,tenant_id,gmt_create,gmt_modified,is_deleted)
        VALUES
          (#{taskId},#{resourceId},#{resourceType},#{tenantId},now(),now(),0)
    </insert>

    <update id="update" parameterType="com.dtstack.taier.dao.domain.BatchTaskResource">
        UPDATE
        develop_task_resource
        <include refid="update_fragment"/>
        WHERE
        id = #{id} AND is_deleted = 0
    </update>

    <update id="deleteByTenantId" parameterType="java.lang.Long">
        UPDATE develop_task_resource
        SET is_deleted = 1, gmt_modified = now()
        WHERE tenant_id = #{tenantId} AND is_deleted = 0;
    </update>

</mapper>
