<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.taier.dao.mapper.DsTypeMapper">

    <sql id="select_content_fragment">
        data_type
        ,data_classify_id,weight,img_url,is_deleted,sorted,invisible
    </sql>


    <select id="dsTypeList" resultType="com.dtstack.taier.dao.domain.DsType">
        select
        <include refid="select_content_fragment"/>
        from datasource_type
        where is_deleted = 0 and invisible = 0
        order by sorted desc,id asc
    </select>

    <select id="queryDsTypeByClassify" resultType="com.dtstack.taier.dao.domain.DsType">
        select
        <include refid="select_content_fragment"/>
        from datasource_type
        where is_deleted = 0 and invisible = 0
        <if test="search !=null and search!=''">
            and lower(data_type) like concat('%',#{search},'%')
        </if>
        <if test="classifyId !=null and classifyId != 1 and classifyId!=2">
            and data_classify_id = #{classifyId}
        </if>
        <choose>
            <when test="classifyId !=null and  classifyId == 2">
                order by weight desc
            </when>
            <otherwise>
                order by sorted desc,id asc
            </otherwise>
        </choose>
        <if test="classifyId !=null and  classifyId == 2">
            limit 8
        </if>
    </select>

    <update id="plusDataTypeWeight">
        update datasource_type
        set weight = weight + #{plusWeight}
        where data_type = #{dataType}
          and weight + #{plusWeight} > 0.0
          and is_deleted = 0
    </update>
</mapper>
