<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.taier.dao.mapper.ScheduleJobExpandMapper">

    <sql id="filed">
        `id`,`job_id`,`retry_task_params`,`job_extra_info`,`engine_log`,`log_info`,`gmt_create`,`gmt_modified`,`is_deleted`
    </sql>

    <update id="updateLogByJobIds">
        UPDATE schedule_job_expand SET `log_info` = #{logInfo} , `engine_log` = #{engineLog} , `gmt_modified` = NOW()
        WHERE `job_id` IN
        <foreach collection="jobIds" separator="," item="jobId" close=")" open="(">
            #{jobId}
        </foreach>
        AND `is_deleted` = #{isDeleted}
    </update>
</mapper>
