<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.taiga.dao.mapper.DictMapper">

    <sql id="select_content_fragment">
      id,dict_code,dict_name,dict_value,dict_desc,`type`,sort,data_type,depend_name,gmt_create,gmt_modified,is_deleted
    </sql>


    <select id="listDictByType" resultType="com.dtstack.taiga.dao.domain.ScheduleDict">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_dict
        WHERE `type` = #{type} AND is_deleted = 0 ORDER BY sort
    </select>

    <select id="getTypeDefault" resultType="com.dtstack.taiga.dao.domain.ScheduleDict">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_dict
        WHERE `type` = #{type} AND is_deleted = 0 AND is_default = 1 LIMIT 1
    </select>

    <select id="getByNameValue" resultType="com.dtstack.taiga.dao.domain.ScheduleDict">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_dict
        WHERE `type` = #{type} AND is_deleted = 0 AND dict_name = #{dictName}
        <if test="dictValue!=null">
            AND dict_value = #{dictValue}
        </if>
        <if test="dependName!=null">
            AND depend_name = #{dependName}
        </if>
        ORDER BY sort LIMIT 1
    </select>

    <select id="getByDependName" resultType="com.dtstack.taiga.dao.domain.ScheduleDict">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_dict
        WHERE `type` = #{type} AND is_deleted = 0 AND depend_name = #{dependName}
        ORDER BY sort
    </select>
</mapper>
