.delete-modal {
    width: 100%;
    .content {
        width: 400px;
        margin: 20px auto 48px;
        display: flex;
        .notice {
            width: 90%;
            line-height: 20px;
            margin-left: 8px;
            font-size: 14px;
            color: #666666;
            padding-top: 4px;
        }
    }
    .footer {
        display: flex;
        flex-direction: row-reverse;
        .ant-btn-primary {
            background-color: #EF5350;
            border-color: #EF5350;
        }
    }
  
}