.select-label-Row {
    margin-bottom: 20px;
    .icon {
        cursor: pointer;
        color: #2491F7;
        font-size: 18px;
        margin-right: 12px;
        position: relative;
    }
    .ant-form-item{
        margin-bottom: 0;
    }
}