.project-dashboard{
    padding-bottom: 20px;
    .project-header{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .indicator-col {

        height: 65px;
        background: #fff;
        border-color: transparent;

        .indicator-icon {
            padding: 20.5px 33px;
            height: 65px;
            width: 90px;
            border-radius: 3px 0 0 3px;
            background: #8e9aa6;
            color: #ffffff;
            img {
                width: 24px;
                height: 24px;
            }
        }

        .indicator-detail {
            padding: 10px;
            height: 65px;
            text-align: left;
            .indicator-title {
                font-size: 12px;
                color: #999999;
            }

            .indicator-content {
                font-size: 24px;
                color: #2491F7;
            }
        }
    }

    .chart-tip {
        font-size: 12px;
        color: #c2c8d3;
    }

    .chart-board {
        padding: 10px;
        background: #ffffff;
        height: 300px;
        position: relative;

        .filter {
            position: absolute;
            top: 30px;
            left: 85px;
        }
    }
    .project-search-box{
        display: flex;
        align-items: center;
        .project-search {
            width: 220px;
            margin-right: 30px;
        }
    }  
    .card-width{
        min-width: 375px;
        .tooltip-img{
            width: 14px;
            float: right;
            margin-top: 17px;
        }
        .cancel-top{
            color: #94A8C6;
            font-size: 12px;
            float: right;
        }
        .tooltip-img,.cancel-top:hover{
            cursor: pointer;
        }
        .setTopImg{
            transform: rotate(180deg);
        }
        .company-name{
            font-size: 14px ;
            color: #333;
            font-weight: 600;
            cursor: pointer;
        }
        
        .company-name:hover{
            color: #2491F7;
        }
        .company-name.no-hover{
            cursor:unset;
        }
        .company-name.no-hover:hover{
            color:#333;
        }
        .general-card{
            margin: 0 10px 20px;
            height: 220px;
            .card-content{
                position: relative;
                .statistics{
                    color: #333333;
                    line-height: 26px;
                    min-width: 190px;
                }
                .statistics-info{
                    color: #333333;
                }
                .ant-card-body{
                    padding: 4px;
                }
                .card-task-padding{
                    padding: 0;
                }
                .number{
                    font-size: 36px;
                    line-height: 50px;
                    color: #EF5350;
                    cursor: pointer;
                }
                .no-hover{
                    cursor: unset;
                }
                .card-task{
                    min-width: 115px;
                    text-align: center;
                    margin-top: 10px;
                    border-color: #dddddd;
                }
                .img-container{
                    padding-right: 5px;
                    .task-img{
                        display: inline-block;
                        height:16px;
                        width: 20px;
                        position: relative;
                        top: 3px;
                    }
                }
                .card-task:hover{
                    cursor: pointer;
                    border: 1px solid #2491F7;
                    color: #2491F7;
                }
                
            }
            .triangle_border_right{
                border-width: 12px;
                border-style: solid;
                border-color: transparent transparent transparent #94A8C6;/*透明 透明 透明 灰*/
                //margin:40px auto;
                position: absolute;
                bottom: -12px;
                right: -12px;
                transform: rotate(45deg);
            }
        }
        .general-card:hover{
            box-shadow: 0 6px 12px 0 rgba(148,168,198,0.42);
        }
    }
    .sortTitle{
        .sort-item{
            font-size: 12px;
            cursor: pointer;
            padding: 0px 5px;
        }
    }
    .title-help{
        padding-bottom: 10px;
        cursor: pointer;
    }
    .help-doc-rdos{
        font-size: 14px;
        line-height: 40px;
    }
    .ant-card-head{
        padding: 0 15;
    }
    .ant-card-body{
        padding: 16 10;
    }
    

}

// .tooltip-tittle-text:hover{
//     color: #2491F7;
// }
.project-dashboard  {
    .ant-card-body{
        padding: 20px 20px  20px 20px;
    }
    .ant-card-head{
        height:40px;
        line-height: 40px;
    }
}
