.c-modelSubmitModal {
    .c-modelSubmitModal__sign {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        .c-modelSubmitModal__sign__logo {
            font-size: 30px;
            color: #00a854;
        }
        .c-modelSubmitModal__sign__txt {
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
            color: #333;
            margin-left: 10px;
        }
    }
    .c-modelSubmitModal__content {
        padding: 20px;
        border: 1px solid #E9E9E9;
        background: #fafafa;
    }
}