/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #016fff;
    --ifm-color-primary-dark: rgb(1 111 255);
    --ifm-color-primary-darker: rgb(1 111 255);
    --ifm-color-primary-darkest: rgb(1 111 255);
    --ifm-color-primary-light: rgb(1 111 255);
    --ifm-color-primary-lighter: rgb(1 111 255);
    --ifm-color-primary-lightest: rgb(1 111 255);
    --ifm-code-font-size: 95%;
    --ifm-table-stripe-background: #f2f2f2;
}

.docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
}


table {
    display: table;
    width: 100%;
}

table thead tr {
    border-bottom: none;
}