.m-datasync {
	padding: 60px;
	overflow: auto;
	height: 100%;

	.c-tableCell {
		resize: none;
		text-indent: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	.steps-content {
		margin-top: 40px;
		border: 1px dashed var(--dropdown-border);
		border-radius: 0px;
		min-height: 200px;
		padding: 40px 0;
		min-width: 770px;
	}
	.steps-mask {
		position: absolute;
		bottom: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
		cursor: not-allowed;
		z-index: 900;
	}
	.ant-steps-icon {
		line-height: 23px !important;
	}
	.steps-action {
		margin-top: 24px;
		text-align: center;
	}
	.m-keymapbox {
		position: relative;

		.pa {
			position: absolute;
		}

		.col-plugin {
			padding: 10px;
			padding-right: 0;
			cursor: pointer;
		}

		.m-col {
			border-bottom: 1px dotted #ccc;
			background: var(--badge-background);
			line-height: 40px;
			&.title {
				background: var(--badge-background);
			}
			&.footer {
				background: var(--badge-background);
			}
			.cell {
				float: left;
				box-sizing: border-box;
				padding: 0 10px;
				text-align: left;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 11px;
				&:first-child {
					width: 40%;
					font-weight: bold;
				}
				&:nth-child(2) {
					white-space: nowrap;
					width: 40%;
					text-align: left;
				}
				&:nth-child(3) {
					width: 20%;
					text-align: right;
				}
			}
			.remove-cell,
			.edit-cell {
				line-height: 1;
				display: inline-block;
				position: absolute;
				top: 14px;
				cursor: pointer;
				font-weight: normal;
				z-index: 2;
			}
			.four-cells {
				.cell {
					&:first-child {
						width: 30%;
						font-weight: bold;
					}
					&:nth-child(2) {
						width: 30%;
						text-align: left;
					}
					&:nth-child(3) {
						width: 20%;
						text-align: right;
					}
					&:nth-child(4) {
						width: 20%;
						text-align: right;
					}
				}
			}
			.remove-cell {
				right: 23px;
			}
			.edit-cell {
				right: 10px;
			}
		}
		.dl {
			.dag-circle {
				cursor: crosshair;
			}
		}
	}
	.m-buttons {
		padding-top: 10px;
		text-align: center;
		button {
			margin-bottom: 5px;
		}
	}
}
