.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bold {
    font-weight: bold;
}

.hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.pointer {
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.flex {
    display: flex;
}

.bd {
    border: 1px solid #dddddd;
    border-radius: 2px;
}

.bd-top {
    border-top: 1px solid #dddddd;
}

.bd-left {
    border-left: 1px solid #dddddd;
}

.bd-bottom {
    border-bottom: 1px solid #dddddd;
}

.bd-right {
    border-right: 1px solid #dddddd;
}

.no-bd {
    border: 0;
}

.clear:before {
    content: '';
    display: table;
    clear: both;
}

.clear:after {
    content: '';
    display: table;
    clear: both;
}

/*绝对居中*/
.absolute-middle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 50%;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.Resizer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

/*.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}*/

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    opacity: .2;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: col-resize;
}

.Resizer.vertical:hover {
    opacity: .2;
    border-left: 5px solid #e9e9e9;
    border-right: 5px solid #e9e9e9;
}