.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bold {
    font-weight: bold;
}

.hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-scroll-bar {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.no-scroll-bar::-webkit-scrollbar { 
    display: none; 
    width: 0 !important;
} 

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.pointer {
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.flex {
    display: flex;
}

.bd {
    border: 1px solid #dddddd;
    border-radius: 2px;
}

.bd-top {
    border-top: 1px solid #dddddd;
}

.bd-left {
    border-left: 1px solid #dddddd;
}

.bd-bottom {
    border-bottom: 1px solid #dddddd;
}

.bd-right {
    border-right: 1px solid #dddddd;
}

.no-bd {
    border: 0;
}

.clear:before {
    content: '';
    display: table;
    clear: both;
}

.clear:after {
    content: '';
    display: table;
    clear: both;
}

/*绝对居中*/
.absolute-middle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 50%;
}


.Resizer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

/*.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}*/

.Resizer.horizontal {
    height: 10px;
    margin: -5px 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    opacity: .2;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.Resizer.vertical {
    width: 10px;
    margin: 0 -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: col-resize;
}

.Resizer.vertical:hover {
    opacity: .2;
    border-left: 5px solid #e9e9e9;
    border-right: 5px solid #e9e9e9;
}

.font-black {
    color: #333333;
}

.font-red {
    color: #EF5350;
}

.font-organge {
    color: #F5A623;
}

.font-green {
    color: #00A755;
}

.font-gray {
    color: #9EABB2;
}

.font-darkgreen {
    color: #94A8C6;
}

.font-blue {
    color: #2491F7;
}

.font-cold-blue {
    color: rgb(38, 218, 210);
}

.shadow {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
.row-select{
    background: rgba(215, 238, 242, 0.58);
}
.table-row-color_level1{
    background: rgba(247, 247, 247, 0.5);
}
.table-row-color_level2{
    background: rgba(237, 237, 237, 0.5);
}
.table-row-color_level3{
    background: rgba(227, 227, 227, 0.5);
}
.table-row-color_level4{
    background: rgba(217, 217, 217, 0.5);
}
.table-row-color_level5{
    background: rgba(207, 207, 207, 0.5)
}

.mask-lock-layer {
    position: absolute;
    top: 48;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
}

.ant-input-affix-wrapper .ant-input {
    min-height: auto;
}
