@charset "utf-8";
.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bold {
    font-weight: bold;
}

.hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-scroll-bar {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.no-scroll-bar::-webkit-scrollbar { 
    display: none; 
    width: 0 !important;
} 

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.pointer {
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.flex {
    display: flex;
}

.bd {
    border: 1px solid #dddddd;
    border-radius: 2px;
}

.bd-top {
    border-top: 1px solid #dddddd;
}

.bd-left {
    border-left: 1px solid #dddddd;
}

.bd-bottom {
    border-bottom: 1px solid #dddddd;
}

.bd-right {
    border-right: 1px solid #dddddd;
}

.no-bd {
    border: 0;
}

.clear:before {
    content: '';
    display: table;
    clear: both;
}

.clear:after {
    content: '';
    display: table;
    clear: both;
}

/*绝对居中*/
.absolute-middle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 50%;
}


.Resizer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

/*.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}*/

.Resizer.horizontal {
    height: 10px;
    margin: -5px 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    cursor: row-resize;
    width: 100%;
    z-index: 999;
}

.Resizer.horizontal:hover {
    opacity: .2;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.Resizer.vertical {
    width: 10px;
    margin: 0 -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: col-resize;
}

.Resizer.vertical:hover {
    opacity: .2;
    border-left: 5px solid #e9e9e9;
    border-right: 5px solid #e9e9e9;
}

.font-black {
    color: #333333;
}

.font-red {
    color: #EF5350;
}

.font-organge {
    color: #F5A623;
}

.font-green {
    color: #00A755;
}

.font-gray {
    color: #9EABB2;
}

.font-darkgreen {
    color: #94A8C6;
}

.font-blue {
    color: #2491F7;
}

.font-cold-blue {
    color: rgb(38, 218, 210);
}

.shadow {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
.row-select{
    background: rgba(215, 238, 242, 0.58);
}
.table-row-color_level1{
    background: rgba(247, 247, 247, 0.5);
}
.table-row-color_level2{
    background: rgba(237, 237, 237, 0.5);
}
.table-row-color_level3{
    background: rgba(227, 227, 227, 0.5);
}
.table-row-color_level4{
    background: rgba(217, 217, 217, 0.5);
}
.table-row-color_level5{
    background: rgba(207, 207, 207, 0.5)
}

.mask-lock-layer {
    position: absolute;
    top: 48px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 3;
    background: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
}

/**
* 操作卡片样式表
*/
.operation-card {
    width: 210px;
    margin: 0 10px;
    display: inline-block;
}

.operation-content {
    height: 165px;
    background: #ffffff;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    font-size: 60px;
    color: #808080;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operation-content .anticon {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.operation-content .operation-title {
    line-height: 20px;
    font-size: 14px;
    color: #333;
}

.status_wait_submit{
    background: #F5A623;
}
.status_created{
    background: #F5A623;
}
.status_running{
    background: #2491F7;
}
.status_finished{
    background: #00A755;
}
.status_stoping{
    background: #F5A623;
}
.status_stoped{
    background: #94A8C6;
}
.status_run_fail{
    background: #EF5350;
}
.status_submit_failed{
    background: #EF5350;
}
.status_submitting{
    background: #F5A623;
}
.status_restarting{
    background: #F5A623;
}
.status_killed{
    background: #94A8C6;
}
.status_wait_run{
    background: #F5A623;
}
.status_frozen{
    background: #94A8C6;
}
.status_parent_failed{
    background: #EF5350;
}

.status_overview_fail_font{
    color: #EF5350;
}
.status_overview_fail{
    background: #EF5350;
}
.status_overview_running_font{
    color: #2491F7;
}
.status_overview_running{
    background: #2491F7;
}
.status_overview_stoped_font{
    color: #94A8C6;
}
.status_overview_stoped{
    background: #94A8C6;
}
.status_overview_submmitting_font{
    color: #F5A623;
}
.status_overview_submmitting{
    background: #F5A623;
}
.status_overview_wait_submit_font{
    color: #F5A623;
}
.status_overview_wait_submit{
    background: #F5A623;
}
.status_overview_wait_run_font{
    color: #F5A623;
}
.status_overview_wait_run{
    background: #F5A623;
}
.status_overview_finished_font{
    color: #00A755;
}
.status_overview_finished{
    background: #00A755;
}
.status_overview_frozen{
    background: #94A8C6;
}
.status_overview_frozen_font{
    color: #94A8C6;
}
.status_overview_count_font{
    color: #333333;
}
.status_overview_count{
    background: #333333;
}
.status_overview_item{
    font-weight: normal;
    font-size: 12px;
    margin-left: 25px;
}
.required-tip:before{
    content:"*";
    color:rgba(255, 0, 0, 0.84  );
    font-size:12px;
    position: absolute;
    left: -12px;
    top:50%;
    transform: translateY(-50%);
}
.required-tip{
    position: relative;
}
