// ==== 颜色 ====
$bgColor: #f2f7fa; // 背景色
$bgColor2: #2E3943;
$aliyunbgColor: #1B2126;
$primaryColor: #2491F7; // 主色

// ==== border  ====
$tbBorderColor: #E8E8E8; // 表格边界颜色

// ==== 字体 ====
$fontColor: #333333;
$fontNormal: 12px;
$fontBigger: 14px;
// ==== 页面大小 ====
$minWidth:1260px;
