@import './const.scss';
.root {
    height: 100%;
}
.message {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
}
.container {
    min-width: $minWidth;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(242, 247, 250);
    overflow-y: auto;
    overflow-x: hidden;
    .ant-layout {
        overflow: hidden;
        height: 100%;
        background: $bgColor;
    }
}
.ant-alert_height {
    height: 70px;
}
.ant-alert_height .ant-alert-with-description {
    padding: 16px 16px 16px 60px;
    position: relative;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.5;
}
.header {
    min-width: $minWidth;
}

.inner-container {
    padding:20px;
    height: 100%;
    position: relative;
    background: $bgColor;
}

.box-1, .box-2, .box-3, .box-4, .box-5 {
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.10);
    background: #FFFFFF;
    position: relative;
}

.box-pd-h{
    padding: 20px;
    height: 100%;
}
.box-1 {
    margin: 20px;
}

.box-2 {
    margin: 0 20px 20px 20px;
}

.box-3 {
    margin: 10px 20px 20px 10px;
}

.box-4 {
    margin: 0 20px;
}

.box-bg {
    background: $bgColor;
}
.o-box__title{
    height: 45px;
    line-height: 45px;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
    &.l-box__title{
        padding: 20px;
    }
}
.box-title {
    height: 45px;
    line-height: 45px;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
    padding: 0 20px;

    .box-sub-title {
        font-size: 12px;
        color: rgb(153, 153, 153);
    }
}

.box-title-bolder {
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    font-weight: bolder;
}

.box-card {
    padding: 0 20px 20px 20px;

    .card-title {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #333333;
        letter-spacing: 0;
        font-weight: normal;
    }

}
.flex-middle{
    display: flex;
    align-items: center;
}

.m-slide-pane {
    .box-title {
        height: 35px;
        line-height: 35px;
        background: #FAFAFA;
        padding: 0 20px;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    
    .m-card {
        .ant-card {
            .ant-card-head, .ant-card-body {
                border-bottom: 0;
            }
        }
    }
}

.col-sep {
    padding: 0 8px;
}

.m-count {
    height: 108px;
    text-align: center;
    .m-count-section { 
        width: 40px;
        height: 60px;
        margin: auto;
        margin-top: 25px;
        cursor: pointer;
        .m-count-title {
            font-size: 12px;
            color: #999999;
            font-family: PingFangSC-Regular;
        }
    
        .m-count-content {
            font-size: 30px;
            letter-spacing: 0;
            font-family: PingFangSC-Medium;
            font-weight: bolder;
            display: block;
        }
    }

}

.steps-container {
    padding: 35px 50px 0;
    background: #FFF;

    .ant-steps-icon {
        line-height: 23px !important;
    }

    .steps-content {
        margin: 40px 0;
        padding: 40px 0;
        border: 1px dashed #e9e9e9;
        border-radius: 6px;
        min-height: 200px;
        background: #fafafa;
    }
    
    .steps-action {
        padding: 16px 0;
        border-top: 1px solid #e9e9e9;
        text-align: right;
    }
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.m-cells {
    table {
        border-collapse: collapse;
        .ant-table-tbody {
            tr {
                td {
                    padding: 0 0;
                    border: 1px solid #E8E8E8;
                }
            }
        }
    }
}

.ant-layout-sider {
    background: #ffffff;
}

.ant-input-affix-wrapper .ant-input {
    min-height: auto;
}

.header{
    // 主题定义
    &.aliyun{
        background: $aliyunbgColor;
        .logo{
            .c-header__logo{
                height: 30px;
            }
        }
        .ant-menu-horizontal{
            & > .ant-menu-item:hover,
            & > .ant-menu-submenu:hover,
            & > .ant-menu-item-active,
            & > .ant-menu-submenu-active,
            & > .ant-menu-item-open,
            & > .ant-menu-submenu-open,
            & > .ant-menu-item-selected{
                background:$aliyunbgColor;
            }
            // hover的时候不显示下划线
            & > .ant-menu-item:not(.ant-menu-item-selected):hover,
            & > .ant-menu-submenu:hover,
            & > .ant-menu-item-active,
            & > .ant-menu-submenu-active{
                border-bottom-color: transparent;
            }
            & > .ant-menu-item:not(.ant-menu-item-selected){
                color:#AFBCC4;
            }
            & > .ant-menu-submenu{
                background: inherit;
                .ant-menu-submenu-title:hover{
                    color:#fff;
                }
                color:#AFBCC4;
            }
           
        }
    }
    //默认主题
    &.default{
        .logo{
            position: relative;
        }
    }
    //基础公用样式
    .logo{
        position: relative;
        display: flex;
        align-items: center;
        .c-header__logo{
            height: 20px;
        }
        .c-header__title{
            font-size: 14px;
            padding-left: 10px;
            color: #ffffff;
            &.c-header__title--main{
                letter-spacing: 1px;
            }
        }
    }
    .ant-menu-horizontal{
        .ant-menu-submenu{
            color: #fff;
        }
        & > .ant-menu-submenu{
            .ant-menu-submenu-title:hover{
                color:#fff;
            }
        }
    }
}
