@import './const.scss';

.container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;

    .ant-layout {
        overflow: hidden;
        height: 100%;
        background: #fff;
    }
}

.content {
    padding: 20px 40px 20px 40px;
}

.inner-content {
    padding: 0px 20px;
    height: 100%;
    position: relative;
    overflow-y: auto;
    background: #fff;
}

.inner-container {
    padding: 20px;
    height: 100%;
    position: relative;
    background: #f2f3f8;
}

.sidebar {
    height: 100%;
    border-right: 1px solid #e9e9e9;
    .ant-tabs-content {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
    }

    .tab-menu {
        bottom: 0;
        height: 100%;
        padding-bottom: 60px;
        .ant-tabs-bar {
            margin-bottom: 0;
        }
        .ant-menu-inline, .ant-menu-vertical {
            border-right: 0;
        }
    }
}
