@import './const.scss';

/**
** 自定义antd样式
*/

.m-tabs {
    .content-border{
        &.ant-tabs{
            .ant-tabs-content{
                border-top: 1px solid #cdcdcd; 
                margin-top: -1px; 
            }
        }
    }
    .active-no-border{
        &.ant-tabs{
            .ant-tabs-nav{
                .ant-tabs-tab{
                    &.ant-tabs-tab-active:after{
                        content:"";
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }
    .nav-border{
        &.no-bottom-border{
            &.ant-tabs{
                .ant-tabs-nav{
                    .ant-tabs-tab{
                        border-bottom: 0px;
                    }
                    .ant-tabs-tab ~ .ant-tabs-tab{
                        border-bottom: 0px;
                    }
                }
            }
        }
        &.no-top-border{
            &.ant-tabs{
                .ant-tabs-nav{
                    .ant-tabs-tab{
                        border-top: 0px;
                    }
                    .ant-tabs-tab ~ .ant-tabs-tab{
                        border-top: 0px;
                    }
                }
            }
        }
        &.ant-tabs{
            overflow: unset;
            .ant-tabs-bar{
                position: relative;
                z-index: 2;
            }
            .ant-tabs-nav{
                /*选择首个tab*/
                .ant-tabs-tab{
                    &.ant-tabs-tab-active{
                        border-top-width: 0px;
                        border-bottom-width: 0px;
                    }
                    border: 1px solid #DDDDDD;
                }
                /*选择非首个tab https://stackoverflow.com/questions/6447045/css3-selector-first-of-type-with-class-name*/
                .ant-tabs-tab ~ .ant-tabs-tab{
                    &.ant-tabs-tab-active{
                        border-top-width: 0px;
                        border-bottom-width: 0px;
                    }
                    border: 1px solid #DDDDDD;
                    border-left: 0px;
                }
            }
        }
    }
    &.auto-height{
        .ant-tabs{
            height: auto;
        }
        .m-panel2{
            min-height: auto;
        }
        .m-panel{
            height: auto;
            margin: 0;
        }
    }
    
    .ant-menu {
        width: 136px;
        height: 100%;
        background: #FAFAFA;
        .ant-menu-item {
            padding: 0 38px;
            height: 36px;
            line-height: 36px;
            color: #333333;
        }
        &:not(.ant-menu-horizontal) .ant-menu-item-selected {
            background: #EBEBEB;
            color: $primaryColor;
        }
    }
    .ant-tabs {
        height: 100%;
        .ant-tabs-bar {
            background: #FAFAFA;
            border-bottom: 1px solid #DDDDDD;
            margin-bottom: 0;
            height: 36px;
        }
        .ant-tabs-nav {
            .ant-tabs-tab-active {
                background: #ffffff;
            }
            .ant-tabs-ink-bar {
                top: 0;
                bottom: auto;
                height: 3px;
            }
            .ant-tabs-tab {
                margin-right: 0;
                font-size: 12px;
                line-height: 20px;
                border-right: 1px solid #DDDDDD;
            }
        }
    }
    .m-panel {
        position: relative;
        margin: 20px;
        height: 90%;
        border: 1px solid #DDDDDD;
        &.common-padding{
            padding: 20px;
        }
    }
    .m-panel2{
        position: relative;
        background: #fff;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
        min-height: calc(100% - 36px);
    }
    .ant-tabs-nav{
        background: #FAFAFA;
    }
    .panel-content {
        width: 100%;
        position: absolute;
        padding-left: 136px;
    }
    
}
.border-table{
    .ant-spin-container{
        border-width: 1px 1px 0px 1px;
        border-color: #dcdcdc;
        border-style: solid;
        .ant-table-placeholder{
            border-bottom: 1px solid #e9e9e9;
        }
    }

}
.m-table {
    
    &.m-table-showselect{
        .ant-table-thead{
            .ant-table-selection-column>span{
                visibility:unset;
            }
        }
    }
    .ant-pagination {
        margin-right: 20px !important;
        .ant-pagination-item {
            min-width: 26px;
            height: 26px;
            line-height: 26px;
            a {
                font-size: 12px;
                color: #333333;
                letter-spacing: 0;
            }
        }
        .ant-pagination-item-active {
            background-color: #ffffff;
            border-color: $primaryColor;
            a {
                color: $primaryColor;
            }
        }
    }
    .ant-table-thead {
        .ant-table-selection-column>span {
            visibility: hidden;
        }
        &>tr>th {
            font-size: 12px;
            color: #333333;
            letter-spacing: 0;
            padding: 8.5px 8px;
        }
    }
    .ant-table-tbody>tr:hover {
        background: #E7F7FF;
    }
    .ant-table-tbody {
        &>tr>td {
            padding: 6px 8px;
            border-bottom: 1px solid $tbBorderColor;
            font-size: 12px;
        }
    }
    .ant-table-footer {
        background: #fff;
        padding: 0;
        border-bottom: 1px solid $tbBorderColor;
        &>tr>td {
            padding: 4px 8px;
            font-size: 12px;
        }
        .ant-btn {
            height: 28px;
            font-size: 12px;
            margin-right: 16px;
        }
        .ant-dropdown-button {
            margin-right: 16px;
            .ant-btn {
                margin-right:0;
            }
        }
    }
    .ant-table-placeholder {
        border-bottom: 0;
    }
}

.m-card {
    .ant-card {
        .ant-card-head {
            padding: 0 20px;
        }
        .ant-card-body {
            padding: 0;
            position: relative;
        }
    }
    .m-table {
        tr>td:first-child,
        tr>th:first-child {
            padding-left: 20px;
        }
        .ant-table-fixed-right{
            tr>td:first-child,
            tr>th:first-child {
            padding-left: 8px;
            }
        }
    }
}

.m-card-small {
    .ant-card {
        .ant-card-head {
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #DDDDDD;
        }
    }
}

.ant-input-search {
    height: 28px;
}

.m-ant-menu {
    // sidebar styles
    .ant-menu.ant-menu-inline,
    .ant-menu.ant-menu-vertical {
        background: #262E36;

        .ant-menu-sub {
            background: #2E3943;
        }

        .ant-menu-item>a,
        .ant-menu-submenu-title {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
        }
        .ant-menu-item:active,
        .ant-menu-submenu-title:active {
            background: $primaryColor;
        }
        .ant-menu-item-selected {
            background: $primaryColor;
            &>a {
                color: #ffffff;
            }
        }
    }
}

// form
.m-form-inline {
    .ant-form-item .ant-select:not(.native) .ant-select-search__field__wrap,
    .ant-form-item .ant-select:not(.native) .ant-select-search__field,
    .ant-form-item .ant-select:not(.native) .ant-select-selection--multiple,
    .ant-form-item .ant-select:not(.native) .ant-select-selection--single {
        height: 28px;
        line-height: 28px;
    }
    
    .ant-form-item .ant-select:not(.native) .ant-select-search__field__wrap .ant-select-selection__rendered,
    .ant-form-item .ant-select:not(.native) .ant-select-search__field .ant-select-selection__rendered,
    .ant-form-item .ant-select:not(.native) .ant-select-selection--multiple .ant-select-selection__rendered,
    .ant-form-item .ant-select:not(.native) .ant-select-selection--single .ant-select-selection__rendered {
        height: 28px;
        line-height: 28px;
    }

    .ant-form-item-label {
        line-height: 28px;
    }
}

.m-drop-btn {
    height: auto;
    border: 0px;
    padding: 0;
    color: #2491F7;

    &:hover, &:focus, &:active, &.active {
        background: transparent;
    }
}

.m-radio-group {
    .ant-radio-group {
        .ant-radio-button-wrapper {
            border: 0;
            padding: 0 5px;

            &:not(:first-child)::before {
                border: 0;
                width: 0;
            }

        }
        .ant-radio-button-wrapper-checked {
            &, &:hover {
                box-shadow: none;
            }
        }

    }
}

.full-screen-table-30{
    height: 'auto';
    min-height: calc(100% - 30px);
}

.full-screen-table-40{
    height: 'auto';
    min-height: calc(100% - 40px);
}

.full-screen-table-47{
    height: 'auto';
    min-height: calc(100% - 47px);
}

.full-screen-table-50{
    height: 'auto';
    min-height: calc(100% - 50px);
}

.full-screen-table-60{
    height: 'auto';
    min-height: calc(100% - 60px);
}

.full-screen-table-70{
    height: 'auto';
    min-height: calc(100% - 70px);
}

.full-screen-table-80{
    height: 'auto';
    min-height: calc(100% - 80px);
}

.full-screen-table-90{
    height: 'auto';
    min-height: calc(100% - 90px);
}

.full-screen-table-120{
    height: 'auto';
    min-height: calc(100% - 120px);
}
.no-card-border{
    .ant-card-bordered{
        border-width: 0;
    }
}
.l-dt__tabs--scroll{
    .ant-tabs-content{
        position: absolute;
        top: 36px;
        bottom: 0px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
.dt-notification{
    .ant-notification-notice-with-icon{
        .ant-notification-notice-description,
        .ant-notification-notice-message{
            margin-left: 32px;
        }
        .ant-notification-notice-message{
            color: #262626;
            line-height: 24px;
            font-weight: bold;
            margin-bottom: 8px;
        }
        .ant-notification-notice-description{
            color: #595959;
            line-height: 20px;
        }
    }
    .ant-notification-notice-close-x::after{
        font-size: 14px;
    }
    .dt-notification__close-btn{
        position: absolute;
        color:#666666;
        right:46px;
        top: 14px;
        line-height: 17px;
        font-size: 12px;
        font-weight: normal;
        user-select: none;
        &:hover{
            color:rgb(39, 39, 39);
        }
    }
}
.l-form__inline-item--stretch.ant-form-inline{
     .ant-form-item{
        width:100%;
        > div{
            width:100%
        }
    }
}