@import './const.scss';

/**
** 自定义antd样式
*/
.m-tabs {

    .ant-menu {
        width: 136px;
        height: 100%;
        background: #FAFAFA;

        .ant-menu-item {
            padding: 0 38px;
            height: 36px;
            line-height: 36px;
            color: #333333;
        }

        &:not(.ant-menu-horizontal) .ant-menu-item-selected {
            background: #EBEBEB;
            color: $primaryColor;
        }
    }

    .ant-tabs {
        height: 100%;

        .ant-tabs-bar {
            background: #FAFAFA;
            border-bottom: 1px solid #DDDDDD;
            margin-bottom: 0;
            height: 36px;
        }

        .ant-tabs-nav {
            .ant-tabs-tab-active {
                background: #ffffff;
            }
            .ant-tabs-ink-bar {
                top: 0;
                bottom: auto;
            }
            .ant-tabs-tab {
                margin-right: 0;
                font-size: 12px;
                line-height: 20px;
                border-right: 1px solid #DDDDDD;
            }
        }
    }

    .m-panel {
        position: relative;
        margin: 20px;
        height: 685px;
        border: 1px solid #DDDDDD;
    }

    .panel-content {
        width: 100%;
        position: absolute;
        padding-left: 136px;
    }
}

.m-table {

    .ant-pagination {
        margin-right: 20px !important;

        .ant-pagination-item {
            min-width: 26px;
            height: 26px;
            line-height: 26px;

            a {
                font-size: 12px;
                color: #333333;
                letter-spacing: 0;
            }
        }


        .ant-pagination-item-active {
            background-color: #ffffff;
            border-color: $primaryColor;

            a {
                color: $primaryColor;
            }
        }
    }
    .ant-table-thead {

        .ant-table-selection-column > span {
            visibility: hidden;
        }

        & > tr > th {
            font-size: 12px;
            color: #333333;
            letter-spacing: 0;
            padding: 8.5px 8px;
        }
    }

    .ant-table-tbody > tr:hover {
        background: #E7F7FF;
    }

    .ant-table-tbody {
        & > tr > td {
            padding: 6px 8px;
            border-bottom: 1px solid #E8E8E8;
            font-size: 12px;
        }
    }

    .ant-table-footer {
        background: #fff;
        padding: 0;
        border-bottom: 1px solid #E8E8E8;

        & > tr > td {
            padding: 4px 8px;
            font-size: 12px;
        }

        .ant-btn {
            height: 20px;
            line-height: 20px;
            font-size: 12px;
        }
    }

}

.m-card {

    .ant-card {

        .ant-card-body {
            padding: 0;
        }
    }
    
}

.ant-input-search {
    height: 28px;
}
