* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    margin:0;
    height:100%;
}

body {
    background-color: #ffffff;
    overflow: hidden;
}

ul,li{
    list-style: none;
}
