.app-science {
    .sidebar {
        height: 100%;
        position: relative;
        .s-catalogue {
            padding: 0px 15px 5px 12px;
            margin-top: 6px;
        }
    }
    .container{
        background: #ffffff;
        .ant-layout{
            background: #ffffff;
        }
    }
    
    header {
        .menu {
            .my-menu-item.ant-menu-submenu-horizontal.ant-menu-submenu{
                font-size: 14px;
            }
        }
    }
}