.atomicLabelDetails{

}
.dt-cardTabs{
    .title{
        font-size: 14px;
        font-weight: bolder;
        margin-bottom: 4px;
        color: #333333;
    }
    .subTitle{
        font-size: 12px;
        color: #999999;
        line-height: 20px;
        .update{
            margin-right: 12px;
        }
    }
    .btn{
        margin-left: 8px;
    }
    .ant-tabs-nav .ant-tabs-tab-active{
        font-size: 14px;
        color: rgba(0,0,0,0.85);
    }
    .ant-tabs-nav-wrap{
        margin-bottom: 0;
        .ant-tabs-ink-bar{
            bottom: 0
        }
        .ant-tabs-tab{
            margin-right: 12px;
        }
    }
}