.code-editor .monaco-editor .suggest-widget .monaco-list .monaco-list-row > .contents > .main > .readMore{
    display: none;
}
.merge-text {
    .monaco-diff-editor{
        .editor.original{
            &:before{
                content:"当前版本";
                position: absolute;
                top:-20px;
                left:30px;
                color:#8c8c8c;
                line-height: 20px;
            }
        }
        .editor.modified{
            &:before{
                content:"历史版本";
                position: absolute;
                top:-20px;
                left:30px;
                color:#8c8c8c;
                line-height: 20px;
            }
        }
    }
    position: relative;
}

.dt-monaco-line-error{
    background:rgba(255, 0, 0, 0.6);
    width: 5px !important;
    margin-left: 5px;
}
.dt-monaco-whole-line-error{
    background:rgba(255, 0, 0, 0.2);
}
.dt-monaco-link{
    cursor: pointer;
    color:#1474f1;
    text-decoration:underline;
}
.dt-monaco-link:hover{
    color:#04b4fa;
}