.c-default-page {
    position: relative;
    height: 100%;
    .c-default-page__container{
        border: 1px dashed #3599f8;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 85%;
        max-width: 1200px;
        min-width: 900px;
        padding: 70px 100px;
        .c-default-page__text {
            margin-bottom: 30px;
            color: #333333;
            font-size: 13px;
            letter-spacing: 1px;
        }
        .c-default-page__img__container {
            width: 100%;
            position: relative;
            .c-default-page__img {
                width: 100%;
                min-height: 150px;
                user-select: none;
            }
            .c-default-page__img__button {
                position: absolute;
                left: 100px;
                left: 0px;
                top: 0px;
                height: 19%;
                width: 20%;
                cursor: pointer;
            }
        }
    }
}