.graph-editor {

    .graph-bg {
        background-color: transparent;
        background-position: center -1;
        background-repeat: repeat;
    }

    .editor {
        &::-webkit-scrollbar-track {
            border: 0;
        }
    }

    .txt-bg {
        font-size: 40px;
        color: #2491f7;
        z-index: 0;
        opacity: .2;
        text-align: center;
    }
    
    .grid-bg {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IArs4c6QAAAAZQTFRF9/f3////TOsULwAAABRJREFUCNdjYGD4/5+BigR1TWMAAO29P8H0ss2LAAAAAElFTkSuQmCC);
        // background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=);
    }

    .preview-drag-vertex {
        border: 1px solid #2491F7;
        background: #DEEFFF;
        padding: 2px 0;
        text-align: center;
        font-size: 14px;

        .preview-title {
            font-family: PingFang-SC-Medium;
            font-size: 14px;
            color: #333333;
            letter-spacing: 0;
            line-height: 20px;
            display: block;
        }

        .preview-desc {
            font-family: PingFang-SC-Medium;
            font-size: 10px;
            color: #666666;
            letter-spacing: 0;
            line-height: 14px;
        }
    }

    .graph-widgets {
        width: 150px;
        position: absolute;
        border: 1px solid #DDDDDD;
        left: 20px;
        top: 20px;
        z-index: 3;
        text-align: center;
        background: #ffffff;
        height: 517px;
        overflow: auto;
        
        .widgets-header {
            height: 30px;
            line-height: 30px;
            background: #F7F7F7;
            color: #333333;
            font-size: 12px;
        }

        .widgets-content {
            padding-top: 15px;

            .widgets-items {
                width: 110px;
                height: 32px;
                cursor: move;
                margin-bottom: 15px;
                border: 1px solid #A7CDF0;
                background: #EDF6FF;
            }
        }
    }

    .ant-spin-container {
        width: 100%;
        height: 100%;
    }

    .graph-info {
        position: absolute;
        bottom: 35px;
        left: 0px;
        z-index: 999;
        width: 100%;
        border-bottom: 1px solid #DDDDDD;
        box-shadow: -2px 0 2px 0 rgba(0,0,0,0.10);
        background-color: white;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #666666;
        letter-spacing: 0;
    }

    .flow {
        stroke-width: 1;
        stroke: #2491F7;
        stroke-dasharray: 4;
        animation: dash 0.5s linear;
        animation-iteration-count: infinite;
    }
    @keyframes dash {
        to {
            stroke-dashoffset: -16;
        }
    }
    /* 悬浮框的css */
    div.titleContent {
        position: absolute;
        cursor: default;
        padding: 20px 10px;
        width: 188px;
        background: rgba(0,0,0,0.7);
        border-radius:2px;
        color: #fff;
        font-size: 12px;

        &::after {
            border-color: rgba(0,0,0,0.7) transparent;
            border-style: solid;
            border-width: 0px 5 5 5;
            height: 0px;
            width: 0px;
            content: '';
            position: absolute;
            top: -5px;
            left: 94px;
        }
    }
}

@media (max-height: 700px) {

    .graph-editor {

        .graph-widgets {
            height: 400px;
            overflow: auto;

            .widgets-content {
                padding-top: 10px;
    
                .widgets-items {
                    height: 25px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

body div.mxPopupMenu {
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    background: #FFFFFF;
    border-radius: 2px;
    border: 0;
}
body table.mxPopupMenu {
    border-collapse: collapse;
    margin: 0px;
}
body tr.mxPopupMenuItem {
    color: #666666;
    cursor: default;
}
body td.mxPopupMenuItem {
    padding: 6px 60px 6px 30px;
    font-size: 10pt;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
}
body td.mxPopupMenuIcon {
    background-color: white;
    padding: 0px;
}
body tr.mxPopupMenuItemHover {
    background-color: #E6F7FF;;
    
    .mxPopupMenuItem {
        color: #2491F7;
    }
}
table.mxPopupMenu hr {
    border-top: solid 1px #cccccc;
}
table.mxPopupMenu tr {
    font-size: 4pt;
}


.goback-list {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}

.graph-toolbar {
    position: absolute;
    z-index: 901;
    right: 14px;
    top: 20px;
    height: 18px;
    border-radius: 2px;
    text-align: center;

    img, .anticon {
        width: 18px;
        height: 16px;
        line-height: 16px;
        cursor: pointer;
        float: left;
        margin-right: 12px;
        color: #94A8C6;
    }
}

.vertex {
    user-select: none;
    margin-top: -2px;

    .vertex-title {
        width: 160px;
        text-align: left;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #333333;
        letter-spacing: 0;
        line-height: 18px;
        font-weight: normal;
        white-space: nowrap;
        .circle{
            // 过程中状态的点点点
            $width: 5px;
            width: $width;
            height: $width;
            border-radius: 50%;
            background: rgb(180,180,180);
            margin: 0 2px;
            display: inline-block;
            animation: runningCircle 1s infinite linear;
            animation-direction: alternate;
            transition: background 1s;
            &:nth-child(2){
                animation-delay: 0.5s; 
            }
            &:nth-child(3){
                animation-delay: 1s; 
            }
        }
        @keyframes runningCircle { 
            0% {background: rgb(213,213,213);}
            50% {background: rgb(180,180,180);}
            100%{background:rgb(150,150,150);}
          }
    }

    .vertex-desc {
        font-family: PingFang-SC-Medium;
        font-size: 10px;
        color: #666666;
        letter-spacing: 0;
        line-height: 14px;
        font-weight: initial;
    }

    .vertex-input {
        border: 0;
        height: 31px;
        font-size: 14px;
        color: #333333;
        position: absolute;
        background: rgb(222, 239, 255);
        left: -13px;
        top: -8px;
        width: 187px;
        display: none;
    }

    .vertex-editing {
        border: 1px solid inherit;
    }
}

.table-vertex {
    width: 160px;
    .table-vertex-content {
        height: 30px;
        line-height: 20px;
        left: 0;
        margin-left: -80px;
        text-indent: 2px;
        top: 0;
        padding: 7px 5px;
        width: 100px;
        text-align: left;
        display: inline-block;
        text-overflow: ellipsis;

        .table-vertex-title {
            margin-left: 5px;
            width: 170px;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        img {
            float: left;
            width: 16px;
            height: 16px;
        }
    }
}
div.mxTooltip {
    -webkit-box-shadow: 3px 3px 12px #747474;
    -moz-box-shadow: 3px 3px 12px #747474;
    box-shadow: 3px 3px 12px #747474;
    background: rgba(0,0,0,0.7);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-family: Arial;
    font-size: 12px;
    position: absolute;
    cursor: default;
    text-align: center;
    padding: 4px;
    color: #ffffff;
}

div.mxPopupMenu {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
table.mxPopupMenu {
	border-collapse: collapse;
	margin-top: 1px;
	margin-bottom: 1px;
}
tr.mxPopupMenuItem {
	color: black;
	cursor: pointer;
}
tr.mxPopupMenuItemHover {
	background-color: #000066;
	color: #FFFFFF;
	cursor: pointer;
}
td.mxPopupMenuItem {
	padding: 2px 30px 2px 10px;
	white-space: nowrap;
	font-family: Arial;
	font-size: 8pt;
}
td.mxPopupMenuIcon {
	background-color: #D0D0D0;
	padding: 2px 4px 2px 4px;
}
.mxDisabled {
	opacity: 0.2 !important;
	cursor:default !important;
}
// 评估报告窗口
.m-tabs {
    .ant-tabs-content {
        height: 100%;
    }
}
$martrix-item-size: 60px;
$martrix-item-border-width: 2px;
.c-martrixGraph {
    padding: 40px;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    text-align: center;
}
.c-matrixGraph__content {
    display: inline-block;
    position: relative;
}
.c-matrixGraph__left-title {
    color: #f04134;
    font-size: 16px;
    position: absolute;
    left: -30px;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    word-break: break-all;
}
.c-matrixGraph__top-title {
    color: #f04134;
    font-size: 16px;
    position: absolute;
    top: -30px;
    text-align: center;
    left: 0px;
    right: 0px;
}
.c-matrixLine {
    display: flex;
    justify-content: center;
    &:last-of-type {
        .c-matrixLine__item {
            border-bottom-width: $martrix-item-border-width;
            position: relative;
            margin-bottom: 10px;
            &:before {
                content: attr(data-index);
                position: absolute;
                bottom: -$martrix-item-size/2 - 12;
                left: 50%;
                font-size: 12px;
                transform: translateX(-50%);
                color: rgba(0, 0, 0, 0.65);
            }
        }
    }
    &:before {
        content: attr(data-index);
        line-height: $martrix-item-size;
        padding-right: 5px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.65);
    }
}
.c-matrixLine__item {
    flex-shrink: 0;
    flex-grow: 0;
    height: $martrix-item-size;
    width: $martrix-item-size;
    max-height: $martrix-item-size;
    line-height: $martrix-item-size;
    text-align: center;
    border-style: solid;
    border-color: #999999;
    font-size: 14px;
    font-weight: bold;
    border-width: $martrix-item-border-width 0px 0px $martrix-item-border-width;
    &:last-of-type {
        border-right-width: $martrix-item-border-width;
    }
}



