@import './siderbar.scss';
@import './panelGroup.scss';
@import './mainBench.scss';
@import './defaultView.scss';
@import './modelView.scss';
@import './graph.scss';

@mixin set-catalogue-top ($top) {
    top: $top;
}
@mixin set-catalogue-overflow ($val) {
    overflow: $val;
}
.s-catalogue__comm {
    @include set-catalogue-top(35px);
    @include set-catalogue-overflow(auto);
    padding: 0px 15px 5px 12px;
    margin-top: 6px;
}
.s-resource-catalogue__cus {
    @include set-catalogue-top(0);
    @include set-catalogue-overflow(unset);
    padding: 0px 0px 5px 12px;
}
.sidebar {
    &.c-component-siderbar{
        .s-catalogue{
            top: 10px;
        }
    }
   .s-catalogue {

        position: absolute;
        right: 0px;
        left: 0px;
        bottom: 0px;
        // padding: 6px 15px 5px 12px;
        // overflow: auto;

        .ant-tree {

            li {
                padding: 4px 0 0 0;
                .ant-tree-node-content-wrapper {
                    padding: 5px 5px;

                    .tree-node-hover-items {
                        display: none;
                        position: absolute;
                        right: 12px;
                        top: 7px;
                    }

                    .tree-node-hover-item {
                        font-size: 14px;
                        width: 14px;
                        height: 14px;
                        color: #333333;
                        cursor: pointer;
                        line-height: 14px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }

                    &:hover .tree-node-hover-items  {
                        display: inline-block;
                    }
                }

                span.ant-tree-iconEle,
                span.ant-tree-switcher {
                    width: 16px;
                }
                
                span.ant-tree-switcher {
                    height: 28px;
                    line-height: 28px;
                }
    
                span.ant-tree-iconEle {
                    &.ant-tree-icon_loading{
                        position: relative;
                        transform: none;
                        left: initial;
                        background-color: transparent;
                        top: 0;
                        &::after{
                            position: absolute;
                            left: -100%;
                            background: #f5f5f5;
                        }
                    }
                    margin-top: -2px;
                    margin-right: 3px;
                    background-size: cover;
                    background-position: center center;
                    height: 16px;
                    line-height: 16px;
                }
                .ant-tree-icon__open{
                    background-image: url(/public/science/img/icon/open-folder.svg);
                }
                .ant-tree-icon__close{
                    background-image: url(/public/science/img/icon/folder.svg);
                }
            }

        }
   }
}

.o-tree-icon--normal {
    .ant-tree-iconEle {
        background-image: url(/public/science/img/database.svg);
    }
}
.o-tree-icon--notebook {
    .ant-tree-iconEle::before {
        color: #2491F7;
        font-size: 16px;
        content: "\E637";
        display: block;
        font-family: "anticon" !important;
    }
}
.o-tree-icon--notebook_python {
    .ant-tree-iconEle {
        background-image: url(/public/rdos/img/python.svg);
        width: 14px;
        height: 14px;
    }
}
.o-tree-icon--notebook_python2 {
    .ant-tree-iconEle {
        background-image: url(/public/rdos/img/python2.svg);
        width: 14px;
        height: 14px;
    }
}
.o-tree-icon--notebook_python3 {
    .ant-tree-iconEle {
        background-image: url(/public/rdos/img/python3.svg);
        width: 14px;
        height: 14px;
    }
}
.o-tree-icon--notebook_pyspark {
    .ant-tree-iconEle {
        background-image: url(/public/rdos/img/spark_python.svg);
        width: 14px;
        height: 14px;
    }
}
.o-tree-icon--experiment {
    .ant-tree-iconEle::before {
        color: #2491F7;
        font-size: 16px;
        content: "\E6D7";
        display: block;
        font-family: "anticon" !important;
    }
}
.sidebar .ant-tree .anchor-component-file {
    // 数据源/目标
    &.o-tree-icon--data-source .ant-tree-iconEle::before{
        font-size: 14px;
        content: "\E650";
        display: block;
        font-family: "anticon" !important;
    }
    // 数据工具
    &.o-tree-icon--data-tools .ant-tree-iconEle::before{
        font-size: 14px;
        content: "\E6D9";
        display: block;
        font-family: "anticon" !important;
    }
    // 数据合并
    &.o-tree-icon--data-merge .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/data_merge.svg);
        width: 14px;
        height: 14px;
    }
    // 预测
    &.o-tree-icon--data-pre-hand .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/data_prehand.svg);
        width: 14px;
        height: 14px;
    }
    // 机器学习
    &.o-tree-icon--machine-learning .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/machine_learning.svg);
        width: 14px;
        height: 14px;
    }
    // 数据预测
    &.o-tree-icon--data-predict .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/data_predict.svg);
        width: 14px;
        height: 16px;
    }
    // 数据评估
    &.o-tree-icon--data-evaluate .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/data_evaluate.svg);
        width: 14px;
        height: 14px;
    }
    // gbdt
    &.o-tree-icon--machine-gbdt .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/gbdt.svg);
        width: 14px;
        height: 14px;
    }
    // kmeans
    &.o-tree-icon--machine-kmeans .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/kmeans.svg);
        width: 14px;
        height: 14px;
    }
    // 回归模型
    &.o-tree-icon--data-rc .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/regressionClassificcation.svg);
        width: 14px;
        height: 14px;
    }
    // 聚类模型
    &.o-tree-icon--data-um .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/unionModel.svg);
        width: 14px;
        height: 14px;
    }
    // 标准化
    &.o-tree-icon--data-merge-standard .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/standard.svg);
        width: 14px;
        height: 14px;
    }
    // 缺失值填充
    &.o-tree-icon--data-merge-missval .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/miss-val.svg);
        width: 14px;
        height: 14px;
    }
    // svm
    &.o-tree-icon--machine-svm .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/svm.svg);
        width: 14px;
        height: 14px;
    }
    // 混淆矩阵
    &.o-tree-icon--confusion-matrix .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/confusion-matrix.svg);
        width: 14px;
        height: 14px;
    }
    // one-hot
    &.o-tree-icon--one-hot .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/one-hot.svg);
        width: 14px;
        height: 14px;
    }
    // python
    &.o-tree-icon--python .ant-tree-iconEle {
        background-image: url(/public/science/img/icon/python.svg);
        width: 14px;
        height: 14px;
    }    
}
.s-tree-folder {
    &>.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/folder.svg);
    }
}

.s-tree-item {
    &>.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/file.svg);
    }
}

.s-database {
    .ant-tree-node-content-wrapper>.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/database.svg);
    }
}

.s-table {
    .ant-tree-node-content-wrapper >.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/table.svg);
    }
}

.s-datamap {
   .ant-tree-node-content-wrapper>.ant-tree-icon__docu {
        background-image: url(/public/analyticsEngine/img/datamap.svg);
    }
}
// 资源
.s-jaricon-r {
    .ant-tree-icon__docu {
        background-image: url(/public/rdos/img/icon/jaricon.svg);
    }
}
.s-pythonicon-r {
    .ant-tree-icon__docu {
        background-image: url(/public/rdos/img/icon/pyicon.svg)
    }
}
.s-zipicon-r {
    .ant-tree-icon__docu {
        background-image: url(/public/rdos/img/icon/zipicon.svg)
    }
}
.s-eggicon-r {
    .ant-tree-icon__docu {
        background-image: url(/public/rdos/img/icon/eggicon.svg)
    }
}
.s-othericon-r {
    .ant-tree-icon__docu {
        background-image: url(/public/rdos/img/icon/othericon.svg)
    }
}
// 资源folder
.s-resource_file_wrap_close {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #dddddd;
    height: 35px;
    width: 100%;
    background: #f5f5f5;
}
.s-resource-folder-wrap_open {
    height: 35px;
    width: 100%;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;

}
.s-resource-floder-fixed {
    height: 100%;
    & > li {
        height: 100%;
    }
    & > li > ul {
        margin-top: 5px;
        padding-bottom: 35px;
        height: 100%;
        overflow: auto;
    }

}
.s-resource_dropdown {
    position: absolute;
    top: 9px;
    right: 10px;
}
.table-detail-container{
    .ant-pagination{
        .ant-pagination-item-active{
            border: 1px solid #2491F7;
            background-color: white;
            a{
                color: #2491F7;
            }
        }
    }

    .ant-table-small{
        border-left: none;
        border-right: none;
    }
    .ant-tabs-tabpane{
        height: auto;
    }
    .tabs-container{
        border: 1px solid #DDDDDD;
        border-top: none;
        border-right: none;

    &>.ant-tabs {

        .ant-tabs-bar {
            margin-bottom: 0;
            .ant-tabs-ink-bar{
                top: 0;
                visibility: visible;
            }
            .ant-tabs-nav-container{
                height: 36px;
            }
            .ant-tabs-tab{
                height: 35px;
                display: inline-flex;
                align-items: center;
                border-left: 0;
                margin-right: 0;
            }
            .ant-tabs-tab-active{
                height: 36px;
            }
        }
        .ant-tabs-content{
            padding-top: 10px;
            height: auto;
            border-right: 1px solid #dddddd;
        }
            table{
                background-color: #F5F5F5;
                padding: 0;
            }
            .ant-table-body{
                overflow-y: hidden;
                overflow-x: scroll;
            }

            .ant-table-small {
                .ant-table-tbody {
                    tr{
                        td{
                            background: white;
                            padding: 7px 20px;
                            font-size: 12px;
                            color: #333333;
                            white-space: nowrap;
                        }
                    }
                }
            }
            .ant-table-thead{
                // background-color: #F5F5F5;
                th{
                    background-color: #F5F5F5;
                    padding: 6.5px 21px;
                    span{
                        font-size: 12px;
                        font-weight: normal;
                        white-space: nowrap;

                    }
                }
            }
    }
    }
    .tabs-row{
        padding: 0 20px;
    }
    .table-detail-panel{
        padding: 0 20px 0 21px;
        margin-top: 27px;
        margin-bottom: 31px;
        .func-box{
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            align-items: center;
            line-height: 1;
            .title{
                font-size: 14px;
                color: #333333;
            }
            .btn{
                width: 112px;
                height: 26px;
                border-radius: 2px;
            }
        }
    }
}
