.m-mainbench {

    .ide-toobar-select {
        margin-left: 10px;
        width: 120px;
        .ant-select-selection--single {
            height: 26px;
        }

        .ant-select-selection__rendered {
            line-height: 24px;
        }
    }


    .pane-wrapper {
        overflow: auto;
        padding-bottom: 80px;
    }

    &>.ant-tabs {

        &.experiment {
            
            .ant-tabs-content.ant-tabs-content-no-animated {
                height: 0px;
                min-height: 0px;
                border-bottom: 0px;
                background: #fff;
            }
        }

        &>.ant-tabs-bar {

            margin-bottom: 0px;
            border-radius: 0px;
            margin-left: -1px;
            border-left: none;

            .ant-tabs-tab {
                margin-right: 0px;
                line-height: 20px;
                padding-left: 28px;
                padding-right: 26px;
                border-left: none;
                text-align: left;
                min-width: 150px;
                border-radius: 0;
                border-bottom: 1px solid #dddddd;
                background: #FAFAFA;
                font-size: 12px;
                color: #333333;

                .anticon-close {
                    margin-top: -5px;
                    line-height: 10px;
                    opacity: 0;
                    font-size: 11px;
                }
            }

            .tab-ellipsis {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 120px;
                color: #333333;
            }

            .ant-tabs-tab-active {
                background: #fff;
                border-color: #dddddd;
                color: #2491F7;
            }

            .ant-tabs-tab:hover .anticon-close {
                opacity: 1;
            }

            .ant-tabs-tab-active:after {
                content: "";
                position: absolute;
                top: -1px;
                left: -1px;
                right: -1px;
                height: 3px;
                z-index: 3;
                opacity: 0.8;
                background: #2491F7;
            }
        }
    }
}
.c-panel{
    position: relative;
    height: 100%;
    .c-panel__content{
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 30px;
        padding-bottom: 32px;
    }
    .c-panel__siderbar{
        position: absolute;
        right: 0px;
        height: 100%;
        .c-panel__siderbar__header {
            padding: 10px 14px;
            font-size: 14px;
            font-weight: bold;
            color: #333333;
            line-height: 20px;
            border-bottom: 1px solid #DDDDDD;
        }
        .c-panel__siderbar__title__icon {
            margin-right: 0px;
            margin-bottom: 2px;
        }
        .c-panel__siderbar__form {
            padding: 20px 15px;
            .ant-form-item {
                margin-bottom: 10px;
            }
            .ant-input-disabled{
                background-color: #e5e5e5;
            }
            .ant-form-item-label label {
                font-size: 14px;
            }
            .ant-radio-wrapper{
                white-space: normal;
            }
        }
    }
}
