.c-model-view{
    padding: 20px;
    height: 100%;
    overflow: auto;
    .c-model-view__header{
        line-height: 22px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        margin-bottom: 20px;
    }
    .c-model-view__table__header{
        margin-bottom: 10px;
    }
}