.c-group-tabs{
    .ant-tabs-bar{
        margin-bottom: 0px;
    }
    .ant-tabs-content{
        height: calc(100% - 36px);
    }
    .c-group-tabs__tab--dirty::after {
        content:'';
        position: absolute;
        top: 11px;
        right: 5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(242, 81, 30, 0.7);
    }
    .c-group-tabs__icon{
        position: absolute;
        top: 9px;
        left: 10px;
    }
}