.c-group-tabs{
    >.ant-tabs {
        height: 100%;
        >.ant-tabs-content{
            >.ant-tabs-tabpane{
                height: 100%;
            }
            height: calc(100% - 32px);
        }
    }
    .ant-tabs-bar{
        margin-bottom: 0px;
    }
   
    .ant-tabs-tab:hover {
        .c-group-tabs__tab--dirty::after {
            background-color: transparent;
            transition: all 0.3s;
        }
    }
    .c-group-tabs__tab--dirty {
        &::after {
            content:'';
            position: absolute;
            top: 11px;
            right: 5px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgba(242, 81, 30, 0.7);
        }
    }
    .c-group-tabs__icon{
        position: absolute;
        top: 9px;
        left: 10px;
    }
    .ant-btn-danger:hover, .ant-btn-danger:focus{
        color: #f04134;
        border-color: #f04134; 
    }
}