.c-antd-tabs-sidebar{
    height: 100%;
    >.ant-tabs-bar{
        height: 100%;
    }
    &.u-pane--hidden {
        .ant-tabs-content {
            display: none;
        }
    }
    .ant-tabs-nav .ant-tabs-tab .anticon {
        &.c-antd-tabs-sidebar__tab__icon {
            line-height: 16px;
            font-size: 14px;
            width: auto;
            height: 16px;
            margin: 0;
            margin-bottom: 2px;
            color: #FFFFFF;
            &.c-antd-tabs-sidebar__tab__icon--inline {
                padding-bottom: 49px;
            }
        }
    }
    .c-antd-tabs-sidebar__text--inline {
        writing-mode: rl-tb;
        position: absolute;
        width: 100%;
        left: 0px;
        letter-spacing: 0px;
        bottom: 23px;
        text-align: center;
        word-break: break-all;
        line-height: 13px;
        font-size: 12px;
        transform: scale(0.9);
        white-space: initial;
    }
    .c-antd-tabs-sidebar__tab__img__icon {
        height: 18px;
        width: 18px;
        margin-bottom: 2px;
    }
    .toolbar {
        padding: 7px;
        border-bottom: 1px solid #dddddd;
 
        .btn-icon {
            display: inline-block;
            font-size: 15px;
            line-height: 27px;
            margin-right: 12px;
            cursor: pointer;
        }
    }
    .ant-tabs-nav-wrap{
        background:#262E36;
        color: #fff;
    }
    .ant-tabs-nav {
        .ant-tabs-tab-active{
            color: #fff;
            background: #2491F7;
        }
    }
    &.ant-tabs-vertical.ant-tabs-left > .ant-tabs-content {
        >.ant-tabs-tabpane{
            height: 100%;
        }
        height: 100%;
        padding-left: 0px;
        background: #f5f5f5
    }
    > .ant-tabs-bar  {
        .ant-tabs-tab {
            height: auto;
            padding: 18px 8px;
            writing-mode: tb-rl;
            letter-spacing: 3px;
            margin-bottom: 0;
            font-size: 13px;
            line-height: 14px;
            user-select: none;
            & ~ .ant-tabs-tab {
                border-top: 1px solid rgba(255,255,255,0.2);
            }
        }
        
    }
}
// 右边的tabs
.ant-tabs-vertical.ant-tabs-right {
    &.c-panel-siderbar.c-panel-siderbar--open{
        width: 389px;
    }
    >.ant-tabs-content {
        padding-right: 0;
        // 组件参数tab框
        .tab-content {
            // 参数

            // 补充说明解释的文字
            .supplementary {
                font-size: 12px;
                color: #666;
                margin-left: 5px;
            }
            // 表格组件
            table.params-table {
                width: 100%;
                border: 1px solid #dddddd;
                background: #FFFFFF;
                border-collapse: collapse;
                line-height: 40px;

                .table-font {
                    width: 50%;
                    font-size: 13px;
                    color: #333333;
                    font-weight: normal;
                    text-align: left;
                    padding-left: 20px;
                }

                thead {
                    th {
                        @extend .table-font;
                    }
                }

                tbody {
                    th {
                        @extend .table-font;
                    }
                }
            }

            .params-tabs {
                >.ant-tabs-bar {
                    .ant-tabs-nav-container{
                        height: 40px;
                    }
                    .ant-tabs-nav {
                        width: 100%;
                        display: flex;
                    }

                    .ant-tabs-tab {
                        border: 0;
                        flex-grow: 1;
                        background: transparent;
                        text-align: center;
                        font-size: 14px;
                        color: #333333;
                        margin: 0;
                        line-height: 2;
                        border-right: 1px solid #dddddd;

                        &:last-child {
                            border-right: 0
                        }
                    }

                    .ant-tabs-tab-active {
                        color: #2491F7;
                    }
                }
                >.ant-tabs-content {
                    >.ant-tabs-tabpane {
                        height: 100%;
                        background: #F5F5F5;
                        padding: 9.5px 14px;
                    }
                }

                // 表选择表单的style
                .params-form {
                    .ant-form-item {
                        margin-bottom: 20px;
                    }

                    .ant-form-item-label {
                        >label {
                            font-size: 14px;
                            color: #333333;
                            line-height: 20px;
                        }
                    }
                }

            }

            .params-single-tab {
                @extend .params-tabs;
                width: 100%;

                .params-single-tab-head {
                    font-size: 14px;
                    color: #333333;
                    line-height: 40px;
                    border-bottom: 1px solid #DDDDDD;
                    padding-left: 14px;
                }

                .params-single-tab-content {
                    padding: 9.5px 0px;
                    
                    >*:not(.params-collapse) {
                        padding: 0px 14px;
                    }
                    .params-collapse {
                        .ant-collapse-item{
                            padding: 0px 14px;
                        }
                    }
                }
            }

            .params-collapse {
                background-color: transparent;

                .ant-collapse-item {
                    border-bottom: 0;

                    .ant-collapse-header {
                        line-height: 20px;
                        padding: 0;
                        font-size: 14px;
                        color: #333333;
                        padding-left: 15px;

                        i.arrow {
                            top: -10px;
                            left: 0;
                            font-size: inherit;
                            color: inherit;
                        }
                    }

                    .ant-collapse-content {
                        border-top: 0;
                        padding: 0;

                        >.ant-collapse-content-box {
                            padding-top: 10px;
                            padding-bottom: 0;
                        }
                        .toolbar {
                            background: #fff;

                            button {
                                border: 0;
                            }
                        }
                    }
                }
            }

            /* 穿梭框 */
            .params-transfer{
                display: grid;
                grid-template-columns: 1fr 20px 1fr;
                grid-gap: 10px;
                justify-items: center;
                align-items: center;
                height: 400px;
                .ant-transfer-list{
                    width: 100%;
                    .ant-transfer-list-search-action > i {
                        line-height: inherit;
                    }
                }

                .ant-transfer-operation{
                    margin: 0;
                }
            }
        }
    }

    // 组件说明
    .panel-description {
        margin: 9.5px 14px;
        background: #fff;
        border: 1px solid #DDDDDD;
        padding: 16px;
        min-height: 248px;
        font-size: 13px;
        color: #333333;
    }
}