.theme-white {
    * {
        &::-webkit-scrollbar-track {
            border: 1px solid #e9e9e9;
            border-top: none;
            border-right: none;
        }

        &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #c2c2c2;
        }
    }

    .task-tab-menu {
        &>.ant-tabs-bar {
            .ant-tabs-tab {
                &.ant-tabs-tab-active {
                    background: #2491F7;
                    color: #FFFFFF;
                }
            }
            .ant-tabs-ink-bar {
                left: 0;
                width: 0px;
            }
        }
    }
}