.dataSync_form-object__normal {
    display: inline-block;
    margin-right: 4px;
    color: #ff5f5c;
    font-size: 12px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
}
