.tagValues{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    .tag-item{
        position: relative;
        cursor: pointer;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 2px;
        padding: 0 20px 0 12px;
        height: 32px;
        margin-bottom: 12px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .iconfont{
            position: absolute;
            top: 2px;
            right: 0;
            color:#999999;
        }
        &.error{
            border: 1px solid red;
            color:red;
            .iconfont{
                color:red;
            }
        }
        &.active{
            border: 1px solid #2491F7;
            color:#2491F7;
            .iconfont{
                color:#2491F7;
            }
        }
        &:hover{
            border: 1px solid #2491F7;
            color:#2491F7;
            .iconfont{
                color:#2491F7;
            }
        }
    }
    .plus-circle{
        position: relative;
        top: 2px;
        cursor: pointer;
        font-size: 18px;
        color:#2491F7;
    }
    .card{
        cursor: move;
        margin-right:12px;
    }
}
.tagValues_copy{
    font-size: 12px;
    margin-right: 8px;
}
.tagValues_delete{
    font-size: 12px;
    margin-right: 8px;
    margin-bottom:7px;
}
.tagValues_item{
    padding: 7px 12px 0 8px;
}