.data-info {
  .title-wrappe {
    margin: 20px 0 14px;
    width: 100;
    height: 20px;
    line-height: 20px;
    .title {
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC, sans-serif;
      font-weight: 400;
      color: #666666;
      line-height: 20px;
    }
    .sumary {
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC, sans-serif;
      font-weight: 400;
      color: #333333;
      line-height: 20px;
    }
    .float-left {
      float: left;
    }
    .float-right {
      float: right;
    }
  }
  .ant-table-tbody > tr > td {
    padding: 0px 8px;
    line-height: 44px;
  }
}
