.data-info {
  .title {
    width: 48px;
    height: 20px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
    margin: 20px 0 14px;
  }
  .ant-table-tbody > tr > td {
    padding: 0px 8px;
    line-height: 44px;
  }
}
