.progress-bar {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 900000;
    width: 100%;
    height: 1px;
    background: #18a689;
    box-shadow: 0px 1px 3px #18a689;
    animation: loading-anim 1s ease-in-out infinite;
}

.progress-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    z-index: 900000;
}

@-webkit-keyframes loading-anim {
    to {
        transform: translateX(200%)
    }
}

@keyframes loading-anim {
    to {
        transform: translateX(200%)
    }
}

