.distribute-table-box{
    position: relative;
    margin-bottom: 20px;
    display: flex;
    &:first-child {
        margin-top: -18px;
    }
    &__ant-card {
        border-radius: 4px;
        flex: 1;
        .ant-form-item {
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .card-select {
            border: 1px solid #dddddd;
            border-radius: 4px;
            padding: 12px;
            line-height: 0;
            &__ant-tag {
                margin: 0 8px 8px 0;
                height: 24px;
                line-height: 24px;
                border-radius: 2px;
                border: 1px solid #f5f5f5;
                max-width: 100%;
                display: flex;
                align-items: center;
                & > span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: inline-block;
                    flex: 1;
                }
            }
            &_btn-edit {
                display: block;
                line-height: 12px;
                margin-top: 4px;
            }
        }
    }
    &__icon-delete {
        margin-left: 20px;
        margin-top: 24px;
        line-height: 32px;
    }
}