# Read more: https://gitlab.com/gitlab-org/gitlab-ce/tree/v8.6.4/doc/ci/yaml

cache:
  paths:
   - node_modules/

before_script:
  - "yarn install"

stages:
  - lint
  - lintdoc
  - check-types
  - test
  - deploy

code_quality: 
  stage: lint
  script: 
    - npm run lint
  only:
    # Just support (fix, dev_, feat, issue) trigger test
    - /(f|F)ix|(d|D)ev_|(f|F)eat|(i|I)ssue|ref|style|perf|next/
    - merge_requests
  except:
    - dev
    - master
    - /doc(s)/

check_types:
  stage: check-types
  script: 
    - npm run check-types
  only:
    # merge_requests not support current version
    # Just support (fix, dev_, feat, issue) trigger test
    - /(f|F)ix|(d|D)ev_|(f|F)eat|(i|I)ssue|ref|perf|next/
    - merge_requests
  except:
    - dev
    - master
    - /doc(s)/


test:
  stage: test
  script: 
    - npm run test
  only:
    # merge_requests not support current version
    # Just support (fix, dev_, feat, issue) trigger test
    - /(f|F)ix|(d|D)ev_|(f|F)eat|(i|I)ssue|ref|perf|next/
    - merge_requests
  except:
    - dev
    - master
    - /doc(s)/

doc_quality:
  stage: lintdoc
  script: 
    - npm run lint-doc
  only:
    - merge_requests # not support current version
    - /doc(s)|release/
    - master

# build_to_dev: # deploy dev environment
#   stage: deploy
#   script:
#     - "./scripts/build_dev.sh"
#   only:
#     - dev
  
