.entity-edit{
    // margin: 20px;
    .entity_edit_content{
        background: #FFFFFF;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
        padding: 20px; 
        .step_wrap{
            padding: 20px 200px 30px;
        } 
        .step_content{
            background: #FAFAFA;
            border: 1px dashed #E9E9E9;
			min-height: 500px;
		}
		.ant-steps .ant-steps-head-inner > .ant-steps-icon {
			line-height: unset;
		}
		.steps-action {
			display: flex;
			justify-content: center;
			align-items: center;
		}
    }
}

.dimension-infor {
	width: 1060px;
	margin: 0 auto;
	padding: 0px 0px 20px;
	.top-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 0px;
		.ant-input-search-icon {
			color: #999;
		}
	}
	.di-table-border {
		border-top: 1px solid #e9e9e9;
		border-left: 1px solid #e9e9e9;
		border-right: 1px solid #e9e9e9;
		.ant-table-tbody > tr > td {
			padding: 11px 24px !important;
		}
	}
	.di-table-name-col {
		display: flex;
		width: 100%;
		align-items: center;
		margin-left: -54px;
		.tag-box {
			width: 42px;
			text-align: right;
			margin-right: 12px;
		}
	}
}

.atomic-label {
	width: 1060px;
	margin: 0 auto;
	padding: 0px 0px 20px;
	.top-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 0px;
	}
	.al-table-border {
		border-top: 1px solid #e9e9e9;
		border-left: 1px solid #e9e9e9;
		border-right: 1px solid #e9e9e9;
		.ant-table-tbody > tr > td {
			padding: 11px 24px !important;
		}
	}
}

.ee-finish-part {
	width: 500px;
	margin: 0px auto;
	padding: 83px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
	color: #666666;
}

.label-detail-content {
	.ant-popover-content > .ant-popover-arrow {
		display: none !important;
	}
	.ant-popover-inner-content {
		padding: 0px;
	}
	.ant-table-tbody > tr > td {
		padding: 10px 12px !important;
		border-bottom: 0px solid #fff;
	}
	.ant-table-tbody > tr:nth-child(even) > td {
		background: #FAFAFA;
	}
	.ant-table-thead > tr > th {
		padding: 10px 12px !important
	}
	
}