
.source-page {
	h3 {
	    font-weight: 700;
    	color: #9fa9ba;
    	font-size: 16px;
    	padding: 10px 0;
	}

	
}

.vertical-center-modal {
	.help-doc {
	    position: absolute;
	    right: -20px;
	    top: 10px;
	}
}