.m-l-8 {
	margin-left: 8px;
}

.m-r-8 {
	margin-right: 8px;
}

.check-dashboard {
	.filter-action {
		font-size: 12px;
	}

	/*.action-panel {
    	display: flex;
    	justify-content: space-between;
    	margin-bottom: 20px;

    	

    	.action-item {
    		margin-left: 10px;
    	}
    }*/
}

.check-setting {
 	.setting-item {
 		margin: 15px 0;
 	}

 	h3 {
	    font-weight: 700;
	    color: #9fa9ba;
	    font-size: 16px;
	    padding: 10px 0;
 	}

  	.batch-body {
    	padding: 35px 50px 0;
		background: #FFF;

    	.ant-steps-icon {
			line-height: 23px;
    	}
		
		.preview-table {
			margin-top: 10px;
		}

	    .steps-content {
	    	margin: 40px 0;
	    	padding: 40px 0;
	      	border: 1px dashed #e9e9e9;
	      	border-radius: 6px;
	      	min-height: 200px;
	      	background: #fafafa;

	      	.preview-text {
	      		p {
					margin: 3px 0;
	      			font-size: 14px;
	      		}
	      	}

			.ant-form-item-control {
				line-height: 32px;
			}

	      	.diffrule-table {
	      		background: #FFF;

	      		p {
	      			height: 26px;
	      			line-height: 26px;
	      		}

	      		.ant-input-number {
	      			margin: 0 8px;
	      		}
	      	}
	    }

	    .steps-done {
	      	height: 200px;
	      	line-height: 200px;
	      	text-align: center;
	      	i {
	        	margin-right: 10px;
	        	font-size: 16px;
	        	color: #009944;
	      	}
	    }

	    .steps-result {
	      	margin-top: 20px;
	      	text-align: center;
	      	i {
	        	margin-right: 10px;
	        	font-size: 16px;
	        	color: #009944;
	      	}
	      	.btn-wrap {
	        	margin-top: 40px;
	        	.ant-btn {
	          		margin: 0 10px;
	        	}
	      	}
	    }
  	}

  	.steps-action {
    	/*margin: 20px 20px 0;*/
    	padding: 16px 0;
    	border-top: 1px solid #e9e9e9;
    	text-align: right;
  	}
 }

    .m-keymapbox {
        position: relative;
        width: 100%;
        height: 60%;
		min-height: 180px;
        .pa {
            position: absolute;
        }
        .m-col {
            border-bottom: 1px dotted #ccc;
            background: #eee;
            line-height: 40px;
            &.title {
                background: #ddd;
            }
            &.footer {
                cursor: pointer;
                background: #eee;
            }
            .cell {
                float: left;
                box-sizing: border-box;
                padding: 0 10px;
                text-align: left; // overflow: hidden;
                // text-overflow: ellipsis;
                font-size: 11px;
                &:first-child {
                    width: 40%;
                    font-weight: bold;
                }
                &:nth-child(2) {
                    width: 40%;
                    text-align: left;
                }
                &:nth-child(3) {
                    width: 20%;
                    text-align: right;
                }
            }
            .remove-cell,
            .edit-cell {
                display: inline-block;
                position: absolute;
                top: 14px;
                cursor: pointer;
                font-weight: normal;
                z-index: 9;
            }
            .four-cells {
                .cell {
                    &:first-child {
                        width: 30%;
                        font-weight: bold;
                    }
                    &:nth-child(2) {
                        width: 30%;
                        text-align: left;
                    }
                    &:nth-child(3) {
                        width: 20%;
                        text-align: right;
                    }
                    &:nth-child(4) {
                        width: 20%;
                        text-align: right;
                    }
                }
            }
            .remove-cell {
                right: 23px;
            }
            .edit-cell {
                right: 10px;
            }
        }
        .mapline {
            cursor: url(/public/rdos/img/del.png?t=3), auto;
        }
        .dl {
            .dag-circle {
                cursor: crosshair;
            }
        }
    }
    .m-buttons {
        padding-top: 10px;
        button {
            margin-bottom: 5px;
        }
    }
    .cell-input {
        height: 28px;
        margin: 5px 5px 5px 0px;
        width: 100%;
        text-align: left;
        background-color: transparent;
        background-image: none;
        border: none;
    }

.step-3 {
	.keymap-title {
		font-size: 14px;
		color: #ccc;
		text-align: center;
	}

	.keymap-content {
		padding: 20px 0;

		.canvas-content {
			margin: 0 -15px;
			z-index: 99;
		}

		.keymap-table {
			.ant-table-thead {
		        .ant-table-selection-column > span {
		            visibility: hidden;
		        }

		        & > tr > th {
		            padding: 9px 8px;
		            font-size: 14px;
		            color: #333333;
		            letter-spacing: 0;
		        }
		    }
		    
		    .ant-table-tbody {
		        & > tr > td {
		            padding: 10px 8px;
		            border-bottom: 1px solid #E8E8E8;
		            font-size: 14px;
		        }
		    }
		}

		.dl {
            .dag-circle {
                cursor: crosshair;
            }
        }


		.keymap-action {
			margin-left: 10px;

			button:first-child {
				margin-bottom: 10px;
			}
		}
	}


}
