.content {
    padding: 20px 40px 40px 40px;
    overflow-y: auto;
    height: 100%;
    /*background: #f2f3f8;*/
}

.flex {
	display: flex;
}

.m-l-8 {
	margin-left: 8px;
}

.m-r-8 {
	margin-right: 8px;
}

.check-list {
	.action-panel {
    	display: flex;
    	justify-content: space-between;
    	margin-bottom: 20px;

    	.ant-input-group {
    		width: auto;
    	}

    	.action-item {
    		margin-left: 10px;
    	}
    }

    .list-table {
    	background: #FFF;
    }
}

.check-setting {
 	.setting-item {
 		margin: 15px 0;
 	}

 	h3 {
	    font-weight: 700;
	    color: #9fa9ba;
	    font-size: 16px;
	    padding: 10px 0;
 	}

  	.batch-body {
    	padding: 35px 50px;
		background: #FFF;

    	.ant-steps-icon {
			line-height: 1.5;
    	}

	    .steps-content {
	    	margin: 40px 0;
	      	border: 1px dashed #e9e9e9;
	      	border-radius: 3px;
	      	background: #fafafa;

	      	.steps-main {
	        	min-height: 200px;
	        	padding: 25px;
	      	}

	      	.table-view {
	      		font-size: 14px;

	      		p {
					margin: 3px 0;
	      		}

	      		button {
	      			margin-top: 10px;
	      			margin-bottom: 5px;
	      		}
	      	}
	    }

	    .steps-done {
	      	height: 200px;
	      	line-height: 200px;
	      	text-align: center;
	      	i {
	        	margin-right: 10px;
	        	font-size: 16px;
	        	color: #009944;
	      	}
	    }

	    .steps-result {
	      	margin-top: 20px;
	      	text-align: center;
	      	i {
	        	margin-right: 10px;
	        	font-size: 16px;
	        	color: #009944;
	      	}
	      	.btn-wrap {
	        	margin-top: 40px;
	        	.ant-btn {
	          		margin: 0 10px;
	        	}
	      	}
	    }
  	}

  	.steps-action {
    	/*margin: 20px 20px 0;*/
    	padding: 16px 0;
    	border-top: 1px solid #e9e9e9;
    	text-align: right;
  	}
 }