.check-setting {
	.keymap-title {
		font-size: 14px;
		color: #ccc;
		text-align: center;
	}

	.keymap-content {
		padding: 20px 0;

		.canvas-content {
			margin: 0 -15px;
			z-index: 99;
		}

		.keymap-table {
			background: #fff;

			.ant-table-thead {
		        & > tr > th {
		            height: 40px;
		        }
		    }
		    
		    .ant-table-tbody {
		        & > tr > td {
		            height: 40px;
		            overflow: hidden;
		            white-space: nowrap;
		            text-overflow: ellipsis;
		        }
		    }
		}

		.dl {
            .dag-circle {
                cursor: crosshair;
            }
        }

        .mapline {
            &:hover {
                cursor: pointer;
            }
        }

		.keymap-action {
			margin-left: 10px;

			button:first-child {
				margin-bottom: 10px;
			}
		}

        .setting-table {
            background: #FFF;

            p {
                height: 26px;
                line-height: 26px;
            }

            .ant-input-number {
                margin: 0 8px;
            }
        }

	}

}

.report-content {
    margin: 25px 20px;

    h3 {
        margin-bottom: 10px;
        border-left: 3px solid #2491F7;
    	padding-left: 5px;
    	font-size: 14px;
    }

    .report-table {
        width: 100%;
        border-collapse: collapse;

        td, th {
        	font-size: 12px;
            height: 40px;
            border: 1px solid #E6E6E6;
            padding: 0 10px;
        }
        th {
            text-align: left;
            background: #FAFAFA;
            width: 20%;
        }
        td {
            text-align: left;
            width: 40%;
        }
        .width-30 {
        	width: 30%;
        }
    }
}