.project-config {

    .project-config-table {
        background: #fff;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        text-align: left;

        .t-title {
            width: 190px;
            padding-left: 30px;
            background: #fafafa;
        }

        tr td {
            color:#333;
            padding: 16px 35px;  
            word-break: break-all;
            border: 1px solid #e9e9e9;
        }
    }

    .txt-right {
        color: #999999;
    }

    .ant-row {
        line-height: 50px;
    }
}

.project-member {
    .dstree {
        .ant-form-item-control {
            margin-top: -10px;
            span.ant-tree-switcher {
                line-height: 34px;
                height: 34px;
            }
        }

    }
}