.rule-dashboard {

	.rule-manage {
		padding: 20px;

		.monitor-info-table {
		    padding: 20px 0;

		    table {
		        border-collapse: collapse;
		        border: 1px solid #E6E6E6;
		        td,
		        th {
		           	padding: 6px 8px;
		        	font-size: 12px;
		            border: 1px solid #E6E6E6;
		        }
		        th {
		            background: #FAFAFA;
		            width: 12%;
		        }
		        td {
		            width: 38%;
		        }
		    }
		}

	}

	.trigger-box {
		margin: 20px;
		
		h2 {
			margin: 10px 0;
			color: #333333;
		}

		p {
			margin: 2px 0;
			font-size: 12px;
			color: #2A2A2A;
		}
	}
}


.rule-edit {
	.rule-action {
		padding: 16px 20px;
		text-align: right;
	}
}

.rule-edit-table {
	background: #fff;

	.ant-table-tbody {
        &>tr>td {
            padding: 10px 8px;
        }
    }

	.rule-edit-td {
		width: 100%;
	}
}

@keyframes shining{
	0% {
		background: #fff;
	}
	100% {
		background: rgba(36, 145, 247, 0.5);
	}
}

.shining{
	background-color: rgba(215, 233, 255, 0.58);
}

.c-rule {
	background: #fafafa;
	border: 1px solid #dcdcdc;
	padding: 10px;
	.c-rule__buttons {
		float: right;
		.c-rule__button {
			line-height: 32px;
		}
		.c-rule__button ~ .c-rule__button {
			margin-left: 15px;
		}
	}
	.ant-form-item ~ .c-rule__item--single {
		margin-top: 10px;
	}
	.c-rule__item--single {
		margin: 0px 10px 10px 10px;
		display: flex;
		> .ant-form-item-label {
			flex-shrink: 0;
			flex-grow: 0;
		}
		> .ant-form-item-control-wrapper {
			flex-shrink: 1;
			flex-grow: 1;
		}
	}
}
.c-ruleList {
	padding: 10px;
	.c-rule {
		margin-bottom: 20px;
	}
	.c-ruleList__header {
		display: flex;
		justify-content: space-between;
		height: 50px;
		align-items: center;
	}
}