.task-dashboard {
	height: 100%;
	overflow-x: hidden;

	.txt-center-table {
		.ant-table-thead {
	        & > tr > th {
	            text-align: center;
	        }
	    }

	    .ant-table-tbody {
	        & > tr > td {
	            text-align: center;
	        }
	    }
	}
}