<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="RdosEngineJob" type="com.dtstack.engine.service.db.dataobject.RdosEngineJob"/>
        <typeAlias alias="RdosEngineJobCache" type="com.dtstack.engine.service.db.dataobject.RdosEngineJobCache" />
        <typeAlias alias="RdosEngineJobRetry" type="com.dtstack.engine.service.db.dataobject.RdosEngineJobRetry"/>
        <typeAlias alias="RdosEngineJobStopRecord" type="com.dtstack.engine.service.db.dataobject.RdosEngineJobStopRecord"/>
        <typeAlias alias="RdosEngineUniqueSign" type="com.dtstack.engine.service.db.dataobject.RdosEngineUniqueSign"/>
        <typeAlias alias="RdosNodeMachine" type="com.dtstack.engine.service.db.dataobject.RdosNodeMachine"/>
        <typeAlias alias="RdosPluginInfo" type="com.dtstack.engine.service.db.dataobject.RdosPluginInfo"/>
        <typeAlias alias="RdosStreamTaskCheckpoint" type="com.dtstack.engine.service.db.dataobject.RdosStreamTaskCheckpoint" />
    </typeAliases>
    <environments default="production">
        <environment id="production">
            <transactionManager type="MANAGED"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${userName}"/>
                <property name="password" value="${pwd}"/>
                <property name="poolPingEnabled" value="true" />
                <property name="poolPingQuery" value="select 1" />
                <property name="poolPingConnectionsNotUsedFor" value="3600000" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mapper/RdosEngineJobMapping.xml"/>
        <mapper resource="mybatis/mapper/RdosEngineJobCacheMapping.xml" />
        <mapper resource="mybatis/mapper/RdosEngineJobRetryMapping.xml"/>
        <mapper resource="mybatis/mapper/RdosEngineJobStopRecordMapping.xml" />
        <mapper resource="mybatis/mapper/RdosEngineUniqueSignMapping.xml" />
        <mapper resource="mybatis/mapper/RdosNodeMachineMapping.xml"/>
        <mapper resource="mybatis/mapper/RdosPluginInfoMapping.xml" />
        <mapper resource="mybatis/mapper/RdosStreamTaskCheckpointMapping.xml" />
    </mappers>
</configuration>