
/**
** CSS 主引入口
**/
@import './views/queueManage.scss';
@import './views/resourceManage.scss';
@import './views/clusterManage.scss';
table{
    font-size:12px;
}
.overflow-x-hidden{
    overflow-x: hidden;
}
.contentBox{
    margin:20px;
}
.text-middle{
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
    float: right;
}
.ant-table-thead > tr > th:text-middle {
    text-align: center;
}
