.relation-table-modal {
  width: 100%;
  padding: 0 68px 0 44px;
  &-subtitle {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC, sans-serif;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
  }
  .special-form-item {
    margin-bottom: 0 !important;
    .ant-form-item-control {
      .ant-row {
        padding-bottom: 0;
      }
    }
    .ant-form-explain {
      position: absolute;
    }
  }
}

.relation-row {
  margin-bottom: 12px !important;
}

.dynamic-select-list {
  margin-top: 12px;
  .icon {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    &-plus-circle {
      color: #3f87ff;
    }
    &-minus-circle {
      color: #999999;
    }
  }
  .operation {
    width: 60px;
    height: 32px;
    display: inline-block;
    position: absolute;
    line-height: 32px;
  }
  .text-equal {
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
  }
}

.white-space-nowrap {
  white-space: nowrap;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.text-align-center {
  text-align: center;
  line-height: 32px;
}
