.projects-modal {
    .ant-modal-body {
        padding: 0;
    }

    .tips {
        padding: 10px 20px;
        width: 100%;
        background: #F5F5F5;
        margin-bottom: 16px;
        font-size: 12px;
        color: #666666;
        border-bottom: 1px dashed #e9e9e9;
    }

    .alert {
        text-align: center;
        font-size: 12px;
        color: #666666;
        margin-bottom: 16px;
        color: red;

        i {
            margin-right: 6px;
        }
    }

    .ant-modal-footer {
        border-top: 0;
        padding: 20px;

        button {
            width: 86px;
            height: 30px;
            border-radius: 3px;
        }
    }
}