.row-content {
    margin-top: 15px;

    .row-title {
        font-size: 14px;
        color: #333333;
        height: 30px;
        line-height: 30px;
    }

    .m-card {
        margin-top: 5px;
        .ant-card-head {
            padding: 0;
        }
    }
}


.table-info {
    border-collapse: collapse;

    tr {
        td {
            height: 40px;
            border: 1px solid #DDDDDD;;
            padding: 0 20px;
            color: #333333;
            font-size: 12px;
            letter-spacing: 0;
            background: #ffffff;
        }

        td:nth-child(2n+1) {
            text-align: left;
            background: #FAFAFA;
            width: 190px;
            padding-left: 30px;
        }
    }
}
