.m-v-10 {
	margin: 10px 0;
}

.m-h-10 {
	margin: 0 10px;
}

.m-l-8 {
	margin-left: 8px;
}

.m-r-8 {
	margin-right: 8px;
}
 
.sync-content {
	margin: 20px;
	
	.sync-title {
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
	}

	.sync-table {
		padding: 10px 0 30px;
	}

	.sync-action {
		display: flex;
		align-items: center;
	}

}

.sync-history-modal {
	
	.sync-detail {
		p {
			padding: 5px 0;
		}
	}

}

.config-form {
	.ant-form-item {
		margin-right: 0px;
	}

	.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.flex-v-center {
		align-items: center;
	}

	.flex-right {
		justify-content: flex-end;

	}

	.left-item {
		.ant-form-explain {
			right: 0;
		}

	}
	
	.col-16 {
		width: 66.666667%;
	}

	.font-16 {
		font-size: 16px;
	}

	.edit-icon {
		@extend .font-16;

		cursor: pointer;
	}
}

.sync-tooltip {
	.ant-tooltip-inner {
		max-width: 600px;
        white-space: pre-line;
	}
}

.rdos-data-source {

	.ant-card-wider-padding .ant-card-head{
		padding: 0 20px;
	}
	.ant-card-wider-padding .ant-card-body{
		padding: 0;
	}
	.m-table tr>td:first-child, .m-table tr>th:first-child{
		padding-left: 20px;
	}
	.m-table tr>td:last-child, .m-table tr>th:last-child{
		padding-right: 15px;
	}
	.noBorderBottom {
		.ant-card-head {
			border-bottom: none
		}
	}
}