@import '../const.scss';
$activeColor: #262e36; // 主色

.head-project-tip{
    color:#fff;
    .content{
        padding: 2px 3px;
        border: 1px #fff solid;
        border-radius: 2px;
    }
    img{
        vertical-align: text-top;
        margin-right: 2px;

    }
}
.dt-tag-layout {
    height: 100%;
    width: 100%;
    .tag-container {
        padding-top:50px; 
        min-width: $minWidth;
    }
    .tag-content{
        padding: 20px;
    }
    .header {
        min-width: $minWidth;
        .logo {
            padding: 5px;
            cursor: pointer;
        }

        .my-menu {
            line-height: 47px;
            border-bottom: 0;

            &.menu-margin{
                >.my-menu-item:nth-of-type(1){
                    margin-right: 100px;
                }
            }
            .my-menu-item {
                font-size: 14px;
                &.ant-menu-item-disabled.tip{
                    cursor: default;
                    &:hover{
                        background: inherit;
                    }
                }
                a {
                    color: inherit;
                }
            }
    
            .ant-menu-sub {
                max-height: 400px;
                overflow-y: auto;

                .ant-menu-item {
                    color: rgba(0, 0, 0, 0.65);
                    font-size: 12px;
                }

                .ant-menu-item:hover {
                    color: #2491F7;
                }
            }
        }
    }
    
    .sidebar {
        height: 100%;
        border-right: 1px solid #e9e9e9;
    }
    
}


