.dt-operation {
    min-height: 100%;
    .c-realtime__list {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        min-height: calc(100% - 40px);
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        background: #FFFFFF;
    }
    .operation-content {
        padding: 20px;
        min-height: 100%;
        position: relative;
        background: #f2f3f8;
        .ant-pagination {
            margin-right: 10px;
        }
        .ant-tabs-tabpane {
            background: #fff;
        }
    }

    .ant-table-row-spaced {
        display: none;
    }
   
    .graph-content {
        position: relative;
        width: 100%;
        height: 100%;
        background: #fff;
    }
    .ant-layout-sider-collapsed {
        .nav-text {
            display: none;
        }
        .anticon {
            font-size: 16px;
            margin-left: 8px;
            line-height: 42px;
        }
        .ant-menu-submenu-vertical>.ant-menu-submenu-title:after {
            display: none;
        }
    }
    .ant-layout-sider-trigger {
        background: #3B4D5F;
        color: #959FB1;
        border-right: 1px solid #e9e9e9;
    }
    .count {
        font-size: 36px;
    }
    .warning {
        color: #ff9b1b;
    }
    .row-item {
        padding: 15px;
        h2 {
            border-bottom: 1px solid #e9e9e9;
            padding-bottom: 10px;
            font-size: 14px;
        }
    }
    .my-table {
        background: #fff;
        font-size: 12px;
        width: 100%;
        border-collapse: collapse;
        tr td {
            padding: 15px;
        }
        .tb-title {
            width: 110px;
            background: #f5f5f5;
            color: #666666;
            text-align: center;
        }
    }
    .m-table .ant-table-tbody > tr > td {
        height: 30px;
    }
}

.operation-overview {
    header {
        height: 45px;
        .left {
            font-size: 14px;
            color: #333333;
        }
    }
    .operation-statistics {
        margin-top: 25px;
        text-align: center;
        .ant-card-body {
            padding: 0;
            padding-bottom: 10px;
        }
        p {
            text-align: center;
        }
    }
}

.alarm-list {
    .ant-tabs-bar {
        margin-bottom: 0px;
    }
    .ant-tabs-content {
        border: 1px solid #e9e9e9;
        border-radius: 3px;
        border-top: 0;
    }
}

// 任务运维-流程管理
.sidebar-taskflow {
    width: inherit;
    height: 100%;
    .ant-tabs-nav-container {
        height: 30px;
    }
    .flow-operation {
        position: relative;
        height: 100%;
        .ant-checkbox-wrapper {
            margin-left: 0px;
        }
        .ant-form-inline .ant-form-item {
            margin-bottom: 10px;
        }
    }
    .flow-menu {
        position: absolute;
        top: 35px;
        width: 100%;
        display: block;
        overflow: hidden;
        height: 100%;
        padding-bottom: 35px;
    }
    .task-list {
        width: 100%;
        height: 100%;
        padding-bottom: 300px !important;
        overflow: auto;
    }
    .title { 
        height: 35px;
        line-height: 35px;
        text-indent: 10px;
        font-weight: bold;
    }
    .filter-bar {
        padding: 0 10px 10px 10px;
        font-size: 12px;
    }
}

.patch-data {
    .ant-pagination {
        margin-right: 10px;
    }
    .ant-tree-node-content-wrapper {
        width: 90%;
    }
    .patch-header {
        margin: 5px;
        >div {
            background: #f7f7f7;
            font-weight: 500;
            transition: background .3s ease;
            text-align: left;
            color: rgba(0, 0, 0, 0.85);
            line-height: 30px;
            text-indent: 5px;
        }
    }
}

.task-detail {
    table tr>td {
        width: 80px;
    }
}

.ope-statistics {
    font-weight: bold;
    font-size: 12px;
    span {
        margin-right: 24px;
    }
}

.circle {
    display: inline-block;
    widows: 8px;
    height: 8px;
    border-radius: 50% 50%;
}

.runtime-page {
    background: #f2f3f8;
    header {
        line-height: 20px;
        height: 40px;
        background: #f7f7f7;
        color: #333333;
        font-size: 14px;
        padding: 10px 20px;
    }
    .runtime-content {
        padding: 0 20px;
        min-height: 100%;
        position: relative;
    }
    .runtime-trend,
    .runtime-info {
        background: #fff;
    }
    .runtime-section {
        margin-top: 10px;
        h1 {
            font-size: 12px;
            color: #333333;
            line-height: 30px;
            padding: 0;
            margin: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            text-align: left;
            border-radius: 4px 4px 0 0;
            tr td {
                padding: 10px 20px;
                border: 1px solid #e1e6eb;
            }
        }
    }
}

.m-card.task-manage {
    .ant-form-inline .ant-form-item {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .select-task{
        margin-right: 12px;
    }
    tr > td:first-child, .m-card .m-table tr > th:first-child {
        padding-left: 6px
    }
    .ant-card .ant-card-body {
        padding: 0;
        position: relative;
    }
    .m-table {
        .ant-table-footer {
            background: #fff;
            padding: 10 0 0;
            border-bottom: 0;
            border-top: 1px solid #e8e8e8;
        }
        .ant-pagination {
            position: relative;
            top: -32px;
            right: 20;
            margin-right: 0;
        }
        .ant-table-pagination.ant-pagination {
            margin:  0;
            float: right;
        }
    }
}
.detailPane-header{
    position: relative;
    padding: 16px 30px 16px 18px;
    line-height: 17px;
    color:#333333;
    .buttonMargin{
        button:not(:last-child){
            margin-right:8px;
        }
    }
}
.middle-collapse{
    &.middle-collapse--noBorderTop {
        border-top-width: 0;
    }
    &.ant-collapse {
        & > .ant-collapse-item{
            
            & > .ant-collapse-header{
                padding-top:4px;
                padding-bottom:4px;
                &[aria-expanded="true"]{
                    border-bottom: 1px solid #ddd;
                }
                .arrow{
                    line-height: 30px;
                }
            }
        } 
    }
}
.checkpoint-overview{
    float:right;
    color:#666;
    line-height:30px;
    span:not(:last-child){
        margin-right: 20px;
    }
}
.pane-alarm-configList{
    header{
        padding:16px 0px 11px 0px;
        line-height: 28px;
        font-size:14px;
        font-weight: bold;
        button{
            float: right;
        }
    }
}
.basegraph-size{
    height:300px;
}
.alarm-basegraph-box{
    background: #fff;
    border:1px solid #dddddd;
    position: relative;
    height: 100%;
    header{
        padding: 7.5px 0px 8.5px 21px;
        font-size: 14px;
        color: #333;
        line-height: 24px;
        border-bottom: 1px solid #dddddd;
        position: absolute;
        top:0px;
        left: 0px;
        width: 100%;
        z-index: 1;
        .title{
            font-weight: 500;
        }
    }
    .alt{
        line-height: 24px;
        float:right;
        margin-right:8px;
        cursor: pointer;
        transition-duration: .3s;
        &:hover{
            color:rgba(0,0,0,0.5)
        }
    }
    .loading-box{
        width: 100%;
        height:100%;
        padding-top:40px;
        text-align: center;
        .loading{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .graph-content{
        padding-top:40px;
        height:100%;
        position: relative;
        .no-data-text{
            color: #666666;
            font-size: 14px;
            text-align: center;
            margin-top: 100px;
        }
    }
}
.alarm-graph-row{
    padding-left: 2px;
    display: flex;
    &~.alarm-graph-row{
        margin-top: 11px;
    }
    section{
        &~section{
            margin-left:10px;
        }
        width:50%;
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
.not-run-box{
    margin-top:100px;
    margin-left:400px;
    color:#666666;
    .icon{
        width:100px;
        height: 100px;
    }
    .text{
        line-height: 40px;
        font-size: 14px;
    }
}

.pane-height100-box{
    display: flex;
    height: 100%;
    flex-direction: column;
    .pane-tabs{
        height:auto;
        flex-grow: 1;
    }
}
.pane-graph-box{
    .graph-header{
        position: absolute;
        top:0px;
        left: 0px;
        right: 0px;
        border-bottom: 1px solid #ddd;
        padding: 0px 20px;
        height: 48px;
        z-index:1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }
    .graph-content-box{
        position: absolute;
        top: 48px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: auto;
        background: #fff;
    }
}
.c-runcode {
    >.ant-tabs-content {
        height: calc(100% - 36px);
        >.ant-tabs-tabpane {
            height: 100%;
        }
    }
}
.m-tabs {
    >.c-runcode {
        >.ant-tabs-bar{
            >.ant-tabs-nav-container{
                >.ant-tabs-nav-wrap{
                    margin-bottom: 0px;
                }
                .ant-tabs-nav .ant-tabs-tab{
                    line-height: 18px;
                    &.ant-tabs-tab-active {
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

.c-dirtyView__p {
    padding: 16px 0px 11px 0px;
    font-size: 14px;
    line-height: 28px;
}
.c-dirtyView__title {
    font-size: 14px;
    font-weight: bold;
}
.c-dirtyView__section__header {
    margin: 20px 0px 10px 0px;
}
.c-dirtyView__table {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #E6E6E6;
    border-width: 1px 0px 0px 1px;
}
.c-dirtyView__table__item {
    width: 50%;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    line-height: 40px;
    font-size: 14px;
    border: 1px solid #E6E6E6;
    border-width: 0px 1px 1px 0px;
}
.c-dirtyView__table__item__label{
    width: 200px;
    padding: 0 10px;
    border-right: 1px solid #E6E6E6;
    background: #FCFBFC;
}
.c-dirtyView__table__item__content{
    padding: 0 10px;
}
.c-dirtyView__tabs{
    margin-top: 30px;
    border: 1px solid #dddddd;
}