.pageHeader{
	background: #fff;
	padding: 16px 32px 0;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
	margin: -20px -20px 0;
	.pg_btn_wrap{
		position: absolute;
		right: 24px;
		top: 50%;
		transform: translateY(-50%);
	}
	.breadcrumb{
		margin-bottom:16px;
	}
	.pg_detail{
		.pg_title{
			height:28px;
			font-size:20px;
			color:rgba(0,0,0,0.85);
			line-height:28px;
			margin-bottom:16px;
		}
		.pg_content{
			height:22px;
			font-size:14px;
			color:rgba(0,0,0,0.65);
			line-height:22px;
			margin-bottom:16px;
		}
	}
}