$heightNavigator: 64px;
$panel-height: calc(100vh - 40px - 44px);

// 重写内部组件样式
.dt-assets-container.without-navigator {
  .dm-container {
    width: 100%;
    height: calc(100vh);
    padding: 20px;
  }
  .dm-list {
    .table-area {
      height: calc(100% - 44px);
      .drawer {
        height: calc(100% - 144px + #{$heightNavigator});
        top: 128px - $heightNavigator;
      }
      .table {
        height: calc(100% - 52px);
      }
    }

    .dm-detail {
      height: calc(100vh - 140px);
      .pane-container {
        height: calc(100vh - 236px + #{$heightNavigator});
        .card-container {
          .inner-container {
            .code-block {
              .max-height {
                max-height: calc(#{$panel-height} - 40px - 37px - 40px);
                height: calc(100vh - 316px + #{$heightNavigator});
              }
            }
          }
        }
      }
    }
  }
  .dm-model-modify {
    .step-content {
      height: calc(100% - 107px);
    }
  }
}
