.c-title__color {
	position: relative;
	font-size: 14px;
	line-height: 20px;
	&:before {
		position: absolute;
		top: 2px;
		bottom: 2px;
		left: -10px;
		width: 4px;
		background: #2491f7;
		content: '';
	}
}
