.c-syntaxPane {
    height: 100%;
    overflow: inherit;
    position: relative;
    // color: #333;
}

.c-syntaxPane-header,
.c-syntaxPane-content {
    position: absolute;
}

.c-syntaxPane-header {
    top: 12px;
    right: 12px;
    left: 12px;
}

.c-syntaxPane-content {
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.c-syntaxPane-content__md-docs {
    padding: 0 12px;
    overflow: inherit;
}

.c-syntaxPane__loading {
    position: absolute;
    top: 50%;
    left: 50%;
}