.dt-multiple {
    width: 250px;
    height: 32px;
    box-shadow: "0px 2px 8px 0px rgb(6 14 26 / 8%)";

    .suffix-item {
        cursor: pointer;
        width: 26px;
        height: 22px;
        background-position: center;

        &.actived {
            border: 1px solid rgb(36, 145, 247);
        }
    }
}
