.c-register-params{
    display: flex;
}
.c-register-params__nav{
    width: 190px;
    flex-grow: 0;
    flex-shrink: 0;
}
.c-register-params__content{
    flex-grow: 1;
}
.c-register-params__nav__title{
    font-weight: bold;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}
.c-register-params__nav__links{
    font-size: 12px;
    color: #666;
    line-height: 17px;
    margin-top: 20px;
    li{
        margin-top: 20px;
        &.c-register-params__nav__link--select{
            color:#2491F7;
        }
        .c-register-params__nav__link__text{
            cursor: pointer;
        }
    }
}
.c-register-params__content__card{
    color: #333;
    textarea{
        resize: vertical;
    }
    .c-register-params__content__card__head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        .c-register-params__content__card__title{
            line-height: 20px;
            font-size: 14px;
            
        }
    }
    .c-register-params__content__card__main{
        background: #fff;
    }
}