
.sidebar {
    background: #ffffff;
    
   .toolbar {
       height: 35px;
       padding: 7px 7px;
       line-height: 35px;
       border-bottom: 1px solid #E8E8E8;

       .btn-icon {
           width: 20px;
           height: 20px;
           margin-right: 8px;
           cursor: pointer;
       }
   }

   .s-catalogue {
        padding: 6px 15px 5px 12px;
        padding-bottom: 80px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .ant-tree {

            li {
                padding: 4px 0 0 0;
                .ant-tree-node-content-wrapper {
                    width: 100%;
                    padding: 5px 5px;

                    &:hover, &.ant-tree-node-selected {
                        background-color: #F1F5FF;
                    }

                    .tree-node-hover-items {
                        display: none;
                        position: absolute;
                        right: 12px;
                        top: 7px;
                    }

                    .tree-node-hover-item {
                        font-size: 14px;
                        width: 14px;
                        height: 14px;
                        color: #333333;
                        cursor: pointer;
                        line-height: 14px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }

                    &:hover .tree-node-hover-items  {
                        display: inline-block;
                    }
                }

                span.ant-tree-iconEle,
                span.ant-tree-switcher {
                    width: 16px;
                }
                
                span.ant-tree-switcher {
                    height: 28px;
                    line-height: 28px;
                }
    
                span.ant-tree-iconEle {
                    margin-top: -2px;
                    margin-right: 3px;
                    background-size: cover;
                    background-position: center center;
                    height: 16px;
                    line-height: 16px;
                }
            }

        }
   }
}

.m-mainbench {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background: #ffffff;

    .ide-editor .ide-toolbar .ant-btn {
        padding-left: 10px;
    }

    .ide-toobar-select {
        margin-left: 10px;
        width: 120px;
        .ant-select-selection--single {
            height: 26px;
        }

        .ant-select-selection__rendered {
            line-height: 24px;
        }
    }

    .pane-wrapper,
    .ant-tabs-content {
        height: 100%;
    }

    .pane-wrapper {
        overflow: auto;
        padding-bottom: 80px;
    }

    &>.ant-tabs {
        
        &>.ant-tabs-bar {

            margin-bottom: 0px;
            border-radius: 0px;
            margin-left: -1px;
            border-left: none;

            .ant-tabs-tab {
                margin-right: 0px;
                line-height: 20px;
                padding-left: 28px;
                padding-right: 26px;
                border-left: none;
                text-align: left;
                min-width: 150px;
                border-radius: 0;
                border-bottom: 1px solid #dddddd;
                background: #FAFAFA;
                font-size: 12px;
                color: #333333;

                .anticon-close {
                    margin-top: -5px;
                    line-height: 10px;
                    opacity: 0;
                    font-size: 11px;
                }
            }

            .tab-ellipsis {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 120px;
            }

            .ant-tabs-tab-active {
                background: #fff;
                border-color: #dddddd;
                color: #2491F7;
                border-bottom: 1px solid #ffffff;
            }

            .ant-tabs-tab:hover .anticon-close {
                opacity: 1;
            }

            .ant-tabs-tab-active:after {
                content: "";
                position: absolute;
                top: -1px;
                left: -1px;
                right: -1px;
                height: 2px;
                z-index: 3;
                opacity: 0.8;
                background: #2491F7;
            }
        }
    }
}

.s-tree-folder {
    &>.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/folder.svg);
    }
}

.s-tree-item {
    &>.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/file.svg);
    }
}

.s-database {
    .ant-tree-node-content-wrapper>.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/database.svg);
    }
}

.s-table {
    .ant-tree-node-content-wrapper >.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/table.svg);
    }
}

.s-datamap {
   .ant-tree-node-content-wrapper>.ant-tree-icon__docu {
        background-image: url(/public/analyticsEngine/img/datamap.svg);
    }
}

.create-table-container{
    padding-left: 20px;
    padding-right: 20px;
    .step-container{
        background: #FAFAFA;
        border: 1px solid #E9E9E9;
        padding-top: 20px;
        padding-bottom: 46px;
        .nav-btn-box{
            display: flex;
            justify-content: center;
            margin-top: 40px;
            button:nth-child(1){
                margin-right: 10px;
            }
        }
    }
    .step-one-container{
        .anticon-caret-up:before,.anticon-caret-down:before{
            color: #999;
        }
        .ant-radio-group{
            .ant-radio-wrapper{
                margin-right: 40px;
                &:nth-last-child(1){
                    margin-right: 0px;
                }
                span.ant-radio + *{
                    padding-left: 4px;
                    padding-right: 4px;
                }
            }
        }
        .ant-form-item{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            .ant-form-item-label{
                line-height: 17px;
            }
        }
        .ant-collapse-content{
            padding: 0;
        }
        .ant-input-lg{
            height: 36px;
        }
        .btn-box{
            display: flex;
            justify-content: flex-end;
            // margin-top: 20px;
            margin-bottom: 20px;
        }
        .ddl-btn{
            width: 88px;
            height: 30px;
            margin-right: 30px;
        }
        .ant-select-selection--single{
            height: 36px;

        }
        .ant-select-selection__rendered{
            line-height: 36px;
        }
        .ant-collapse{
            background-color: #FAFAFA;
            border-radius: 0px; 
            border: none ;
            border-bottom: 0; 
            .ant-collapse-content {
                background-color: #FAFAFA;
            }
            .ant-collapse-item{
                border: 0;
                display: flex;
                flex-direction: column;
            }
            .ant-collapse-header{
                display: inline-block;
                padding: 0;
                color: #333333;
                left: 50%;
                margin-left: -31.5;
                width: 64px;
            }
            .ant-collapse-content-box{
                padding-bottom: 0;
            }
            .ant-form-item:nth-last-child(1){
                margin-bottom: 0;
            }
        }
    }


    .ant-steps{
        padding-left: 55px;
        padding-right: 84px;
        margin-top: 40px;
        margin-bottom: 30.9px;
    }
    .ant-step{
        .ant-steps-tail{
            top: 15px;
        }
    }
    .ant-steps-step{

        .ant-steps-head-inner{
            width: 30px;
            height: 30px;
            .ant-steps-icon{
                line-height: 26px !important;
            }
            .ant-steps-title{
                line-height: 30px;
            }
        }
    }
}
.step-two-container, .step-three-container, .edit-table-container{
    .action-span{
        a{
            font-size: 12px;
        }
        span{
            font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5;
            color: rgba(0, 0, 0, 0.65);
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            list-style: none;
            background: #e8e8e8;
            margin: 0 8px;
            display: inline-block;
            height: 0.9em;
            width: 1px;
            vertical-align: middle;
            position: relative;
            top: -0.06em;
        }
    }
}
.step-two-container, .step-three-container{
    .partitionParam-box{
        span{
            min-width: 60px;
            display: inline-flex;
            justify-content: flex-end;
        }
    }
    .table-panel:nth-child(1){
        margin-bottom: 40px;
    }
    .anticon-check:before{
        line-height: 30px;
    }
    .table-panel{
        padding: 0 31px;
        .icon{
            margin-right: 5px;
        }
        .area-title-container{
            margin-bottom: 9px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title{
                margin-bottom: 0;
            }
        }

        .title{
            display: block;
            font-size: 14px;
            color: #333333;
            margin-bottom: 9px;
            font-weight: bold;
        }
        .btn{
            display: inline-block;
            margin-top: 15px;
        }
        table{
            background-color: #F5F5F5;
            padding: 0;
        }

        .ant-table-small {
            .ant-table-tbody {
                tr{
                    td{
                        background: white;
                        padding: 7px 20px;
                    }
                }
            }
        }
        .ant-table-thead{
            // background-color: #F5F5F5;
            th{
                background-color: #F5F5F5;
                padding: 6.5px 21px;
                span{
                    font-size: 12px;
                    font-weight: normal;
                }
            }
        }
    }
}

.step-four-container{
    text-align: center;
    .result{
        font-size: 14px;
        color: #333333;
        margin-bottom: 7px;
    }
    .inter{
        font-size: 12px;
        color: #666666;
    }
    .anticon-check-circle{
        margin-bottom: 15px;
        &::before{
            font-size: 50px;
        }
    }
}

.response-succ {
    padding: 30px 60px;
    text-align: justify;
    font-family: PingFangSC-Regular;

    .status-icon {
        font-size: 50px;
        color: #00A755;
    }

    .status-desc {
        color: #333333;
        font-size: 14px;
        margin-top: 10px;
    }

    .response-info {
        font-size: 12px;
        color: #333333;
        margin-top: 20px;
        line-height: 30px;
        padding-left: 100px;
    }

    .response-warning {
        font-size: 12px;
        color: #EF5350;
        margin-top: 5px;
        text-align: center;
    }
}

.row-content {
    margin-top: 15px;

    .row-title {
        font-size: 14px;
        color: #333333;
        height: 30px;
        line-height: 30px;
    }

    .m-card {
        margin-top: 5px;
        .ant-card-head {
            padding: 0;
            height: 40px;
        }
    }
}
.table-detail-container{
    .ant-pagination{
        .ant-pagination-item-active{
            border: 1px solid #2491F7;
            background-color: white;
            a{
                color: #2491F7;
            }
        }
    }
    .ant-table-small{
        border-left: none;
        border-right: none;
    }
    .ant-tabs-tabpane{
        height: auto;
    }
    .tabs-container{
        border: 1px solid #DDDDDD;
        border-top: none;
    }
    .tabs-row{
        padding: 0 20px;
    }
    .ant-tabs{
        // height: 36px;
        // .ant-tabs-content{
        //     height: auto;
        //     overflow: hidden;
        //     padding-top: 10px;
        //     // border-top: 1px solid #DDDDDD;
        //     table{
        //         background-color: #F5F5F5;
        //         padding: 0;
        //     }

        //     .ant-table-small {
        //         .ant-table-tbody {
        //             tr{
        //                 td{
        //                     background: white;
        //                     padding: 7px 20px;
        //                     font-size: 12px;
        //                     color: #333333;
        //                 }
        //             }
        //         }
        //     }
        //     .ant-table-thead{
        //         // background-color: #F5F5F5;
        //         th{
        //             background-color: #F5F5F5;
        //             padding: 6.5px 21px;
        //             span{
        //                 font-size: 12px;
        //                 font-weight: normal;
        //             }
        //         }
        //     }
        // }
        .ant-tabs-bar{
            // height: 36px;
            // margin-bottom: 0px;
            // border-bottom: none;
            // .ant-tabs-nav-container{
            //     height: 35px;
            // }
        }
        // .ant-tabs-nav{
        //     .ant-tabs-tab{
        //         min-width: 110px;
        //         display: inline-block;
        //         // border: 1px solid #DDDDDD;
        //         // border-bottom: none;
        //         border-left: none;
        //         line-height: 34px;
        //         padding: 0;
        //         text-align: center;
        //         margin-right: 0;
        //         // border-top: none;
        //     }
        //     .ant-tabs-tab-active{
        //         // border-bottom: none;
        //         border-top: 1px solid #2491F7;
        //     }
        // }
    }
    .table-detail-panel{
        padding: 0 20px 0 21px;
        margin-top: 27px;
        margin-bottom: 31px;
        .func-box{
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            align-items: center;
            line-height: 1;
            .title{
                font-size: 14px;
                color: #333333;
            }
            .btn{
                width: 112px;
                height: 26px;
                border-radius: 2px;
            }
        }
    }
}



.edit-table-container{
    height: 100%;
    padding-bottom: 50px;
    overflow: scroll;
    .panel{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 21px;
        margin-bottom: 30px;
        .title{
            padding-left: 5px;
            font-size: 14px;
            color: #333333;
            margin-bottom: 11px;
            font-weight: bold;
        }
    }
    .ant-select-selection--single{
        height: 36px;
        .ant-select-selection__rendered{
            line-height: 36px;
        }
    }
    .table-box{
        .ant-select-selection--single{
            height: 26px;
            .ant-select-selection__rendered{
                line-height: 26px;
            }
        }
    }
}

.pane-field-container{
    .func-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
}
.table-small{

    table{
        background-color: #F5F5F5;
        padding: 0 !important;
    }

    .ant-table-small {
        .ant-table-tbody {
            tr{
                td{
                    background: white;
                    padding: 7px 20px;
                }
            }
        }
    }
    .ant-table-thead{
        // background-color: #F5F5F5;
        tr{
            th{
                background-color: #F5F5F5;
                padding: 6.5px 21px;
                span{
                    font-size: 12px;
                    font-weight: normal;
                }
            }
        }
    }
}

.table-info {
    border-collapse: collapse;

    tr {
        td {
            height: 40px;
            border: 1px solid #DDDDDD;;
            padding: 0 20px;
            color: #333333;
            font-size: 12px;
            letter-spacing: 0;
        }

        td:nth-child(2n+1) {
            text-align: left;
            background: #FAFAFA;
            width: 190px;
            padding-left: 30px;
        }
    }
}

.edit-table-container{
    .ant-form-item{
        display: flex;
        &:nth-child(2n-1){
            padding-left: 24px;
        }
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
        font-size: 12px;
    }
}

.db-users {
    border-bottom: 0;

    .ant-table-thead > tr > th {
        padding: 9px 8px;
    }

    .ant-table-tbody > tr > td {
        padding: 12px 8px;
    }
}