
.sidebar {

   .toolbar {
       height: 35px;
       padding: 7px 7px;
       line-height: 35px;
       border-bottom: 1px solid #E8E8E8;

       .btn-icon {
           width: 20px;
           height: 20px;
           margin-right: 8px;
           cursor: pointer;
       }
   }

   .s-catalogue {
        padding: 5px 15px 5px 12px;
        padding-bottom: 80px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .ant-tree {

            li {

                .ant-tree-node-content-wrapper {
                    width: 100%;
                    
                    &:hover, &.ant-tree-node-selected {
                        background-color: #F1F5FF;
                    }

                    .tree-node-hover-items {
                        display: none;
                        position: absolute;
                        right: 12px;
                        top: 5px;
                    }

                    .tree-node-hover-item {
                        font-size: 14px;
                        width: 14px;
                        height: 14px;
                        color: #333333;
                        cursor: pointer;
                        line-height: 14px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }

                    &:hover .tree-node-hover-items  {
                        display: inline-block;
                    }
                }

                span.ant-tree-iconEle,
                span.ant-tree-switcher {
                    width: 16px;
                }
    
                span.ant-tree-iconEle {
                    margin-top: -2px;
                    margin-right: 3px;
                    background-size: cover;
                    background-position: center center;
                    height: 16px;
                    line-height: 16px;
                }
            }

        }
   }
}

.m-mainbench {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background: #ffffff;

    .ant-tabs-content {
        height: 100%;
    }

    &>.ant-tabs {
        
        &>.ant-tabs-bar {

            margin-bottom: 1px;
            border-radius: 0px;
            margin-left: -1px;
            border-left: none;

            .ant-tabs-tab {
                margin-right: 0px;
                line-height: 19px;
                padding-left: 28px;
                border-left: none;
                text-align: left;
                min-width: 150px;
                border-radius: 0;
                border-bottom: 1px solid #dddddd;
                background: #FAFAFA;

                .anticon-close {
                    margin-top: -5px;
                    line-height: 10px;
                    opacity: 1;
                    font-size: 11px;
                }
            }

            .ant-tabs-tab-active {
                background: #fff;
                border-color: #dddddd;
                color: #2491F7;
                border-bottom: 1px solid #ffffff;
            }

            .ant-tabs-tab-active:after {
                content: "";
                position: absolute;
                top: 0px;
                left: -1px;
                right: -1px;
                height: 3px;
                z-index: 3;
                opacity: 0.8;
                background: #2491F7;
            }
        }
    }
}

.s-tree-folder {
    &>.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/folder.svg);
    }
}

.s-tree-item {
    &>.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/file.svg);
    }
}

.s-database {
    .ant-tree-node-content-wrapper>.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/database.svg);
    }
}

.s-table {
    .ant-tree-node-content-wrapper >.ant-tree-iconEle {
        background-image: url(/public/analyticsEngine/img/table.svg);
    }
}

.s-datamap {
   .ant-tree-node-content-wrapper>.ant-tree-icon__docu {
        background-image: url(/public/analyticsEngine/img/datamap.svg);
    }
}


.response-succ {
    padding: 30px 60px;
    text-align: justify;
    font-family: PingFangSC-Regular;

    .status-icon {
        font-size: 50px;
        color: #00A755;
    }

    .status-desc {
        color: #333333;
        font-size: 14px;
        margin-top: 10px;
    }

    .response-info {
        font-size: 12px;
        color: #333333;
        margin-top: 20px;
        line-height: 30px;
        padding-left: 100px;
    }

    .response-warning {
        font-size: 12px;
        color: #EF5350;
        margin-top: 5px;
        text-align: center;
    }
}

.row-content {
    margin-top: 15px;

    .row-title {
        font-size: 14px;
        color: #333333;
        height: 30px;
        line-height: 30px;
    }

    .m-card {
        margin-top: 5px;
        .ant-card-head {
            padding: 0;
            height: 40px;
        }
    }
}

.table-info {
    border-collapse: collapse;

    tr {
        td {
            height: 40px;
            border: 1px solid #DDDDDD;;
            padding: 0 10px;
            color: #333333;
            font-size: 12px;
            letter-spacing: 0;
        }

        td:nth-child(2n+1) {
            text-align: left;
            background: #FAFAFA;
            width: 190px;
            padding-left: 30px;
        }
    }
}
