@import "~@/styles/variables.scss";

// 新增 operation 样式
.c-taskMana__wrap {
    height: 100%;

    .ant-tabs-tab {
        padding: 12px 16px;
        font-size: 12px;

        .ant-tabs-tab-btn {
            text-shadow: none;
        }
    }

    .dt-slide-pane {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 60%;
        padding-top: 11px;
    }

    .c-taskMana__slidePane__tabs {
        height: calc(100% - $statusBar-size);

        > .ant-tabs-content-holder {
            > .ant-tabs-content {
                height: 100%;

                > .ant-tabs-tabpane {
                    height: 100%;
                    overflow: auto;
                }

                > .ant-tabs-tabpane-inactive {
                    height: 0;
                    min-height: 0 !important;
                }
            }
        }
    }
}
