
.login-bg{
  background-image: url('/assets/imgs/xihubeijing.png');
  background-size: 100% 100%;
  height: 100%;
  overflow:hidden;
}
.login-form {
  margin:146px auto !important;
  padding:30px 30px 10px  !important;
  height:460px;
  width: 460px;
  background: #fff;
  border-radius: 5px;
  .login-title{
    text-align: center;
    margin-top:10px;
    img{
      width:67px;
      margin-bottom:5px;
    }
    div{
      font-size:16px;
      color:#666;
    }
  }
}
 .login-form-forgot {
  float: right;
}
 .login-form-button {
  width: 100%;
}
