// ==== 颜色 ====
$bgColor: var(--input-background); // 背景色
$color1: var(--input-foreground); // 主色
$color2: var(--focusBorder); // 第二色

// ==== 字体 ====
$font1: 14px;
$font2: 16px;
$fontColor: var(--input-foreground);
// ==== 页面大小 ====
$minWidth: 1260px;
$mark: rgba(255, 255, 255, 0.4);