.c-tablePane {
    padding: 12px;
    color: #333;
    .c-tablePane__loading {
        text-align: center;
        margin-top: 20px;
    }
    .c-tablePane__header {
        font-size: 13px;
        line-height: 18px;
        font-weight: bold;
    }
    .c-tablePane__tables {
        margin-top: 9px;
        .tablePane-search {
            width: 100%;
        }
        .c-tablePane__notables {
            font-style: italic;
            color: #666;
            font-size: 12px;
            padding-left: 15px;
        }
        .c-tablePane__table {
            margin-top: 12px;
            margin-bottom: 4px;
            .c-tablePane__table__title {
                display: flex;
                background: #f7f7f7;
                padding: 5px 5px 5px 0px;
                align-items: center;
                transition-duration: 0.2s;
                .c-tablePnae__table__title__icon {
                    height: 15px;
                    margin-left: 2px;
                    margin-right: 2px;
                    cursor: pointer;
                }
                .c-tablePnae__table__title__name {
                    cursor: pointer;
                    flex-grow: 1;
                    line-height: 17px;
                }
                &:hover {
                    background: #efefef;
                }
            }
            .c-tablePane__table__columns {
                margin-top: 4px;
                .c-tablePane__table__column {
                    line-height: 17px;
                    padding: 4px 4px 4px 20px;
                    display: flex;
                    .c-table__column__name {
                        flex-grow: 1;
                        padding-right: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .c-table__column__type {
                        flex-grow: 0;
                        flex-shrink: 0;
                        width: 27%;
                        max-width: 80px;
                        text-align: left;
                        color: #999;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
.c-extraPane__table__detail {
    width: 370px;
    color: #333;
    header {
        overflow: hidden;
        .c-close__icon {
            float: right;
            font-size: 18px;
            color: #9eabb2;
            cursor: pointer;
            &:hover {
                color: #dcdcdc;
            }
        }
        .c-table__name {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
        }
    }
    .c-table__detail__columns {
        .c-table__detail__search {
            width: 100%;
            margin-bottom: 12px;
        }
    }
}
