@import './main.scss';
@import './tablePane.scss';
@import './taskComponent/index.scss';

.mo-workbench {
	.ant-select-selection {
		color: var(--input-foreground);
		background-color: var(--input-background);
	}
	.ant-select-dropdown {
		color: var(--input-foreground);
		background-color: var(--input-background);
	}
	.ant-input {
		color: var(--input-foreground);
		background-color: var(--input-background);
	}
	.dt-dev-task {
		.Resizer.vertical {
			z-index: 1000;
			margin: 0 -5px;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			cursor: col-resize;
			&:hover {
				border-right: 5px solid var(--dropdown-border);
				border-left: 5px solid var(--dropdown-border);
				opacity: 0.2;
			}
		}

		.mask {
			pointer-events: none;
		}

		.noMarginBottom {
			margin-bottom: 0;
		}

		.ant-layout-sider {
			background-color: var(--workbenchBackground);
		}

		.operation-card {
			display: inline-block;
			width: 210px;
			margin: 0 10px;
			p {
				line-height: 45px;
			}
		}

		.m-taskedit {
			height: 100%;
			min-height: 500px;
			padding: 60px;
			overflow: auto;
		}

		.operation-content {
			height: 165px;
			color: #808080;
			font-size: 60px;
			text-align: center;
			vertical-align: middle;
			background: var(--workbenchBackground);
			border: 1px solid var(--dropdown-border);
			border-radius: 3px;
			cursor: pointer;
			.anticon {
				width: 100px;
				height: 100px;
				margin-top: 20px;
			}
			.operation-title {
				color: var(--input-foreground);
				font-size: 14px;
				line-height: 20px;
			}
		}

		.task-tab-menu {
			& > .ant-tabs-bar {
				width: 30px;
				height: 100vh;
				color: #bfbfbf;
				background: #0e0e17;
				border-bottom: 0;
				.ant-tabs-tab {
					height: auto;
					margin-bottom: 0;
					padding: 10px 4px 10px 5px;
					font-size: 12px;
					letter-spacing: 3px;
					writing-mode: tb-rl;
				}
				.ant-tabs-nav {
					background: none;
				}
				.ant-tabs-ink-bar {
					left: 0;
					width: 3px;
				}
			}

			& > .ant-tabs-content {
				height: 96vh;
				margin: 0;
				padding: 0;
			}

			& > .ant-menu-inline,
			.ant-menu-vertical {
				border-right: 0;
			}
			.ant-tabs-content {
				.ant-collapse-item {
					.ant-collapse-content {
						background-color: var(--workbenchBackground);
					}
				}
			}
		}

		.task-sidebar {
			.ant-tabs-tabpane {
				height: 100%;
				overflow: hidden;
			}

			.ant-tabs-tabpane-inactive {
				height: 0;
			}

			.ant-menu-submenu-title {
				color: #333333;
				font-size: 13px;
				border-bottom: 1px solid var(--dropdown-border);
			}
			.ant-tree li span.ant-tree-switcher,
			.ant-tree li span.ant-tree-iconEle {
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-top: 5px;
				line-height: 16px;
			}
			.ant-tree-icon__open,
			.ant-tree-icon__close,
			.ant-tree-icon__docu {
				width: 16px;
				height: 16px;
				margin-top: -3px;
				margin-right: 3px;
				line-height: 16px;
				background-position: center center;
				background-size: cover;
			}
			.menu-content {
				display: flex;
				flex-direction: column;
				height: 100%;
				&::-webkit-scrollbar-track {
					border-right: none;
				}
				header {
					z-index: 999;
					flex-grow: 0;
					flex-shrink: 0;
					height: 41px;
					margin-left: 1px;
					padding-top: 4px;
					padding-right: 15px;
					padding-bottom: 3px;
					line-height: 32px;
					text-align: right;
					background: var(--workbenchBackground);
					border-bottom: 1px solid var(--dropdown-border);
					.anticon {
						margin-left: 8px;
						color: var(--input-foreground);
						font-size: 14px;
						line-height: 32px;
						letter-spacing: 0;
						cursor: pointer;
					}
					.ant-select-arrow {
						top: 6px;
					}
				}
				.contentBox {
					position: relative;
					flex-basis: 50%;
					flex-grow: 1;
					flex-shrink: 0;
					.folder-box {
						position: absolute;
						top: 0px;
						right: 0px;
						bottom: 0px;
						left: 0px;
						padding: 0px 5px 20px;
						overflow-x: hidden;
						overflow-y: auto;
					}
				}
				.ant-tree {
					line-height: 30px;
					li {
						padding: 0;
					}
					.ant-tree-switcher {
						display: inline-block;
						width: 24px;
						height: 36px;
						margin: 0;
						line-height: 24px;
						text-align: center;
						vertical-align: middle;
						border: 0 none;
						outline: none;
						cursor: pointer;
					}

					.file-item,
					.folder-item {
						display: inline-block;
						width: 100%;
						padding-right: 30px;
						overflow: hidden;
						text-overflow: ellipsis;
						vertical-align: middle;
						&:before {
							position: absolute;
							top: -5px;
							bottom: -5px;
							left: -20px;
							width: 20px;
							content: '';
						}
					}
					.lock-file {
						padding-right: 60px;
					}
					.item-tooltip {
						color: #d9d9d9;
						font-size: 12px;
					}
				}
				.icon {
					margin-right: 8px;
					color: $color2;
					font-size: 14px;
				}
				.tab-search {
					position: absolute;
					top: 35px;
					z-index: 999;
					min-width: 140px;
					height: 30px;
					background: var(--workbenchBackground);

					.ant-input-search {
						height: 28px;
					}
				}
				.tb-info {
					position: relative;
					flex-basis: 200px;
					flex-grow: 1;
					border-top: 1px solid #dddddd;
					.ant-tabs-bar {
						height: 35px;
					}
					.ant-table-thead > tr > th,
					.ant-table-tbody > tr > td {
						height: 30px;
						padding: 0 5px;
					}
					.ant-pagination {
						margin-right: 10px;
					}
					.ant-pagination-simple .ant-pagination-simple-pager input {
						margin: 0 6px;
						padding: 0;
					}
					&.tb-info--noBorderBottom .ant-tabs-bar {
						border-bottom: none;
					}
				}
				.ant-tree-node-content-wrapper {
					width: 100%;
				}
				.ant-tree-title {
					position: relative;
					display: inline-block;
					width: 100%;
				}
			}
		}
		// -----------------离线---------------------
		.g-taskOfflineSidebar {
			height: 100%;
			.m-tasktitle {
				margin-top: -10px;
				text-align: right;
				.anticon {
					margin-left: 10px;
					font-size: 16px;
					cursor: pointer;
				}
			}
		}
	}

	.diff-params {
		.title {
			padding: 0 10px 10px;
			font-size: 14px;
		}
		.box-padding {
			margin-left: 10px;
			padding-left: 10px;
			border: 1px solid #ccc;
			.schedulingCycle {
				min-height: 281px;
			}
			.line {
				width: 80%;
				border-bottom: 1px solid #ccc;
			}
			.sub-title {
				height: 40px;
				padding-top: 15px;
				font-size: 14px;
			}
			.txt-left {
				height: 40px;
				line-height: 40px;
			}
			.word-break {
				min-height: 40px;
				overflow: hidden;
				line-height: 40px;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}

	.m-dirpicker {
		padding: 10px;
		border: 1px solid #ddd;
		border-radius: 5px;
		box-shadow: 0 0 3px 1px #eee;
	}

	.dt-dev-task .task-editor {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #f2f3f8;
	}

	.dt-fake-textArea {
		position: relative;
		display: inline-block;
		width: 100%;
		padding: 4px 0px 0px 7px;
		color: rgba(0, 0, 0, 0.65);
		font-size: 12px;
		line-height: 1.5;
		background-color: var(--workbenchBackground);
		background-image: none;
		border: 1px solid #dddddd;
		border-radius: 2px;
		transition: all 0.3s, height 0s;
		> span {
			top: 1px;
			z-index: 1;
			display: inline-block;
			word-break: break-all;
			background: white;
		}

		&:hover {
			border-color: #58abf9;
		}

		.ant-input {
			padding: 0px 0 4px 0;
			border: none;
			&:hover {
				border: none;
			}
			&:focus {
				box-shadow: none;
			}
		}
	}
	.dt-fake-textarea-focus {
		border-color: #58abf9;
		outline: 0;
		box-shadow: 0 0 0 2px rgba(36, 145, 247, 0.2);
	}

	.task-editor {
		.CodeMirror-gutters {
			background: #f2f3f8;
		}

		.browser-content {
			position: absolute;
			top: 0;
			bottom: 40px;
			width: 100%;
			padding-right: 30px;
			background: var(--workbenchBackground);
			border-top: 1px solid #dddddd;

			.browser-tabs {
				> .ant-tabs-bar {
					> .ant-tabs-extra-content {
						height: 30px;
					}
				}
				.ant-tabs-nav-container {
					height: 30px;
					color: rgba(0, 0, 0, 0.65);
					font-size: 12px;
				}
				.ant-tabs-bar .ant-tabs-tab-active {
					background: var(--workbenchBackground);
					&:after {
						position: absolute;
						top: 0px;
						right: -1px;
						left: -1px;
						z-index: 3;
						height: 3px;
						background: #2491f7;
						opacity: 0.8;
						content: '';
					}
				}
			}
			.m-editor
				.ant-tabs.ant-tabs-card
				> .ant-tabs-bar
				.ant-tabs-nav-animated
				.ant-tabs-tab
				.anticon-close {
				display: inline;
				font-size: 11px;
				line-height: 10px;
			}
			.ant-tabs.ant-tabs-card
				> .ant-tabs-bar
				.ant-tabs-nav-container
				.ant-tabs-tab
				.anticon-close {
				margin-top: -20px;
				font-size: 11px;
				line-height: 10px;
			}
			.browser-tabs.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
				min-width: 120px;
				margin-right: 0px;
				padding-bottom: 6px;
				padding-left: 28px;
				line-height: 19px;
				text-align: left;
				border-top: none;
				border-left: none;
				border-radius: 0;
			}

			.browser-tabs.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:hover {
				background: #eef6fe;
			}

			.browser-tabs.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:hover .not-synced {
				visibility: hidden;
			}

			.ant-collapse-header {
				font-weight: 600;
				font-size: 14px;
			}

			.m-scheduling {
				.schedule-form {
					//改变右侧form表单之间的间距
					.ant-form-item {
						margin-bottom: 20px;
						color: rgba(0, 0, 0, 0.65);
						font-size: 12px;
						vertical-align: top;
					}
				}
				.ant-collapse-content {
					overflow: inherit;
					color: rgba(0, 0, 0, 0.65);
				}
			}
		}

		.workbench-toolbar {
			width: 100%;
			height: 40px;
			padding: 6px 20px;
			background: var(--workbenchBackground);

			button {
				position: relative;
				padding-left: 20px;
				line-height: 28px;
				border: 0;
			}
			.ant-btn.disabled,
			.ant-btn[disabled],
			.ant-btn.disabled:hover,
			.ant-btn[disabled]:hover,
			.ant-btn.disabled:focus,
			.ant-btn[disabled]:focus,
			.ant-btn.disabled:active,
			.ant-btn[disabled]:active,
			.ant-btn.disabled.active,
			.ant-btn[disabled].active {
				background: transparent;
			}
			.my-icon {
				position: absolute;
				top: 9px;
				left: 0px;
			}
		}
		.Pane2 {
			overflow-x: auto;
		}
		.task-browser {
			position: relative;
			height: 100%;

			.not-synced {
				position: absolute;
				top: 10.5px;
				right: 5px;
				z-index: 99;
				display: inline-block;
				width: 8px;
				height: 8px;
				background-color: rgba(255, 87, 34, 0.7);
				border-radius: 50%;
			}

			.tab-ellipsis,
			.normal-tab,
			.workflow-name {
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.tab-ellipsis {
				width: 120px;
				height: 30px;
				overflow: hidden;
				line-height: 30px;
				white-space: nowrap;
			}

			.workflow-name {
				max-width: 60px;
			}

			.normal-tab {
				max-width: 60px;
				color: rgba(0, 0, 0, 0.65);
			}
			.Resizer.vertical {
				border-top: 1px solid var(--dropdown-border);
				border-bottom: 1px solid var(--dropdown-border);
			}

			.browser-content {
				& > .ant-tabs {
					.ant-tabs-bar {
						margin-bottom: 0px;
						border-bottom: 0;
					}

					.ant-tabs-content {
						height: 0px;
						min-height: 0px;
						background: var(--workbenchBackground);
						border-bottom: 0px;
					}
				}
			}

			.m-siderbench {
				position: absolute;
				top: 30px;
				right: -1px;
				z-index: 902;
				width: 30px;
				height: 100%;
				padding-bottom: 35px;
				overflow: auto;
				.ant-tabs-vertical.ant-tabs-card > .ant-tabs-bar {
					.ant-tabs-tab {
						margin-bottom: 0;
						padding: 5px 0;
						border-left: 1px solid var(--dropdown-border);
					}
					.ant-tabs-tab:hover {
						background: #eef6fe;
					}
				}
			}
			.editor-container {
				height: calc(100% - 30px);
				background: var(--workbenchBackground);
				border: 1px solid var(--dropdown-border);
				border-left: 0;
				border-top-left-radius: 0;
			}
			.add-tab {
				position: absolute;
				top: 0px;
				right: 30px;
			}
			.task-params {
				width: 100%;
				height: 100%;

				.ant-tabs-content {
					height: 100%;
					padding-right: 0;
					border-top: 1px solid var(--dropdown-border);
					border-bottom: 1px solid var(--dropdown-border);
					border-radius: 4px;
					> .ant-tabs-tabpane {
						&.ant-tabs-tabpane-active .ant-collapse-borderless {
							background: var(--workbenchBackground);
						}
						height: 100%;
						.ant-collapse-header {
							padding-bottom: 5px;
						}
					}
					> .ant-tabs-tabpane-inactive {
						height: 0;
					}
				}
				.ant-tabs-tab {
					width: 30px;
					height: auto;
					padding-right: 5px !important;
					padding-left: 0 !important;
					font-size: 12px;
					line-height: 20px;
					letter-spacing: 3px;
					border: 0;
					border-top: 1px solid var(--dropdown-border);
					border-bottom: 2px solid var(--dropdown-border);
					border-radius: 0;
					writing-mode: tb-rl;
				}
				.ant-tabs-bar .ant-tabs-tab-active {
					margin-left: 1px;
					background: var(--workbenchBackground);
					border-top: 1px solid var(--dropdown-border);
					border-bottom: 2px solid var(--dropdown-border);
					&:after {
						position: absolute;
						top: 0px;
						right: -1px;
						z-index: 999;
						width: 3px;
						height: 100%;
						background: #2491f7;
						opacity: 0.8;
						content: '';
					}
					&:before {
						position: absolute;
						top: 0px;
						left: 0px;
						z-index: 999;
						width: 3px;
						height: 100%;
						background: transparent;
						content: '';
					}
				}
				.ant-tabs-tab-active {
					margin-left: 1 !important;
				}
				.task-info {
					line-height: 40px;
					word-break: break-word;
					background: var(--workbenchBackground);
					border: 1px solid #e8e8e8;
					.task-info-line {
						border-bottom: 1px solid #e8e8e8;
					}
					.ant-row {
						line-height: 25px;
					}
					.txt-left {
						padding-left: 13px;
						color: #333333;
						text-align: left;
						border-right: 1px solid #e8e8e8;
					}
					.txt-right {
						padding-left: 13px;
						text-align: left;
					}
					.ant-tag {
						margin-bottom: 5px;
					}
				}
			}
			.title-vertical {
				width: 30px;
			}
			.tabpanel-content {
				margin-top: 20px;
			}
			.panel-content {
				padding: 20 20 20 20;
				.input-panel {
					margin-bottom: 15px;
					overflow: hidden;
					background: #f7f7f7;
					border: 1px solid #ddd;
				}
				.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
					background-color: var(--workbenchBackground);
					border-top: 0;
				}
				.title-icon {
					float: right;
					margin-top: 3px;
					margin-right: 18px;
					font-size: 16px;
				}
				.stream-btn {
					width: 100%;
					height: 32px;
					margin-top: 25px;
				}
				.title-content {
					.ant-form-item {
						margin-bottom: 20px;
						color: rgba(0, 0, 0, 0.65);
						font-size: 12px;
						vertical-align: top;
					}
					.left-type {
						float: right;
						line-height: 28px;
					}
					.right-select {
						width: 100%;
						.ant-select-selection {
							display: block;
							box-sizing: border-box;
							background-color: var(--workbenchBackground);
							border: 1px solid #dddddd;
							border-radius: 5px;
							outline: none;
							transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
							user-select: none;
						}
						.ant-radio-button-wrapper:first-child {
							border-radius: 5px 0 0 5px;
						}
						.ant-radio-button-wrapper:last-child {
							border-radius: 0 5px 5px 0;
						}
					}
					.right-input {
						height: 30px;
						border-radius: 5px;
					}
					.number-input {
						width: 100%;
						height: 30px;
						border-radius: 5px;
					}
					.ant-input-number-lg input {
						height: 25px;
					}
					.sub-right-select {
						width: 100%;
					}
					.title-column {
						padding-left: 20px;
					}
					.table-small {
						.ant-table-small {
							border: 0;
						}
						.ant-table-thead > tr > th {
							color: rgba(0, 0, 0, 0.85);
							font-weight: 500;
							text-align: left;
							background: #f7f7f7;
							transition: background 0.3s ease;
						}
						.ant-table-small .ant-table-header > table,
						.ant-table-small .ant-table-body > table {
							padding: 0;
							border: 0;
						}
					}
				}
			}
		}
		.lock-layer {
			position: absolute;
			top: 35px;
			left: 0;
			z-index: 900;
			width: 100%;
			height: 100%;
			cursor: not-allowed;
		}
		.lock-layer-sync {
			position: absolute;
			top: 35px;
			left: 0;
			width: 100%;
		}
		.lock-layer-editor {
			position: absolute;
			top: 35px;
			left: 0;
			z-index: 900;
			width: 100%;
			height: 35px;
			cursor: not-allowed;
		}
	}

	.task-log-info {
		margin-top: 20px;
		margin-left: -42px;
		.code-editor {
			height: 200px;
			max-height: 400px;
		}
		.log-title {
			margin: 10px 0;
		}
	}

	.m-datasync {
		height: 100%;
		padding: 60px;
		overflow: auto;

		.c-tableCell {
			text-indent: none;
			resize: none;
			&::-webkit-scrollbar {
				display: none;
			}
		}

		.steps-content {
			min-width: 770px;
			min-height: 200px;
			margin-top: 40px;
			padding: 40px 0;
			border: 1px dashed var(--dropdown-border);
			border-radius: 0px;
		}
		.steps-mask {
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			z-index: 900;
			cursor: not-allowed;
		}
		.ant-steps-icon {
			line-height: 23px !important;
		}
		.steps-action {
			margin-top: 24px;
			text-align: center;
		}
		.m-keymapbox {
			position: relative;

			.pa {
				position: absolute;
			}

			.col-plugin {
				padding: 10px;
				padding-right: 0;
				cursor: pointer;
			}

			.m-col {
				line-height: 40px;
				background: var(--badge-background);
				border-bottom: 1px dotted #ccc;
				&.title {
					background: var(--badge-background);
				}
				&.footer {
					background: var(--badge-background);
				}
				.cell {
					float: left;
					box-sizing: border-box;
					padding: 0 10px;
					overflow: hidden;
					font-size: 11px;
					text-align: left;
					text-overflow: ellipsis;
					&:first-child {
						width: 40%;
						font-weight: bold;
					}
					&:nth-child(2) {
						width: 40%;
						white-space: nowrap;
						text-align: left;
					}
					&:nth-child(3) {
						width: 20%;
						text-align: right;
					}
				}
				.remove-cell,
				.edit-cell {
					position: absolute;
					top: 14px;
					z-index: 2;
					display: inline-block;
					font-weight: normal;
					line-height: 1;
					cursor: pointer;
				}
				.four-cells {
					.cell {
						&:first-child {
							width: 30%;
							font-weight: bold;
						}
						&:nth-child(2) {
							width: 30%;
							text-align: left;
						}
						&:nth-child(3) {
							width: 20%;
							text-align: right;
						}
						&:nth-child(4) {
							width: 20%;
							text-align: right;
						}
					}
				}
				.remove-cell {
					right: 23px;
				}
				.edit-cell {
					right: 10px;
				}
			}
			.dl {
				.dag-circle {
					cursor: crosshair;
				}
			}
		}
		.m-buttons {
			padding-top: 10px;
			text-align: center;
			button {
				margin-bottom: 5px;
			}
		}
		.cell-input {
			width: 100%;
			height: 28px;
			margin: 5px 5px 5px 0px;
			text-align: left;
			background-color: transparent;
			background-image: none;
			border: none;
		}
	}

	.m-siderbench .ant-tabs-content {
		overflow: auto !important;
	}

	.m-taskselector {
		position: relative;
		.tasklist {
			position: absolute;
			top: 32px;
			left: 0;
			z-index: 100;
			width: 100%;
			max-height: 120px;
			overflow: auto;
			background: var(--workbenchBackground);
			border: 1px solid #ddd;
			border-radius: 3px;
			.taskitem {
				height: 32px;
				padding: 0 10px;
				line-height: 32px;
				border-bottom: 1px solid #eee;
				cursor: pointer;
				&:last-child {
					border: none;
				}
				&:hover {
					background: #eee;
				}
			}
		}
	}

	.m-codemodal .ant-modal-body {
		padding: 0;
	}

	.padding-r0 .ant-tabs-vertical {
		& > .ant-tabs-bar {
			margin-bottom: 1px;
			margin-left: -1px;
			border-bottom: 0;
			border-left: none;
			border-radius: 0;
		}

		& > .ant-tabs-content {
			padding-right: 0px;
			background: var(--workbenchBackground);
			border: 1px solid var(--dropdown-border);
			border-left: 1px solid var(--dropdown-border);
			border-radius: 0px;
		}
	}

	.clear-offset
		.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only)
		.anticon {
		margin-left: 0px;
	}

	.clear-offset
		.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) {
		padding-left: 20px;
	}
	.cover-mask {
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: 999;
		height: 96vh;
		cursor: not-allowed;
	}
	.table-detail-card {
		.ant-tooltip-inner {
			max-width: 350px;
			color: rgba(1, 1, 1, 0.84);
			background: var(--workbenchBackground);
		}
		.ant-tooltip-arrow {
			border-right-color: var(--workbenchBackground);
			border-bottom-color: var(--workbenchBackground);
		}
		.detail-content {
			width: 350px;
			padding: 10px;
			font-size: 12px;
		}
		.text-item {
			margin-bottom: 12px;
		}
		.text-item-value {
			display: inline-block;
			width: 150px;
			padding-right: 10px;
			color: rgba(1, 1, 1, 0.84);
			vertical-align: text-top;
			word-break: break-all;
		}
		.text-item-name {
			display: inline-block;
			width: 90px;
			color: rgba(1, 1, 1, 0.54);
			font-weight: bold;
		}
	}

	.ant-popover-inner {
		background-color: var(--workbenchBackground);
		background-clip: padding-box;
		border-radius: 5px;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
	}
	.click-icon {
		cursor: pointer;
	}
	.click-icon:hover {
		color: #000;
	}
	.g-tableviewer {
		position: absolute;
		top: 0px;
		bottom: 0px;
		width: 100%;
		.ant-tabs {
			overflow: auto;
		}
	}
	.c-task__main-box {
		width: 100%;
		height: 100%;
		background: var(--workbenchBackground);
	}

	.c-funcMa__collapse {
		.folder-box {
			padding: 0 !important;
		}
		.ant-collapse {
			border: 0;
			border-radius: 0;
			& > .ant-collapse-item > .ant-collapse-header {
				padding: 4px 0 4px 32px;

				.arrow {
					line-height: 30px;

					&::before {
						font-weight: bold;
						font-size: 12px;
						transform: rotate(270deg);
						content: '\E606';
					}
				}
			}

			.ant-collapse-item-active > .ant-collapse-header {
				border-bottom: 1px solid #dddddd;
			}
		}
	}
	.ant-dropdown-menu-submenu-title {
		clear: both;
		margin: 0;
		padding: 7px 13px;
		color: rgba(0, 0, 0, 0.65);
		font-weight: normal;
		font-size: 12px;
		white-space: nowrap;
		cursor: pointer;
		transition: all 0.3s;
	}
	.ant-dropdown-menu-submenu-title:after {
		position: absolute;
		right: 0;
		display: inline-block;
		color: rgba(0, 0, 0, 0.43);
		font-size: 12px;
		font-family: 'anticon', sans-serif !important;
		transform: scale(0.83333333) rotate(0deg);
		content: '\E61F';
		zoom: 1;
	}
	.c-task__content__spin-box {
		height: 100%;
		> .ant-spin-container {
			height: 100%;
			> .c-task__main-box {
				height: 100%;
			}
		}
	}

	// 升级以后特殊处理左侧导航栏样式
	.m-ant-menu {
		height: 96vh;
	}
	// 此处对modal的样式进行特殊覆盖，后期等theme维护再改回来
	.api_mapping_width {
		width: 850px !important;
	}
	.inline {
		display: inline-block;
	}
	.task_offline_message {
		margin-bottom: 10px;
		padding: 10px;
		color: #666;
		font-size: 12px;
		background-color: #eef6fe;
	}
	.mask-lock-layer {
		position: absolute;
		top: 48px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: 3;
		background: $mark;
		cursor: not-allowed;
	}
	.ant-form-item-children {
		position: initial;
	}
	.bd-top {
		border-top: 1px solid #ddd;
	}
	.bd-bottom {
		border-bottom: 1px solid #ddd;
	}
	.bd-left {
		border-left: 1px solid #ddd;
	}
	.bd-right {
		border-right: 1px solid #ddd;
	}

	.ide-editor .ide-toolbar {
		height: 36px;
	}
	.ide-editor .ide-console > .ant-tabs > .ant-tabs-content > .ant-tabs-tabpane-inactive {
		height: 0;
	}
	.txt-right {
		text-align: right;
	}
	.Pane2 {
		.ide-console {
			.ant-tabs-nav-container {
				.ant-tabs-nav-wrap {
					.ant-tabs-nav-animated > div {
						.ant-tabs-tab:first-child {
							.ant-tabs-close-x {
								display: none !important;
							}
						}
					}
				}
			}
		}
	}
	.batch-dataSync_form {
		justify-content: space-around;
		margin-bottom: 10px;
		line-height: 32px;
		white-space: nowrap;

		span {
			margin-right: 8px;
		}
	}

	.component-version {
		&__modal {
			.ant-tabs-card-content {
				max-height: calc(80vh - 250px);
				overflow: auto;
			}
			.ant-table-small > .ant-table-content > .ant-table-body {
				margin: 0;
			}
			.ant-table-wrapper .ant-spin-container > .ant-table-pagination {
				height: 44px;
				line-height: 44px;
			}
		}
	}

	.component-info {
		background-color: var(--workbenchBackground);
		border-top: 1px solid #e8e8e8;
		border-left: 1px solid #e8e8e8;
		&-line {
			.ant-col {
				height: 40px;
				padding-left: 12px;
				overflow: hidden;
				line-height: 40px;
				white-space: nowrap;
				text-overflow: ellipsis;
				border-right: 1px solid #e8e8e8;
				border-bottom: 1px solid #e8e8e8;
			}
		}
	}
	.help-doc {
		position: absolute;
		top: 10px;
		right: -20px;
	}
	.mo_code_mirror {
		position: relative;
		height: 100%;

		.CodeMirror {
			background: none;

			.cm-s-default .cm-bracket {
				color: var(--input-foreground);
			}
		}
	}
}
