.c-editCluster__componentButton {
	width: 210px;
	height: 40px;
	background: rgba(250, 250, 250, 1);
	border-radius: 0;
	padding: 0;
	border-left-width: 0;
	border-bottom-width: 0;

	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: #3f87ff;
		border-color: #dddddd;
	}
}

.c-componentButton__title {
	width: 240px;
	height: 40px;
	line-height: 40px;
	font-weight: 500;
	font-size: 14px;
	padding-left: 20px;
	margin: -16px -16px 10px -36px;
	border-bottom: 1px solid #e8e8e8;
}

.c-componentButton__content {
	margin-left: -16px;

	.ant-col {
		margin-bottom: 12px;
	}
}
