.c-editCluster__container__componentTabs {
	.c-editCluster__componentButton {
		width: 210px;
		height: 40px;
		padding: 0;
		background: rgba(250, 250, 250, 1);
		border-bottom-width: 0;
		border-left-width: 0;
		border-radius: 0;

		&:hover,
		&:active,
		&:focus,
		&:visited {
			color: #3f87ff;
			border-color: #ddd;
		}
	}

	.c-componentButton__title {
		width: 240px;
		height: 40px;
		margin: -16px -16px 10px -36px;
		padding-left: 20px;
		font-weight: 500;
		font-size: 14px;
		line-height: 40px;
		border-bottom: 1px solid #e8e8e8;
	}

	.c-componentButton__content {
		margin-left: -16px;

		.ant-col {
			margin-bottom: 12px;
		}
	}
}
