<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.taiga.dao.mapper.BatchFunctionResourceDao">

    <sql id="select_content_fragment">
      id,function_id,resource_id, gmt_create,gmt_modified,is_deleted, tenant_id
    </sql>

    <sql id="update_fragment">
        <set>
            <if test="id != null and id > 0">
                id = #{id},
            </if>
            <if test="functionId != null">
                function_id = #{functionId},
            </if>
            <if test="resourceId != null">
                resource_id = #{resourceId},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            gmt_modified = now()
        </set>
    </sql>

    <insert id="insert" parameterType="com.dtstack.taiga.dao.domain.BatchFunctionResource" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rdos_batch_function_resource
          (function_id,resource_id,gmt_create,gmt_modified,is_deleted,tenant_id,resourceId)
        VALUES
            (#{functionId},#{resource_Id},now(),now(),0,#{tenantId},#{resourceId})
    </insert>

    <select id="listByFunctionId" resultType="com.dtstack.taiga.dao.domain.BatchFunctionResource">
        SELECT resource_id AS resource_id,
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function_resource
        WHERE function_id = #{functionId} AND is_deleted = 0
    </select>

    <select id="listByFunctionResourceId" resultType="com.dtstack.taiga.dao.domain.BatchFunctionResource">
        SELECT resource_id AS resource_id,
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function_resource
        WHERE resource_id = #{resource_Id} AND is_deleted = 0
    </select>

    <update id="update" parameterType="com.dtstack.taiga.dao.domain.BatchFunctionResource">
        UPDATE rdos_batch_function_resource
        <include refid="update_fragment"/>
        WHERE
        function_id = #{functionId} AND is_deleted = 0
    </update>

    <update id="deleteByFunctionId">
        update rdos_batch_function_resource set is_deleted = 1
        WHERE function_id = #{functionId}
    </update>

    <select id="listByResourceId" resultType="com.dtstack.taiga.dao.domain.BatchFunctionResource">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function_resource
        WHERE resource_id = #{resourceId} and is_deleted = 0
    </select>

    <select id="getResourceFunctionByFunctionId" resultType="com.dtstack.taiga.dao.domain.BatchFunctionResource">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function_resource
        WHERE function_id = #{functionId} AND is_deleted = 0 LIMIT 1
    </select>
</mapper>
