<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.taiga.dao.mapper.BatchTaskParamDao">

    <sql id="select_content_fragment">
      id,task_id,type,param_name,param_command,gmt_create,gmt_modified,is_deleted
    </sql>

    <sql id="update_fragment">
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="taskId != null">
                task_id = #{taskId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="paramName != null">
                param_name = #{paramName},
            </if>
            <if test="paramCommand != null">
                param_command = #{paramCommand},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            gmt_modified = now()
        </set>
    </sql>

    <delete id="deleteByTaskId">
        delete from rdos_batch_task_param
        WHERE task_id = #{taskId}
    </delete>

    <select id="listByTaskId" resultType="com.dtstack.taiga.dao.domain.BatchTaskParam">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_task_param
        WHERE task_id = #{taskId} AND is_deleted = 0
    </select>

    <insert id="insert" parameterType="com.dtstack.taiga.dao.domain.BatchTaskParam" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rdos_batch_task_param
          (task_id,type,param_name,param_command,gmt_create,gmt_modified,is_deleted)
        VALUES
          (#{taskId},#{type},#{paramName},#{paramCommand},#{gmtCreate},#{gmtModified},#{isDeleted})
    </insert>

    <insert id="batchInsert" parameterType="com.dtstack.taiga.dao.domain.BatchTaskParam" >
        INSERT INTO rdos_batch_task_param
          (task_id,type,param_name,param_command,gmt_create,gmt_modified,is_deleted)
        VALUES
        <foreach collection="list" separator="," item="bean">
            (#{bean.taskId},#{bean.type},#{bean.paramName},#{bean.paramCommand},now(),now(),0)
        </foreach>
    </insert>

    <update id="update" parameterType="com.dtstack.taiga.dao.domain.BatchTaskParam">
        UPDATE
        rdos_batch_task_param
        <include refid="update_fragment"/>
        WHERE
        id = #{id} AND is_deleted = 0
    </update>

</mapper>
