.dt-fake-textArea {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 4px 0 0 7px;
	color: rgba(0, 0, 0, 0.65);
	font-size: 12px;
	line-height: 1.5;
	background-color: var(--workbenchBackground);
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 2px;
	transition: all 0.3s, height 0s;

	> span {
		top: 1px;
		z-index: 1;
		display: inline-block;
		word-break: break-all;
		background: white;
	}

	&:hover {
		border-color: #58abf9;
	}

	.ant-input {
		padding: 0 0 4px 0;
		border: none;

		&:hover {
			border: none;
		}

		&:focus {
			box-shadow: none;
		}
	}

	&-focus {
		border-color: #58abf9;
		outline: 0;
		box-shadow: 0 0 0 2px rgba(36, 145, 247, 0.2);
	}
}
