.c-content-register__section{
    margin-top: 33px;
    padding-right: 20px;
}
.c-content-register__section__card{
    margin-bottom: 20px;
}
.c-content-register__section__card__title{
    font-size: 12px;
    color: #666666;
    line-height: 17px;
    &.c__section__card__title--bold {
        color: #333;
        font-weight: bold;
    }
}
.c-content-register__section__card__content{
    margin-top: 12px;
}
.c-json-content{
    border: 1px solid #E8E8E8;
    height: 167px;
    padding: 10px 15px;
    overflow-y: scroll;
    overflow-x: auto;
}
.c_title_method {
    margin-top: 10px;
    font-size: 14px;
}
.c_left__section {
    float: left;
}