.theme-white {
    * {
        &::-webkit-scrollbar-track {
            border: 1px solid #e9e9e9;
            background-color: #ffffff;
            border-top: none;
            border-right: none;
        }

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            background-color: #ffffff;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #c2c2c2;
        }
    }

}