.before-title-pane:before{
    content:attr(data-title);
    font-size:14px;
    vertical-align: top;
}
.approved-card-pane-title{
    font-size:16px;
    border-bottom: 1px #dcdcdc solid;
}
.textarea-p{
    margin-top:20px;
    
}
.state-success{
    position: relative;
}
.state-stop{
    position: relative;
}
.state-notPass{
    position: relative;
}
.state-disabled{
    position: relative;
}
.state-success:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: #66CD00;
    border-radius: 50%;
    left: -10px;
    transform: translateY(-50%);
    
}
.state-stop:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: #EE2C2C;
    border-radius: 50%;
    left: -10px;
    transform: translateY(-50%);
}
.state-notPass:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: #EEC900;
    border-radius: 50%;
    left: -10px;
    transform: translateY(-50%);
}
.state-disabled:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: #EE2C2C;
    border-radius: 50%;
    left: -10px;
    transform: translateY(-50%);
}
.child-span-padding-r20 span{
    padding-right:20px;
}