.api-mine{
    margin:0px 20px 20px 20px;
    &>.ant-card{
        .ant-card-body>.ant-tabs{
            height: auto;
        }
    }
}
.before-title-pane:before{
    content:attr(data-title);
    font-size:14px;
    vertical-align: top;
}
.approved-card-pane-title{
    font-size:16px;
    border-bottom: 1px #dcdcdc solid;
}
.textarea-p{
    margin-top:20px;
    
}
.state-success{
    position: relative;
}
.state-stop{
    position: relative;
}
.state-notPass{
    position: relative;
}
.state-disabled{
    position: relative;
}
.state-expired{
    position: relative;
}
.state-editting{
    position: relative;
}
.state-success:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: #66CD00;
    border-radius: 50%;
    left: -10px;
    transform: translateY(-50%);
    
}
.state-stop:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: #EE2C2C;
    border-radius: 50%;
    left: -10px;
    transform: translateY(-50%);
}
.state-notPass:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: #EEC900;
    border-radius: 50%;
    left: -10px;
    transform: translateY(-50%);
}
.state-disabled:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: #EE2C2C;
    border-radius: 50%;
    left: -10px; 
    transform: translateY(-50%);
}
.state-expired:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: rgb(115, 185, 241);
    border-radius: 50%;
    left: -10px; 
    transform: translateY(-50%);
}
.state-editting:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: rgb(211, 201, 145);
    border-radius: 50%;
    left: -10px; 
    transform: translateY(-50%);
}
.child-span-padding-r20 span{
    padding-right:20px;
}

.mini-filter .ant-table-filter-dropdown .ant-dropdown-menu-without-submenu{
    max-height:100px;
}

.height-auto .ant-tabs{
    height: auto;
}
.disable-all{
    color: rgba(0,0,0,0.4);
}