.m-l-8{
    margin-left:8px;
}
.api_item-margin{
    margin-right:28px;
}
.margin-0-20{
    margin:0 20px;
}
.text-bottom.ant-form-item > div.ant-form-item-control-wrapper{
    vertical-align: text-top;
    padding-top:5px;
}
.header-title{
    text-align: left;
    font-size:14px;
    line-height: 1;
    font-weight: bold;
}
.header-content{
    word-wrap: break-word;
    text-align: left;
    font-size:12px;
    padding-top:8px;
}

.pseudo-title:before{
    content:attr(data-title);
    padding-right:2px;
    color:#999999;
    
}
.p-line{
    margin-top:1px;
    font-size:13px;
    line-height:28px;
    color:#151515;
}

.slide-title{
    margin-left:30px; 
    margin-top:20px;
}
.height-callstate-item{
    height:81px;
}
