.api-approval{
    margin-bottom: 20px;
}
.state-notApproved{
    position: relative;
}
.state-notApproved:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: #cdcddc;
    border-radius: 50%;
    left: -10px;
    transform: translateY(-50%);
    
}
.m-table {
    .ant-table-tbody,
    .ant-table-thead{
        .text-padding {
            padding-left: 20px;
        }
    }
}
.state-pass{
    position: relative;
}
.state-pass:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: #66CD00;
    border-radius: 50%;
    left: -10px;
    transform: translateY(-50%);
    
}
.state-rejected{
    position: relative;
}
.state-rejected:before{
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    background: #EE2C2C;
    border-radius: 50%;
    left: -10px;
    transform: translateY(-50%);
    
}