@import './management/registerParams.scss';
.api-management{
    padding: 20px;
}
.tabs-box{
    background: #fff;
    margin: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    position: relative;
}
.noheight.m-tabs .ant-tabs{
    height:auto;
}
.table-p-l20 tr > td:first-child{
    padding-left:20px;
}
.table-p-l20 tr > th:first-child{
    padding-left:20px;
}
.g-datamanage {
    $green: #009D7E; // ======== folder tree icon 
    height: 100%;
    position: relative;
    // ==== misc====
    .Resizer {
        background: #DDDDDD;
        z-index: 1;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;
    }

    .ant-tree li span.ant-tree-switcher {
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
    .ant-tree li span.ant-tree-iconEle {
        width: 16px;
        height: 16px;
        line-height: 16px;
        margin-top: -3px;
    }
    .ant-tree-icon__open,
    .ant-tree-icon__close,
    .ant-tree-icon__docu {
        margin-top: -3px;
        margin-right: 3px;
        background-size: cover;
        background-position: center center;
        width: 16px;
        height: 16px;
        line-height: 16px;
    }
    .ant-tree-icon__open {
        background-image: url(/public/rdos/img/icon/open-folder.svg)
    }
    .ant-tree-icon__close {
        background-image: url(/public/rdos/img/icon/folder.svg)
    }
    .u-tree__node--register{
        .ant-tree-icon__docu {
            background-image: url(/public/dataApi/img/icon_registerapi.svg);
            margin-right: 2px;
        }
    }
    .u-tree__node--normal{
        .ant-tree-icon__docu {
            background-image: url(/public/dataApi/img/icon_createapi.svg);
            margin-right: 2px;
        }
    }
    .s-table {
        .ant-tree-icon__docu {
            background-image: url(/public/rdos/img/table.svg)
        }
    }
    .m-catalogue {
        .node-operation {
            opacity: 0;
        }
        .normal-node,
        .edit-node {
            border: 0;
            width: fit-content;
            background: transparent;
            border-radius: 0;
        }
        .normal-node {
            &:focus {
                box-shadow: none;
                border: 0;
            }
        }
    } // =========functions============
    .f-fr {
        float: right;
    }
    .f-fl {
        float: left;
    }
    .clearfix {
        zoom: 1;
        &:after {
            content: " ";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
    }
    .steps-content {
        margin-top: 16px;
        border: 1px dashed #e9e9e9;
        border-radius: 6px;
        background-color: #fafafa;
        min-height: 200px;
        padding: 40px;
    }
    .ant-steps-icon {
        line-height: 23px!important;
    }
    .steps-action {
        margin-top: 24px;
        text-align: right;
    }
    .Pane.vertical.Pane2,
    .Pane.vertical.Pane1 {
        overflow-y: auto;
        background: #fff;
    } 
    // ======== layouts =========
    .g-tablelogs {
        
        .m-tablelist {
            padding: 20px;
        }
    } // ========= modules=========
    .m-columnspartition {
        .box {
            margin-bottom: 40px;
            h3 {
                margin-bottom: 10px;
            }
            .cell {
                border: 1px solid #ccc;
                height: 50px;
                margin: -1px 0 0 -1px;
                padding: 10px 20px;
                color: #999999;
            }
            .title {
                background: #FCFBFC;
                border-radius: 3px 3px 0 0;
                .cell {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 20px;
                }
            }
            .fn {
                margin-top: 10px;
            }
        }
    }
    .m-tableviewerhead,
    .m-logheader {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 42px;
        line-height: 42px;
        padding: 0 20px;
        background-color: #F6F6F6;
        border-bottom: 1px solid #D8D8D8;
        z-index: 1000;
    }
    .m-tablebasic {
        padding: 20px;
        h3 {
            margin-bottom: 10px;
            button {
                margin-top: -3px;
            }
        }
        table {
            margin-bottom: 20px;
            border-collapse: collapse;
            border-radius: 3px;
            border: 1px solid #E6E6E6;
            td,
            th {
                height: 40px;
                border: 1px solid #E6E6E6;
                padding: 0 10px;
            }
            th {
                text-align: left;
                background: #FCFBFC;
                width: 40%;
            }
            td {
                text-align: center;
                width: 60%;
            }
        }
    }
    .m-tabledetail {
        padding: 30px 0;
        background: #fff;
        .ant-tabs-nav {
            padding-left: 10px;
        }
        .ant-tabs-tab-active {
            position: relative;
            border-top-color: $green!important;
            &:before {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: $green;
            }
        }
        .box {
            padding: 0 20px;
        }
    }
    @keyframes countdown {
        0% {
            content: '3'
        }
        50% {
            content: '2'
        }
        100% {
            content: '1'
        }
    }
    .m-countdown:after {
        content: '3';
        animation: countdown 3s ease;
    }

    .rel-table-info {
        .ant-table {
            height: 140px;
        }
        .table-info {
            table {
                tr td:nth-child(2) {
                    text-align: left;
                }
            }
        }
        .ant-table-placeholder {
            height: 100%;
        }
    }
}

.tree-hover-show:hover .tree-hover-show-item{
    opacity: 1;
}   
.tree-hover-show-item{
    opacity: 0;
}
.tree-item{
    letter-spacing: 3px;
}

.noheight .ant-cascader-menu{
    height:auto;
}
.h-mini{
    height: 25px;
}
.m-table .ant-table-tbody > tr.h-mini > td{
    padding-top:0px;
    padding-bottom: 0px;
}
.m-table .rank-number{
    width:16px;
    line-height: 16px;
}
.modeChooseBox{
    position: absolute;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.modeChooseItem{
    cursor: pointer;
    width:300px;
    height:170px;
    padding: 10px 25px;
    text-align: center;
    border: 1px rgba(0, 204, 204, 1) solid;
}
.modeChooseItem:hover{
    box-shadow: 0 0 15px 0px rgba(0, 204, 204, 0.5);
    border-color: rgba(0, 204, 204, 0.5);
}
.modeChooseItem .modeTitle{
    display: flex;
    align-items: center;
    height: 42px;
    line-height: 42px;
    font-size:24px;
    font-weight: bold;
    color:#666666;
}
.modeChooseItem .modeTitle img{
    width: 42px;
    height: 42px;
    margin-right: 20px;
}
.modeChooseItem .modeDesc{
    text-align: left;
    font-size: 13px;
    margin-top:15px;
    padding: 10px 30px;
    color:#666666;
    font-style: normal;
    font-weight: 400;
    word-break: break-all;
}
.modeChooseItem.leftItem{
    margin-right: 15%;
}
.paramsConfigBox{
    display: flex;
    justify-content: space-between;
}
.paramsConfig_data{
    flex-basis: 250px;
    flex-grow: 1;
    flex-shrink: 1;
    .ant-form-item{
        margin-bottom: 20px;
    }
}
.paramsConfig_arrow{
    padding: 0px 30px;
    flex-basis: 110px;
    flex-grow: 0;
    flex-shrink: 0;
}
.paramsSql_arrow{
    flex-basis: 60px;
    flex-grow: 0;
    flex-shrink: 0;
}
.paramsConfig_param{
    width:700px;
    flex-basis: 700px;
    flex-grow: 1;
    flex-shrink: 1;
    .ant-card-head-title{
        overflow: visible;
    }
}
.required-tip:before{
    content:"*";
    color:rgba(255, 0, 0, 0.84  );
    font-size:12px;
    position: absolute;
    left: -12px;
    top:50%;
    transform: translateY(-50%);
}
.required-tip{
    position: relative;
}
.middle-title{
    color:rgba(0,0,0,0.84);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
}
.middle-header{
    margin:12px 30px;
}
.params_exchange_box{
    position: absolute;
    left:-120px;
    top:0px;
}
.params_exchange_button{
    cursor: pointer;
    display: block;
    font-size:24px;
    margin-bottom:5px;
    color:rgba(1,1,1,0.64);
    transition: .3s;
}
.params_exchange_button:hover{
    color:rgba(1,1,1,1);
}
.params_exchange_button.params_exchange_button_disable{
    cursor: not-allowed;
    color:rgba(0.5,0.5,0.5,0.14);
}
.params_exchange_button.params_exchange_button_disable:hover{
    color:rgba(0.5,0.5,0.5,0.14);
}
.params_result_check{
    font-size:12px;
}
.testApi_box{
    display: flex;
}
.left_box{
    flex-basis: 500px;
    flex-grow: 0;
    flex-shrink: 0;
}
.right_box{
    width: 600px;
    flex-basis: 600px;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left:30px;
}
.shadowtext{
    font-size: 12px;
    color:#666666;
}
.textarea_white_disable.ant-input-disabled{
    background: #000619;
    color:#fff;
    resize: vertical;
    white-space: pre;
}
.small-title{
    color:#333333;
    font-size: 12px;
    padding: 6px 0px 7px 10px;
    line-height: 1;
}
.small-title-box{
    background: #fff;
    border-width: 1px 1px 0px 1px;
    border-color:#DDDDDD;
    border-style: solid; 
}
.table-border-without-top{
    border-width: 0px 1px 1px 1px;
    border-color:#DDDDDD;
    border-style: solid; 
    .ant-table-placeholder{
        border-bottom-width: 0px;
    }
}
.sql-tip-box{
    font-size: 14px;
    p{
        line-height: 20px;
    }
    .title{
        font-weight: bold;
    }
    .title-small{
        font-size: 12px;
        color: #666666;
    }
    .section{
        margin-bottom: 20px;
    }
    .content{
        margin-top: 10px;
        p{
            margin-bottom: 6px;
        }
        &.text{
            border:1px dashed #DDDDDD;
            border-radius: 2px;
            background: #FAFAFA;
            padding: 12px 10px;
            font-size: 12px;
            color: #666666;
        }
        &.margin_small{
            margin-top: 6px;
        }
    }
    .content-title{
        display: inline-block;
        background: #E9F4FF;
        padding: 2px 8px;
    }
    .content-text{
        padding-left: 8px;
        font-size: 12px;
        color: #999999;
    }
}
