.detail-content.ant-layout {
    background: transparent;
    height: 100%;

    .detail-sider {
        background: var(--editor-background);
        border-right: 1px solid var(--panel-border);
        height: 100%;
        position: relative;

        .detail-sider-container {
            overflow-x: hidden;

            .sider-formItem {
                width: 100%;
                min-width: 200px;
            }
        }

        .sider-formItem {
            border-bottom: 1px solid var(--panel-border);
            margin-bottom: 0;
            padding: 20px;

            .ant-form-item-label {
                font-weight: bold;

                .ant-upload {
                    width: 100%;
                }
            }

            .description {
                color: #999;
                font-size: 10px;
                line-height: 24px;
                word-break: break-all;
            }
        }

        .cluster-component-collapse {
            position: absolute;
            right: 0;
            padding: 0;
            background-color: var(--editor-background);
            top: 50%;
            transform: translate(50%, -50%);
            z-index: 999;
        }
    }

    .detail-content {
        overflow-y: auto;
    }

    .formitem-config-text {
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .cluster-file-col {
        display: flex;
        width: 100%;
        height: 20px;
        color: var(--menu-foreground);
        font-size: 12px;
        line-height: 20px;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.15s;

        &:hover {
            background-color: var(--editor-selectionBackground);
        }

        .cluster-file-name {
            overflow: hidden;
            flex: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .anticon {
            cursor: pointer;
        }
    }

    .cluster__detail__collapse {
        margin-left: 15px;
        overflow: hidden;
        background: var(--sideBarSectionHeader-background);
        margin-bottom: 1px;
        border: 0;
        color: var(--sideBarSectionHeader-foreground);
    }
}
