<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 输出到控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--此日志appender是为开发使用，只配置最底级别，控制台输出的日志级别是大于或等于此级别的日志信息-->
        <!-- 例如：如果此处配置了INFO级别，则后面其他位置即使配置了DEBUG级别的日志，也不会被输出 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="allAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/taier.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/taier_all_%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>5</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="zkAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/taier_zk.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/taier_zk_%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>5</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="request" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/taier_request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/taier_request_%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>5</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="flinkmonitor" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/taier_flink_monitor.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/taier_flinkmonitor_%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>5</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="schedule" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/taier_schedule.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/taier_schedule_%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>5</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.dtstack.taier.develop.filter" level="info" additivity="false">
        <appender-ref ref="request"/>
    </logger>

    <logger name="com.dtstack.taier" level="info" additivity="false">
        <appender-ref ref="allAppender"/>
    </logger>

    <logger name="com.dtstack.taier.develop" level="info" additivity="false">
        <appender-ref ref="allAppender"/>
    </logger>

    <logger name="com.dtstack.taier.scheduler.server.listener" level="info" additivity="false">
        <appender-ref ref="zkAppender"/>
    </logger>

    <logger name="com.dtstack.taier.flink" level="info" additivity="false">
        <appender-ref ref="flinkmonitor"/>
    </logger>

    <logger name="com.dtstack.taier.scheduler.server" level="info" additivity="false">
        <appender-ref ref="schedule"/>
    </logger>

    <logger name="com.dtstack.taier.scheduler.server.scheduler" level="info" additivity="false">
        <appender-ref ref="schedule"/>
    </logger>
    <logger name="com.dtstack.taier.scheduler.server.queue.JopPriorityQueue" level="info" additivity="false">
        <appender-ref ref="schedule"/>
    </logger>

    <logger name="com.dtstack.taier.datasource" level="error" additivity="false">
        <appender-ref ref="schedule"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="allAppender"/>
    </root>

</configuration>
