.side-menu{
  color: #ccc;
  border-right: 0;
  .ant-menu-submenu > .ant-menu {
    color: #ccc;
  }
  .ant-menu-item  a {
    color: #ccc;
    padding: 15px 45px 15px 0px;
  }
  .ant-menu-item-selected {
    width: 100%;
    background: #1890ff;
    color: #fff;
    .anticon {
      color: #fff;
    }
    a {
      color: #fff;
    }
  }
}
.ant-menu-submenu-arrow{
  margin: 6px auto;
  width:0 !important;
  top: 14px !important;
  height: 0;
  border: 6px solid transparent;
  border-top-color:rgba(255, 255, 255, 0.65);
}
.ant-menu-submenu-arrow:after{
  width:0 !important;
}
.ant-menu-submenu-arrow::before{
  width:0 !important;
}

.ant-menu-dark .ant-menu-submenu-open{
  color: rgba(255, 255, 255, 0.65);
}

.ant-menu-submenu-selected{
  .ant-menu-submenu-title{
    color:#fff;
  }
  .ant-menu-submenu-arrow{
    border-top-color:#fff;
  }
}

.ant-layout-sider{
  position: fixed!important;
  top:60px;
  height:100vh;
  padding-top:20px;
  background: #1F1E2D!important;
  ul{
    background: #1F1E2D!important;
  }
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub{
  background: #1B1B28!important;
}

.ant-menu-submenu-open .ant-menu-submenu-arrow{
  margin: 6px auto;
  width:0 !important;
  top: 8px !important;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color:rgba(255, 255, 255, 0.65);
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub{
  box-shadow: none !important;
}
.ant-menu-inline > .ant-menu-item,.ant-menu-sub.ant-menu-inline > .ant-menu-item{
  height:44px;
  line-height:44px;
}
