<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dtstack.engine.datadevelop.dao.mapper.datasource.DsAuthRefMapper">
    <select id="mapDaIdName" resultType="com.dtstack.engine.datadevelop.dao.bo.datasource.DsAuthRefBO">
        select  dar.data_info_id as dataInfoId,
        GROUP_CONCAT(dsl.app_name separator ';') as productNames
        from dsc_auth_ref dar
        left JOIN dsc_app_list dsl on dsl.app_type = dar.app_type
        <where>
            dar.is_deleted = 0
            and dsl.is_deleted = 0
            <if test="dataInfoIds !=null and dataInfoIds.size() > 0">
                and dar.data_info_id in
                <foreach collection="dataInfoIds" open="(" close=")" item="v" separator=",">
                    #{v}
                </foreach>
            </if>
        </where>
        GROUP BY dataInfoId
    </select>

    <select id="getDataIdByAppTypes" resultType="java.lang.Long">
        select distinct dar.data_info_id from dsc_auth_ref dar
        <where>
            dar.is_deleted = 0
            <if test="appTypes !=null and appTypes.size() > 0">
                and dar.app_type in
                <foreach collection="appTypes" open="(" close=")" item="v" separator=",">
                    #{v}
                </foreach>
            </if>
        </where>
    </select>
</mapper>