.table-filter{
     .title{
         color: #333333;
         font-weight: bold;
         margin-bottom: 12px;
     }
     .table_filter_content{
        border: 1px solid #DDDDDD;
        .select_wrap{
            display: flex;
            padding: 14px 0;
            border-bottom: 1px solid #DDDDDD;
            .select_item{
                margin-right: 20px;
            }
        }
     }
}