.datasource-container {
	height: 100%;

	.datasource-content {
		height: calc(100% - 106px);
		padding-bottom: 44px;
		overflow: scroll;
		outline: 1px solid transparent;
		outline-offset: -1px;

		&:focus {
			outline-color: var(--list-focusOutline);
		}

		.datasource-list {
			margin: 0;
			padding: 0;
			list-style-type: none;

			.datasource-record {
				display: flex;
				align-items: center;
				height: 22px;
				padding: 0 16px;
				line-height: 22px;
				outline: 1px solid transparent;
				outline-offset: -1px;
				cursor: pointer;

				&:hover {
					background-color: var(--list-hoverBackground);
				}

				.datasource-title {
					margin-left: 5px;
				}
			}
		}
	}
}
