.partition-field {
	.text-main {
		color: #333333;
		font-weight: 500;
		font-size: 14px;
		font-family: PingFangSC-Medium, PingFang SC;
		line-height: 20px;
	}
	.text-main-icon {
		color: #999999;
		font-size: 12px;
		line-height: 20px;
	}
	.mb-12 {
		margin-bottom: 12px;
	}
	.ml-32 {
		margin-left: 32px;
	}
	.ml-8 {
		margin-left: 8px;
	}
}
