<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dtstack.engine.datasource.dao.mapper.datasource.DsTypeMapper">

    <update id="plusDataTypeWeight">
        update dsc_type
        set weight = weight + #{plusWeight}
        where
        data_type = #{dataType}
        and weight + #{plusWeight} > 0.0
        and is_deleted = 0
    </update>

</mapper>