.office__table_normal {
	.dt-ant-table .ant-table-pagination.ant-pagination {
		z-index: 11;
	}
	.ant-table-pagination.ant-pagination {
		width: 50%;
	}
}
.office__refresh_normal {
	position: relative;
	top: 12px;
	float: right;
	width: 32px;
	height: 32px;
	background: #ffffff;
	border-radius: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
	.refresh__icon_normal {
		position: absolute;
		top: 50%;
		left: 50%;
		color: #94a8c6;
		transform: translate(-50%, -50%);
		cursor: pointer;
	}
}
.offline__search-normal {
	box-shadow: none;
	.ant-card-head {
		background: #f2f7fa;
	}
	.ant-table-wrapper {
		box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.08);
	}
	.dt-ant-table .ant-table-pagination.ant-pagination {
		z-index: 11;
	}
}
.ant-layout.ant-layout-has-sider > .ant-layout,
.ant-layout.ant-layout-has-sider > .ant-layout-content {
	overflow-x: auto;
	// margin-top: 64px;
}
.ant-layout.ant-layout-has-sider {
	height: 100%;
}
.ant-layout-sider-children .ant-layout-has-sider {
	height: 100%;
}
