<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.batch.dao.BatchFunctionDao">

    <sql id="select_content_fragment">
        id,name,class_name,purpose,command_formate,param_desc,node_pid,tenant_id,project_id,create_user_id,modify_user_id,type,gmt_create,gmt_modified,is_deleted,engine_type,sql_text
    </sql>

    <sql id="update_fragment">
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="className != null">
                class_name = #{className},
            </if>
            <if test="purpose != null">
                purpose = #{purpose},
            </if>
            <if test="commandFormate != null">
                command_formate = #{commandFormate},
            </if>
            <if test="paramDesc != null">
                param_desc = #{paramDesc},
            </if>
            <if test="nodePid != null">
                node_pid = #{nodePid},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="modifyUserId != null">
                modify_user_id = #{modifyUserId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="engineType !=null">
                engine_type = #{engineType},
            </if>
            <if test="sqlText !=null">
                sql_text = #{sqlText}
            </if>
        </set>
    </sql>

    <select id="getOne" resultType="BatchFunction">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="listByNodePidAndProjectId" resultType="BatchFunction">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function
        WHERE project_id = #{projectId} and node_pid = #{nodePid} and is_deleted = 0
    </select>

    <select id="listSystemFunction" resultType="BatchFunction">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function
        WHERE type=1 and is_deleted = 0 and tenant_id=-1 and project_id=-1
        <if test="engineType !=null">
           AND  engine_type = #{engineType}
        </if>
    </select>

    <select id="listProjectFunction" resultType="BatchFunction">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function
        WHERE is_deleted = 0
        <if test="functionType != null">
            AND type = #{functionType}
        </if>
        <choose>
            <when test="projectId != null">
                AND project_Id in (#{projectId}, -1)
            </when>
            <otherwise>
                AND project_Id = -1
            </otherwise>
        </choose>
        <if test="engineType !=null">
            AND engine_type = #{engineType}
        </if>
    </select>

    <select id="listByNameAndProjectId" resultType="BatchFunction">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function
        WHERE name = #{name} and project_id = #{projectId} and type = #{type} and is_deleted = 0
    </select>

    <select id="getByNameAndProjectId" resultType="BatchFunction">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function
        WHERE name = #{name} and project_id = #{projectId} and is_deleted = 0 limit 1
    </select>

    <insert id="insert" parameterType="BatchFunction" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rdos_batch_function
        (name, class_name, purpose, command_formate, param_desc, node_pid, tenant_id, project_id, create_user_id,
         modify_user_id, type, gmt_create, gmt_modified, is_deleted,engine_type,sql_text)
        VALUES (#{name}, #{className}, #{purpose}, #{commandFormate}, #{paramDesc}, #{nodePid}, #{tenantId},
                #{projectId}, #{createUserId}, #{modifyUserId}, #{type}, now(), now(), 0,#{engineType},#{sqlText})
    </insert>

    <update id="update" parameterType="BatchFunction">
        UPDATE
        rdos_batch_function
        <include refid="update_fragment"/>
        WHERE
        id = #{id} AND is_deleted = 0
    </update>

    <select id="listNameByProjectId" resultType="java.lang.String">
        SELECT name
        FROM rdos_batch_function
        WHERE tenant_id = #{tenantId}
          and project_id = #{projectId}
          and is_deleted = 0
        <if test="engineType !=null">
            AND  engine_type = #{engineType}
        </if>
    </select>

    <select id="countByProjectIdAndType" resultType="java.lang.Integer">
        select count(id)
        from rdos_batch_function
        where tenant_id = #{tenantId}
          and project_id = #{projectId}
          and type = #{type}
          and is_deleted = 0
    </select>

    <select id="generalQuery" parameterType="com.dtstack.batch.web.pager.PageQuery" resultType="BatchFunction">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function
        where tenant_id = #{model.tenantId} and project_id = #{model.projectId}
        and type = #{model.type} and is_deleted = 0
        <if test="model.functionModifyUserId != null">
            and modify_user_id = #{model.functionModifyUserId}
        </if>
        <if test="model.functionName != null">
            and name like CONCAT('%',#{model.functionName},'%')
        </if>
        <if test="model.startTime != null">
            and to_days(gmt_modified) >= to_days(#{model.startTime})
        </if>
        <if test="model.endTime != null">
            and to_days(#{model.endTime}) >= to_days(gmt_modified)
        </if>

        <if test="orderBy != null and sort != null">
            order by ${orderBy} ${sort}
        </if>
        <if test="orderBy != null and sort == null">
            order by ${orderBy} desc
        </if>
        <if test="start != null and pageSize != null">
            limit #{start} , #{pageSize}
        </if>
        <if test="start == null and pageSize != null">
            limit #{pageSize}
        </if>
        <if test="start == null and pageSize == null">
            limit 1000
        </if>
    </select>

    <select id="generalCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM rdos_batch_function
        where tenant_id = #{model.tenantId} and project_id = #{model.projectId}
        and type = #{model.type} and is_deleted = 0
        <if test="model.functionModifyUserId != null">
            and modify_user_id = #{model.functionModifyUserId}
        </if>
        <if test="model.functionName != null">
            and name like CONCAT('%',#{model.functionName},'%')
        </if>
        <if test="model.startTime != null">
            and to_days(gmt_modified) >= to_days(#{model.startTime})
        </if>
        <if test="model.endTime != null">
            and to_days(#{model.endTime}) >= to_days(gmt_modified)
        </if>
    </select>

    <select id="listByIds" resultType="BatchFunction">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function
        where tenant_id = #{tenantId} and project_id = #{projectId}
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="list != null and list.size() > 0">
            and id in
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="isDeleted != null">
            and is_deleted = #{isDeleted}
        </if>
    </select>

    <select id="listByProjectIdAndType" resultType="BatchFunction">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_function
        where project_id = #{projectId}
        and type = #{type} and is_deleted = 0
    </select>

    <update id="deleteByProjectId" parameterType="java.lang.Long">
        UPDATE rdos_batch_function
        SET is_deleted = 1, gmt_modified = now(), modify_user_id = #{userId}
        WHERE project_id = #{projectId} AND is_deleted = 0;
    </update>
</mapper>
