<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dtstack.batch.dao.ProjectEngineDao">
    <sql id="select_content_fragment">
        id, project_id, tenant_id, engine_type, engine_identity, status, create_user_id, modify_user_id, gmt_create, gmt_modified, is_deleted
    </sql>


    <sql id="update_fragment">
        <set>
           gmt_modified = now(),
            <if test="id != null">
                id = #{id},
            </if>

            <if test="projectId != null">
                project_id = #{projectId}
            </if>

            <if test="tenant_id != null">
                tenant_id = #{tenantId}
            </if>

            <if test="engineType != null">
                engine_type = #{engineType}
            </if>

            <if test="engineIdentity != null">
                engine_identity = #{engineIdentity}
            </if>

            <if test="status != null">
                status = #{status}
            </if>

            <if test="createUserId != null">
                create_user_id = #{createUserId}
            </if>

            <if test="modifyUserId != null">
                modify_user_id = #{modifyUserId}
            </if>

            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
        </set>
    </sql>

    <insert id="insert">
        INSERT INTO rdos_project_engine
        (project_id, tenant_id, engine_type, engine_identity, status, create_user_id, modify_user_id)
        VALUES
        (#{projectId}, #{tenantId}, #{engineType}, #{engineIdentity}, #{status}, #{createUserId}, #{createUserId})
    </insert>

    <select id="getByProjectId" resultType="com.dtstack.batch.domain.ProjectEngine">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_project_engine
        WHERE project_id = #{projectId} and is_deleted = 0
    </select>

    <select id="getByProjectAndEngineType" resultType="com.dtstack.batch.domain.ProjectEngine">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_project_engine
        WHERE project_id = #{projectId}
        <if test="engineType != null">
            and engine_type = #{engineType}
        </if>
        and is_deleted = 0
        limit 1
    </select>

    <select id="getDefaultByProjectAndEngineType" resultType="com.dtstack.batch.domain.ProjectEngine">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_project_engine
        WHERE project_id = #{projectId}
        <if test="engineType != null">
            and engine_type = #{engineType}
        </if>
        and is_deleted = 0
        limit 1
    </select>

    <select id="listByProjectIds" resultType="com.dtstack.batch.domain.ProjectEngine">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_project_engine
        WHERE  is_deleted = 0
        <if test="projectIds != null">
            and project_id in
            <foreach item="projectId" index="index" collection="projectIds" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </if>
    </select>

    <select id="getUsedEngineTypeList" resultType="java.lang.Integer">
        SELECT engine_type from rdos_project_engine rpe
        where  rpe.project_id = #{projectId} and is_deleted = 0
    </select>

    <select id="getByIdentityAndEngineTypeAndTenantId" resultType="com.dtstack.batch.domain.ProjectEngine">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_project_engine
        WHERE  is_deleted = 0 and engine_identity = #{identity} and engine_type = #{engineType}
        <if test="tenantId != null" >
            and tenant_id = #{tenantId}
        </if>
        limit 1
    </select>

    <select id="getByIdentitysAndEngineType" resultType="com.dtstack.batch.domain.ProjectEngine">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_project_engine
        WHERE  is_deleted = 0 and engine_type = #{engineType}
        <if test="tenantId != null" >
            and tenant_id = #{tenantId}
        </if>
    </select>

    <select id="getProjectByDb" resultType="com.dtstack.batch.domain.ProjectEngine">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_project_engine
        WHERE engine_identity = #{engineIdentity} and engine_type = #{engineType} and tenant_id = #{tenantId} and is_deleted = 0 limit 1
    </select>

    <select id="getByTenantIdAndEngineIdentity" resultType="com.dtstack.batch.domain.ProjectEngine">
        select <include refid="select_content_fragment"/>
        from rdos_project_engine
        where tenant_id = #{tenantId} and engine_identity = #{engineIdentity} and is_deleted = 0 and  engine_type = #{engineType} limit 1
    </select>

    <select id="getByTenantIdAndProjectIdAndEngineType" resultType="com.dtstack.batch.domain.ProjectEngine">
        select <include refid="select_content_fragment"/>
        from rdos_project_engine
        where tenant_id = #{tenantId} and project_id = #{projectId} and engine_type = #{engineType}
        and is_deleted = 0
        limit 1
    </select>

    <select id="getProjectListByUserId" resultType="com.dtstack.batch.domain.ProjectEngine">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_project_engine
        WHERE engine_type = #{engineType}
        <if test="projectIds != null and projectIds.size > 0">
            and project_id in
            <foreach collection="projectIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        and  is_deleted = 0
    </select>

    <update id="deleteByProjectId" parameterType="java.lang.Long">
        UPDATE rdos_project_engine
        SET is_deleted = 1, gmt_modified = now(), modify_user_id=#{modifyUserId}
        WHERE project_id = #{projectId} AND is_deleted = 0;
    </update>


    <select id="listIdentityByProjectIdAndType" resultType="com.dtstack.batch.domain.ProjectEngine">
        SELECT
        <include refid="select_content_fragment"/>
        from rdos_project_engine
        where is_deleted = 0
        and engine_type = #{engineType}
        <if test="projectIds != null and projectIds.size()>0">
            and project_id in
            <foreach item="projectId" index="index" collection="projectIds" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </if>
    </select>
</mapper>
