$card_prefix: "dtc-circle";
$await_color: #ffb310;
$running_color: #3f87ff;
$finished_color: #12bc6a;
$stopped_color: #9da7c2;
$fail_color: #ff5f5c;

.#{$card_prefix}-default {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.#{$card_prefix}-waitSubmit,
.#{$card_prefix}-run,
.#{$card_prefix}-created,
.#{$card_prefix}-submitting,
.#{$card_prefix}-restarting {
    background: $await_color;
}

.#{$card_prefix}-running {
    background: $running_color;
}

.#{$card_prefix}-finished {
    background: $finished_color;
}

.#{$card_prefix}-stopped,
.#{$card_prefix}-frozen {
    background: $stopped_color;
}
.#{$card_prefix}-fail {
    background: $fail_color;
}
