.dm-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px - 40px - 44px);
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
