// @import 'styles/const.scss';
// ==== 颜色 ====
$bgColor: #f2f7fa; // 背景色
$bgColor2: #070a1a; // 主色

// ==== 字体 ====
$font1: 14px;
$font2: 16px;
// 字体色
$fontColor1: #333333;
$fontColor2: #666666;
$fontColor3: #999999;
// 主色
$linkFontColor: #3f87ff;
// 辅助色
$ErrorColor: #ff5f5c;
$WarningColor: #ffb310;
$NormalColor: #16de9a;
// 底色
$BgColor: #fafafa;
// ==== 页面大小 ====
$minWidth: 1260px;

$bgPath: '/assets/imgs/dataModel/bg-relation-view.png';

.graph-editor {
	position: relative;
	flex: 1;
	height: 100%;
	text-align: center;
	.graph_loading {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: center;
		clear: both;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: rgba(255, 255, 255, 0.5);
	}
	.graph_toolbar {
		position: absolute;
		right: 10px;
		bottom: 140px;
		z-index: 1000;
		width: 34px;
		text-align: center;
		.basic_bar {
			background: rgba(255, 255, 255, 1);
			box-shadow: 0px 2px 8px 0px rgba(63, 135, 255, 0.2);
		}
		.spread_bar {
			position: relative;
			margin-top: 10px;
			background: rgba(255, 255, 255, 1);
			box-shadow: 0px 2px 8px 0px rgba(63, 135, 255, 0.2);
		}
		.toolbar-icon {
			display: inline-block;
			width: 34px;
			height: 34px;
			color: #979797;
			font-size: 20px;
			line-height: 34px;
			border-bottom: 1px solid #e8e8e8;
			cursor: pointer;
			&.active {
				color: #3f87ff;
			}
		}
		.outlineContainer {
			position: absolute;
			top: 0px;
			right: 36px;
			display: none;
			width: 240px;
			height: 160px;
			background: rgba(255, 255, 255, 1);
			box-shadow: 0px 2px 8px 0px rgba(63, 135, 255, 0.2);
			.outline_title {
				display: flex;
				justify-content: space-between;
				padding: 10px;
				border-bottom: 1px solid #e8e8e8;
				.name {
					color: rgba(51, 51, 51, 1);
					font-weight: 600;
					font-size: 12px;
					font-family: PingFangSC-Semibold, PingFang SC;
					line-height: 17px;
				}
				.double-right {
					color: #666666;
					font-size: 12px;
					cursor: pointer;
				}
			}
			.outline-content {
				height: 128px;
			}
			&.active {
				display: block;
			}
		}
	}
	.graph_container {
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		padding: 40px;
		overflow: auto;
		background: url($bgPath) #ffffff;
		cursor: pointer;
		.t-vertext {
			width: 200px;
			text-align: left;
			background: #fafafa;
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
		}
		.vertex-wrap {
			position: relative;
			top: -2px;
			width: 200px;
			background: rgba(255, 255, 255, 1);
			border-radius: 2px;
			box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
			.vertex-title {
				height: 32px;
				padding: 0 10px;
				color: #ffffff;
				line-height: 32px;
				border-radius: 2px 2px 0px 0px;
				.t_title {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
			.vertex-content {
				height: 36px;
				line-height: 36px;
				.tcolumn {
					padding: 0 10px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					cursor: pointer;
				}
			}
			&.current {
				border: 1px solid #3f87ff;
				.vertex-title {
					background: #3f87ff;
				}
			}
			&.prev {
				border: 1px solid #26d6ae;
				.vertex-title {
					background: #26d6ae;
				}
			}
			&.next {
				border: 1px solid #7460ef;
				.vertex-title {
					background: #7460ef;
				}
			}
		}
	}
	.graph-legend {
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 100%;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background: url($bgPath) #ffffff;
		.legend-item {
			float: left;
			// display: inline-block;
			vertical-align: middle;
		}
		.legend-item-icon {
			display: inline-block;
			width: 36px;
			height: 14px;
			margin-right: 4px;
			margin-left: 20px;
			vertical-align: middle;
		}
		.legend-title {
			color: #666666;
			font-weight: 400;
			font-size: 12px;
			font-family: PingFangSC-Regular, PingFang SC;
			line-height: 20px;
		}
		.border {
			border: 1px solid #e8e8e8;
		}
	}
}
