
.diff-tooltip {
	position: absolute;
	top: 0;
	right: 20;
	height: 35px;
	line-height: 35px;
}

.tag-edit-step {
	margin: 20px;

	h2 {
		padding: 10px 0;
		line-height: 28px;
		font-size: 14px;

		.rank-number {
			display: inline-block;
		    width: 20px;
		    line-height: 20px;
		    font-size: 12px;
		    background: #45a1f7;
		    color: #FFF;
		    border-radius: 50%;
		    text-align: center;
		}
	}

	.edit-td {
		width: 100%;
	}

}