@import '../../styles/const.scss';

$activeColor: #262e36; // 主色

.header {
    background: $bgColor2;
    padding-left: 44px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    .logo,
    .menu,
    .user-info {
        display: inline-block;
        padding-left: 8px;
    }
    .logo {
        width: 200px;
        height: 50px;
        img {
            height: 38px;
        }
    }

    .my-menu {
        line-height: 47px;
        background: inherit;
        border-bottom: 0;

        .ant-menu-item {
            color: #fff;
            font-size: 14px;
            a {
                color: inherit;
            }
        }
    }

    .menu {
        .ant-menu-submenu {
            background: #263645;
        }
        
    }

    .ant-menu-sub {
        max-height: 400px;
        overflow-y: auto;
    }

    .ant-menu-horizontal>.ant-menu-item:hover,
    .ant-menu-horizontal>.ant-menu-submenu:hover,
    .ant-menu-horizontal>.ant-menu-item-active,
    .ant-menu-horizontal>.ant-menu-submenu-active,
    .ant-menu-horizontal>.ant-menu-item-open,
    .ant-menu-horizontal>.ant-menu-submenu-open,
    .ant-menu-horizontal>.ant-menu-item-selected {
        border-bottom: 3px solid $primaryColor;
        color: #fff;
        background: $activeColor;
    }
    .ant-menu-horizontal>.ant-menu-item>a:hover,
    .ant-menu-horizontal>.ant-menu-submenu>a:hover,
    .ant-menu-item-selected > a,
    .ant-menu-item-selected > a:hover {
        color: #fff;
    }

    > .ant-menu-item-selected {
        background-color: $activeColor !important;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }

    .divide {
        border-right: 1px dashed #475766;
        height: 50px;
        width: 1px;
        padding: 0 !important;
        display: inline-block;
        margin: 0 10px;
    }

    .menu-right {
        background: inherit;
        padding-right: 20px;
        width: 100%;
        height: 100%;

        .menu-item {
            padding: 16px 10px;
            color: #fff;
            float: left;
            height: 50px;
            cursor: pointer;
        }

        .anticon {
            font-size: 18px;
        }

        .avatar {
            position: relative;
            display: inline-block;
            border-radius: 50% 50%;
            width: 30px;
            height: 30px;
            margin-right: 7px;
            margin-left: 10px;
            line-height: 30px;
            background: #fff;
            top: -18px;
            color: #e5e5e5;
        }

        .user-info {
            float: right;
            color: #fff;
            cursor: pointer;
            height: 48px;
        }

        .user-name {
            max-width: 100px;
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
        }

        .ant-menu-submenu {
            line-height: 50px;
            height: 50px;
            color: #ffffff;
            text-align: center;

            .ant-menu-submenu-title {
                padding: 16px 0;

                .anticon-setting {
                    margin-right: 0;
                }
            }
        }

        /* dropdown的上下冗余 */
        .ant-dropdown .ant-dropdown-menu{
            padding: 8px 0;
        }
    }
}

.menu-text-ellipsis{
    display: inline-block;
    max-width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
.ant-dropdown-menu-item .dropdown-content{
    padding:6px 58px 7px 20px;
    font-size: 14px;
    color: #333333;
    line-height: 27px;
    .iconfont{
        color: inherit;
        margin-right: 8px;
        vertical-align: -1px;
    }
}

.theme-dark {
    .ant-dropdown-menu-item .dropdown-content{
        color: #dddddd;
    }
    .ant-dropdown-menu-item-selected .dropdown-content{
        background-color:#3D3D3D;
    }
    
}/* 暗色主题下的导航栏下拉 */
@media(min-width:1330px){
    .menu_large{
        display: inline-block;
    }
    .menu_mini{
        display: none !important;
    }
}

@media(max-width:1330px){
    .menu_large{
        display: none !important;
    }
    .menu_mini{
        display: inline-block;
    }
}