.info-config {
    height: 100%;
    font-size: 12px;

    .info-config-form {
        .file-row {
            margin-bottom: 8px;
        }
    }

    .help-module {
        color: #999;
        font-size: 12px;
        cursor: pointer;
    }

    .ws-add {
        font-size: 12px;
        cursor: pointer;

        .anticon {
            margin-right: 5px;
        }
    }
}
