.dt-datasource-hdfs-tooltips {
    &-list {
        padding: 0;
        list-style: none;
        counter-reset: list;

        p {
            margin: 0;
        }

        li::before {
            content: counter(list) "ã€";
            counter-increment: list;
        }
    }
}
