export default {
    {{#result}}
    /* -------- {{{name}}} {{{description}}} -------- */
    {{#data}}
    {{operationId}}: { // {{{summary}}}
        method: '{{method}}',
        url: `{{{path}}}` 
    }, 
    {{/data}}

    {{/result}}
}