.panel-content {
	padding: 20px 16px;

	.stream-btn {
		width: 100%;
		height: 40px;
	}

	.input-panel {
		margin-bottom: 20px;
		overflow: hidden;
		background: var(--activityBar-foreground);
		border: 1px solid var(--panel-border);
	}

	.ant-collapse-borderless > .ant-collapse-item {
		> .ant-collapse-header {
			background: var(--editor-background);
		}

		> .ant-collapse-content {
			background-color: var(--editorGroupHeader-tabsBackground);
			border-top: 0;

			& > .ant-collapse-content-box {
				padding-top: 16px;
			}
		}
	}

	.title-icon {
		color: var(--panelTitle-inactiveForeground);
		font-size: 16px;

		&:hover {
			color: var(--tab-activeForeground);
		}
	}

	.column-container {
		border: 1px solid var(--panel-border);

		.ant-table {
			border: 0;

			.ant-table-tbody > tr > td {
				padding: 6px 5px;
			}

			.ant-table-thead > tr > th {
				padding: 10px 5px;
			}

			.ant-table-thead > tr > th:first-child,
			.ant-table-tbody > tr > td:first-child {
				padding-left: 12px;
			}

			.ant-table-tbody > tr > td:last-child {
				padding-right: 12px;
			}

			.ant-table-tbody > tr:last-child > td {
				border-bottom: 0;
			}
		}

		// .column-table__select,
		// .column-table__input,
		// .column-table__select .ant-select-selection--single {
		// 	height: 28px;
		// 	line-height: 28px;
		// }

		// .column-table__select .ant-select-selection__rendered {
		// 	line-height: 26px;
		// }
	}

	.column-btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 12px;
		color: var(--list-focusOutline);
		font-size: 12px;
		background: var(--editorGroupHeader-tabsBackground);
		border: 0;
	}

	.delete-action {
		width: 100%;
		color: var(--panelTitle-inactiveForeground);
		font-size: 14px;
		line-height: 32px;
	}

	.title-content {
		.ant-form-item {
			margin-bottom: 12px;
		}

		.right-select {
			width: 100%;

			.ant-radio-wrapper {
				line-height: 32px;
			}
		}

		.row-content {
			// height: 32px;
			// margin-bottom: 20px;
			// line-height: 32px;
			> :first-child {
				padding-right: 8px;
				color: #333;
				text-align: right;
				& :first-child {
					margin-left: 2px;
				}
			}
		}

		.sub-right-select {
			width: 100%;
			max-width: 152px;
		}

		.c-sidePanel__customParams {
			height: 35px;
			padding-right: 8px;
			line-height: 35px;
			text-align: right;
		}
	}
}
