<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.engine.dao.BatchJobJobDao">

    <sql id="select_content_fragment">
        id,tenant_id,project_id,dtuic_tenant_id,app_type,job_key,parent_job_key,gmt_create,gmt_modified,is_deleted
    </sql>
    <sql id="update_fragment">
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="jobKey != null">
                job_key = #{jobKey},
            </if>
            <if test="parentJobKey != null">
                parent_job_key = #{parentJobKey},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="dtuicTenantId !=null">
                dtuic_tenant_id  = #{dtuicTenantId},
            </if>
            <if test="appType!=null">
                app_tpye = #{dtuicTenantId},
            </if>
        </set>
    </sql>

    <select id="listByJobKey" resultType="BatchJobJob">
        SELECT
        <include refid="select_content_fragment"/>
        from schedule_job_job
        WHERE
        job_key = #{jobKey} and is_deleted = 0
    </select>

    <select id="listByJobKeys" resultType="BatchJobJob">
        SELECT
        <include refid="select_content_fragment"/>
        from schedule_job_job
        WHERE
        job_key in
        <foreach collection="list" item="key" open="(" separator="," close=")">
            #{key}
        </foreach>
        and is_deleted = 0
    </select>

    <select id="listByParentJobKey" resultType="BatchJobJob">
        SELECT
        <include refid="select_content_fragment"/>
        from schedule_job_job
        WHERE
        parent_job_key = #{jobKey} and is_deleted = 0
    </select>

    <insert id="insert" parameterType="BatchJobJob" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO schedule_job_job
        (job_key,parent_job_key,gmt_create,gmt_modified,is_deleted,dtuic_tenant_id,app_type)
        VALUES
        (#{jobKey},#{parentJobKey},#{gmtCreate},#{gmtModified},#{isDeleted},#{dtuicTenantId},#{appType})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO schedule_job_job
        (tenant_id,project_id,dtuic_tenant_id,app_type,job_key,parent_job_key,gmt_create,gmt_modified,is_deleted)
        VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.tenantId},#{item.projectId},#{item.dtuicTenantId},#{item.appType},#{item.jobKey},#{item.parentJobKey},#{item.gmtCreate},#{item.gmtModified},#{item.isDeleted})
        </foreach>
    </insert>

    <update id="update" parameterType="BatchJobJob">
        UPDATE
        schedule_job_job
        <include refid="update_fragment"/>
        WHERE
        id = #{id} AND is_deleted = 0
    </update>

    <select id="listSelfDependency" resultType="BatchJobJob">
        SELECT
        <include refid="select_content_fragment"/>
        from schedule_job_job
        WHERE
        job_key = #{pjobKey}
        and is_deleted = 0
        and left(job_key,LENGTH(job_key) - 15) = left(parent_job_key,LENGTH(job_key)-15)
    </select>

    <select id="listByParentJobKeys" resultType="BatchJobJob">
        SELECT
        <include refid="select_content_fragment"/>
        from schedule_job_job
        WHERE
        parent_job_key in
        <foreach collection="list" item="key" open="(" separator="," close=")">
            #{key}
        </foreach>
        and is_deleted = 0
    </select>

    <select id="listByParentJobKeysWithOutSelfTask" resultType="com.dtstack.engine.dto.BatchJobJobTaskDTO">
        SELECT
        bjj.id,bjj.job_key,bjj.parent_job_key,bjj.gmt_create,bjj.gmt_modified,bjj.is_deleted,
        bj.task_id
        FROM
        schedule_job_job bjj
        left join schedule_job bj on bj.job_key = bjj.job_key
        WHERE
        bjj.parent_job_key IN
        <foreach collection="jobKeyList" item="key" open="(" separator="," close=")">
            #{key}
        </foreach>
        and bjj.is_deleted = 0
        and bj.is_deleted = 0
    </select>

    <select id="listByJobKeysWithOutSelfTask" resultType="com.dtstack.engine.dto.BatchJobJobTaskDTO">
        SELECT
        bjj.id,bjj.job_key,bjj.parent_job_key,bjj.gmt_create,bjj.gmt_modified,bjj.is_deleted,
        bj.task_id
        FROM
        schedule_job_job bjj
        left join schedule_job bj on bj.job_key = bjj.parent_job_key
        WHERE
        bjj.job_key IN
        <foreach collection="jobKeyList" item="key" open="(" separator="," close=")">
            #{key}
        </foreach>
        and bj.task_id not in
        <foreach collection="selfTaskIdList" item="key" open="(" separator="," close=")">
            #{key}
        </foreach>
        and bjj.is_deleted = 0
        and bj.is_deleted = 0
    </select>

    <delete id="deleteByJobKey">
        delete from rdos_batch_job_job
        where job_key in
        <foreach collection="jobKeyList" item="jobKey" open="(" separator="," close=")">
            #{jobKey}
        </foreach>
    </delete>
</mapper>
