<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.engine.dao.EngineJobDao">

    <insert id="insert" parameterType="EngineJob" useGeneratedKeys="true" keyProperty="id">
	   insert into rdos_engine_job(gmt_create,gmt_modified,job_id,status,source_type,job_name, compute_type)
	   values(now(),now(),#{jobId},#{status}, #{sourceType}, #{jobName}, #{computeType})
    </insert>

    <update id="jobFail">
        update rdos_engine_job set exec_start_time=now(), exec_end_time=now(), exec_time = 0,gmt_modified=now(),status=#{status}, log_info = #{logInfo} where job_id=#{jobId};
    </update>

   <update id="updateJobStatus">
	   update rdos_engine_job set gmt_modified=now(),status=#{status} where job_id=#{jobId};
   </update>

    <update id="updateTaskStatusNotStopped">
        update rdos_engine_job set gmt_modified=now(),status=#{status} where job_id=#{jobId} and status not in
        <foreach item="stopStatus" index="index" collection="stopStatuses" open="(" separator="," close=")">
            #{stopStatus}
        </foreach>
    </update>

    <update id="updateTaskStatusCompareOld">
        update rdos_engine_job set gmt_modified=now(),status=#{status},job_name=#{jobName} where job_id=#{jobId} and status=#{oldStatus};
    </update>

    <update id="updateJobPluginId">
        update rdos_engine_job set gmt_modified=now(), plugin_info_id=#{pluginId} where job_id=#{jobId};
    </update>

   <update id="updateJobSubmitSuccess">
	   update rdos_engine_job
	   set log_info = #{submitLog}, engine_job_id=#{engineId}, application_id=#{appId},
	    gmt_modified=now(), exec_start_time=now()
	   where job_id=#{jobId};
   </update>

   <update id="updateJobUnSubmitOrRestart">
       update rdos_engine_job
       set status=#{status},
       application_id = null, engine_job_id = null, engine_log = null, log_info = null,
       retry_task_params = null, exec_end_time = null,exec_start_time = null, exec_time = 0, gmt_modified=now()
       where job_id=#{jobId};
   </update>

   <update id="updateJobStatusAndExecTime">
	   update rdos_engine_job set gmt_modified=now(), exec_end_time=now(), status=#{status}, exec_time=timestampdiff(SECOND, exec_start_time, now()) where job_id=#{jobId};
   </update>

   <select id="getRdosJobByJobId" resultType="EngineJob">
       select * from rdos_engine_job where job_id=#{jobId} and is_deleted=0;
   </select>

    <select id="getRdosJobByJobIds" resultType="EngineJob">
        select job_id, engine_job_id,application_id,plugin_info_id,status,engine_log,log_info,exec_start_time,exec_end_time,exec_time,retry_num,retry_task_params,gmt_create,gmt_modified,is_deleted,source_type,compute_type from rdos_engine_job
        where job_id IN
        <foreach item="jobId" index="index" collection="jobIds" open="(" separator="," close=")">
            #{jobId}
        </foreach>
        and is_deleted=0;
    </select>

    <update id="updateEngineLog">
        update rdos_engine_job set engine_log = #{engineLog},gmt_modified=now() where job_id = #{jobId}
    </update>

    <update id="updateRetryTaskParams">
        update rdos_engine_job set retry_task_params = #{retryTaskParams},gmt_modified=now() where job_id = #{jobId}
    </update>

    <select id="getByName" parameterType="java.lang.String" resultType="EngineJob">
        select * from rdos_engine_job where job_name = #{jobName} and is_deleted=0;
    </select>

    <update id="updateRetryNum">
	   update rdos_engine_job set retry_num=#{retryNum}, gmt_modified=now() where job_id=#{jobId};
   </update>

    <select id="getJobIdsByStatus" resultType="java.lang.String">
        select job_id from rdos_engine_job
        where status = #{status}
        <if test="computeType != null">
            and compute_type = #{computeType}
        </if>
        and is_deleted=0
    </select>

    <select id="listJobStatus" resultType="EngineJob">
        select job_id as jobId,status,exec_start_time as execStartTime,exec_end_time as execEndTime,exec_time as execTime,retry_num as retryNum
        from rdos_engine_job
        where gmt_modified &gt;= #{time} and compute_type = #{computeType}
        and is_deleted=0;
    </select>
</mapper>
