<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.engine.mapper.EngineJobCacheMapper">


    <sql id="engine_simple">
        `id`,`job_id`,`job_name`,`engine_type`,`compute_type`,`stage`,`node_address`,`gmt_create`,`gmt_modified`,`is_deleted`,`job_priority`,`job_resource`
    </sql>

    <select id="listByStage" resultType="EngineJobCache">
        select
        <include refid="engine_simple"/>
        from schedule_engine_job_cache
        where id > #{startId}
        <if test="nodeAddress != null">
            and (node_address = #{nodeAddress} or node_address is null)
        </if>
        <if test="stage != null">
            and stage = #{stage}
        </if>
        <if test="jobResource != null">
            and job_resource = #{jobResource}
        </if>
        and is_deleted=0
        order by id, job_priority asc
        limit 500;
    </select>

    <select id="minPriorityByStage" resultType="java.lang.Long">
        select min(job_priority) from schedule_engine_job_cache
        where job_resource = #{jobResource} and node_address = #{nodeAddress}
        <if test="stages != null">
            and stage in
            <foreach collection="stages" item="stage" open="(" separator="," close=")">
                #{stage}
            </foreach>
        </if>
        and is_deleted=0;
    </select>

</mapper>
