<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.engine.dao.EngineUniqueSignDao">

    <insert id="insert" parameterType="EngineUniqueSign" useGeneratedKeys="true" keyProperty="id">
	   insert into rdos_engine_unique_sign(gmt_create,gmt_modified,unique_sign)
	   values(now(),now(),#{uniqueSign})
    </insert>

</mapper>
