<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.engine.dao.NotifyUserDao">

    <sql id="select_content_fragment">
      id,tenant_id,project_id,dtuic_tenant_id,app_type,notify_id,user_id,gmt_create,gmt_modified,is_deleted,app_type
    </sql>

    <insert id="insert" parameterType="NotifyUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rdos_notify_user
          (tenant_id,project_id, dtuic_tenant_id,app_type,notify_id,user_id, gmt_create, gmt_modified, is_deleted)
        VALUES
          (#{tenantId},#{projectId},#{dtuicTenantId}, #{appType},#{notifyId},#{userId}, #{gmtCreate}, #{gmtModified}, 0)
    </insert>

    <select id="getUserIdByNotifyId" resultType="java.lang.Long">
        SELECT
        user_id
        FROM rdos_notify_user
        WHERE notify_id = #{notifyId} AND tenant_id = #{tenantId} AND project_id = #{projectId} AND is_deleted = 0
    </select>

    <delete id="deleteByNotifyIdAndUserIds">
        DELETE FROM rdos_notify_user
        where notify_id = #{notifyId} AND tenant_id = #{tenantId} AND project_id = #{projectId}
        AND user_id in
        <foreach item="userId" index="index" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
        AND is_deleted = 0
    </delete>

    <select id="listUserIdByNotifyId" resultType="java.lang.Long">
        SELECT
        user_id
        FROM rdos_notify_user
        WHERE notify_id = #{notifyId} AND is_deleted = 0
    </select>

</mapper>
