<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.engine.dao.ScheduleTaskTaskShadeDao">

    <sql id="select_content_fragment">
        id,tenant_id,project_id,dtuic_tenant_id,app_type,task_id,parent_task_id,gmt_create,gmt_modified,is_deleted
    </sql>

    <sql id="update_fragment">
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="taskId != null">
                task_id = #{taskId},
            </if>
            <if test="parentTaskId != null">
                parent_task_id = #{parentTaskId},
            </if>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="gmtModified == null">
                gmt_modified = NOW(),
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="dtuicTenantId !=null">
                dtuic_tenant_id  = #{dtuicTenantId},
            </if>
            <if test="appType!=null">
                app_type = #{appType},
            </if>
        </set>
    </sql>

    <select id="listChildTask" resultType="ScheduleTaskTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_task_shade
        WHERE parent_task_id = #{parentTaskId} and is_deleted = 0
    </select>

    <select id="listParentTask" resultType="ScheduleTaskTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_task_shade
        WHERE task_id = #{childTaskId} and is_deleted = 0
    </select>

    <delete id="deleteByTaskId">
        DELETE FROM schedule_task_task_shade
        WHERE task_id = #{taskId}
    </delete>

    <insert id="insert" parameterType="ScheduleTaskTaskShade" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO schedule_task_task_shade
        (dtuic_tenant_id,app_type, task_id,parent_task_id,project_id,tenant_id,gmt_create,gmt_modified,is_deleted)
        VALUES
        (#{dtuicTenantId},#{appType}, #{taskId},#{parentTaskId},#{projectId},#{tenantId},#{gmtCreate},#{gmtModified},#{isDeleted})
    </insert>

    <update id="update" parameterType="ScheduleTaskTaskShade">
        UPDATE
        schedule_task_task_shade
        <include refid="update_fragment"/>
        WHERE
        task_id = #{taskId} AND app_type = #{appType} AND is_deleted = 0
    </update>

    <select id="getOne" resultType="ScheduleTaskTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_task_shade
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="getOneByTaskId" resultType="ScheduleTaskTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_task_shade
        WHERE task_id = #{taskId} and parent_task_id = #{parentTaskId} AND is_deleted = 0
    </select>

</mapper>
