<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.engine.mapper.ScheduleJobOperatorRecordMapper">


    <select id="listStopJob" parameterType="java.util.HashMap" resultType="ScheduleJobOperatorRecord">
        select id,job_id,version,gmt_create,gmt_modified,is_deleted,force_cancel_flag
        from schedule_job_operator_record where id > #{startId} and operator_expired &lt; now() and is_deleted =0 and operator_type = 0
        order by id asc limit 100;
    </select>

    <update id="updateOperatorExpiredVersion">
        update schedule_job_operator_record set operator_expired = #{operatorExpired}, version = version + 1, gmt_modified = now() where id = #{id} and version = #{version}
    </update>
</mapper>
