.config-title{
    font-size:20px;
    padding-left: 8px;
    border-bottom: 3px solid #f5f5f6;
}
.config-content{
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 50px;
}
.checkboxStyle {
    margin-left: 165px;
    margin-bottom: 20px;
    // background: red;
}
// .ant-collapse > .ant-collapse-item {
//     border: none;
// }
// .ant-collapse > .ant-collapse-item-active {
//     background: #fff;
//     border: none;
// }
// .ant-collapse > .ant-collapse-item > .ant-collapse-header {
//     // line-height: 22px;
//     // padding: 8px 0 8px 32px;
//     color: rgba(0, 0, 0, 0.85);
//     cursor: pointer;
//     position: relative;
//     transition: all .3s;
//     border:none;
//     background: red;
//     width: 220px;
// }

// .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-header:hover {
//     background-color: #fff;
// }

// .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
//     background-color: #fff;
//     border: none;
// }

// .ant-collapse-content > .ant-collapse-content-box {
//     padding-top: 5px;
//     // margin-left: -12px;
// }
// .ant-collapse-content {
//     overflow: hidden;
//     color: rgba(0, 0, 0, 0.65);
//     /* padding: 0 16px; */
//     background-color: #fff;
// }
.blue-loading{
    color:#2491F7;
    padding-left: 5px;
}
.ant-btn.disble{
    cursor:not-allowed;
    color:rgba(1,1,1,0.54);
}
.ant-btn.disble:hover{
    color: rgba(1,1,1,0.54);
    border-color: #dddddd;
}
.formItem-right-text{
    line-height: 32px;
    margin-left: 8px;
}
.formitem-textname{
    text-align: right;
    word-break: break-all;
    font-weight: bold;
    color:rgba(1,1,1,0.54);
}
.formitem-textvalue{
    color: rgba(1,1,1,0.84);
}
.zipConfig-item{
    margin-bottom: 10px;
    font-size: 13px;
}
.ant-tooltip-inner {
    max-width: 300px;
}