/*
* @Author: 12574
* @Date:   2018-09-17 15:32:11
* @Last Modified by:   12574
* @Last Modified time: 2018-09-28 16:40:37
*/

// 最外层背景
.contentBox{
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}
// 表格
.q-table {
    // margin: 20px 0 20px 20px;
    margin-top: 20px;
}

// 按任务搜索input框
.task-search {
    width: 150px;
    margin-right: 15px;
}
// 下拉框
.select {
    overflow: hidden;
    margin: 20px;
}

// 杀任务
.killTask {
    background: rgba(255, 186, 180, .4);
}

// 明细表格
.detail-table {
    .ant-table-footer {
        background: #fff;
        padding: 10px 0 10px;
        border-bottom: 0;
    }
    .ant-pagination {
        position: relative;
        top: -32px;
        right: 20px;
        margin-right: 0;
    }
    .ant-table-pagination.ant-pagination {
        margin: 0;
        float: right;
    }
    .ant-row.table-footer {
        .select-all {
            padding: 0 16px 0 30px;
            .ant-checkbox {
                margin-right: 16px;
            }
        }
        .ant-btn {
            margin-right: 0;
            &:nth-child(2) {
                margin-top: 1px;
            }
        }
    }
}