/*
* @Author: 12574
* @Date:   2018-09-17 15:32:11
* @Last Modified by:   12574
* @Last Modified time: 2018-09-25 11:32:07
*/

// 最外层背景
.contentBox{
	overflow: hidden;
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}
// 表格
.q-table {
	// margin: 20px 0 20px 20px;
	margin-top: 20px;
}

// 按任务搜索input框
.task-search {
    width: 150px;
    margin-right: 15px;
}
// 下拉框
.select {
	overflow: hidden;
	margin-left: 20px;
}