.table-border{
    border-width: 1px 1px 0px 1px;
    border-color: #dcdcdc;
    border-style: solid;
}
.no-card-table{
    background: #fff;
    border-width: 1px 1px 1px 1px;
    border-color: #dcdcdc;
    border-style: solid;
}
.line-formItem{
    color:rgba(1,1,1,0.84);
    font-size: 13px;
    padding: 10px 0px;
    padding-left: 130px;
    
}
.single-th-table {
    .ant-table-thead > tr > th:first-child {
        background: #f7f7f7;
        font-weight: 500;
        transition: background 0.3s ease;
        text-align: center;
        color: rgba(0, 0, 0, 0.85);
        width: 100%;
    }
    .ant-table-thead > tr > th:nth-child(2) {
        display: none;
    }
}