.table-border{
    border-width: 1px 1px 0px 1px;
    border-color: #dcdcdc;
    border-style: solid;
}
.no-card-table{
    background: #fff;
    border-width: 1px 1px 1px 1px;
    border-color: #dcdcdc;
    border-style: solid;
}
.line-formItem{
    color:rgba(1,1,1,0.84);
    font-size: 13px;
    padding: 10px 0px;
    padding-left: 130px;
    
}