.c-nodeLable__content {
	position: absolute;
	right: -154px;
}
.c-nodeLable__modal {
	.ant-modal-body {
		max-height: 532px;
		margin-top: 60px;
		padding-top: 24px;
		overflow: scroll;

		.ant-row {
			margin-bottom: 12px;
		}

		.ant-col:first-child {
			text-align: right;
		}

		.ant-row:first-child {
			height: 32px;
			line-height: 32px;
		}
	}

	&__alter {
		position: absolute;
		top: 53px;
		right: 0;
		left: 0;
	}

	&__nodes {
		.table-empty {
			margin-top: -5px;
			margin-bottom: -5px;
		}
	}

	&__empty {
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			width: 80px;
		}

		span {
			color: #666;
			font-size: 12px;
		}
	}
}
