.module-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 15px;
    height: 30px;
    .title {
        font-size: 14px;
        color: #333333;
        font-weight: 500;
    }
}