.set-dictionary{
    margin-top: 10px;
    .input_wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .close{
            cursor: pointer;
            color: #999999;
            margin-left: 20px;
        }
        .input{
            height: 24px;
            line-height: 24px;
        }
    }

    .ant-table-placeholder {
        border-left: 1px solid #e9e9e9 !important;
        border-right: 1px solid #e9e9e9 !important;
        border-bottom: 1px solid #e9e9e9 !important;
    }
    
    .ant-table-tbody > tr > td{
        padding: 8px 24px !important;
    }
    .add_dictionary{
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 24px;
        border-left:1px solid  #DDDDDD;
        border-right:1px solid  #DDDDDD;
        border-bottom:1px solid  #DDDDDD;
        .plus{
            cursor: pointer;
            border: 1px solid #DDDDDD;
            border-radius: 2px;
            font-size: 12px;
            padding: 4px;
            color: #333;
        }
    }
}