.mo_code_mirror {
	position: relative;
	height: 100%;

	.CodeMirror {
		background: none;

		&.cm-s-default {
			.cm-tag {
				color: var(--terminal-ansiGreen, #170);
			}

			.cm-bracket {
				color: var(--terminal-foreground, #977);
			}

			.cm-error {
				color: var(--terminal-ansiRed, #f00);
			}
		}
	}
}
