/* 构建时需要把这里改成自动替换，目前先手动写上对应的路径  */

@font-face {
  font-family: "iconfont"; /* Project id 1819717 */
  src: url('iconfont.woff2?t=1628843976792') format('woff2'),
       url('iconfont.woff?t=1628843976792') format('woff'),
       url('iconfont.ttf?t=1628843976792') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu_task:before {
  content: "\e752";
}

.icon-kongzhuangtai:before {
  content: "\e6b6";
}

.icon-zujianpeizhi:before {
  content: "\e6c5";
}

.icon-cunchuzujian:before {
  content: "\e6c1";
}

.icon-jisuanzujian:before {
  content: "\e6c2";
}

.icon-ziyuantiaodu:before {
  content: "\e6c3";
}

.icon-gonggongzujian:before {
  content: "\e6c4";
}

