.patch-data {
	font-size: 12px;

	.ant-pagination {
		margin-right: 10px;
	}

	.ant-tree-node-content-wrapper {
		width: calc(100% - 44px);
	}

	.patch-header {
		margin: 5px;

		> div {
			color: rgba(0, 0, 0, 0.85);
			font-weight: 500;
			line-height: 30px;
			text-align: left;
			text-indent: 5px;
			background: #f7f7f7;
			transition: background 0.3s ease;
		}
	}
}
