body {
    // font-size: $font1 !important;
    background-color: $bgColor !important;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

table {
    font-size: 12px;
}

.dt-dev-tools {
    height: 100%;
    width: 100%;
}

body:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
.ant-slider-pos {
    .ant-slider-pos--collapsed {
        background: #262E36;
        color: #fff;
        width: 100%;
        border: none;
        border-radius: 0;
        text-align: center;
        line-height: 42px;
        height: 42px;
        border-right: 1px solid #e9e9e9;
    }
}
.mask-layer {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 998;
    top: 0;
    left: 0;
}

.bg-w {
    background: #fff !important;
}

.black {
    color: #000;
}


.i {
    color: #d9d9d9;
    font-size: 12px;
}

.row-col-padding>div {
    padding: 0 8px;
}


/* use css to set position of modal */
.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
}

.vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}

.CodeMirror,
.CodeMirror-merge-pane {
    height: inherit !important;
    font-family: consolas !important;
}

.CodeMirror-merge {
    border: none !important;
}

.CodeMirror-matchingbracket{
    color: #219ed4 !important;
    font-weight: 900;
}

.mini-card {
    padding: 0 8px;
    display: inline-block;
    text-align: center;
    width: 16.66666667%;
    .card-content {
        font-size: 12px;
        position: relative;
        padding-bottom: 10px;
    }
}

.help-doc {
    position: absolute;
    right: -20px;
    top: 10px;
}

.modal-body-nopadding {
    .ant-modal-body {
        padding: 0;
    }
}


.ant-calendar-picker {
    display: inline-block;
}

.ant-checkbox-group-item {
    float: left;
}

.ant-calendar-picker-input,
.ant-calendar-range-picker-input {
    vertical-align: initial !important;
}


.org-tree-select-wrap {
    position: relative;
}

.ant-select-search__field__mirror {
    position: absolute;
    top: 0;
    left: -9999px;
    white-space: pre;
    pointer-events: none;
}

.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.m-log-modal {

    .CodeMirror-gutter { 
        background: #E3E5E8;
    }
    .CodeMirror-scroll {
        background: #F3F4F5;
    }
}

.card-tree-select {
    .ant-card {
        .ant-card-head-title {
            overflow: inherit;
        }
    }
}

.no-table-padding {
    table {
        .ant-table-thead > tr > th {
            min-width: 100px;
        }
        .ant-table-tbody > tr > td {
            padding: 0;
            background: #fff;
        }
    }
}

.cell-overflow {
    max-height: 40px;
    width: 100%;
    border: 0;
    height: 50px;
    display: inline-block;
    overflow: auto;
    word-break: break-all;
}
.big-tooltip .ant-tooltip-inner{
    max-width: 350px;
}

.split-text{
    float: left;
    padding: 0px 5px;
}

.select-all-table {
    .ant-table-thead {
        .ant-table-selection-column>span {
            visibility: visible;
        }
    }
}
.formItem_inline_icon{
    position: absolute;
    line-height: 32px;
    right: -18px;
}
.ant-table-thead > tr > th{
    padding: 10px 24px !important;
}
.ant-table-tbody > tr > td{
    padding: 16px 24px !important;
}
.ant-table-fixed-header .ant-table-scroll .ant-table-header{
    margin-bottom: -20px;
    padding-bottom: 0;
}
.ant-table-pagination.ant-pagination{
    width: 100%;
    text-align: right;
    overflow: hidden;
    padding: 0 24px;
    .ant-pagination-total-text{
        float: left;
    }
}