table.h-table {
	.border-top {
		border-top: 1px solid #dddddd;
	}
	.border-bottom {
		border-bottom: 1px solid #dddddd;
	}
	.border-left {
		border-left: 1px solid #dddddd;
	}
	.border-right {
		border-right: 1px solid #dddddd;
	}
	width: 100%;
	tr {
		td {
			width: 250px;
			height: 44px;
			overflow: hidden;
			white-space: nowrap;
			text-align: center;
			text-overflow: ellipsis;
			vertical-align: middle;
			border: 1px solid #e8e8e8;
			border-collapse: collapse;
			border-collapse: collapse;
		}
		td.label {
			color: #333333;
			font-weight: 500;
			background-color: #fafafa;
		}
		td.value {
			background-color: #fff;
		}
		.h-table-remark-inner {
			max-width: 75%;
			height: 100%;
			overflow: hidden;
			line-height: 44px;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
