@font-face {
  font-family: "iconfont"; /* Project id 2812137 */
  src: url('iconfont.woff2?t=1632306304884') format('woff2'),
       url('iconfont.woff?t=1632306304884') format('woff'),
       url('iconfont.ttf?t=1632306304884') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.codicon-icon_sparkSQL:before {
  content: "\e77c";
}

.codicon-icon_hanshu:before {
  content: "\e779";
}

.codicon-icon_ziyuan:before {
  content: "\e778";
}

