.graph-editor {
    
    .graph-bg {
        background-color: transparent;
        background-position: center center;
        background-repeat: repeat;
        cursor: default;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        // background: url(/public/tagEngine/img/grid.gif) #f2f7fa;
        background: url(/public/tagEngine/img/grid.gif) #ffffff;
    }

    .editor {
        &::-webkit-scrollbar-track {
            border: 0;
        }
    }

    .txt-bg {
        font-size: 40px;
        color: #2491f7;
        z-index: 0;
        opacity: .2;
        text-align: center;
    }
    
    .grid-bg {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IArs4c6QAAAAZQTFRF9/f3////TOsULwAAABRJREFUCNdjYGD4/5+BigR1TWMAAO29P8H0ss2LAAAAAElFTkSuQmCC);
        // background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=);
    }

    .ant-spin-container {
        width: 100%;
        height: 100%;
    }

    /* 悬浮框的css */
    div.titleContent {
        position: absolute;
        cursor: default;
        padding: 20px 10px;
        width: 188px;
        background: rgba(0,0,0,0.7);
        border-radius:2px;
        color: #fff;
        font-size: 12px;

        &::after {
            border-color: rgba(0,0,0,0.7) transparent;
            border-style: solid;
            border-width: 0px 5 5 5;
            height: 0px;
            width: 0px;
            content: '';
            position: absolute;
            top: -5px;
            left: 94px;
        }
    }
}

@media (max-height: 700px) {

    .graph-editor {

        .graph-widgets {
            height: 400px;
            overflow: auto;

            .widgets-content {
                padding-top: 10px;
    
                .widgets-items {
                    height: 25px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.graph-toolbar {
    position: absolute;
    z-index: 901;
    right: 14px;
    top: 20px;
    height: 18px;
    border-radius: 2px;
    text-align: center;

    img, .anticon {
        width: 18px;
        height: 16px;
        line-height: 16px;
        cursor: pointer;
        float: left;
        margin-right: 12px;
        color: #94A8C6;
    }
}

.vertex {

    width: 100%;
    height: 99%;
    background: #e9f4fe;
    border: 1px solid #D1E9FF;
    font-size: 12px;

    select {
        background: transparent;
        width: 100%;
        border-radius: 0px;
        border: 0;
    }

    select:active, select:focus {
        border: 0;
        outline: 0;
    }

    table {
        height: 100%;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        background: #fff;

        select {
            margin: 5px 0;
        }

        select option[data-default] {
            color: #888;
        }

        td, th {
            letter-spacing: 0;
            text-align: center;
        }

        td {
            border-bottom: 1px solid #DDDDDD;
        }
    }

    .title {
        background: #dddddd;
        height: 32px;
        line-height: 28px;
        select {
            margin: 6px 0;
        }
    }

    .footer {
        height: 48px;
    }

    .btn {
        background: #FFFFFF;
        border: 1px solid #2491F7;
        border-radius: 4px;
        padding: 5px 10px;
        height: 28px;
        line-height: 12px;
        margin-top: 10px;
        font-size: 12px;
        color: #2491F7;
        letter-spacing: 0;
        cursor: pointer;
    }
}

div.mxTooltip {
    -webkit-box-shadow: 3px 3px 12px #747474;
    -moz-box-shadow: 3px 3px 12px #747474;
    box-shadow: 3px 3px 12px #747474;
    background: rgba(0,0,0,0.7);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-family: Arial;
    font-size: 12px;
    position: absolute;
    cursor: default;
    text-align: center;
    padding: 4px;
    color: #ffffff;
}

div.mxPopupMenu {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
table.mxPopupMenu {
	border-collapse: collapse;
	margin-top: 1px;
	margin-bottom: 1px;
}
tr.mxPopupMenuItem {
	color: black;
	cursor: pointer;
}
tr.mxPopupMenuItemHover {
	background-color: #000066;
	color: #FFFFFF;
	cursor: pointer;
}
td.mxPopupMenuItem {
	padding: 2px 30px 2px 10px;
	white-space: nowrap;
	font-family: Arial;
	font-size: 8pt;
}
td.mxPopupMenuIcon {
	background-color: #D0D0D0;
	padding: 2px 4px 2px 4px;
}
.mxDisabled {
	opacity: 0.2 !important;
	cursor:default !important;
}


body div.mxPopupMenu {
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    background: #FFFFFF;
    border-radius: 2px;
    border: 0;
}
body table.mxPopupMenu {
    border-collapse: collapse;
    margin: 0px;
}
body tr.mxPopupMenuItem {
    color: #666666;
    cursor: default;
}
body td.mxPopupMenuItem {
    padding: 6px 60px 6px 30px;
    font-size: 10pt;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
}
body td.mxPopupMenuIcon {
    background-color: white;
    padding: 0px;
}
body tr.mxPopupMenuItemHover {
    background-color: #E6F7FF;;
    
    .mxPopupMenuItem {
        color: #2491F7;
    }
}
table.mxPopupMenu hr {
    border-top: solid 1px #cccccc;
}
table.mxPopupMenu tr {
    font-size: 4pt;
}
