.ibox-content {
	padding: 10px;
	background-color: #fff;
}

.ant-input-affix-wrapper .ant-input-prefix,
.ant-input-affix-wrapper .ant-input-suffix {
	margin-top: 1px;
}

.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
	transform: translate(0, 1px);
}

.ant-modal .ant-modal-body .title {
	margin-bottom: 35px;
	font-weight: bold;
}
.ant-modal .ant-modal-footer {
	padding-right: 30px;
	padding-bottom: 30px;
	border: none;
}
.ant-modal .ant-modal-footer button {
	width: 88px;
	height: 32px;
	font-size: 14px;
	border-radius: 4px;
}
.ant-modal .ant-modal-footer button + button {
	margin-left: 15px;
}
.ant-modal .ant-checkbox-group-item {
	margin-right: 3px;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
	color: #333;
}

.logo {
	display: flex;
	align-items: center a;
	align-items-display: flex;
	align-items-align-items: center;
	align-items-justify-content: flex-start;
}
.logo span {
	margin-left: 12px;
	color: white;
}

p.title {
	color: #333333;
	font-size: 16px;
	text-align: center;
}

body {
	height: 100%;
	background-color: #f2f7fa;
}
body .container {
	position: relative;
	min-height: 100%;
	padding-bottom: 30px;
}
body #app .ant-btn:before {
	display: none !important;
}

.ant-form-item-label label {
	color: #666666;
	font-weight: normal;
	font-size: 14px;
}

input {
	font-size: 14px;
}

.ant-form-item {
	margin-bottom: 20px;
}

.christmas.ant-btn-primary.ant-btn-lg:before {
	display: none !important;
}
.christmas.ant-btn-primary.ant-btn-lg:before .fx-center {
	display: flex;
	align-items: center;
}

.flexDirection {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.flexAuto {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	width: 6px;
	background: transparent;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	cursor: pointer;
}

::-webkit-scrollbar-thumb {
	min-height: 28px;
	background-color: rgba(16, 31, 28, 0.3);
	background-clip: padding-box;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	cursor: pointer;
}

::-webkit-scrollbar-track:hover {
	background: rgba(16, 31, 28, 0.1);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(16, 31, 28, 0.5);
}
