.ibox-content {
    background-color: #fff;
    padding: 10px;
}

.ant-input-affix-wrapper .ant-input-prefix,
.ant-input-affix-wrapper .ant-input-suffix {
    margin-top: 1px;
}

.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
    transform: translate(0, 1px);
}

.ant-modal .ant-modal-body .title {
    margin-bottom: 35px;
    font-weight: bold;
}
.ant-modal .ant-modal-footer {
    border: none;
    padding-right: 30px;
    padding-bottom: 30px;
}
.ant-modal .ant-modal-footer button {
    width: 88px;
    height: 32px;
    font-size: 14px;
    border-radius: 4px;
}
.ant-modal .ant-modal-footer button + button {
    margin-left: 15px;
}
.ant-modal .ant-checkbox-group-item {
    margin-right: 3px;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
    color: #333;
}

.logo {
    display: flex;
    align-items: center a;
    align-items-display: flex;
    align-items-align-items: center;
    align-items-justify-content: flex-start;
}
.logo span {
    margin-left: 12px;
    color: white;
}

p.title {
    font-size: 16px;
    color: #333333;
    text-align: center;
}

body {
    height: 100%;
    background-color: #f2f7fa;
}
body .container {
    position: relative;
    padding-bottom: 30px;
    min-height: 100%;
}
body #app .ant-btn:before {
    display: none !important;
}

.ant-form-item-label label {
    font-weight: normal;
    font-size: 14px;
    color: #666666;
}

input {
    font-size: 14px;
}

.ant-form-item {
    margin-bottom: 20px;
}

.christmas.ant-btn-primary.ant-btn-lg:before {
    display: none !important;
}
.christmas.ant-btn-primary.ant-btn-lg:before .fx-center {
    display: flex;
    align-items: center;
}

.flexDirection {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flexAuto {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    cursor: pointer;
    width: 6px;
    background: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: rgba(16, 31, 28, 0.3);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-track:hover {
    background: rgba(16, 31, 28, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(16, 31, 28, 0.5);
}
