.login-container input:-webkit-autofill,
.login-container textarea:-webkit-autofill,
.login-container select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset;
}
.login-container input:focus,
.login-container input:focus,
.login-container textarea:focus {
    -webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset;
    outline: #3f87ff solid 1px;
}
.login-container ::-webkit-input-placeholder {
    color: #999999;
}
.login-container :-moz-placeholder {
    /* Firefox 18- */
    color: #999999;
}
.login-container ::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999;
}
.login-container :-ms-input-placeholder {
    color: #999999;
}
.login-container .c-login__bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
}
.login-container .c-login__wrap {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px 0px;
    position: fixed;
    background-color: white;
    width: 1000px;
    height: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.login-container .c-login__wrap .c-login__container__link {
    display: flex;
    width: 328px;
    justify-content: space-between;
    margin-top: 12px;
}
.login-container .c-login__wrap .c-login__container {
    flex: 1;
    padding: 60px;
}
.login-container .c-login__wrap .c-login__container .c-login__container__title {
    height: 33px;
    font-size: 24px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 33px;
    margin-bottom: 50px;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__span {
    color: #666666;
    font-size: 12px;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__select {
    border: none;
    font-size: 14px;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__select
    .ant-select-focused
    .ant-select-selection,
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__select
    .ant-select-selection:focus,
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__select
    .ant-select-selection:active {
    box-shadow: none;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__select
    .ant-select-selection {
    border: none;
    background: #f8f8f8;
    height: 40px;
    line-height: 40px;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__select
    .ant-select-selection__rendered {
    height: 40px;
    line-height: 40px;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__input {
    width: 340px;
    height: 40px;
    background: #f8f8f8;
    border-radius: 4px;
    border: none;
    padding: 0 16px;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__code {
    width: 340px;
    height: 40px;
    background: #f8f8f8;
    border-radius: 4px;
    border: none;
    position: relative;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__code
    .c-login__container__form__code__input {
    padding: 0 90px 0 16px;
    width: 340px;
    height: 40px;
    background: #f8f8f8;
    border-radius: 4px;
    border: none;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__code
    .code_img {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 6px;
    height: 28px;
    background-color: #fff;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .c-login__container__form__btn {
    width: 340px;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
    background: #3f87ff;
    border-radius: 4px;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .has-error
    .c-login__container__form__input {
    border-bottom: 1px solid #f5222d;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .has-error
    .c-login__container__form__code__input {
    border-bottom: 1px solid #f5222d;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .has-error
    .c-login__container__form__code__input:focus {
    border-bottom: 1px solid #f5222d;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .ant-form-explain {
    float: right;
    font-size: 12px;
    height: 32px;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .ant-form-item {
    padding: 0px;
    margin-bottom: 20px;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .ant-form-item-label {
    padding: 0px;
    height: 17px;
    line-height: 17px;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .ant-form-extra {
    margin: 0px;
    font-size: 12px;
    color: #f5222d;
    float: right;
    height: 32px;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__form
    .ant-form-item-with-help {
    margin-bottom: 3px;
}
.login-container .c-login__wrap .c-login__container .c-login__container__third {
    width: 328px;
    margin-top: 20.5px;
    border-top: 1px solid #999;
    position: relative;
}
.login-container
    .c-login__wrap
    .c-login__container
    .c-login__container__third
    .c-login__container__third__span {
    color: #3f87ff;
    font-size: 12px;
    margin: 0 auto;
    width: 116px;
    height: 17px;
    position: relative;
    top: -9px;
    padding: 0 10px;
    background: #fff;
    cursor: pointer;
}
