.login-container input:-webkit-autofill,
.login-container textarea:-webkit-autofill,
.login-container select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset;
}
.login-container input:focus,
.login-container input:focus,
.login-container textarea:focus {
	outline: #3f87ff solid 1px;
	-webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset;
}
.login-container ::-webkit-input-placeholder {
	color: #999999;
}
.login-container :-moz-placeholder {
	/* Firefox 18- */
	color: #999999;
}
.login-container ::-moz-placeholder {
	/* Firefox 19+ */
	color: #999999;
}
.login-container :-ms-input-placeholder {
	color: #999999;
}
.login-container .c-login__bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	width: 100%;
	height: 100%;
}
.login-container .c-login__wrap {
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 1000px;
	height: 540px;
	background-color: white;
	border-radius: 1;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px 0px;
	transform: translate(-50%, -50%);
}
.login-container .c-login__wrap .c-login__container__link {
	display: flex;
	justify-content: space-between;
	width: 328px;
	margin-top: 12px;
}
.login-container .c-login__wrap .c-login__container {
	flex: 1;
	padding: 60px;
}
.login-container .c-login__wrap .c-login__container .c-login__container__title {
	height: 33px;
	margin-bottom: 50px;
	color: #333333;
	font-weight: 500;
	font-size: 24px;
	font-family: PingFangSC-Medium, PingFang SC;
	line-height: 33px;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__span {
	color: #666666;
	font-size: 12px;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__select {
	font-size: 14px;
	border: none;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__select
	.ant-select-focused
	.ant-select-selection,
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__select
	.ant-select-selection:focus,
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__select
	.ant-select-selection:active {
	box-shadow: none;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__select
	.ant-select-selection {
	height: 40px;
	line-height: 40px;
	background: #f8f8f8;
	border: none;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__select
	.ant-select-selection__rendered {
	height: 40px;
	line-height: 40px;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__input {
	width: 340px;
	height: 40px;
	padding: 0 16px;
	background: #f8f8f8;
	border: none;
	border-radius: 4px;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__code {
	position: relative;
	width: 340px;
	height: 40px;
	background: #f8f8f8;
	border: none;
	border-radius: 4px;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__code
	.c-login__container__form__code__input {
	width: 340px;
	height: 40px;
	padding: 0 90px 0 16px;
	background: #f8f8f8;
	border: none;
	border-radius: 4px;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__code
	.code_img {
	position: absolute;
	top: 6px;
	right: 6px;
	height: 28px;
	background-color: #fff;
	cursor: pointer;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.c-login__container__form__btn {
	width: 340px;
	height: 40px;
	margin-top: 20px;
	font-size: 16px;
	background: #3f87ff;
	border-radius: 4px;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.has-error
	.c-login__container__form__input {
	border-bottom: 1px solid #f5222d;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.has-error
	.c-login__container__form__code__input {
	border-bottom: 1px solid #f5222d;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.has-error
	.c-login__container__form__code__input:focus {
	border-bottom: 1px solid #f5222d;
}
.login-container .c-login__wrap .c-login__container .c-login__container__form .ant-form-explain {
	float: right;
	height: 32px;
	font-size: 12px;
}
.login-container .c-login__wrap .c-login__container .c-login__container__form .ant-form-item {
	margin-bottom: 20px;
	padding: 0px;
}
.login-container .c-login__wrap .c-login__container .c-login__container__form .ant-form-item-label {
	height: 17px;
	padding: 0px;
	line-height: 17px;
}
.login-container .c-login__wrap .c-login__container .c-login__container__form .ant-form-extra {
	float: right;
	height: 32px;
	margin: 0px;
	color: #f5222d;
	font-size: 12px;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__form
	.ant-form-item-with-help {
	margin-bottom: 3px;
}
.login-container .c-login__wrap .c-login__container .c-login__container__third {
	position: relative;
	width: 328px;
	margin-top: 20.5px;
	border-top: 1px solid #999;
}
.login-container
	.c-login__wrap
	.c-login__container
	.c-login__container__third
	.c-login__container__third__span {
	position: relative;
	top: -9px;
	width: 116px;
	height: 17px;
	margin: 0 auto;
	padding: 0 10px;
	color: #3f87ff;
	font-size: 12px;
	background: #fff;
	cursor: pointer;
}
