.codicon-sync:before {
	color: #cbcb41;
}

.codicon-icon_sparkSQL:before {
	color: #519aba;
}

.mo {
	.ant-steps-item-wait
		> .ant-steps-item-container
		> .ant-steps-item-content
		> .ant-steps-item-title {
		color: var(--foreground);
	}

	.ant-steps-item-process .ant-steps-item-icon {
		background: var(--textLink-activeForeground);
		border-color: var(--textLink-activeForeground);
	}
	.ant-steps-item-process
		> .ant-steps-item-container
		> .ant-steps-item-content
		> .ant-steps-item-title {
		color: var(--textLink-activeForeground);
	}

	.ant {
		&-btn {
			color: var(--button-foreground);
			background: var(--button-background);
			border-color: transparent;
			border-radius: 0 !important;
		}

		&-radio,
		&-steps-item-title,
		&-checkbox-wrapper,
		&-radio-wrapper,
		&-form-item,
		&-modal-close,
		&-modal-title,
		&-modal-confirm-title,
		&-table-tbody > tr > td,
		&-form-item-label > label {
			color: var(--foreground);
		}

		&-input,
		&-select-selection,
		&-checkbox-inner {
			background: var(--input-background);
			border-color: var(--input-border);
			border-radius: 0px;
		}

		&-steps-item-process &-steps-item-icon {
			background: var(--button-background);
		}

		&-modal-header,
		&-modal-body,
		&-modal-footer {
			color: var(--foreground);
			background-color: var(--editor-background);
		}
	}

	.mo-workbench .m-datasync .steps-content {
		border: 0;
	}

	.mo-panel {
		.ant-collapse {
			background-color: var(--panel-background);
		}

		.ant-collapse > .ant-collapse-item > .ant-collapse-header {
			color: var(--foreground);
		}
	}
}
