
/**
** CSS 主引入口
**/

@import './views/layout.scss';

* {
    &::-webkit-scrollbar-track {
        border: 1px solid #e9e9e9;
        background-color: #ffffff;
        border-top: none;
        border-right: none;
    }

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c2c2c2;
    }
}
table {
    font-size: 12px;
}
.split-text {
    float: left;
    padding: 0px 5px;
}
.big-tooltip .ant-tooltip-inner{
    max-width: 350px;
}

.u-table__tag__margin ~ .u-table__tag__margin {
    margin-top: 5px;
}
.u-helpdox--table {
    position: relative;
}

@mixin state-icon-base ($color) {
    &:before {
        content: "";
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        border-radius: 50%;
        background: $color;
        left: -16px;
        transform: translateY(-50%);
    }
    position: relative;
}
.state-running{
    @include state-icon-base(#00A755);
}
.state-failed{
    @include state-icon-base(#E64933);
}
.state-disabled{
    @include state-icon-base(#94a8c6);
}
.state-not_run{
    @include state-icon-base(#f5a623);
}
.state-loading{
    @include state-icon-base(#f5a623);
}
.o-button--large-font {
    font-size: 14px;
    font-weight: normal;
}
.o-font--normal {
    font-weight: normal;
}

.dt-tree-select{
    .ant-select-tree-node-content-wrapper {
        position: relative;
    }
    .ant-select-tree-iconEle.ant-select-tree-icon_loading {
        position: absolute;
        top: 0px;
        left: -24px;
        background: #fff;
    }
}