.dm-list {
  .search-area {
    .search {
      width: 200px;
    }
  }
  .table-area {
    margin-top: 12px;
    height: calc(100% - 68px);
    position: relative;
    .ant-divider-vertical {
      background-color: #3f87ff !important;
    }
    .table {
      height: calc(100% - 32px);

      .ant-table-thead > tr > th {
        padding: 12px 20px;
      }

      .ant-table-tbody > tr > td {
        padding: 18px 20px;
      }

      // .ant-table-fixed-header .ant-table-scroll .ant-table-header {
      //   margin-bottom: -17px !important;
      // }
    }
    .drawer {
      height: calc(100% - 148px);
      top: 128px;
      .slider {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 18px;
        height: 50px;
        line-height: 50px;
        background: #eeeeee;
        border-radius: 0px 2px 2px 0px;
        border: 1px solid #dddddd;
        cursor: pointer;
        z-index: 1;
        color: #999999;
      }
    }
    .pagination-container {
      width: 100%;
      height: 56px;
      line-height: 56px;
      background: #fff;
      .pagination {
        left: 0;
        float: right;
        margin-top: 16px;
      }
      .tips {
        margin-right: 20px;
        float: right;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
        font-weight: 400;
        color: #666666;
        .highlight {
          color: #3f87ff;
        }
      }
    }
    .dot {
      width: 8px;
      height: 8px;
      margin-right: 8px;
      display: inline-block;
      border-radius: 50%;
    }
    .btn-disabled {
      color: #999999;
      cursor: not-allowed;
    }
  }
}

.float-right {
  float: right;
}

.padding-tb-20 {
  padding: 20px 0;
}

.overflow-auto {
  overflow: auto;
}

.btn-link {
  color: #3f87ff;
  &:hover {
    color: #3f87ffaa;
  }
}

.icon-filter {
  font-size: 16px !important;
  margin-top: 2px;

  &.filtered {
    color: #3f87ff !important;
  }
}

.ant-dropdown-open {
  .iconfont2 {
    color: #3f87ff;
  }
}
