div.mxRubberband {
	position: absolute;
	overflow: hidden;
	background: #0077ff;
	border-color: #0000ff;
	border-style: solid;
	border-width: 1px;
}
.mxCellEditor {
	position: absolute;
	min-width: 1px;
	margin: 0px;
	padding: 0px;
	overflow: visible;
	word-wrap: normal;
	background: url('../images/transparent.gif');
	border-color: transparent;
	border-style: solid;
	border-width: 0;
	resize: none;
}
.mxPlainTextEditor * {
	margin: 0px;
	padding: 0px;
}
div.mxWindow {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	background: url('../images/window.gif');
	border: 1px solid #c3c3c3;
	-webkit-box-shadow: 3px 3px 12px #c0c0c0;
	-moz-box-shadow: 3px 3px 12px #c0c0c0;
	box-shadow: 3px 3px 12px #c0c0c0;
}
table.mxWindow {
	font-size: 8pt;
	font-family: Arial;
	table-layout: fixed;
	border-collapse: collapse;
}
td.mxWindowTitle {
	height: 13px;
	padding: 2px;
	padding-top: 4px;
	padding-bottom: 6px;
	overflow: hidden;
	color: black;
	font-weight: bold;
	white-space: nowrap;
	text-align: center;
	text-overflow: ellipsis;
	background: url('../images/window-title.gif') repeat-x;
}
td.mxWindowPane {
	padding: 0px;
	vertical-align: top;
}
div.mxWindowPane {
	position: relative;
	overflow: hidden;
}
td.mxWindowPane td {
	font-size: 8pt;
	font-family: Arial;
}
td.mxWindowPane input,
td.mxWindowPane select,
td.mxWindowPane textarea,
td.mxWindowPane radio {
	padding: 1px;
	font-size: 8pt;
	font-family: Arial;
	border-color: #8c8c8c;
	border-style: solid;
	border-width: 1px;
}
td.mxWindowPane button {
	float: left;
	padding: 2px;
	font-size: 8pt;
	font-family: Arial;
	background: url('../images/button.gif') repeat-x;
}
img.mxToolbarItem {
	margin-right: 6px;
	margin-bottom: 6px;
	border-width: 1px;
}
select.mxToolbarCombo {
	vertical-align: top;
	border-style: inset;
	border-width: 2px;
}
div.mxToolbarComboContainer {
	padding: 2px;
}
img.mxToolbarMode {
	margin: 2px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-width: 0px;
}
img.mxToolbarModeSelected {
	margin: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	border-style: inset;
	border-width: 2px;
}
div.mxTooltip {
	position: absolute;
	padding: 4px;
	color: black;
	font-size: 8pt;
	font-family: Arial;
	background: #ffffcc;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	-webkit-box-shadow: 3px 3px 12px #c0c0c0;
	-moz-box-shadow: 3px 3px 12px #c0c0c0;
	box-shadow: 3px 3px 12px #c0c0c0;
	cursor: default;
}
div.mxPopupMenu {
	position: absolute;
	background: url('../images/window.gif');
	border-color: black;
	border-style: solid;
	border-width: 1px;
	-webkit-box-shadow: 3px 3px 12px #c0c0c0;
	-moz-box-shadow: 3px 3px 12px #c0c0c0;
	box-shadow: 3px 3px 12px #c0c0c0;
}
table.mxPopupMenu {
	margin-top: 1px;
	margin-bottom: 1px;
	border-collapse: collapse;
}
tr.mxPopupMenuItem {
	color: black;
	cursor: pointer;
}
tr.mxPopupMenuItemHover {
	color: #ffffff;
	background-color: #000066;
	cursor: pointer;
}
td.mxPopupMenuItem {
	padding: 2px 30px 2px 10px;
	font-size: 8pt;
	font-family: Arial;
	white-space: nowrap;
}
td.mxPopupMenuIcon {
	padding: 2px 4px 2px 4px;
	background-color: #d0d0d0;
}
.mxDisabled {
	cursor: default !important;
	opacity: 0.2 !important;
}
