
/**
** CSS 主引入口
**/
@import './views/apiMarket.scss';
@import './views/apiMine.scss';
@import './views/management.scss';
@import './views/approval.scss';

.m-8 {
    margin: 0 8px;
}

.m-l-8 {
	margin-left: 8px;
}

.m-r-8 {
	margin-right: 8px;
}

.help-doc {
    position: absolute;
    right: -20px;
    top: 10px;
}

.m-tooltip {
	.ant-tooltip-inner {
		max-width: 600px;
        white-space: pre-line;
	}
}

.select-all-table {
	.ant-table-thead {
        .ant-table-selection-column>span {
            visibility: visible;
        }
    }
}

.fixed-table {
	.ant-table-body {
        table {
			table-layout: fixed;
        }
    }

    .ellipsis-td {
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
    }
}

.txt-center-table {
	.ant-table-thead {
        & > tr > th {
            text-align: center;
        }
    }

    .ant-table-tbody {
        & > tr > td {
            text-align: center;
        }
    }
}