.entry {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	background-color: var(--panel-background);
	pointer-events: none;

	.logo {
		opacity: 0.1;
	}
}
