.taskParams .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    color: #fff;
}

.taskParams .ant-form-item-label > label{
    color: #fff;
}

.taskParams .ant-input{
    background: #fff;
    color: #000;
}

.mo-editor__group-container .mo-open-task{
    width: 60%;
    margin: 20px auto;
}