.task-info {
    line-height: 40px;
    word-break: break-word;
    background: var(--editor-background);
    border: 1px solid var(--sideBarSectionHeader-border);

    .task-info-line {
        border-bottom: 1px solid var(--sideBarSectionHeader-border);
    }

    div.txt-left {
        color: var(--panelTitle-activeForeground);
        text-align: left;
        padding-left: 13px;
        border-right: 1px solid var(--sideBarSectionHeader-border);
    }

    div.txt-right {
        text-align: left;
        padding-left: 13px;
    }

    .ant-tag {
        margin-bottom: 5px;
    }
}
