
/**
** CSS 主引入口
**/

@import './views/dashboard.scss';
@import './views/apiMarket.scss';
@import './views/apiMine.scss';
@import './views/management.scss';
@import './views/approval.scss';
@import './views/projectPanel.scss';
@import './views/project.scss';
@import './views/layout.scss';

table{
    font-size:12px;
}
.overflow-x-hidden{
    overflow-x: hidden;
} 
.big-tooltip .ant-tooltip-inner{
    max-width: 350px;
}
.ant-table-thead > tr > th.text-middle{
    text-align: center;
}
.text-middle{
    text-align: center;
}
.title-border-l-blue{
    font-size:14px;
    position: relative;
    line-height:20px;
}
.title-border-l-blue:before{
    content:"";
    position: absolute;
    left:-10px;
    width: 4px;
    top:2px;
    bottom:2px;
    background: #2491F7;
}
.form-title-line{
    padding-bottom: 20px;
    .form-title{
        line-height: 20px;
        white-space: nowrap;
        float: right;
        text-align: left;
        width: 70px;
    }
}
.ant-slider-pos {
    .ant-slider-pos--collapsed {
        background: #262E36;
        color: #fff;
        width: 100%;
        border: none;
        border-radius: 0;
        text-align: center;
        line-height: 42px;
        height: 42px;
        border-right: 1px solid #e9e9e9;
    }
}
.icon-svg {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 18px;
    color: #fff;
    margin-right: 5px;
  }