<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dtstack.engine.dao.JobGraphTriggerDao">

    <sql id="select_content_fragment">
        id,trigger_type,trigger_time,gmt_create,gmt_modified,is_deleted
    </sql>

    <insert id="insert" parameterType="JobGraphTrigger" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO schedule_job_graph_trigger
        (trigger_type,trigger_time)
        VALUES
        (#{triggerType},#{triggerTime})
    </insert>

    <select id="getByTriggerTimeAndTriggerType" resultType="JobGraphTrigger">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_job_graph_trigger
        WHERE trigger_time = #{triggerTime}
        AND trigger_type = #{triggerType} and is_deleted = 0 LIMIT 1
    </select>

    <delete id="deleteToday">
        delete from schedule_job_graph_trigger
        where TO_DAYS(trigger_time) = TO_DAYS(CURRENT_DATE)
    </delete>
</mapper>