<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.lineage.dao.LineageColumnColumnDao">

    <sql id="select_content_fragment">
      id,dt_uic_tenant_id,app_type,input_table_id,input_table_key,input_column_name,result_table_id,result_table_key,result_column_name,column_lineage_key,lineage_source,gmt_create,gmt_modified,is_deleted
    </sql>

    <sql id="select_where_fragment">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="model.appType != null and model.appType > 0">
                AND app_type = #{model.appType}
            </if>
            <if test="model.inputTableId != null">
                AND input_table_id like '%${model.inputTableId}%'
            </if>
            <if test="model.isDeleted != null">
                AND is_deleted = #{model.isDeleted}
            </if>
        </trim>
    </sql>

    <insert id="batchInsertColumnColumn" parameterType="com.dtstack.engine.api.domain.LineageColumnColumn"
            useGeneratedKeys="true" keyProperty="id">
        insert into lineage_table_table(tenant_id,app_type,input_table_id,input_column_name,result_table_id,result_column_name,column_lineage_key,is_manual)
        values
        <foreach collection="list" item="item" open="" close="" separator=",">
            (#{tenantId},#{appType},#{inputTableId},#{inputColumnName},#{resultTableId},#{resultColumnName},#{columnLineageKey},#{isManual})
        </foreach>
        on duplicate key update gmt_modified=values(gmt_modified)
    </insert>

    <delete id="deleteByUniqueKey">
        update lineage_table_table set is_deletede = 1 where unique_key = #{uniqueKey}
    </delete>

    <select id="queryColumnInputList" resultType="com.dtstack.engine.api.domain.LineageColumnColumn">
        select <include refid="select_content_fragment"/> where input_table_id = #{tableId} and input_column_name = #{columnName} and app_type = #{appType}
    </select>
    <select id="queryColumnResultList" resultType="com.dtstack.engine.api.domain.LineageColumnColumn">
        select <include refid="select_content_fragment"/> where result_table_id = #{tableId} and result_column_name = #{columnName} and app_type = #{appType}
    </select>

    <select id="queryByLineageKey" resultType="com.dtstack.engine.api.domain.LineageColumnColumn">

    </select>

</mapper>
