<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.engine.dao.ScheduleTaskShadeDao">

    <sql id="select_content_fragment">
      id,tenant_id,task_id,project_id,node_pid,name,task_type,engine_type,compute_type,sql_text,task_params,schedule_conf,period_type,app_type,dtuic_tenant_id,
      schedule_status,submit_status,gmt_create,gmt_modified,modify_user_id,create_user_id,owner_user_id,version_id,is_deleted,task_desc,main_class,exe_args,flow_id,is_publish_to_produce,is_expire
    </sql>

    <sql id="select_content_fragment_with_sql">
        id,tenant_id,task_id,project_id,node_pid,name,task_type,engine_type,compute_type,task_params,schedule_conf,period_type,app_type,dtuic_tenant_id,
      schedule_status,submit_status,gmt_create,gmt_modified,modify_user_id,create_user_id,owner_user_id,version_id,is_deleted,task_desc,main_class,exe_args,flow_id,is_publish_to_produce,is_expire
    </sql>

    <sql id="alias_select_content_fragment">
        ts.id,ts.tenant_id,ts.task_id,ts.project_id,ts.node_pid,ts.name,ts.task_type,ts.app_type,ts.engine_type,ts.compute_type,ts.sql_text,ts.task_params,ts.schedule_conf,ts.period_type,
        ts.schedule_status,ts.submit_status,ts.gmt_create,ts.gmt_modified,ts.modify_user_id,ts.create_user_id,ts.owner_user_id,ts.version_id,ts.is_deleted,ts.task_desc,ts.main_class,ts.exe_args,ts.flow_id,ts.is_publish_to_produce,ts.dtuic_tenant_id,ts.is_expire
    </sql>

    <sql id="simple_select_content_fragment">
        id,tenant_id,project_id,name,task_type,engine_type,compute_type,period_type,schedule_conf,task_id,app_type,
        schedule_status,submit_status,gmt_create,gmt_modified,modify_user_id,create_user_id,owner_user_id,version_id,is_deleted,flow_id,is_publish_to_produce,dtuic_tenant_id,is_expire
    </sql>

    <sql id="select_where_fragment">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="model.id != null and model.id > 0">
                AND id = #{model.id}
            </if>
            <if test="model.tenantId != null">
                AND tenant_id = #{model.tenantId}
            </if>
            <if test="model.projectId != null">
                AND project_id = #{model.projectId}
            </if>
            <if test="model.nodePid != null">
                AND node_pid = #{model.nodePid}
            </if>
            <if test="model.name != null">
                AND name = #{model.name}
            </if>
            <if test="model.taskType != null">
                AND task_type = #{model.taskType}
            </if>
            <if test="model.engineType != null">
                AND engine_type = #{model.engineType}
            </if>
            <if test="model.computeType != null">
                AND compute_type = #{model.computeType}
            </if>
            <if test="model.sqlText != null">
                AND sql_text = #{model.sqlText}
            </if>
            <if test="model.taskParams != null">
                AND task_params = #{model.taskParams}
            </if>
            <if test="model.scheduleConf != null">
                AND schedule_conf = #{model.scheduleConf}
            </if>
            <if test="model.periodType != null">
                AND period_type = #{model.periodType}
            </if>
            <if test="model.scheduleStatus != null">
                AND schedule_status = #{model.scheduleStatus}
            </if>
            <if test="model.submitStatus != null">
                AND submit_status = #{model.submitStatus}
            </if>
            <if test="model.gmtCreate != null">
                AND gmt_create = #{model.gmtCreate}
            </if>
            <if test="model.gmtModified != null">
                AND gmt_modified = #{model.gmtModified}
            </if>
            <if test="model.modifyUserId != null">
                AND modify_user_id = #{model.modifyUserId}
            </if>
            <if test="model.createUserId != null">
                AND create_user_id = #{model.createUserId}
            </if>
            <if test="model.ownerUserId != null">
                AND owner_user_id = #{model.ownerUserId}
            </if>
            <if test="model.versionId != null">
                AND version_id = #{model.versionId}
            </if>
            <if test="model.isDeleted != null">
                AND is_deleted = #{model.isDeleted}
            </if>
            <if test="model.taskDesc != null">
                AND task_desc = #{model.taskDesc}
            </if>
            <if test="model.mainClass != null">
                AND main_class = #{model.mainClass}
            </if>
            <if test="model.exeArgs != null">
                AND exe_args = #{model.exeArgs}
            </if>
            <choose>
                <when test="model.fuzzName != null and  model.searchType==1" >
                    AND name LIKE '%${model.fuzzName}%'
                </when>
                <when test="model.fuzzName != null and  model.searchType==2" >
                    AND name =#{model.fuzzName}
                </when>
                <when test="model.fuzzName != null and  model.searchType==3" >
                    AND name LIKE '${model.fuzzName}%'
                </when>
                <when test="model.fuzzName != null and  model.searchType==4" >
                    AND name LIKE '%${model.fuzzName}'
                </when>
            </choose>
            <if test="model.startGmtModified != null">
                AND gmt_modified &gt;= #{model.startGmtModified}
            </if>

            <if test="model.endGmtModified != null">
                AND gmt_modified &lt;= #{model.endGmtModified}
            </if>
            <if test="model.taskTypeList != null and model.taskTypeList.size() >0">
                AND task_type IN
                <foreach item="taskType" index="index" collection="model.taskTypeList" open="(" separator="," close=")">
                    #{taskType}
                </foreach>
            </if>

            <if test="model.periodTypeList != null and model.periodTypeList.size() >0">
                AND period_type IN
                <foreach item="periodType" index="index" collection="model.periodTypeList" open="(" separator="," close=")">
                    #{periodType}
                </foreach>
            </if>
            <if test="model.flowId != null">
                AND flow_id = #{model.flowId}
            </if>
            <if test="model.appType != null">
                AND app_type = #{model.appType}
            </if>
        </trim>
    </sql>

    <sql id="update_fragment">
        <set>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="nodePid != null">
                node_pid = #{nodePid},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="taskType != null">
                task_type = #{taskType},
            </if>
            <if test="engineType != null">
                engine_type = #{engineType},
            </if>
            <if test="computeType != null">
                compute_type = #{computeType},
            </if>
            <if test="sqlText != null">
                sql_text = #{sqlText},
            </if>
            <if test="taskParams != null">
                task_params = #{taskParams},
            </if>
            <if test="scheduleConf != null">
                schedule_conf = #{scheduleConf},
            </if>
            <if test="periodType != null">
                period_type = #{periodType},
            </if>
            <if test="scheduleStatus != null">
                schedule_status = #{scheduleStatus},
            </if>
            <if test="submitStatus != null">
                submit_status = #{submitStatus},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="modifyUserId != null">
                modify_user_id = #{modifyUserId},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="ownerUserId != null">
                owner_user_id = #{ownerUserId},
            </if>
            <if test="versionId != null">
                version_id = #{versionId},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="taskDesc != null">
                task_desc = #{taskDesc},
            </if>
            <if test="mainClass != null">
                main_class = #{mainClass},
            </if>
            <if test="exeArgs != null">
                exe_args = #{exeArgs},
            </if>
            <if test="isPublishToProduce != null">
                is_publish_to_produce = #{isPublishToProduce},
            </if>
            <if test="dtuicTenantId !=null and dtuicTenantId > 0">
                dtuic_tenant_id  = #{dtuicTenantId},
            </if>
            <if test="flowId !=null">
                flow_id  = #{flowId},
            </if>
            <if test="projectScheduleStatus != null">
                project_schedule_status = #{projectScheduleStatus},
            </if>
        </set>
    </sql>

    <select id="getOne" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_shade
        WHERE task_id = #{taskId} AND is_deleted = 0 and app_type = #{appType}
    </select>

    <select id="listTaskByStatus" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment_with_sql"/>
        FROM schedule_task_shade
        WHERE id > #{startId} AND submit_status = #{submitStatus} and project_schedule_status = #{projectScheduleStatus} and is_deleted = 0
        order by id asc
        limit #{batchTaskSize}
    </select>

    <select id="countTaskByStatus" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM schedule_task_shade
        WHERE submit_status = #{submitStatus} and project_schedule_status = #{projectScheduleStatus} and is_deleted = 0
    </select>

    <select id="listByTaskIds" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_shade
        <where>
            <if test="appType != null">
                AND app_type = #{appType}
            </if>
            <if test="isDeleted != null">
                AND is_deleted = #{isDeleted}
            </if>

            <if test="taskIds !=null and taskIds.size() != 0">
                AND task_id IN
                <foreach item="id" index="index" collection="taskIds" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="listByNameLike" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_shade
        WHERE project_id = #{projectId}  and is_deleted = 0 and app_type = #{appType}
        <if test="ownerId!=null">
           AND owner_user_id = #{ownerId}
        </if>
        <if test="name!=null">
            AND name like '%${name}%'
        </if>
        <if test="projectId != null">
            and  project_id = #{projectId}
        </if>
        <if test="projectIds != null and projectIds.size() > 0">
            and   project_id in
            <foreach collection="projectIds" open="(" separator="," close=")" item="projectId">
                #{projectId}
            </foreach>
        </if>
    </select>


    <select id="listByNameLikeWithSearchType" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_shade
        WHERE project_id = #{projectId}  and is_deleted = 0 and app_type = #{appType}
        <if test="ownerId!=null">
            AND owner_user_id = #{ownerId}
        </if>
        <choose>
            <when test="name != null and  searchType==1">
                AND name LIKE '%${name}%'
            </when>
            <when test="name != null and  searchType==2">
                AND name =#{name}
            </when>
            <when test="name != null and  searchType==3">
                AND name LIKE '${name}%'
            </when>
            <when test="name != null and  searchType==4">
                AND name LIKE '%${name}'
            </when>
        </choose>
        <if test="projectId != null">
            and  project_id = #{projectId}
        </if>
        <if test="projectIds != null and projectIds.size() > 0">
            and   project_id in
            <foreach collection="projectIds" open="(" separator="," close=")" item="projectId">
                #{projectId}
            </foreach>
        </if>
    </select>

    <select id="listByName" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_shade
        WHERE project_id = #{projectId} AND name=#{name} and is_deleted = 0
    </select>

    <select id="listByNameLikeFront" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_shade
        WHERE project_id = #{projectId} AND name like '%${name}' and is_deleted = 0
    </select>

    <select id="listByNameLikeTail" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_shade
        WHERE project_id = #{projectId} AND name like '${name}%' and is_deleted = 0
    </select>

    <select id="getByName" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_shade
        WHERE project_id = #{projectId} AND name = #{name}
        AND app_type = #{appType}
        and is_deleted = 0
        <if test="flowId != null">
            AND flow_id = #{flowId}
        </if>
        limit 1
    </select>


    <select id="listDependencyTask" resultType="java.util.Map">
        SELECT ts.task_id as id ,ts.task_id,ts.name,ts.create_user_id as createUserId FROM schedule_task_shade ts
        WHERE ts.project_id = #{projectId} and ts.submit_status = 1
        and ts.task_id NOT IN
        <foreach item="id" index="index" collection="taskIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        and ts.name like concat('%', #{name}, '%') and ts.is_deleted = 0 and ts.flow_id = 0
    </select>

    <select id="listByTaskIdsNotIn" resultType="java.util.Map">
        SELECT ts.task_id as id, ts.task_id, ts.task_type as taskType,ts.name,ts.create_user_id as createUserId
        FROM schedule_task_shade ts
        WHERE ts.project_id = #{projectId} and ts.submit_status = 1
        and ts.compute_type = 1 and ts.task_type in (0,2) and ts.is_deleted = 0
        <if test="taskIds != null">
            and ts.task_id NOT IN
            <foreach item="id" index="index" collection="taskIds" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <update id="updateTaskName">
        UPDATE
            schedule_task_shade
        set name = #{name}
        where task_id = #{taskId} and app_type = #{appType}
    </update>

    <update id="delete">
        UPDATE schedule_task_shade
        SET is_deleted = 1, modify_user_id = #{userId}, gmt_modified = NOW()
        WHERE task_id = #{taskId}
    </update>

    <insert id="insert" parameterType="ScheduleTaskShade" useGeneratedKeys="false" keyProperty="id">
        INSERT INTO schedule_task_shade
        (tenant_id,project_id,node_pid,name,task_type,engine_type,compute_type,sql_text,task_params,schedule_conf,period_type,
         schedule_status,submit_status,gmt_create,gmt_modified,modify_user_id,create_user_id,owner_user_id,version_id,is_deleted,task_desc,main_class,exe_args,flow_id,app_type,dtuic_tenant_id,task_id,is_expire,project_schedule_status)
        VALUES
        (#{tenantId},#{projectId},#{nodePid},#{name},#{taskType},#{engineType},#{computeType},#{sqlText},#{taskParams},#{scheduleConf},#{periodType},
         #{scheduleStatus},#{submitStatus},#{gmtCreate},#{gmtModified},#{modifyUserId},#{createUserId},#{ownerUserId},#{versionId},#{isDeleted},#{taskDesc},#{mainClass},#{exeArgs},#{flowId},#{appType},#{dtuicTenantId},#{taskId},#{isExpire},#{projectScheduleStatus})
    </insert>

    <update id="update" parameterType="ScheduleTaskShade">
        UPDATE
        schedule_task_shade
        <include refid="update_fragment"/>
        WHERE
        task_id = #{taskId} AND is_deleted = 0 and app_type = #{appType}
    </update>

    <select id="listByType" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_shade
        WHERE project_id = #{projectId} and task_type = #{type}
        <if test="taskName != null">
            and name like '%${taskName}%'
        </if>
        and  is_deleted = 0
    </select>

    <select id="generalQuery" parameterType="com.dtstack.engine.api.pager.PageQuery" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM schedule_task_shade
        <include refid="select_where_fragment"/>
        <if test="orderBy != null and sort != null">
            order by ${orderBy} ${sort}
        </if>
        <if test="orderBy != null and sort == null">
            order by ${orderBy} desc
        </if>
        <if test="start != null and pageSize != null">
            limit #{start} , #{pageSize}
        </if>
        <if test="start == null and pageSize != null">
            limit #{pageSize}
        </if>
        <if test="start == null and pageSize == null">
            limit 1000
        </if>
    </select>

    <select id="generalCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM schedule_task_shade
        <include refid="select_where_fragment"/>
        limit 1
    </select>

    <update id="batchUpdateTaskScheduleStatus">
        UPDATE
        schedule_task_shade
        set schedule_status = #{scheduleStatus}
        WHERE
        task_id in
        <foreach item="id" index="index" collection="taskIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND app_type = #{appType}
        AND is_deleted = 0
    </update>

    <select id="simpleQuery" parameterType="com.dtstack.engine.api.pager.PageQuery" resultType="ScheduleTaskShade">
        SELECT
        <include refid="simple_select_content_fragment"/>
        FROM schedule_task_shade
        where tenant_id = #{model.tenantId} and project_id = #{model.projectId}
        <if test="model.taskName != null">
            and name like '%${model.taskName}%'
        </if>
        <if test="model.startTime != null">
            and to_days(gmt_modified) >= to_days(#{model.startTime})
        </if>
        <if test="model.taskType != null">
            and task_type = #{model.taskType}
        </if>
        <if test="model.endTime != null">
            and to_days(#{model.endTime}) >= to_days(gmt_modified)
        </if>
        <if test="model.taskTypeList != null and model.taskTypeList.size()>0">
            AND task_type IN
            <foreach collection="model.taskTypeList" separator="," index="index" item="item" open="(" close=")">
                ${item}
            </foreach>
        </if>
        <if test="model.name != null">
            and name like '%${model.name}%'
        </if>
        <if test="model.periodTypeList != null and model.periodTypeList.size()>0">
            AND period_type IN
            <foreach collection="model.periodTypeList" separator="," index="index" item="item" open="(" close=")">
                ${item}
            </foreach>
        </if>
        and if(is_publish_to_produce = 0, is_deleted = 0,1=1) and flow_id = 0

        <if test="orderBy != null and sort != null">
            order by ${orderBy} ${sort}
        </if>
        <if test="orderBy != null and sort == null">
            order by ${orderBy} desc
        </if>
        <if test="start != null and pageSize != null">
            limit #{start} , #{pageSize}
        </if>
        <if test="start == null and pageSize != null">
            limit #{pageSize}
        </if>
        <if test="start == null and pageSize == null">
            limit 1000
        </if>
    </select>

    <select id="simpleCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM schedule_task_shade
        where tenant_id = #{model.tenantId} and project_id = #{model.projectId}
        <if test="model.taskName != null">
            and name like '%${model.taskName}%'
        </if>
        <if test="model.startTime != null">
            and to_days(gmt_modified) >= to_days(#{model.startTime})
        </if>
        <if test="model.taskType != null">
            and task_type = #{model.taskType}
        </if>
        <if test="model.endTime != null">
            and to_days(#{model.endTime}) >= to_days(gmt_modified)
        </if>
        <if test="model.taskTypeList != null and model.taskTypeList.size()>0">
            AND task_type IN
            <foreach collection="model.taskTypeList" separator="," index="index" item="item" open="(" close=")">
                ${item}
            </foreach>
        </if>
        <if test="model.name != null">
            and name like '%${model.name}%'
        </if>
        <if test="model.periodTypeList != null and model.periodTypeList.size()>0">
            AND period_type IN
            <foreach collection="model.periodTypeList" separator="," index="index" item="item" open="(" close=")">
                ${item}
            </foreach>
        </if>
        <if test="model.name != null">
            and name like '%${model.name}%'
        </if>
        and if(is_publish_to_produce = 0, is_deleted = 0,1=1) and flow_id = 0
    </select>

    <select id="countTaskByType" resultType="java.util.Map">
        select
        count(1) as deployCount,
        project_id AS projectId
        from
        schedule_task_shade
        where
        tenant_id = #{tenantId}
        and
        dtuic_tenant_id = #{dtuicTenantId}
        and
        app_type = #{appType}
        <if test="taskTypes != null and taskTypes.size() > 0 ">
            and task_type in
            <foreach collection="taskTypes" separator="," open="(" close=")" item="taskType">
                #{taskType}
            </foreach>
        </if>
        <if test="projectIds != null and projectIds.size() > 0 ">
            and project_id in
            <foreach collection="projectIds" separator="," open="(" close=")" item="projectId">
                #{projectId}
            </foreach>
        </if>
        GROUP BY project_id
    </select>


    <update id="updatePublishStatus" parameterType="java.util.List">
        update schedule_task_shade set is_publish_to_produce = #{status}
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="countPublishToProduce" resultType="java.lang.Integer">
        select count(1) from schedule_task_shade where
        project_id = #{projectId} and app_type = #{appType}
        and is_publish_to_produce = 1 and is_deleted = 0
    </select>

    <select id="listSimpleTaskByTaskIds" resultType="com.dtstack.engine.api.dto.ScheduleTaskForFillDataDTO">
        SELECT
        <include refid="simple_select_content_fragment"/>
        FROM schedule_task_shade
        WHERE
        1 = 1
        <if test="isDeleted != null">
            AND is_deleted = #{isDeleted}
        </if>

        <if test="taskIds !=null and taskIds.size() != 0">
            AND task_id IN
            <foreach item="id" index="index" collection="taskIds" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        and app_type = #{appType}
    </select>

    <select id="getSqlTextById" resultType="java.lang.String">
        SELECT
        sql_text
        FROM schedule_task_shade
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="getWorkFlowTopNode" resultType="ScheduleTaskShade">
        SELECT
            <include refid="alias_select_content_fragment"/>
        FROM
            schedule_task_shade ts
            LEFT JOIN ( SELECT DISTINCT task_id FROM schedule_task_task_shade WHERE task_id IN ( SELECT task_id FROM schedule_task_shade WHERE flow_id = #{workFlowId} and is_deleted = 0 )  and is_deleted = 0) tts ON ts.task_id = tts.task_id
        WHERE
            ts.flow_id = #{workFlowId}
            AND tts.task_id IS NULL
            and ts.is_deleted = 0
            limit 1
    </select>

    <select id="listSimpleByTaskIds" resultType="ScheduleTaskShade">
        SELECT
        <include refid="simple_select_content_fragment"/>
        FROM schedule_task_shade
        WHERE
        app_type = #{appType}
        <if test="isDeleted != null">
            AND is_deleted = #{isDeleted}
        </if>

        <if test="taskIds !=null and taskIds.size() != 0">
            AND task_id IN
            <foreach item="id" index="index" collection="taskIds" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="getOneWithDeleted" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM
        schedule_task_shade
        where task_id = #{taskId}
        AND app_type  = #{appType}
        <if test="isDeleted != null">
            AND is_deleted = #{isDeleted}
        </if>
    </select>


    <update id="updateTaskExtInfo">
        UPDATE
            schedule_task_shade
        set extra_info = #{extraInfo},gmt_modified = NOW()
        where task_id = #{taskId} and app_type = #{appType} and is_deleted = 0
    </update>

    <select id="getExtInfoByTaskId" resultType="java.lang.String">
        SELECT
            extra_info
        FROM schedule_task_shade
        where task_id = #{taskId} and app_type = #{appType} and is_deleted = 0
    </select>

    <select id="getExtInfoByTaskIds" resultType="ScheduleTaskShade">
        SELECT
           task_id ,extra_info
        FROM schedule_task_shade
        where task_id IN
        <foreach item="id" index="index" collection="taskIds" open="(" separator="," close=")">
            #{id}
        </foreach>
          and app_type = #{appType} and is_deleted = 0
    </select>


    <select id="getById" resultType="ScheduleTaskShade">
        SELECT
        <include refid="select_content_fragment"/>
        FROM
        schedule_task_shade
        where id = #{id} and is_deleted = 0
    </select>


    <update id="updateProjectScheduleStatus">
        update schedule_task_shade set project_schedule_status = #{scheduleStatus} where project_id = #{projectId} and app_type = #{appType}
    </update>
</mapper>
