
/**
** CSS 主引入口
**/
body{
    overflow: unset;
    background: #f2f7fa;
}
.m-8 {
    margin: 0 8px;
}

.m-l-8 {
	margin-left: 8px;
}

.m-r-8 {
	margin-right: 8px;
}

.help-doc {
    position: absolute;
    right: -20px;
    top: 10px;
}

.m-tooltip {
	word-break: break-word;

	.ant-tooltip-inner {
		max-width: 400px;
	}
}

.select-all-table {
	.ant-table-thead {
        .ant-table-selection-column>span {
            visibility: visible;
        }
    }
}

.fixed-table {
	.ant-table-body {
        table {
			table-layout: fixed;
        }
    }

    .ellipsis-td {
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
    }
}

.txt-center-table {
	.ant-table-thead {
        & > tr > th {
            text-align: center;
        }
    }

    .ant-table-tbody {
        & > tr > td {
            text-align: center;
        }
    }
}

.trend-table {
    .ant-table-tbody {
        & > tr > td {
            padding: 5px 8px;
        }
    }
}

.rank-number {
    width: 20px;
    line-height: 20px;
    background: #45a1f7;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
}
.tooltip_content_a{
    color:#fff;
}
.tooltip_content_a:hover{
    color:rgba(255,255,255,0.8)
}

.row-select{
    background: rgba(215,238,242,.58);
}
table{
    font-size:12px;
}
.header-fixed .header{
    position: fixed;
    z-index: 1009;
}
.container-relative .container{
    position: relative;
    overflow-y: unset;
    overflow-x:hidden; 
}
.ant-form-inline .ant-form-item-with-help.cell-center{
    margin-bottom: 0px;
    padding: 10px 0px;
}
.cell-center-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ant-form-inline .ant-form-item-with-help.cell-multiple-center{
    margin-top: 15px;
    margin-bottom: 15px;
}

.task-dashboard {
    position: relative;
}
.ant-slider-pos {
    .ant-slider-pos--collapsed {
        background: #262E36;
        color: #fff;
        width: 100%;
        border: none;
        border-radius: 0;
        text-align: center;
        line-height: 42px;
        height: 42px;
        border-right: 1px solid #e9e9e9;
    }
}
.icon-svg {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 18px;
    color: #fff;
    margin-right: 5px;
  }