.c-taskManage__log__editor {
    height: calc(100% - 105px);
    border-top: 1px solid var(--panel-border);
    padding-left: 8px;
    background: inherit;
}

.c-taskManage__log__header {
    line-height: 35px;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-taskManage__log__downLoadLog {
    line-height: 35px;
    padding-left: 10px;
    font-size: 12px;
    margin-bottom: 5px;
}

.c-taskManage__log__pagination {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
