.c-jobGraph__spin-box {
	height: 100%;

	> .ant-spin-container {
		height: 100%;
	}
}

.graphInfo {
	position: absolute;
	right: 10px;
	bottom: 65px;
	z-index: 901;
	width: 300px;

	.ant-card-body {
		p,
		h2 {
			margin: 10px;
			white-space: normal;
			word-wrap: break-word;

			span {
				display: inline-block;
				width: 80px;
				color: #666;
			}
		}
	}
}
