.source {
    padding: 20px;
    background: #f2f7fa;
    height: 100%;
    .content{
      margin-top: 12px;
      width: 100%;
      height: calc(100% - 32px);
      background-color: #fff;
      overflow: scroll;
    }
  }