.l-createWorkspace {
    padding: 24px 20px 20px 20px;

    .ant-card {
        .ant-card-body {
            padding: 0 20px 20px;
        }
    }
}
.l-createWorkspace__header{
    line-height: 20px;
    margin-bottom: 16px;
}

.c-createWorkspace__header__title{
    font-family: PingFangSC-Medium;
    font-size: 15px;
    color: #333333;
}

.c-createWorkspace__h1 {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
}

.l-createWorkspace__wanring{
    margin-bottom: 20px;
}
.l-createWorkspace__database__table{
    margin-bottom: 20px;
}