.project-dashboard {
    padding-bottom: 20px;

    .ant-row {
        >div {
            padding: 0 8px;
        }
    }

    .indicator-col {

        height: 65px;
        background: #fff;
        border-color: transparent;

        .indicator-icon {
            padding: 20.5px 33px;
            height: 65px;
            width: 90px;
            border-radius: 3px 0 0 3px;
            background: #8e9aa6;
            color: #ffffff;
            img {
                width: 24px;
                height: 24px;
            }
        }

        .indicator-detail {
            padding: 10px;
            height: 65px;
            text-align: left;
            .indicator-title {
                font-size: 12px;
                color: #999999;
            }

            .indicator-content {
                font-size: 24px;
                color: #2491F7;
            }
        }
    }

    .chart-tip {
        font-size: 12px;
        color: #c2c8d3;
    }

    .chart-board {
        padding: 10px;
        background: #ffffff;
        height: 300px;
        position: relative;

        .filter {
            position: absolute;
            top: 30px;
            left: 85px;
        }
    }
    .project-select{
        float: left;
        width: 100px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .project-search {
        float: left;
        width: 220px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .card-width{
        min-width: 375px;
        .tooltip-img{
            width: 14px;
            float: right;
            margin-top: 12px;
        }
        // 生产测试项目图标
        .produce-img{
            width: 18px;
            margin-left: 14px;
            margin-bottom: -6px;
            // margin-top: 17;
        }

        .test-img{
            width: 18px;
            margin-left: 14px;
            margin-bottom: -4px;
            // margin-top: 17;
        }
        .cancel-top{
            color: #94A8C6;
            font-size: 12px;
            float: right;
        }
        .tooltip-img,.cancel-top:hover{
            cursor: pointer;
        }
        .setTopImg{
            transform: rotate(180deg);
        }
        .company-name{
            font-size: 14px ;
            color: #333;
            width: 60%;
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;
            cursor: pointer;
        }
        
        .company-name:hover{
            color: #2491F7;
        }
        .company-name.no-hover{
            cursor:unset;
        }
        .company-name.no-hover:hover{
            color:#333;
        }
        .general-card{
            margin: 0 5px 10px;
            height: 220px;
            .card-content{
                position: relative;
                .statistics{
                    line-height: 26px;
                    min-width: 190px;
                }
                .statistics-info{
                    color: #151515;
                }
                .ant-card-body{
                    padding: 4px;
                }
                .card-task-padding{
                    padding: 0;
                }
                .number{
                    font-size: 32px;
                    color: #f00;
                    cursor: pointer;
                }
                .no-hover{
                    cursor: unset;
                }
                .card-task{
                    min-width: 115px;
                    text-align: center;
                    margin-top: 10px;
                }
                .img-container{
                    padding-right: 5px;
                    .task-img{
                        display: inline-block;
                        height:16px;
                        width: 20px;
                        position: relative;
                        top: 3px;
                    }
                }
                .card-task:hover{
                    cursor: pointer;
                    border: 1px solid #2491F7;
                    color: #2491F7;
                }
                
            }
            .triangle_border_right{
                border-width: 12px;
                border-style: solid;
                border-color: transparent transparent transparent #94A8C6;/*透明 透明 透明 灰*/
                //margin:40px auto;
                position: absolute;
                bottom: -12px;
                right: -12px;
                transform: rotate(45deg);
            }
        }
        .general-card:hover{
            box-shadow: 0 6px 12px 0 rgba(148,168,198,0.42);
        }
    }
    .sortTitle{
        line-height:45px;
        margin-right: 5px;
        .faileSort{
            float: right;
            padding-left: 10px;
            padding-right: 2px;
            font-size: 12px;
            cursor: pointer;
        }
        // .faileSort:hover{
        //     color: #2491F7;
        // }
        .defaultSort{
            float: right;
            font-size: 12px;
            cursor: pointer;
        }
        // .defaultSort:hover{
        //     color: #2491F7;
        // }
    }
    .title-help{
        padding-bottom: 10px;
        cursor: pointer;
    }
    .help-doc-rdos{
        font-size: 14px;
        line-height: 40px;
    }
    .ant-card-head{
        padding: 0 10px;
    }
    .ant-card-body{
        padding: 16px 10px;
    }
    

}

// .tooltip-tittle-text:hover{
//     color: #2491F7;
// }
.project-dashboard .ant-card-body {
    padding: 10px 10px;
}