.m-v-10 {
	margin: 0 10px;
}

.m-l-8 {
	margin-left: 8px;
}

.m-r-8 {
	margin-right: 8px;
}

.sync-content {
	margin: 20px;
	
	.sync-title {
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
	}

	.sync-table {
		padding: 10px 0 30px;
	}

	.sync-action {
		display: flex;
		align-items: center;
	}

}
.sync-history-modal {
	
	.sync-detail {
		p {
			padding: 5px 0;
		}
	}
}