.g-datamanage {
    .ant-layout-sider-collapsed {
        .anticon {
            font-size: 16px;
            line-height: 42px;
        }
    }
    $green: #009D7E; // ======== folder tree icon 
    // ==== misc====
    .Resizer {
        background: #DDDDDD;
        z-index: 1;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;
    }
    .ant-tree li span.ant-tree-switcher {
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
    .ant-tree li span.ant-tree-iconEle {
        width: 16px;
        height: 16px;
        line-height: 16px;
        margin-top: -3px;
    }
    .ant-tree-icon__open,
    .ant-tree-icon__close,
    .ant-tree-icon__docu {
        margin-top: -3px;
        margin-right: 3px;
        background-size: cover;
        background-position: center center;
        width: 16px;
        height: 16px;
        line-height: 16px;
    }
    .ant-tree-icon__open {
        background-image: url(/public/rdos/img/icon/open-folder.svg)
    }
    .ant-tree-icon__close {
        background-image: url(/public/rdos/img/icon/folder.svg)
    }
    // .ant-tree-icon__docu {
    //     background-image: url(/public/rdos/img/icon/file.svg);
    // }
    .ant-tree-icon__docu {
        background-image: url(/public/rdos/img/icon/open-folder.svg);
    }
    .s-table {
        .ant-tree-icon__docu {
            background-image: url(/public/rdos/img/table.svg)
        }
    }
    .m-catalogue {
        .node-operation {
            opacity: 0;
        }
        .normal-node,
        .edit-node {
            border: 0;
            width: fit-content;
            background: transparent;
            border-radius: 0;
        }
        .normal-node {
            &:focus {
                box-shadow: none;
                border: 0;
            }
        }
    } // =========functions============
    .f-fr {
        float: right;
    }
    .f-fl {
        float: left;
    }
    .clearfix {
        zoom: 1;
        &:after {
            content: " ";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
    }
    .steps-content {
        margin-top: 16px;
        border: 1px dashed #e9e9e9;
        border-radius: 6px;
        background-color: #fafafa;
        min-height: 200px;
        padding: 40px;
    }
    .ant-steps-icon {
        line-height: 23px !important;
    }
    .steps-action {
        margin-top: 24px;
        text-align: right;
    }
    .Pane.vertical.Pane2,
    .Pane.vertical.Pane1 {
        overflow-y: auto;
        background: #fff;
    } // ======== layouts =========
    .g-tablelogs {
        .m-tablelist {
            padding: 20px;
        }
    } // ========= modules=========
    .m-columnspartition {
        .box {
            margin-bottom: 40px;
            h3 {
                margin-bottom: 10px;
            }
            .cell {
                border: 1px solid #ccc;
                height: 50px;
                margin: -1px 0 0 -1px;
                padding: 10px 20px;
                color: #999999;
            }
            .title {
                background: #FCFBFC;
                border-radius: 3px 3px 0 0;
                .cell {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 20px;
                }
            }
            .fn {
                margin-top: 10px;
            }
        }
    }
    .m-tableviewerhead,
    .m-logheader {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 42px;
        line-height: 42px;
        padding: 0 20px;
        background-color: #F6F6F6;
        border-bottom: 1px solid #D8D8D8;
        z-index: 1000;
    }
    .m-tablebasic {
        margin-top: 30px;
        h3 {
            margin-bottom: 10px;
            button {
                margin-top: -3px;
            }
        }
        table {
            margin-bottom: 20px;
            border-collapse: collapse;
            border-radius: 3px;
            border: 1px solid #E6E6E6;
            td,
            th {
                height: 40px;
                border: 1px solid #E6E6E6;
                padding: 0 10px;
            }
            th {
                text-align: left;
                background: #FCFBFC;
                width: 40%;
            }
            td {
                text-align: center;
                width: 60%;
            }
        } 
    }
    .m-tabledetail {
        padding: 30px 0;
        background: #fff;
        .ant-tabs-nav {
            padding-left: 10px;
        }
        .ant-tabs-tab-active {
            position: relative;
            border-top-color: $green !important;
            &:before {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: $green;
            }
        }
        .box {
            padding: 0 20px;
        }
    }
    @keyframes countdown {
        0% {
            content: '3'
        }
        50% {
            content: '2'
        }
        100% {
            content: '1'
        }
    }
    .m-countdown:after {
        content: '3';
        animation: countdown 3s ease;
    }
    .rel-table-info {
        .table-info {
            table {
                tr td:nth-child(2) {
                    text-align: left;
                }
            }
        }
        .ant-table-placeholder {
            height: 100%;
        }
    }
    .button-top {
        margin: 18px 0 0 20px;
    }
    .data-check {
        .antd-input {
            .m-form-inline .ant-form-item .ant-select:not(.native) 
            .ant-select-search__field__wrap, .m-form-inline .ant-form-item .ant-select:not(.native) 
            .ant-select-search__field, .m-form-inline .ant-form-item .ant-select:not(.native) 
            .ant-select-selection--multiple, .m-form-inline .ant-form-item .ant-select:not(.native) 
            .ant-select-selection--single {
                margin-top: -3px;
            }
            .ant-form-inline .ant-form-item{
                margin-bottom: 10px;
            }
        }
    }
    .m-table-fix {
        .ant-table-footer {
            background: #fff;
            padding: 10px 0 0;
            border-bottom: 0;
            border-top: 1px solid #e8e8e8;
        }
        .ant-pagination {
            position: relative;
            top: -32px;
            right: 20px;
            margin-right: 0;
        }
        .ant-table-pagination.ant-pagination {
            margin:  0;
            float: right;
        }
    }
    .vertical-middle {
        height: 100%;
    }
    .vertical-middle:after{
        content: '';
        vertical-align: middle;
        display: inline-block;
        width: 0;
        height: 100%;
    }
}



.m-codemodal {
    .ant-modal-body {
        padding: 0 !important;
        max-height: 400px;
        overflow: auto;
        overflow-y:hidden;
    }
}

.graph-pagination {
    .parent,
    .child {
        position: absolute;
        top: 20px;
        z-index: 2;
    }

    .parent {
        left: 150px;

    }
    .child {
        right: 150px;
    }
}

.col-relation {
    .t-vertext {
        font-size: 12px;
        width: 120px;
        li {
            height: 35px;
            line-height: 35px;
            color: #595959;
            letter-spacing: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .tname {
            background: #2491F7;
            color: #ffffff;
            border-bottom: 1px solid #ffffff;
        }
        .tcolumn {
            border: 1px solid #dddddd;
            border-top: 0;
            background: #ffffff;
        }
    }
}

.graph-legend {
    position: absolute;
    left: 50px;
    top: 50px;
    .legend-item {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border-radius: 50% 50%;
    }
    
    div {
        margin-bottom: 10px;
        text-indent: 10px;
    }
}

.CodeMirror pre.CodeMirror-placeholder {
    color: rgba(159, 168, 210, 0.48);
}

// alert
.desenAlert .ant-alert-info {
    border: none;
    background: none;
}
// DML DDL样式
.content {
    overflow: hidden;
    .ant-checkbox-wrapper {
        min-width: 100px;
        cursor: pointer;
        font-size: 13px;
        display: inline-block;
    }
}

.formItem_inline_icon{
    position: absolute;
    left: 115px;
    width: 20px;
    line-height: 32px;
}
.ant-card-head {
    border-bottom: none
}
// 数据地图侧边栏图标
.sidebar__icon {
    float: left;
    display: block;
    margin-right: 10px;
}
.ele-padd_small {
    .sidebar__icon {
        margin-top: 12px;
    }
}

.ant-layout-sider-trigger {
    position: absolute;
    background: #2E3943;
    color: #959FB1;
    border-right: 1px solid #e9e9e9;
    .anticon-left {
        padding-top: 18px;
    }
}

.m-table-desen {
    // .ant-table {
    //     border-width: 0;
    // }
    .ant-table-thead > tr > th.ant-table-selection-column, .ant-table-tbody > tr > td.ant-table-selection-column {
        text-align: center;
        padding-right: 0;
        min-width: 40px;
        width: 40px;
    }
    .ant-table-bordered .ant-table-header {
        margin-bottom: -20px !important;
    }
    .ant-table-bordered .ant-table-thead > tr > th {
        border-bottom: none;
    }
    .ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
        border-right: none;
    }
    .ant-table.ant-table-bordered .ant-table-footer {
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
    .ant-pagination {
        position: relative;
        top: -50px;
        right: 20px;
        margin-right: 0;
    }
}
.d-desen__list {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    min-height: calc(100% - 40px);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}
.pane-height100-tab {
    height: 100%;
    .ant-tabs-content-no-animated {
        height: 100%;
        overflow: auto;
    }
    .pane-tabs {
        height: 100%;
        .tab_pane {
            height: 100%;
        }
    }
}
