.l-metaImport {
    padding: 24px 20px 20px 20px;
}
.l-metaImport__header{
    line-height: 20px;
    margin-bottom: 16px;
}
.c-metaImport__header__title{
    font-size: 14px;
    color: #333333;
}
.l-metaImport__wanring{
    margin-bottom: 20px;
}
.l-metaImport__database__table{
    margin-bottom: 20px;
}