.project-dashboard {
    padding: 10px 40px 40px 40px;
    overflow-y: auto;
    height: 100%;
    background: #f2f3f8;
}

.project-config {

    .project-config-table {
        background: #fff;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        text-align: left;

        .t-title {
            width: 120px;
        }

        tr td {
            padding: 16px 8px;
            word-break: break-all;
            border: 1px solid #e9e9e9;
        }
    }

    .txt-right {
        color: #999999;
    }

    .ant-row {
        line-height: 50px;
    }
}

.project-member {
    .dstree {
        .ant-form-item-control {
            margin-top: -10px;
            span.ant-tree-switcher {
                line-height: 34px;
                height: 34px;
            }
        }

    }
}

.project-abstract, .project-member {    
    .ant-table-placeholder,
    .ant-table-tbody > tr > td {
        border-bottom: 0;
    }

    .ant-pagination {
        padding-right: 20px;
    }
}