@import '../const.scss';
.dt-dev-task {

    .operation-card {
        width: 180px;
        margin: 0 10px;
        display: inline-block;
        p {
            line-height: 45px;
        }
    }

    .operation-content {
        height: 110px;
        background: #ffffff;
        line-height: 110px;
        vertical-align: middle;
        text-align: center;
        border: 1px solid #e9e9e9;
        border-radius: 3px;
        font-size: 60px;
        color: #808080;
        cursor: pointer;
        .anticon {
            margin-top: 25px;
        }
    }

    .task-dev-switcher {
        bottom: 0;
        height: 100%;

        & >.ant-tabs-bar {
            margin-bottom: 0;
            border-bottom: 0;
            position: absolute;
            right: 0;
            z-index: 5;

            .ant-tabs-nav-container {
                height: 30px;
                padding: 4px 4px;
            }

            .ant-tabs-tab {
                background: #DDDDDD;
                color: #ffffff;
                border-radius: 50% 50%;
                height: 22px;
                border: 0;
                line-height: 22px;
                width: 22px;
                display: inline-block;
                padding: 0;
                margin-right: 6px;

                .anticon {
                    margin: auto;
                    line-height: 22px;
                    height: 22px;
                    display: block;
                }
            }

            .ant-tabs-tab-active {
                background: #2491F7 !important;
                color: #fff !important;
            }
        }

        .ant-menu-inline, .ant-menu-vertical {
            border-right: 0;
        }
           
    }

    .task-tab-menu {

        &>.ant-tabs-bar {
            width: 30px;
            height: 100%;

            .ant-tabs-tab {
                height: auto;
                padding: 10px 5px;
                writing-mode: tb-rl;
                letter-spacing: 3px;
                margin-bottom: 0;
                font-size: 12px;
            }

            .ant-tabs-tab-active {
                border-top: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
            }

            .ant-tabs-ink-bar {
                left: 0;
                width: 3px;
            }
        }

        &>.ant-tabs-content {
            margin: 0;
            padding: 0;
        }

        &>.ant-menu-inline, .ant-menu-vertical {
            border-right: 0;
        }
    }

    .task-sidebar {
        .ant-menu-submenu-title {
            border-bottom: 1px solid #e9e9e9;
            color: #333333;
            font-size: 13px;
        }
        .ant-tree li span.ant-tree-switcher,
        .ant-tree li span.ant-tree-iconEle {
            width: 16px;
            height: 16px;
            line-height: 16px;
        }
        .ant-tree-icon__open,
        .ant-tree-icon__close,
        .ant-tree-icon__docu {
            margin-top: -3px;
            margin-right: 3px;
            background-size: cover;
            background-position: center center;
            width: 16px;
            height: 16px;
            line-height: 16px;
        }
        .ant-tree-icon__open {
            background-image: url(/public/rdos/img/icon/open-folder.svg)
        }
        .ant-tree-icon__close {
            background-image: url(/public/rdos/img/icon/folder.svg)
        }
        .ant-tree-icon__docu {
            background-image: url(/public/rdos/img/icon/file.svg);
        }
        .s-sqlicon {
            .ant-tree-icon__docu {
                background-image: url(/public/rdos/img/sql.svg);
            }
        }
        .s-mricon {
            .ant-tree-icon__docu {
                background-image: url(/public/rdos/img/mr.svg)
            }
        }
        .s-datasyncicon {
            .ant-tree-icon__docu {
                background-image: url(/public/rdos/img/datasync.svg)
            }
        }
        .s-pythonicon {
            .ant-tree-icon__docu {
                background-image: url(/public/rdos/img/python.svg)
            }
        }
        .s-virtualicon {
            .ant-tree-icon__docu {
                background-image: url(/public/rdos/img/virtual.svg)
            }
        }
        .s-table {
            .ant-tree-icon__docu {
                background-image: url(/public/rdos/img/table.svg)
            }
        }

        .menu-content {

            margin-top: 30px;
            
            header {

                line-height: 36px;
                height: 36px;
                text-align: right;
                font-size: 18px;
                position: absolute;
                right: 0;
                z-index: 999;

                .anticon {
                    font-size: 14px;
                    cursor: pointer;
                    line-height: 35px;
                    margin-left: 5px;
                    color: #94A8C6;
                    letter-spacing: 0;
                    &:last-child {
                        margin-right: 12px;
                    }
                }
            }
            .ant-tree {
                padding: 0 5px;
                line-height: 30px;
                li {
                    padding: 0;
                }
                .ant-tree-switcher {
                    margin: 0;
                    width: 24px;
                    height: 36px;
                    line-height: 36px;
                    display: inline-block;
                    vertical-align: middle;
                    border: 0 none;
                    cursor: pointer;
                    outline: none;
                    text-align: center;
                }
            }
            .icon {
                font-size: 14px;
                margin-right: 8px;
                color: $color2;
            }
            .tab-search {
                min-width: 140px;
                position: absolute;
                top: 40px;
                left: -120;
                height: 30px;
                background: #fff;
                z-index: 999;

                .ant-input-search {
                    height: 28px;
                }
            }
            .tb-info {
                // height: 400px;
                .ant-tabs-bar {
                    height: 35px;
                }
                .ant-table-thead>tr>th,
                .ant-table-tbody>tr>td {
                    height: 30px;
                    padding: 0 5px;
                }
                .ant-pagination {
                    margin-right: 10px;
                }
            }
            .tb-list {
                overflow-y: auto;
                overflow-x: hidden;
                -ms-overflow-style: none;
                overflow: -moz-scrollbars-none;
                &::-webkit-scrollbar { 
                    display: none; 
                    width: 0 !important;
                }
            }
            .ant-tree-title {
                position: relative;
            }
            .ant-badge-status {
                left: -35px;
                width: 0px;
            }
        }
    } // -----------------离线---------------------
    .g-taskOfflineSidebar {
        .m-tasktitle {
            margin-top: -10px;
            text-align: right;
            .anticon {
                margin-left: 10px;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}

.m-dirpicker {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px #eee;
}

.dt-dev-task .task-editor {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 50px;
    background: #f2f3f8;
}

.task-editor {
    
    .CodeMirror-gutters {
        background: #f2f3f8;
    }

    .browser-content {
        height: 100%;
        width: 100%;
        position: relative;
        margin-top: 9px;
        margin-left: -2px;
        padding-right: 30px;
        padding-bottom: 40px;

        .browser-tabs {
            .ant-tabs-bar .ant-tabs-tab-active {
                background: #ecf6fd;
            }
        }
    }


    .toolbar {
        width: 100%;
        padding: 10px 20px;
        height: 48px;
        background: #fff;
        button {
            border: 0;
            position: relative;
            padding-left: 20px;
            border: 0;
        }
        .ant-btn.disabled,
        .ant-btn[disabled],
        .ant-btn.disabled:hover,
        .ant-btn[disabled]:hover,
        .ant-btn.disabled:focus,
        .ant-btn[disabled]:focus,
        .ant-btn.disabled:active,
        .ant-btn[disabled]:active,
        .ant-btn.disabled.active,
        .ant-btn[disabled].active {
            background: transparent;
        }
        .my-icon {
            position: absolute;
            left: 0px;
            top: 6px;
        }
    }
    .Pane2 {
        overflow-x: auto;
    }
    .task-browser {
        position: relative;
        height: 100%;
        .Resizer.vertical {
            border-top: 1px solid #e9e9e9;
            border-bottom: 1px solid #e9e9e9;
        }
        
        .ant-tabs-bar {
            margin-bottom: 1px;
            border-bottom: 0;
            border-radius: 4px;
        }
        .ant-tabs-content {
            height: 0px;
            min-height: 0px;
            border-bottom: 0px;
            background: #fff;
        }
        .m-siderbench {
            width: 30px;
            position: absolute;
            z-index: 999;
            top: 32px;
            height: 100%;
            padding-bottom: 40px;
            overflow: auto;
            right: -1px;
            .ant-tabs-vertical.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
                margin-bottom: 2px;
            }
        }
        .editor-container {
            height: 100%;
            border: 1px solid #e9e9e9;
            border-radius: 4px;
            border-top-left-radius: 0;
            background: #fff;
            border-left: 0;
            border-right: 0;
        }
        .add-tab {
            position: absolute;
            right: 30px;
            top: 0px;
        }
        .task-params {
            width: 100%;
            height: 100%;
            .ant-tabs-content {
                height: 100%;
                border-top: 1px solid #e9e9e9;
                border-bottom: 1px solid #e9e9e9;
                border-radius: 4px;
            }
            .ant-tabs-nav-scroll {
                margin-top: 30px;
            }
            .ant-tabs-tab {
                width: 30px;
                line-height: 20px;
                height: 80px;
                padding-left: 0 !important;
                padding-right: 5px !important;
                writing-mode: tb-rl;
                letter-spacing: 3px;
            }
            .task-info {
                padding: 10px;
                line-height: 45px;
                padding-right: 0;
                word-break: break-word;
                .txt-right {
                    color: #999999;
                }
                .ant-tag {
                    margin-bottom: 5px;
                }
            }
        }
        .title-vertical {
            width: 30px;
        }
    }
    .lock-layer {
        position: absolute;
        top: 35px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        cursor: not-allowed;
    }
}

.task-log-info {
    margin-left: -42px;
    margin-top: 20px;
    .code-editor {
        max-height: 400px;
        height: 200px;
    }
    .log-title {
        margin: 10px 0;
    }
}

.m-datasync {
    padding: 60px;
    overflow: scroll;
    height: 100%;
    .steps-content {
        margin-top: 40px;
        border: 1px dashed #e9e9e9;
        border-radius: 6px;
        background-color: #FAFAFA;
        min-height: 200px;
        text-align: center;
        padding: 40px 0;
    }
    .ant-steps-icon {
        line-height: 23px!important;
    }
    .steps-action {
        margin-top: 24px;
        text-align: center;
    }
    .m-keymapbox {
        position: relative;
        .pa {
            position: absolute;
        }
        .m-col {
            border-bottom: 1px dotted #ccc;
            background: #eee;
            line-height: 40px;
            &.title {
                background: #ddd;
            }
            &.footer {
                cursor: pointer;
                background: #eee;
            }
            .cell {
                float: left;
                box-sizing: border-box;
                padding: 0 10px;
                text-align: left; // overflow: hidden;
                // text-overflow: ellipsis;
                font-size: 11px;
                &:first-child {
                    width: 40%;
                    font-weight: bold;
                }
                &:nth-child(2) {
                    width: 40%;
                    text-align: left;
                }
                &:nth-child(3) {
                    width: 20%;
                    text-align: right;
                }
            }
            .remove-cell,
            .edit-cell {
                display: inline-block;
                position: absolute;
                top: 14px;
                cursor: pointer;
                font-weight: normal;
                z-index: 9;
            }
            .four-cells {
                .cell {
                    &:first-child {
                        width: 30%;
                        font-weight: bold;
                    }
                    &:nth-child(2) {
                        width: 30%;
                        text-align: left;
                    }
                    &:nth-child(3) {
                        width: 20%;
                        text-align: right;
                    }
                    &:nth-child(4) {
                        width: 20%;
                        text-align: right;
                    }
                }
            }
            .remove-cell {
                right: 23px;
            }
            .edit-cell {
                right: 10px;
            }
        }
        .mapline {
            cursor: url(/public/rdos/img/del.png?t=3), auto;
        }
        .dl {
            .dag-circle {
                cursor: crosshair;
            }
        }
    }
    .m-buttons {
        padding-top: 10px;
        button {
            margin-bottom: 5px;
        }
    }
    .cell-input {
        height: 28px;
        margin: 5px 5px 5px 0px;
        width: 100%;
        text-align: left;
        background-color: transparent;
        background-image: none;
        border: none;
    }
}

.m-siderbench .ant-tabs-content {
    overflow: auto!important;
}

.m-taskselector {
    position: relative;
    .tasklist {
        position: absolute;
        top: 32px;
        left: 0;
        border: 1px solid #ddd;
        border-radius: 3px;
        max-height: 120px;
        overflow: auto;
        width: 100%;
        z-index: 100;
        background: #fff;
        .taskitem {
            height: 32px;
            line-height: 32px;
            padding: 0 10px;
            border-bottom: 1px solid #eee;
            &:last-child {
                border: none;
            }
            &:hover {
                background: #eee;
            }
            cursor: pointer;
        }
    }
}

.m-codemodal .ant-modal-body {
    padding: 0;
}