.container {
  background-color: #f7fafd;

  .row {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 707px;
    position: relative;

    .information {
      padding: 62px 0;

      .img {
        line-height: 0;
      }

      .title {
        color: #3d446e;
        line-height: 42px;
        font-family: PTSans-CaptionBold, PTSans;
        font-size: 32px;
      }

      .description {
        margin-top: 15px;
        font-size: 14px;
        max-width: 420px;
        color: #8b8fa8;
        line-height: 28px;
      }
    }

    .showcases {
      top: 48px;
      width: 516px;
      pointer-events: none;
      flex: 1;
      position: relative;

      > div {
        position: absolute;
        box-shadow: 0px 0px 32px 0px rgba(67, 72, 102, 0.12);
        border-radius: 10px;
        width: 516px;
        line-height: 0;

        > img {
          border-radius: 10px;
        }

        &:nth-child(1) {
          top: 0;
          right: 0;
          z-index: 1;
        }

        &:nth-child(2) {
          top: 172px;
          right: 108px;
          z-index: 2;

          &::after {
            content: "";
            position: absolute;
            right: 10px;
            bottom: -2px;
            width: 130px;
            height: 200px;
            z-index: -1;
            transform-origin: 0 50%;
            transform: translate(100%, 0) skewY(-30deg);
            border-radius: 10px;

            background: linear-gradient(
              to right top,
              #cddaf9ff,
              #4872fa00,
              rgba(0, 0, 0, 0)
            );
          }
        }

        &:nth-child(3) {
          top: 257px;
          right: 372px;
          z-index: 2;
        }
      }
    }
  }

  &.reverse {
    background-color: #fff;

    .row {
      flex-direction: row-reverse;
      height: 648px;
    }

    .showcases {
      > div {
        width: 551px;

        &:nth-child(1) {
          top: 0;
          left: 0;
          z-index: 1;
        }

        &:nth-child(2) {
          top: 158px;
          left: 125px;
          z-index: 2;

          &::after {
            content: none;
          }
        }
      }
    }
  }
}
