.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 48px;

  .titleRow {
    color: #3d446e;
    line-height: 33px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    width: 100%;

    .title {
      position: relative;

      &::before {
        content: " ";
        position: absolute;
        left: -14px;
        transform: translateX(-100%) translateY(15px);
        width: 35px;
        height: 2px;
        background: linear-gradient(
          90deg,
          rgba(0, 220, 243, 0) 0%,
          rgba(15, 170, 240, 0.26) 25%,
          rgba(28, 126, 238, 0.49) 50%,
          rgba(38, 93, 236, 0.66) 72%,
          rgba(44, 73, 235, 0.76) 89%,
          rgba(46, 66, 235, 0.8) 100%
        );
      }

      &::after {
        content: " ";
        position: absolute;
        right: 0;
        right: -49px;
        transform: translateY(15px);
        width: 35px;
        height: 2px;
        background: linear-gradient(
          -90deg,
          rgba(0, 220, 243, 0) 0%,
          rgba(15, 170, 240, 0.26) 25%,
          rgba(28, 126, 238, 0.49) 50%,
          rgba(38, 93, 236, 0.66) 72%,
          rgba(44, 73, 235, 0.76) 89%,
          rgba(46, 66, 235, 0.8) 100%
        );
      }
    }
  }

  .cardGroups {
    margin-top: 25px;
    display: flex;

    > * {
      flex: 1;
    }

    .card {
      background: #ffffff;
      box-shadow: 0px 0px 24px 0px rgba(61, 68, 110, 0.08);

      + .card {
        margin-left: 20px;
      }

      .header {
        user-select: none;

        .img {
          padding: 20px 0 0 24px;
        }

        .number {
          font-size: 120px;
          color: #3d446e08;
          float: right;
          height: 144px;
          line-height: 144px;
          padding: 8px 24px 0 0;
        }
      }

      .cardTitle {
        font-weight: 600;
        color: #3d446e;
        line-height: 28px;
        font-size: 20px;
        padding: 20px 0 21px 48px;
      }

      .description {
        font-weight: 400;
        color: #3d446e;
        line-height: 22px;
        font-size: 14px;
        padding: 21px 48px 40px;
      }
    }
  }
}

// .cardGroups {
//   display: flex;
//   flex-wrap: wrap;

//   .card {
//     width: 30%;
//     border-radius: var(--ifm-card-border-radius);
//     background-color: var(--ifm-card-background-color);
//     margin: var(--ifm-card-horizontal-spacing) var(--ifm-card-vertical-spacing);
//     padding: 1rem 2rem;
//     position: relative;
//     box-shadow: var(--ifm-global-shadow-lw);
//     transition: box-shadow var(--ifm-transition-slow);

//     &:hover {
//       box-shadow: var(--ifm-global-shadow-md);
//     }

//     .cardTitle {
//       font-size: var(--ifm-h2-font-size);
//       font-weight: var(--ifm-font-weight-semibold);
//       margin-bottom: 1rem;

//       :global(.icon) {
//         color: var(--ifm-color-success-lightest);
//       }
//     }
//   }
// }

@media (max-width: 750px) {
  // .cardGroups {
  //   flex-direction: column;

  //   .card {
  //     width: calc(100% - 2rem);
  //   }
  // }
}
