.introduction {
  width: 100%;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 479px 1fr;

  .leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 40px;
      line-height: 56px;
      font-weight: var(--ifm-font-weight-semibold);
      color: #3d446e;
    }

    .divider {
      border: 0;
      border-top: 8px solid #1d78ffff;
      width: 102px;
      margin: 8px 0 48px 0;
    }

    .description {
      font-size: 18px;
      color: #3d446e;
      line-height: 30px;
      margin-bottom: 40px;
    }

    .btn {
      width: 128px;
      height: 44px;
      background: #0072fb;
      border-radius: 4px;
      margin: 0;
      outline: 0;
      color: #ffffff;
      line-height: 20px;
      font-size: 14px;
      border: 0;
      cursor: pointer;
    }
  }
}

@media (max-width: 750px) {
  .introduction {
    display: block;

    .leftContainer {
      padding: 2rem;
    }

    .rightContainer {
      display: none;
    }

    .buttonGroups {
      flex-direction: column;
    }

    .shields {
      flex-wrap: wrap;
    }
  }
}
