.wrapper {
  padding: 3rem 0 15rem 0;
  background-color: var(--ifm-color-gray-200);
  color: #000;

  .steps {
    display: flex;
    align-items: center;

    .delimiter {
      font-size: var(--ifm-h1-font-size);
      margin: 0 4rem;
      transition: transform var(--ifm-transition-slow),
        color var(--ifm-transition-slow);
      flex: 1;
    }
  }

  .step {
    font-size: var(--ifm-h4-font-size);
    transition: color var(--ifm-transition-slow);

    &:hover {
      color: var(--ifm-link-color);

      + .delimiter {
        transform: translateX(10px);
        color: var(--ifm-link-color);
      }
    }

    > a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }

    .tag {
      box-shadow: var(--ifm-global-shadow-md);
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 2rem;
      line-height: 5rem;
      margin-bottom: 1.5rem;
    }

    .processLine {
      position: absolute;
      width: 80px;
      transition: max-height var(--ifm-transition-slow);
      max-height: 200px;
      overflow: hidden;

      &.disabled {
        max-height: 0;
      }

      ul {
        padding: 0;

        li {
          list-style: none;
          position: relative;
          font-size: var(--ifm-h5-font-size);
          margin: 2rem 0;

          &::before {
            z-index: 1;
            content: "";
            position: absolute;
            top: -120%;
            bottom: 120%;
            left: 50%;
            border-left: 1px solid rgba(191, 191, 191, 0.4);
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .steps {
    flex-direction: column;

    .delimiter {
      transform: rotate(90deg);
    }

    .processLine {
      display: none;
    }

    .step {
      &:hover {
        + .delimiter {
          transform: translateY(10px) rotate(90deg);
        }
      }
    }
  }
}
