.alarm__wrapper {
	padding: 20px;
	> .ant-form {
		margin-bottom: 12px;
		overflow: hidden;
		.ant-form-item {
			float: right;
			margin-right: 0px;
			.alarm-btn {
				width: 104px;
				margin-left: 12px;
			}
		}
	}
	.alarm-name-wrap {
		position: relative;
		display: block;
		height: 14px;
		.alarm-name {
			display: inline-block;
			max-width: 180px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.alarm-btn {
			position: absolute;
			top: -6px;
			height: 28px;
			margin-left: 12px;
			padding: 0 10px;
			color: #3f87ff;
			background-color: rgba(63, 135, 255, 0.1);
			border: 0;
			border-radius: 14px;
			pointer-events: none;
		}
	}
}
.alarm-rule__wrapper,
.alarm-config__wrapper {
	height: 100%;
	padding: 20px;
	.ant-card {
		height: calc(100vh - 142px);
		margin-top: 12px;
		.ant-card-body {
			height: inherit;
			padding: 24px 0 0 0;
			overflow: auto;
			.ant-input-group-addon {
				cursor: pointer;
			}
			> form {
				margin-bottom: 68px;
				overflow-y: auto;
			}
			footer {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 68px;
				line-height: 68px;
				text-align: center;
				background: #ffffff;
				border-top: 1px solid #ddd;
				button:nth-child(2) {
					margin-left: 10px;
				}
			}
		}
	}
}
.c-alarmRule__config {
	display: flex;
	.config-desc {
		margin-left: 12px;
		color: #999;
		font-size: 10px;
	}
	& + .config-file {
		position: relative;
		display: block;
		width: 176px;
		height: 20px;
		margin-top: 12px;
		padding: 0 16px;
		overflow: hidden;
		font-size: 12px;
		line-height: 20px;
		white-space: nowrap;
		text-overflow: ellipsis;
		.anticon-paper-clip {
			position: absolute;
			top: 4px;
			left: 0;
			color: #666;
		}
		.anticon-delete {
			position: absolute;
			top: 4px;
			right: 0;
			display: none;
			color: #666;
		}
		&:hover {
			background-color: #f2f9ff;
			.anticon-delete {
				display: block;
			}
		}
	}
}
.alarm-config__wrapper {
	.c-formConfig__container {
		left: 0;
	}
	.alarm-config__footer {
		.ant-btn {
			margin-left: 12px;
		}
	}
}
