.config-title{
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 5px;
}
.console-compontent {
    margin: 10px 20px 20px 20px;
    height: 700px;
}
.tabpane-content-max {
    padding-bottom: 80px;
    height: 698px;
    overflow: auto;
}
.engine-config-content{
    margin-top: 20px;
    padding-bottom: 30px;
    margin-left: 24px;
    width: 680px;
}
.config-bottom-long {
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    line-height: 1.1;
    padding: 11px 0;
    box-shadow: 0 -4px 4px 0 rgba(0,0,0,0.05);
}
.checkboxStyle {
    margin-left: 165px;
    margin-bottom: 20px;
}
.dashed-line {
    width: 100%;
    height: 0;
    margin-bottom: 20px;
    border-bottom: 1px dashed #DDDDDD;
}
.blue-loading{
    color:#2491F7;
    padding-left: 5px;
}
.ant-btn.disble{
    cursor:not-allowed;
    color:rgba(124, 68, 68, 0.54);
}
.ant-btn.disble:hover{
    color: rgba(1,1,1,0.54);
    border-color: #dddddd;
}
.formItem-right-text{
    line-height: 32px;
    margin-left: 8px;
}
.formitem-textname{
    text-align: right;
    word-break: break-all;
    font-weight: bold;
    color:rgba(1,1,1,0.54);
}
.formitem-textvalue{
    color: rgba(1,1,1,0.84);
}
.zipConfig-item{
    margin-bottom: 10px;
    font-size: 13px;
}
.ant-tooltip-inner {
    max-width: 300px;
}
.upload-config {
    margin: -21px 0 50px 95px;
}
.upload-file {
    width: 100%;
    height: auto;
    text-indent: 20px;
    .upload-title {
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
        margin-top: 10px;
        margin-bottom: 8px;
    }
    .upload-help {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-top: 1px dashed #DDDDDD;
        background-color: #F5F5F5;
    }
}
.success-icon {
    font-family: anticon;
    font-size: 16px;
    color: #00A755;
}
.err-icon {
    font-family: anticon;
    font-size: 16px;
    color: #E6432C;
}
.back-icon {
    float: left;
    margin-left: 20px;
    padding: 4px;
}
.icon_required {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    width: 12px;
    color: #EF5350;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: left;
}
.engine-opera {
    color: #2491F7;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color 0.3s ease;
    position: absolute;
    display: inline-block;
    right: -60px;
}
.console-wrapper .ant-tabs-nav .ant-tabs-tab {
    display: inline-block;
    height: auto;
    margin-right: 24px;
    box-sizing: border-box;
    position: relative;
    padding: 8px 20px;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    text-decoration: none;
}
.console-wrapper .ant-tabs-bar {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0px;
    outline: none;
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin: 0px 20px;
}

.c-formItem__checked {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.10);
    border-left: 4px solid #2491F7;
}