.config-title {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 20px;
	color: #333333;
	font-size: 16px;
	font-family: PingFangSC-Medium;
	letter-spacing: 0;
}
.console-compontent {
	height: 700px;
	margin: 10px 20px 20px 20px;
}
.tabpane-content-max {
	height: 698px;
	padding-bottom: 80px;
	overflow: auto;
}
.engine-config-content {
	width: 680px;
	margin-top: 20px;
	margin-left: 24px;
	padding-bottom: 30px;
}
.config-bottom-long {
	position: absolute;
	bottom: 0;
	z-index: 100;
	width: 100%;
	height: 50px;
	padding: 11px 0;
	line-height: 1.1;
	background: #ffffff;
	box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.05);
}
.checkboxStyle {
	margin-bottom: 20px;
	margin-left: 165px;
}
.dashed-line {
	width: 100%;
	height: 0;
	margin-bottom: 20px;
	border-bottom: 1px dashed #dddddd;
}
.blue-loading {
	padding-left: 5px;
	color: #2491f7;
}
.ant-btn.disble {
	color: rgba(124, 68, 68, 0.54);
	cursor: not-allowed;
}
.ant-btn.disble:hover {
	color: rgba(1, 1, 1, 0.54);
	border-color: #dddddd;
}
.formitem-textname {
	color: rgba(1, 1, 1, 0.54);
	font-weight: bold;
	text-align: right;
	.form-text-name {
		display: inline-block;
		width: 86%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		vertical-align: bottom;
	}
}
.formitem-textvalue {
	color: rgba(1, 1, 1, 0.84);
	word-break: break-all;
}
.zipConfig-item {
	margin-bottom: 10px;
	font-size: 13px;
}
.ant-tooltip-inner {
	max-width: 300px;
}
.upload-config {
	margin: -21px 0 50px 95px;
}
.upload-file {
	width: 100%;
	height: auto;
	text-indent: 20px;
	.upload-title {
		margin-top: 10px;
		margin-bottom: 8px;
		color: #333333;
		font-size: 16px;
		font-family: PingFangSC-Medium;
		letter-spacing: 0;
	}
	.upload-help {
		width: 100%;
		height: 40px;
		line-height: 40px;
		background-color: #f5f5f5;
		border-top: 1px dashed #dddddd;
	}
}
.success-icon {
	float: right;
	margin-top: 14px;
	color: #12bc6a;
	font-size: 12px;
	font-family: anticon;
	vertical-align: unset;
}
.err-icon {
	float: right;
	margin-top: 14px;
	color: #ff5f5c;
	font-size: 12px;
	font-family: anticon;
}
.back-icon {
	float: left;
	margin-left: 20px;
	padding: 4px;
}
.icon_required {
	display: inline-block;
	width: 12px;
	height: 20px;
	color: #ef5350;
	font-size: 13px;
	font-family: PingFangSC-Regular;
	line-height: 20px;
	text-align: left;
}
.engine-opera {
	position: absolute;
	right: -60px;
	display: inline-block;
	color: #2491f7;
	text-decoration: none;
	background: transparent;
	outline: none;
	cursor: pointer;
	transition: color 0.3s ease;
}
.console-wrapper .ant-tabs-nav .ant-tabs-tab {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	height: auto;
	margin-right: 24px;
	padding: 8px 20px;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.console-wrapper .ant-tabs-bar {
	margin: 0px 20px;
	margin-bottom: 0px;
	border-bottom: 1px solid #dddddd;
	outline: none;
	transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.c-formItem__checked {
	background: #ffffff;
	border-left: 4px solid #2491f7;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.contentBox {
	margin-top: 18px;
}

.c-clusterManage__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 20px 0 20px;
	.c-clusterManage__title__span {
		color: #333333ff;
		font-weight: bold;
		font-size: 14px;
	}
	.c-clusterManage__title__btn {
		width: 80px;
		height: 32px;
		margin: 0;
		padding: 0;
	}
}

.c-editCluster__containerWrap {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 12px 20px 20px 20px;
	.c-editCluster__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 32px;
		margin-bottom: 20px;
		.c-editCluster__header__btn {
			height: 32px;
			padding: 0 12px;
		}
		.cluster-btn {
			margin-right: 12px;
		}
	}
}

.c-editCluster__container {
	position: absolute;
	top: 64px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	background: #fff;
	box-shadow: 0px 2px 8px 0px rgba(6, 14, 26, 0.08);
	.c-editCluster__container__commonTabs {
		height: 100%;
		> .ant-tabs-tabpane {
			position: relative;
		}
		> .ant-tabs-bar {
			height: 44px;
			> .ant-tabs-nav-container {
				height: 44px;
				margin-left: 210px;
				line-height: 45px;
			}
		}
		> .ant-tabs-content {
			position: absolute;
			top: 44px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			height: unset;
			margin-left: 0;
			> .ant-tabs-tabpane {
				position: relative;
			}
		}
		.ant-tabs-extra-content {
			height: 44px;
			line-height: 44px;
		}
		.c-editCluster__commonTabs__title {
			position: absolute;
			left: 0;
			width: 200px;
			padding-left: 20px;
			color: #333;
			font-weight: bold;
			font-size: 14px;
		}
		.c-editCluster__componentButton {
			width: 210px;
			height: 40px;
			padding: 0;
			background: rgba(250, 250, 250, 1);
			border-bottom-width: 0;
			border-left-width: 0;
			border-radius: 0;
			&:hover,
			&:active,
			&:focus,
			&:visited {
				color: #3f87ff;
				border-color: #dddddd;
			}
		}
	}
	.c-editCluster__container__card {
		height: 100%;
		border-top: unset;
		border-radius: unset;
		> .ant-card-body {
			height: 100%;
			padding: 0 !important;
		}
	}
	.c-editCluster__container__componentTabs {
		height: 100%;
		> .ant-tabs-bar {
			width: 210px !important;
		}
		> .ant-tabs-content {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 210px;
			height: unset;
			margin-top: 0;
			padding-bottom: 40px;
			padding-left: 0;
			border: 0;
		}
		> .ant-tabs-bar {
			position: relative;
			height: 100%;
			> .ant-tabs-nav-container {
				position: absolute;
				top: 20px;
				right: 0;
				bottom: 40px;
				left: 0;
				height: unset;
				.ant-tabs-nav {
					.ant-tabs-tab {
						height: 40px;
						padding: 0 0 0 20px;
						line-height: 40px;
						text-align: left;
					}
					.ant-tabs-tab-active {
						background-color: rgba(36, 145, 247, 0.1);
					}
				}
			}
			> .ant-tabs-extra-content {
				position: absolute;
				bottom: 0;
				height: 40px;
			}
		}
		.c-editCluster__container__componentWrap {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			// bottom: 40px;
			left: 200px;
			display: flex;
			flex-direction: row;
			.c-editCluster__container__componentWrap__resource {
				width: 210px;
			}
			.c-editCluster__container__componentWrap__config {
				flex: 1;
			}
		}
		.c-editCluster__container__componentFooter {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			background-color: #fff;
			border-top: 1px solid #e9e9e9;
			.c-editCluster__container__componentFooter__btn {
				height: 28px;
				padding: 0 12px;
			}
		}
	}

	.empty-logo {
		position: absolute;
		top: 50%;
		left: 55%;
		z-index: 1;
		margin-top: -100px;
		margin-left: -100px;
		> img {
			width: 200px;
			height: 200px;
		}
	}
}

.c-displayResource__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 20px 12px;
	overflow-y: scroll;
	border-right: 1px solid #e9e9e9;
	.c-displayResource__downloadFile {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 176px;
		height: 20px;
		font-size: 12px;
		border-radius: 2px;
		cursor: pointer;
		&:hover {
			background-color: rgba(242, 249, 255, 1);
		}
	}
	.c-displayResource__downloadTemp {
		margin-left: 55px;
		color: #3f87ff;
		cursor: pointer;
	}
	.c-displayResource__notice {
		padding-top: 5px;
		color: #999;
		font-size: 10px;
		line-height: 20px;
	}
	.c-displayResource__kerberos {
		.notice {
			color: #999;
			font-size: 10px;
			line-height: 20px;
		}
		.config-file {
			position: relative;
			display: block;
			width: 176px;
			height: 20px;
			padding: 0 52px 0 16px;
			overflow: hidden;
			color: #333;
			font-size: 12px;
			line-height: 20px;
			white-space: nowrap;
			text-overflow: ellipsis;
			.anticon-delete,
			.anticon-paper-clip,
			.anticon-edit,
			.anticon-download {
				position: absolute;
				top: 4px;
				color: #666;
				font-size: 12px;
			}
			.anticon-paper-clip {
				left: 0;
			}
			.anticon-delete {
				right: 0;
			}
			.anticon-download {
				right: 20px;
			}
			.anticon-edit {
				right: 40px;
			}
			&:hover {
				background-color: #f2f9ff;
			}
		}
	}
	> .ant-form-item {
		width: 172px;
		margin-bottom: 20px;
	}
}

.c-componentsConfig__container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 24px 20px 40px 20px;
	overflow: auto;
	.c-componentsConfig__group {
		position: relative;
		width: 100%;
		margin-top: 20px;
		.c-componentsConfig__group__title {
			color: #333;
			font-weight: bold;
			font-size: 14px;
		}
		.c-componentsConfig__group__content {
			margin: 12px 0 20px 0;
			padding: 12px 20px 20px 20px;
			background-color: #fafafaff;
			.ant-form-item-label {
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
	.c-componentConfig__checkboxGroup {
		.ant-checkbox-wrapper + .ant-checkbox-wrapper {
			margin-left: 23px;
		}
	}
	.c-componentConfig__kubernetsContent {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
}

// new
.c-fileConfig__container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 210px;
	padding: 20px 17px 40px 17px;
	overflow-y: scroll;
	border-right: 1px solid #e8e8e8;
	.c-fileConfig__downloadTemp {
		margin-left: 55px;
		color: #3f87ff;
		cursor: pointer;
	}
	.c-fileConfig__config {
		.config-desc {
			display: inline-block;
			color: #999;
			font-size: 10px;
			line-height: 24px;
			word-break: break-all;
		}
	}
	.config-file {
		position: relative;
		display: block;
		width: 176px;
		height: 20px;
		padding: 0 52px 0 16px;
		overflow: hidden;
		color: rgb(51, 51, 51);
		font-size: 12px;
		line-height: 20px;
		white-space: nowrap;
		text-overflow: ellipsis;
		.anticon-delete,
		.anticon-paper-clip,
		.anticon-edit,
		.anticon-download {
			position: absolute;
			top: 4px;
			color: #666;
			font-size: 12px;
		}
		.anticon-paper-clip {
			left: 0;
		}
		.anticon-delete {
			right: 0;
		}
		.anticon-download {
			right: 20px;
		}
		.anticon-edit {
			right: 40px;
		}
		&:hover {
			background-color: #f2f9ff;
		}
	}
}
.c-formConfig__container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 40px;
	left: 210px;
	padding: 20px;
	overflow-y: scroll;
	.c-formConfig__group {
		.group__title {
			color: #333333;
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
		}
		.group__content {
			margin-top: 12px;
			margin-bottom: 12px;
			padding: 12px 20px;
			background: #fafafa;
			border-radius: 2px;
		}
	}
	.c-formConfig__label {
		display: inline-block;
		max-width: 86%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		vertical-align: bottom;
	}
}

.c-formConfig__full {
	left: 0;
}

.c-editCluster__icon {
	&:hover {
		color: #2491f7;
	}
}

.c-clusterManage__modal {
	width: 460px;
	.ant-modal-footer {
		border-top: unset;
		.ant-btn {
			width: 68px;
			height: 32px;
			padding: 0;
		}
	}
}

.formItem-right-text {
	margin-left: 8px;
	color: #ff5f5c;
	line-height: 32px;
	&:hover {
		color: #ff5f5c;
	}
}

.c-componentButton__title {
	width: 240px;
	height: 40px;
	margin: -16px -16px 10px -36px;
	padding-left: 20px;
	font-weight: 500;
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px solid #e8e8e8;
}

.c-componentButton__content {
	margin-left: -16px;
	.ant-col {
		margin-bottom: 12px;
	}
}

.c-toolbar__container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	border-top: 1px solid #e8e8e8;
	button {
		height: 28px;
		padding: 0 12px;
	}
}

.c-kerberosModal__edior {
	background-color: #f5f5f5;
	> .CodeMirror {
		background-color: #f5f5f5;
	}
}

.c-formConfig__kubernetsContent {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.c-metaIcon__title {
	margin-left: 6px;
	padding: 0 4px;
	color: #3f87ff;
	border: 1px solid #3f87ff;
}
