.task-floating-window {
	position: absolute !important;
	right: 20px;
	bottom: 60px;
	left: 20px;
	z-index: 2;
	background: #fafafa;
	table tr td {
		padding: 5px;
	}

	.tb-wrapper {
		background: #ffffff;
		border: 1px solid #e9e9e9;
	}
}

.graph-editor {
	.graph-bg {
		background-color: transparent;
		background-repeat: repeat;
		background-position: center -1;
	}

	.txt-bg {
		z-index: 0;
		color: #2491f7;
		font-size: 40px;
		text-align: center;
		opacity: 0.2;
	}

	.grid-bg {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IArs4c6QAAAAZQTFRF9/f3////TOsULwAAABRJREFUCNdjYGD4/5+BigR1TWMAAO29P8H0ss2LAAAAAElFTkSuQmCC);
		// background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=);
	}

	.preview-drag-vertex {
		padding: 2px 0;
		text-align: center;
		background: #deefff;
		border: 1px solid #2491f7;

		.preview-title {
			display: block;
			overflow: hidden;
			color: #333333;
			font-weight: normal;
			font-size: 14px;
			font-family: 'PingFangSC-Regular', sans-serif;
			line-height: 18px;
			letter-spacing: 0;
			white-space: nowrap;
			text-align: center;
			text-overflow: ellipsis;
		}

		.preview-desc {
			color: #666666;
			font-size: 10px;
			font-family: 'PingFang-SC-Medium', sans-serif;
			line-height: 14px;
			letter-spacing: 0;
		}
	}

	.graph-widgets {
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 3;
		width: 150px;
		height: 517px;
		overflow: auto;
		text-align: center;
		background: #ffffff;
		border: 1px solid #dddddd;

		.widgets-header {
			height: 30px;
			color: #333333;
			font-size: 12px;
			line-height: 30px;
			background: #f7f7f7;
		}

		.widgets-content {
			padding-top: 15px;

			.widgets-items {
				width: 110px;
				height: 32px;
				margin-bottom: 15px;
				background: #edf6ff;
				border: 1px solid #a7cdf0;
				cursor: move;
			}
		}
	}

	.ant-spin-container {
		width: 100%;
		height: 100%;
	}

	.graph-info {
		position: absolute;
		bottom: 35px;
		left: 0px;
		z-index: 999;
		width: 100%;
		color: #666666;
		font-size: 12px;
		font-family: 'PingFangSC-Regular', sans-serif;
		letter-spacing: 0;
		background-color: white;
		border-bottom: 1px solid #dddddd;
		box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.1);
	}
}

@media (max-height: 700px) {
	.graph-editor {
		.graph-widgets {
			height: 400px;
			overflow: auto;

			.widgets-content {
				padding-top: 10px;

				.widgets-items {
					height: 25px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

body div.mxPopupMenu {
	position: absolute;
	background: #ffffff;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}
body table.mxPopupMenu {
	margin: 0px;
	border-collapse: collapse;
}
body tr.mxPopupMenuItem {
	color: #666666;
	cursor: default;
}
body td.mxPopupMenuItem {
	padding: 6px 60px 6px 30px;
	color: #666666;
	font-size: 12px;
	font-family: 'PingFangSC-Regular', sans-serif;
	letter-spacing: 0;
}
body td.mxPopupMenuIcon {
	padding: 0px;
	background-color: white;
}
body tr.mxPopupMenuItemHover {
	background-color: #e6f7ff;

	.mxPopupMenuItem {
		color: #2491f7;
	}
}
table.mxPopupMenu hr {
	border-top: solid 1px #cccccc;
}
table.mxPopupMenu tr {
	font-size: 4pt;
}

.goback-list {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2;
}

.graph-toolbar {
	position: absolute;
	top: 20px;
	right: 14px;
	z-index: 901;
	height: 18px;
	text-align: center;
	border-radius: 2px;

	img,
	.anticon {
		float: left;
		width: 18px;
		height: 16px;
		margin-right: 12px;
		color: #94a8c6;
		line-height: 16px;
		cursor: pointer;
	}
}
.graphInfo {
	position: absolute;
	right: 10px;
	bottom: 65px;
	z-index: 901;
	width: 300px;
	.ant-card-body {
		p,
		h2 {
			margin: 10px;
			white-space: normal;
			word-wrap: break-word;
			span {
				display: inline-block;
				width: 80px;
				color: #666666;
			}
		}
	}
}
.mxTooltip {
	position: relative;
	display: block !important;
	display: block !important;
	box-sizing: border-box;
	margin: 0;
	padding: 10px !important;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5;
	word-wrap: break-word;
	list-style: none;
	background: #ffffff !important;
	border: none !important;
	border-radius: 4px;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08) !important;
	-webkit-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';
}
.mxPopupMenu {
	margin: 4px 0px !important;
	border-collapse: collapse;
}

.mxBasicColor {
	position: relative;
	top: 2px;
	display: inline-block;
	width: 36px;
	height: 14px;
	margin-right: 10px;
	border-radius: 2px;
}
.mxYellow {
	@extend .mxBasicColor;
	background: #fffbe6;
	border: 1px solid #fdb313;
}
.mxBlue {
	@extend .mxBasicColor;
	background: rgba(63, 135, 255, 0.06);
	border: 1px solid #3f87ff;
}
.mxGreen {
	@extend .mxBasicColor;
	background: rgba(18, 188, 106, 0.06);
	border: 1px solid #12bc6a;
}
.mxRed {
	@extend .mxBasicColor;
	background: #fff1f0;
	border: 1px solid #fe615c;
}
.mxGray {
	@extend .mxBasicColor;
	background: #e6e9f2;
	border: 1px solid #5b6da6;
}
.vertex {
	margin-top: -2px;
	user-select: none;
	.vertex-across-logo {
		float: right;
		width: 14px;
		height: 14px;
	}
	.vertex-title,
	.blood-vertex-title {
		display: inline-block;
		width: 105px;
		overflow: hidden;
		color: #333333;
		font-weight: normal;
		font-weight: 500;
		font-size: 14px;
		font-family: 'PingFangSC-Regular', 'PingFang SC', sans-serif;
		line-height: 18px;
		letter-spacing: 0;
		white-space: nowrap;
		text-align: center;
		text-overflow: ellipsis;
	}

	.blood-vertex-title,
	.vertex-title {
		width: 160px;
	}

	.blood-title-flag {
		color: #333333;
		font-weight: 500;
		font-size: 14px;
	}

	.vertex-desc {
		color: #666666;
		font-weight: initial;
		font-size: 10px;
		font-family: 'PingFang-SC-Medium', sans-serif;
		line-height: 14px;
		letter-spacing: 0;
	}

	.vertex-input {
		position: absolute;
		top: 3;
		left: 0;
		display: none;
		width: 100%;
		height: 16px;
		margin: 0;
		padding: 0;
		background: #f5f5f5;
		border: 0;
	}

	.vertex-editing {
		border: 1px solid inherit;
	}
}

.table-vertex {
	width: 160px;
	.table-vertex-content {
		top: 0;
		left: 0;
		display: inline-block;
		width: 100px;
		height: 30px;
		margin-left: -80px;
		padding: 7px 5px;
		line-height: 20px;
		text-align: left;
		text-indent: 2px;
		text-overflow: ellipsis;

		.table-vertex-title {
			display: inline-block;
			width: 170px;
			margin-left: 5px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		img {
			float: left;
			width: 16px;
			height: 16px;
		}
	}
}
div.mxTooltip {
	position: absolute;
	padding: 4px;
	color: black;
	font-size: 8pt;
	font-family: 'Arial', sans-serif;
	background: #ffffcc;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	-webkit-box-shadow: 3px 3px 12px #c0c0c0;
	-moz-box-shadow: 3px 3px 12px #c0c0c0;
	box-shadow: 3px 3px 12px #c0c0c0;
	cursor: default;
}
div.mxPopupMenu {
	position: absolute;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	-webkit-box-shadow: 3px 3px 12px #c0c0c0;
	-moz-box-shadow: 3px 3px 12px #c0c0c0;
	box-shadow: 3px 3px 12px #c0c0c0;
}
table.mxPopupMenu {
	margin-top: 1px;
	margin-bottom: 1px;
	border-collapse: collapse;
}
tr.mxPopupMenuItem {
	color: black;
	cursor: pointer;
}
tr.mxPopupMenuItemHover {
	color: #ffffff;
	background-color: #000066;
	cursor: pointer;
}
td.mxPopupMenuItem {
	padding: 2px 30px 2px 10px;
	font-size: 8pt;
	font-family: 'Arial', sans-serif;
	white-space: nowrap;
}
td.mxPopupMenuIcon {
	padding: 2px 4px 2px 4px;
	background-color: #d0d0d0;
}
.mxDisabled {
	cursor: default !important;
	opacity: 0.2 !important;
}
