.app-science {
	.sidebar {
		position: relative;
		height: 100%;
	}
	.container {
		background: #f2f7fa;
		.ant-layout {
			background: #f2f7fa;
		}
	}
	.c-header_wrapper {
		> img {
			height: 28px;
			margin-top: -11px;
		}
		.c-header-title__link {
			padding-left: 8px;
			color: #f2f2f2;
			font-size: 24px;
			text-decoration: none;
		}
	}

	header {
		.menu {
			.my-menu-item.ant-menu-submenu-horizontal.ant-menu-submenu {
				font-size: 16px;
			}
		}
	}
}
