.c-ruleView {
    padding: 12px 8px; 
    border: 1px solid #dcdcdc;
    background: #fefefe;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    .c-ruleView__content {
        flex-grow: 1;
    }
    .c-ruleView__item__line ~ .c-ruleView__item__line {
        margin-top: 8px;
    }
    .c-ruleView__item ~ .c-ruleView__item {
        margin-left: 18px;
    }
    .c-ruleView__item {
        display: inline-block;
    }
    .c-ruleView__bottom {
        position: absolute;
        bottom: 12px;
        right: 8px;
    }
    .c-ruleView__common__label {
        color: #888;
        font-size: 14px;
    }
    .c-ruleView__common__text ~ .c-ruleView__common__label {
        margin-left: 18px;
    }
    .c-ruleView__common__text {
        padding-left: 5px;
        color: #333;
        font-size: 14px;
    }
}