.title-bar {
    line-height: 22px;
    height: 42px;
    background: #f7f7f7;
    color: #333333;
    font-size: 14px;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}