// top style
$highlight-color: #3f87ff;

.top-search {
  margin-bottom: 8px;
}
.ant-select-open {
  z-index: 1;
}
.ant-table-content {
  background-color: #fff;
}
// table style
.source {
  padding: 20px;
  background: #f2f7fa;
  height: 100%;
  .bottom {
    height: calc(100% - 44px);
    background-color: #fff;
    .conent-table {
      height: calc(100% - 56px);
      overflow-y: scroll;
    }
  }
  .data-view {
    color: $highlight-color;
  }
}

.ant-badge-status-dot {
  width: 8px !important;
  height: 8px !important;
}
.ant-badge-status-error {
  background-color: #ff5f5c !important;
}
.ant-badge-status-success {
  background-color: #12bc6a !important;
}
.copy {
  &:hover {
    color: $highlight-color;
  }
}
.down-temp {
  color: $highlight-color;
  cursor: pointer;
  margin-left: 8px;
}
.operate-forbid {
  color: #999;
}

.page-com {
  position: absolute;
  bottom: 20px;
  right: 28px;
  height: 56px;
}

.ws-form {
  position: relative;
  input {
    width: 40%;
    margin: 0 10px 5px 0;
  }
  a {
    position: absolute;
    right: 0;
  }
}
.ws-add {
  cursor: pointer;
  i {
    margin-right: 5px;
  }
}
.help-doc {
  position: absolute;
  right: -20px;
  top: 0;
  color: #999;
  &.help-doc--warn {
    color: #f5a623;
  }
}
.help-tooltip {
  position: absolute;
  right: -20px;
  top: -40px;
  color: #999;
}
.filter-status {
  position: absolute;
  left: 48px;
  &:hover {
    color: #3f87ff;
  }
}
.ant-dropdown-open {
  .iconfont2 {
    color: #3f87ff;
  }
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  display: inline-block;
}
