// top style
.top-search{
  height: 32px;
  margin-bottom: 12px;
}

// table style
.source {
  padding: 20px;
  background: #f2f7fa;
  height: 100%;
  .bottom{
    height: calc(100% - 44px);
    background-color: #fff;
    .conent-table{
      height: calc(100% - 56px);
      overflow: scroll;
    }
  }
  .data-view{
    color: #3F87FF;
  }
}


