$panel-height: calc(100vh - 64px - 40px - 44px);
.code-block {
	max-height: 100%;
	padding: 20px;
	overflow: hidden;
	border: 1px solid #dddddd;
	border-radius: 2px;
	.max-height {
		height: calc(100vh - 316px);
		max-height: calc(#{$panel-height} - 40px - 37px - 40px);
	}
	.code-container {
		width: 100%;
		overflow: auto;
		.pre {
			margin: 0;
			.code {
				padding: 0;
			}
		}
	}
}
