.edit-Cell{
    display: flex;
    .edit_input_row{
        display: flex;
        align-items: center;
        width: 100%;
        // .input{
        //   width: 200px;
        //   line-height: 24px;
        //   height: 24px;
        // } 
    }
    a{
        margin-left: 10px;
    }
}