.tagSelect{
    display: flex;
    flex-wrap: wrap;
    .normal{
        cursor: pointer;
        margin: 10px 12px 10px 0;
        padding: 10px 20px;
        background: #F2F2F2;
        font-size: 12px;
        color: #333333; 
        border-radius: 2px;
        &.active{
           background: #2491F7;
           color:#fff;
        }
    }
}