.stepTwo{
    width: 1000px;
    margin: 60px auto;
    .wrap_btn_content{
        text-align: center;
        margin-top: 40px;
        .ant-btn{
            margin-right: 8px;
            width: 76px;
        }
    }
}