.version-compare {
  width: 100%;
  height: 400px;
  position: relative;
  .version-title {
    position: relative;
    width: 100%;
    height: 20px;
    &-prev {
      position: absolute;
      left: 0;
    }
    &-next {
      position: absolute;
      left: 320px;
    }
    .text {
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #666666;
      line-height: 20px;
    }
  }
  &-diff {
    height: 360px;
  }
}
