.entry {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	background-color: var(--panel-background);

	.logo {
		color: var(--foreground);
		font-size: 32px;
		font-family: monospace, sans-serif;
		opacity: 0.1;
	}
}
