.lowVersion {
    background: #f2f7fa;
    margin-top: 50px;
    text-align: center;
    overflow-y: auto;
    .pic_update {
        width: 182px;
        margin: 148px 0 17.5px 0;
    }
    .divide {
        margin: 80.5px 0 60px 0;
        .dividerText {
            margin: 0 20px;
            font-size: 14px;
            color: #666666;
        }
    }
    .download {
        width: 160px;
        margin: 0 auto;
        cursor: pointer;
        .chromeVersion {
            margin-top: 16.5px;
            font-size: 14px;
            color: #666666;
        }
    }
}