/* Some styles used for multiply components */
.split-text {
	float: left;
	padding: 0 5px;
}

.task_offline_message {
	margin-bottom: 10px;
	padding: 10px;
	color: #666;
	font-size: 12px;
	background-color: #eef6fe;
}

.no-padding-modal {
	.ant-modal-body {
		padding: 0;
		font-size: 12px;
		line-height: 1.5;
	}
}

.ope-statistics {
	display: flex;
	flex: none;
	flex-wrap: nowrap;
	overflow-x: scroll;
	font-weight: bold;

	span {
		height: 32px;
		margin: 0 8px;
		font-size: 12px;
		line-height: 23px;
		white-space: nowrap;
	}
}

.status_overview_basic_block {
	display: inline-block;
	padding: 4px 20px;
	font-weight: 400;
	border-radius: 30px;
}

.status_overview_fail_font {
	@extend .status_overview_basic_block;

	color: #ef5350;
	background: #ffe9e9;
}

.status_overview_running_font {
	@extend .status_overview_basic_block;

	color: #2491f7;
	background: #def;
}

.status_overview_grey_font {
	@extend .status_overview_basic_block;

	color: #94a8c6;
	background: #e6e9f2;
}

.status_overview_yellow_font {
	@extend .status_overview_basic_block;

	color: #f5a623;
	background: #f9f3de;
}

.status_overview_finished_font {
	@extend .status_overview_basic_block;

	color: #00a755;
	background: #cdf7e2;
}

.status_overview_count_font {
	@extend .status_overview_basic_block;

	color: #333;
	background: #f2f2f2;
}

// both used in taskGraph and jobGraph
$footer-height: 35px;
.graph-editor {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;

	.ant-spin-nested-loading {
		height: calc(100% - $footer-height);
	}

	.ant-spin-container {
		height: 100%;
	}

	.graph-loading {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.graph-toolbar {
		position: absolute;
		top: 20px;
		right: 14px;
		z-index: 901;
		height: 18px;
		text-align: center;
		border-radius: 0;

		img,
		.anticon {
			float: left;
			width: 18px;
			height: 16px;
			margin-right: 12px;
			color: #94a8c6;
			line-height: 16px;
			cursor: pointer;
		}
	}

	.graph-info {
		flex-shrink: 0;
		width: 100%;
		height: $footer-height;
		padding: 0 20px;
		color: #666;
		font-size: 12px;
		font-family: 'PingFangSC-Regular', sans-serif;
		line-height: $footer-height;
		letter-spacing: 0;
		background-color: white;
		border-bottom: 1px solid #ddd;
		box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.1);
	}
}

.dt-refresh {
	width: 32px;
	height: 32px;
	padding: 0;
	color: var(--problemsInfoIcon-foreground);
	line-height: 32px;
	background: var(--editor-background);
	border: none;
	border-radius: 0;
	box-shadow: 0 2px 6px 0 var(--minimapSlider-hoverBackground);
}
