@import './variables.scss';

.mo-menuBar--horizontal {
	height: $menuBar-size;
	background: var(--activityBar-background);

	> .mo-menu {
		height: $menuBar-size;
		color: var(--activityBar-inactiveForeground);
		background: inherit;
	}
}