@import './variables.scss';

.mo-menuBar--horizontal {
	height: $menuBar-size;
	background: var(--activityBar-background);

	> .mo-menu {
		height: $menuBar-size;
		color: var(--activityBar-inactiveForeground);
		background: inherit;
	}
}

// only the tabs in editor should have hover styles
.mo-editor__group {
	.mo-tab__item:hover {
		background-color: var(--tab-hoverBackground);
	}
}

.mo-tab__item__status,
.mo-tab__item__op {
	color: inherit;

	&:hover {
		color: inherit;
	}
}

.mo-editor__group-breadcrumb {
	color: var(--breadcrumb-foreground);

	.mo-breadcrumb__item:hover {
		color: var(--breadcrumb-focusForeground);
		opacity: 1;
	}
}

.mo-notification__item:focus {
	background: var(--list-hoverBackground);
	outline: 1px solid var(--list-focusOutline);
}
