  .ctx-menu {
        position: fixed;
        min-width: 90px;
        max-width: 160px;
        background: #fff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);   
        border-radius: 2px; 
        .ctx-menu-header {
            height: 25px;
            line-height: 25px;
            background: #2491F7;
            color: #fff;
            text-indent: 10px;
            font-size: 12px;
            display: block;
            text-align: left;
        }

        .ctx-menu-list {
            margin: 0;
            padding: 0;
            .ctx-list-li {
                list-style-type: none;
            }
            .ctx-list-a {
                display: block;
                padding: 7px 8px;
                margin: 0;
                clear: both;
                font-size: 12px;
                font-weight: normal;
                color: rgba(0, 0, 0, 0.65);
                white-space: nowrap;
                cursor: pointer;
                transition: all 0.3s;
                text-decoration: none;
                line-height: initial;
                &:hover {
                    background: #eef6fe;
                }
            }
        }

        &.f-dn{
            display: none!important;
        }
    }