.load-anim {
	position: relative;
	height: 500px;
	.loading {
		position: absolute;
		top: 50%;
		left: 40%;
		margin-left: 10%;
		transform: translate3d(-50%, -50%, 0);
	}
	.dot {
		display: inline-block;
		width: 12px;
		height: 12px;
		background: #3f87ff;
		border-radius: 100%;
		animation: slide 1s infinite;
	}
	.dot:nth-child(1) {
		background: #3f87ffcc;
		animation-delay: 0.1s;
	}
	.dot:nth-child(2) {
		background: #3f87ff99;
		animation-delay: 0.2s;
	}
	.dot:nth-child(3) {
		background: #16de9a80;
		animation-delay: 0.3s;
	}
	.dot:nth-child(4) {
		background: #3f87ff4d;
		animation-delay: 0.4s;
	}
	.dot:nth-child(5) {
		background: #16de9a66;
		animation-delay: 0.5s;
	}
	@-moz-keyframes slide {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(2);
			opacity: 0.3;
		}
		100% {
			transform: scale(1);
		}
	}
	@-webkit-keyframes slide {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(2);
			opacity: 0.3;
		}
		100% {
			transform: scale(1);
		}
	}
	@-o-keyframes slide {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(2);
			opacity: 0.3;
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes slide {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(2);
			opacity: 0.3;
		}
		100% {
			transform: scale(1);
		}
	}
}
