.relation-list {
  .ant-table {
    .ant-table-thead {
      th {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
    .ant-table-tbody {
      tr {
        td {
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
      }
    }
  }
}

.relation-modal {
  .ant-modal-content {
    .ant-modal-header {
      padding: 15px 20px !important;
    }
    .ant-modal-body {
      padding-bottom: 0px !important;
    }
    .ant-modal-footer {
      padding-top: 27.5px;
      border-top: 1px solid transparent;
    }
  }
}
