<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.task.dao.BatchAlarmDao">

    <sql id="select_content_fragment">
      ba.id, ba.dtuic_tenant_id, ba.app_type, ba.name, ba.task_id, ba.my_trigger, ba.uncomplete_time, ba.project_id, ba.status, ba.tenant_id, ba.create_user_id, ba.gmt_create, ba.gmt_modified,ba.is_deleted, ba.sender_type,ba.is_task_holder,ba.receivers,ba.webhook
    </sql>

    <sql id="select_where_fragment">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="model.id != null and model.id > 0">
                AND ba.id = #{model.id}
            </if>
            <if test="model.name != null">
                AND ba.name = #{model.name}
            </if>
            <if test="model.taskId != null">
                AND ba.task_id = #{model.taskId}
            </if>
            <if test="model.myTrigger != null">
                AND ba.my_trigger = #{model.myTrigger}
            </if>
            <if test="model.uncompleteTime != null">
                AND ba.uncomplete_time = #{model.uncompleteTime}
            </if>
            <if test="model.projectId != null">
                AND ba.project_id = #{model.projectId}
            </if>
            <if test="model.status != null">
                AND ba.status = #{model.status}
            </if>
            <if test="model.tenantId != null">
                AND ba.tenant_id = #{model.tenantId}
            </if>
            <if test="model.createUserId != null">
                AND ba.create_user_id = #{model.createUserId}
            </if>
            <if test="model.gmtCreate != null">
                AND ba.gmt_create = #{model.gmtCreate}
            </if>
            <if test="model.gmtModified != null">
                AND ba.gmt_modified = #{model.gmtModified}
            </if>
            <if test="model.isDeleted != null">
                AND ba.is_deleted = #{model.isDeleted}
            </if>
            <if test="model.senderType != null">
                AND ba.sender_type = #{model.senderType}
            </if>
            <if test="model.isTaskHolder != null">
                AND ba.is_task_holder = #{model.isTaskHolder}
            </if>
            <if test="model.taskIds != null and model.taskIds.size() > 0">
                AND ba.task_id IN
                <foreach item="taskId" index="index" collection="model.taskIds" open="(" separator="," close=")">
                    #{taskId}
                </foreach>
            </if>
        </trim>
    </sql>

    <sql id="update_fragment">
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="taskId != null">
                task_id = #{taskId},
            </if>
            <if test="myTrigger != null">
                my_trigger = #{myTrigger},
            </if>
            <if test="uncompleteTime != null">
                uncomplete_time = #{uncompleteTime},
            </if>
            <if test="projectId != null">
                project_id = #{projectId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="senderType != null">
                sender_type = #{senderType},
            </if>
            <if test="isTaskHolder != null">
                is_task_holder = #{isTaskHolder},
            </if>
            <if test="receivers!=null">
                receivers = #{receivers},
            </if>
            <if test="webhook!=null">
                webhook = #{webhook},
            </if>
        </set>
    </sql>

    <select id="generalQuery" parameterType="com.dtstack.dtcenter.common.pager.PageQuery" resultType="BatchAlarm">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_alarm ba
        <include refid="select_where_fragment"/>
        <if test="orderBy != null and sort != null">
            order by ba.${orderBy} ${sort}
        </if>
        <if test="orderBy != null and sort == null">
            order by ba.${orderBy} desc
        </if>
        <if test="start != null and pageSize != null">
            limit #{start} , #{pageSize}
        </if>
        <if test="start == null and pageSize != null">
            limit #{pageSize}
        </if>
        <if test="start == null and pageSize == null">
            limit 1000
        </if>
    </select>

    <select id="generalCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM rdos_batch_alarm ba
        <include refid="select_where_fragment"/>
        limit 1
    </select>

    <select id="getOne" resultType="BatchAlarm">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_alarm ba
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="getByNameAndProjectId" resultType="BatchAlarm">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_alarm ba
        WHERE name = #{name} AND project_id = #{projectId}
        and is_deleted = 0
    </select>

    <select id="getAllNeedMonitorTaskId" resultType="java.lang.Long">
        SELECT task_id
        FROM rdos_batch_alarm
        WHERE status = 0 AND is_deleted = 0
        <if test="projectId != null">
            AND project_id = #{projectId}
        </if>
    </select>

    <select id="getAllNeedMonitorAlarm" resultType="BatchAlarm">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_alarm ba
        WHERE status = 0 and is_deleted = 0
        <if test="projectId != null">
            AND project_id = #{projectId}
        </if>
    </select>

    <insert id="insert" parameterType="BatchAlarm" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rdos_batch_alarm
          (project_id,tenant_id,dtuic_tenant_id,app_type,name,task_id,my_trigger,uncomplete_time,status,create_user_id,gmt_create,gmt_modified,is_deleted,sender_type,is_task_holder,receivers,webhook)
        VALUES
          (#{projectId},#{tenantId}, #{dtuicTenantId}, #{appType},#{name},#{taskId},#{myTrigger},#{uncompleteTime},#{status},#{createUserId},#{gmtCreate},#{gmtModified},#{isDeleted},#{senderType},#{isTaskHolder},#{receivers},#{webhook})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO rdos_batch_alarm
        (project_id,tenant_id,dtuic_tenant_id,app_type,name,task_id,my_trigger,uncomplete_time,status,create_user_id,gmt_create,gmt_modified,is_deleted,sender_type,is_task_holder,receivers)
        VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.projectId},#{item.tenantId}, #{item.dtuicTenantId}, #{item.appType},#{item.name},#{item.task_id},#{item.my_trigger},#{item.uncomplete_time},#{item.status},#{item.create_user_id},#{item.gmt_create},#{item.gmt_modified},#{item.is_deleted},#{item.sender_type},#{item.isTaskHolder},#{item.receivers})
        </foreach>
    </insert>

    <update id="update" parameterType="BatchAlarm">
        UPDATE
        rdos_batch_alarm
        <include refid="update_fragment"/>
        WHERE
        id = #{id} AND is_deleted = 0
    </update>

    <select id="listByTaskId" resultType="BatchAlarm">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_batch_alarm ba WHERE ba.task_id = #{taskId} AND ba.project_id = #{projectId} AND ba.tenant_id = #{tenantId} and ba.is_deleted=0
    </select>


    <update id="deleteAlarmByTask">
        UPDATE
        rdos_batch_alarm ba
        set is_deleted = 1
        WHERE ba.task_id = #{taskId} AND ba.project_id = #{projectId} AND ba.tenant_id = #{tenantId}
    </update>

</mapper>
