<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstack.task.dao.NotifyAlarmDao">

    <sql id="select_content_fragment">
      id,tenant_id,project_id,dtuic_tenant_id,app_type,biz_type,notify_id,alarm_id,gmt_create,gmt_modified,is_deleted
    </sql>

    <select id="getByAlarmIdAndBizType" resultType="NotifyAlarm">
        SELECT
        <include refid="select_content_fragment"/>
        FROM rdos_notify_alarm
        WHERE alarm_id = #{alarmId}
        AND biz_type = #{bizType}
        AND project_Id = #{projectId}
        AND tenant_id = #{tenantId}
        AND is_deleted = 0
    </select>

    <insert id="insert" parameterType="NotifyAlarm" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rdos_notify_alarm
          (tenant_id,project_id,dtuic_tenant_id,app_type,biz_type,notify_id,alarm_id)
        VALUES
          (#{tenantId},#{projectId},#{dtuicTenantId}, #{appType},#{bizType},#{notifyId},#{alarmId})
    </insert>

    <delete id="deleteByNotifyIdAlarmIdBizType">
        DELETE FROM rdos_notify_alarm
        WHERE notify_id = #{notifyId}
        AND alarm_id = #{alarmId}
        AND biz_type = #{bizType}
        AND project_id = #{projectId}
        AND tenant_id = #{tenantId}
        AND is_deleted =0
    </delete>

    <select id="getByAlarmId" resultType="Notify">
        SELECT
        notify.id,notify.tenant_id,notify.project_id,notify.biz_type,notify.relation_id,notify.name,notify.trigger_type,notify.webhook,notify.uncomplete_time,notify.send_way,notify.start_time,notify.end_time,notify.status,notify.create_user_id,notify.gmt_create,notify.gmt_modified,notify.is_deleted
        FROM rdos_notify notify
        LEFT JOIN rdos_notify_alarm na
        ON na.notify_id = notify.id
        WHERE na.alarm_id = #{alarmId}
        AND na.biz_type = #{bizType}
        AND notify.tenant_id = #{tenantId}
        AND notify.project_id = #{projectId}
        AND notify.is_deleted = 0
    </select>
</mapper>
