.ed-base-infor {
    th,td{
        word-wrap: break-word;
        word-break: break-all;
    }
    .review_info{
        width: 100%;
        background: #FFFFFF;
        border-top: 1px solid #DDDDDD;
        border-left: 1px solid #DDDDDD;
        border-collapse: collapse;
        margin-bottom: 20px;
        tr{
            line-height: 40px;
            display: flex;
            width: 100%;
        }
        
        td{
           border-bottom: 1px solid #DDDDDD;
           border-right: 1px solid #DDDDDD;
           padding: 0 20px;
           &:nth-child(odd){
               background: #FAFAFA;
               padding: 0 30px;
               font-size: 12px;
               color: #333333;
               width: 200px;
            }
            &:nth-child(even){
                flex: 1;
             }
        }
    }
}

.ed-dimension-data {
    .ant-card-wider-padding .ant-card-head{
		padding: 0 20px;
	}
	.ant-card-wider-padding .ant-card-body{
		padding: 0;
	}
	.m-table tr>td:first-child, .m-table tr>th:first-child{
		padding-left: 20px;
	}
	.m-table tr>td:last-child, .m-table tr>th:last-child{
		padding-right: 15px;
	}
	.noBorderBottom {
		.ant-card-head {
			border-bottom: none
		}
	}
}