.task-floating-window {
    position: absolute !important;
    right: 20px;
    left: 20px;
    bottom: 60px;
    background: #FAFAFA;
    z-index: 2;
    table tr td {
        padding: 5px;
    }

    .tb-wrapper {
        border: 1px solid #e9e9e9;
        background: #ffffff;
    }
}

.graph-editor {

    .graph-bg {
        background-color: transparent;
        background-position: center -1;
        background-repeat: repeat;
    }

    .txt-bg {
        font-size: 40px;
        color: #2491f7;
        z-index: 0;
        opacity: .2;
        text-align: center;
    }
    
    .grid-bg {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IArs4c6QAAAAZQTFRF9/f3////TOsULwAAABRJREFUCNdjYGD4/5+BigR1TWMAAO29P8H0ss2LAAAAAElFTkSuQmCC);
        // background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=);
    }

    .preview-drag-vertex {
        border: 1px solid #2491F7;
        background: #DEEFFF;
        padding: 2px 0;
        text-align: center;
        font-size: 14px;

        .preview-title {
            font-family: PingFang-SC-Medium;
            font-size: 14px;
            color: #333333;
            letter-spacing: 0;
            line-height: 20px;
            display: block;
        }

        .preview-desc {
            font-family: PingFang-SC-Medium;
            font-size: 10px;
            color: #666666;
            letter-spacing: 0;
            line-height: 14px;
        }
    }

    .graph-widgets {
        width: 150px;
        position: absolute;
        border: 1px solid #DDDDDD;
        left: 20px;
        top: 20px;
        z-index: 3;
        text-align: center;
        background: #ffffff;

        .widgets-header {
            height: 30px;
            line-height: 30px;
            background: #F7F7F7;
            color: #333333;
            font-size: 12px;
        }

        .widgets-content {
            padding-top: 15px;

            .widgets-items {
                width: 110px;
                height: 32px;
                cursor: move;
                margin-bottom: 15px;
                border: 1px solid #A7CDF0;
                background: #EDF6FF;
            }
        }
    }

    .ant-spin-container {
        width: 100%;
        height: 100%;
    }

    .graph-info {
        position: absolute;
        bottom: 35px;
        left: 0px;
        z-index: 999;
        width: 100%;
        border-bottom: 1px solid #DDDDDD;
        box-shadow: -2px 0 2px 0 rgba(0,0,0,0.10);
        background-color: white;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #666666;
        letter-spacing: 0;
    }
}

body div.mxPopupMenu {
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    background: #FFFFFF;
    border-radius: 2px;
    border: 0;
}
body table.mxPopupMenu {
    border-collapse: collapse;
    margin: 0px;
}
body tr.mxPopupMenuItem {
    color: #666666;
    cursor: default;
}
body td.mxPopupMenuItem {
    padding: 6px 60px 6px 30px;
    font-size: 10pt;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
}
body td.mxPopupMenuIcon {
    background-color: white;
    padding: 0px;
}
body tr.mxPopupMenuItemHover {
    background-color: #E6F7FF;;
    
    .mxPopupMenuItem {
        color: #2491F7;
    }
}
table.mxPopupMenu hr {
    border-top: solid 1px #cccccc;
}
table.mxPopupMenu tr {
    font-size: 4pt;
}


.goback-list {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}

.graph-toolbar {
    position: absolute;
    z-index: 901;
    right: 14px;
    top: 20px;
    height: 18px;
    border-radius: 2px;
    text-align: center;


    img, .anticon {
        width: 18px;
        height: 16px;
        line-height: 16px;
        cursor: pointer;
        float: left;
        margin-right: 12px;
        color: #94A8C6;
    }
}

.vertex {
    user-select: none;
    margin-top: -2px;
    .vertex-title {
        width: 120px;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: PingFangSC-Regular;
        color: #333333;
        letter-spacing: 0;
        font-size: 13px;
        line-height: 18px;
        font-weight: normal;
        white-space: nowrap;
        margin-top: 3px;
    }

    .vertex-desc {
        font-family: PingFang-SC-Medium;
        font-size: 10px;
        color: #666666;
        letter-spacing: 0;
        line-height: 14px;
        font-weight: initial;
    }
}

.table-vertex {

    .table-vertex-content {
        height: 30px;
        line-height: 20px;
        left: 0;
        text-indent: 2px;
        top: 0;
        padding: 7px 5px;
        width: 100px;
        text-align: left;
        display: inline-block;
        text-overflow: ellipsis;

        .table-vertex-title {
            margin-left: 5px;
            width: 60px;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        img {
            float: left;
            width: 16px;
            height: 16px;
        }
    }
}
div.mxTooltip {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	background: #FFFFCC;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	font-family: Arial;
	font-size: 8pt;
	position: absolute;
	cursor: default;
	padding: 4px;
	color: black;
}
div.mxPopupMenu {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
table.mxPopupMenu {
	border-collapse: collapse;
	margin-top: 1px;
	margin-bottom: 1px;
}
tr.mxPopupMenuItem {
	color: black;
	cursor: pointer;
}
tr.mxPopupMenuItemHover {
	background-color: #000066;
	color: #FFFFFF;
	cursor: pointer;
}
td.mxPopupMenuItem {
	padding: 2px 30px 2px 10px;
	white-space: nowrap;
	font-family: Arial;
	font-size: 8pt;
}
td.mxPopupMenuIcon {
	background-color: #D0D0D0;
	padding: 2px 4px 2px 4px;
}
.mxDisabled {
	opacity: 0.2 !important;
	cursor:default !important;
}






