.context-menu {
    position: fixed;
    min-width: 90px;
    max-width: 160px;
    display: none;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);   
    border-radius: 2px; 
    .context-menu-header {
        height: 25px;
        line-height: 25px;
        background: #2491F7;
        color: #fff;
        text-indent: 10px;
        font-size: 12px;
        display: block;
        text-align: left;
    }

    .context-menu-list {
        margin: 0;
        padding: 0;
        .context-list-li {
            list-style-type: none;
        }
        .context-list-a {
            display: block;
            padding: 7px 8px;
            margin: 0;
            clear: both;
            font-size: 12px;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.65);
            white-space: nowrap;
            cursor: pointer;
            transition: all 0.3s;
            text-decoration: none;
            &:hover {
                background: #eef6fe;
            }
        }
    }
}

.context-menu-mask {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 9998;
}